<template>
    <div>
        <el-row :span="24" class="student-score-title">
            <el-col class="student-score-title-item">名称</el-col>
            <el-col class="student-score-title-item">日期</el-col>
            <el-col class="student-score-title-item">状态</el-col>
            <el-col class="student-score-title-item">分数</el-col>
            <el-col class="student-score-title-item">总分</el-col>
        </el-row>
        <div v-for="(item, index) in scoreData" :key="index">
            <el-row align="center" class="score-title-item">{{ item.title }}</el-row>
            <el-row class="score-item-details" v-for="(score, i) in item.data" :key="i">
                <el-col class="score-item-detail">{{ score.name }}</el-col>
                <el-col class="score-item-detail">{{ score.date }}</el-col>
                <el-col class="score-item-detail">
                    <span class="score-item-success">{{ score.status }}</span>
                </el-col>
                <el-col class="score-item-detail">{{ score.score }}</el-col>
                <el-col class="score-item-detail">{{ score.total }}</el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/dataTable.scss';
</style>