<template>
    <div>
        <el-table :data="scoreData" stripe border>
            <el-table-column label="教师姓名" prop="nickname">
                <template slot-scope="scope">
                    <p class="teacher-item">
                        <span class="name-underline" @click="teacherClick(scope.row)">
                            <span v-if="scope.row.teacher && scope.row.teacher.avatarUrl" class="user-header-small">
                                <img :src="scope.row.teacher.avatarUrl || ''"/>
                            </span>
                            <span v-else class="el-icon-user-solid"></span>
                            <span >{{ scope.row.teacher ? scope.row.teacher.nickname : "" }}</span>
                        </span>
                    </p>
                    <!-- <span @click="teacherClick(scope.row)" class="name-underline ">{{ scope.row.teacher.nickname || "" }}</span> -->
                </template>
            </el-table-column>
            <el-table-column label="手机号" prop="email">
                <template slot-scope="scope">
                    <span>{{ scope.row.teacher ? scope.row.teacher.phone : "" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="班级" prop="classes">
                <template slot-scope="scope">
                    <span>{{ formatClass(scope.row) }}</span>
                </template>
            </el-table-column>
            <el-table-column label="职务" prop="identity">
                <template slot-scope="scope">
                    <span>{{ scope.row.createdBy.identity || "教师" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="邀请人" prop="code">
                <template slot-scope="scope">
                    <p class="teacher-item">
                        <span class="name-underline" @click="createByClick(scope.row)">
                            <span v-if="scope.row.createdBy && scope.row.createdBy.avatarUrl" class="user-header-small">
                                <img :src="scope.row.createdBy.avatarUrl || ''"/>
                            </span>
                            <span v-else class="el-icon-user-solid"></span>
                            <span >{{ scope.row.createdBy.nickname || "" }}</span>
                        </span>
                    </p>
                </template>
            </el-table-column>
            <el-table-column label="移除" prop="del">
                <template slot-scope="scope">
                    <span class="el-icon-delete delete-icon" @click="deleteTeacher(scope.row)"></span>
                </template>
            </el-table-column>
        </el-table>
        <div class="question-bottom-tool bottom-right-align">
            <el-pagination
                background
                layout="prev, pager, next"
                :total="pagination.total"
                :page-size=10
                @current-change="getTeacherList('', $event)">
            </el-pagination>
            <div class="educational-tool-button">
                <el-button type="primary" @click="createExcel">生成Excel</el-button>
                <el-button type="primary" @click="addTeacher">添加</el-button>
            </div>
        </div>
        <Dialog title="添加" :visible="visible" :close="closeDialog" @dialogSure="addTeacherFn">
            <div slot="dialog-content">
                <div class="add-course-item">
                    <p class="add-course-item-title">姓名</p>
                    <el-select v-model="teacher_name"
                        filterable
                        remote
                        :remote-method="getDefaultTeacher"
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addTeacherList"
                        :key="index"
                        :label="item.nickname"
                        :value="item._id">
                            <span>{{ `${item.nickname || ""}(${item.email})` }}</span>
                        </el-option>
                    </el-select>
                </div>
            </div>
        </Dialog>
        <UserInfoModel :visible.sync="showVisibeFlag" :user="user" />
    </div>
</template>
<script>
import Dialog from '../../components/pubilc/dialog'
import UserInfoModel from '../account/show-account'
import utils from '../../utils/index'
export default {
    props: ["tabType", "search"],
    components: {
        Dialog,
        UserInfoModel
    },
    data(){
        return {
            scoreData: [],
            visible: false,
            teacher_name: '',
            teacherList: [
                {
                    name: 'XX老师',
                    id: 1,
                    email: 'qqqqqqqqq@qq.com'
                },
                {
                    name: 'XX老师',
                    email: 'qqqqqqqqq@qq.com',
                    id: 2
                },
                {
                    name: 'XX老师',
                    email: 'qqqqqqqqq@qq.com',
                    id: 3
                },
                {
                    name: 'XX老师',
                    email: 'qqqqqqqqq@qq.com',
                    id: 4
                },
                {
                    name: 'XX老师',
                    email: 'qqqqqqqqq@qq.com',
                    id: 5
                },
            ],
            user: {},
            showVisibeFlag: false,
            pagination: {},
            course_id: utils.getQueryString("course_id"),
            addTeacherList: [],
            loading: false
        }
    },
    methods: {
        formatClass(data){
            data = data.classes || []
            return data.map(item => {
                return item.name
            }).join('/')
        },
        addTeacher(){
            this.visible = true
        },
        addTeacherFn(){
            if(!this.teacher_name){
                this.$message.error("请选择一个老师")
                return
            }
            let params = {
                teacher: this.teacher_name,
                course: this.course_id
            }
            if(this.tabType == 3){
                params.role = 'teacher'
                this.$api.Course.create_courseAssistant(params).then(res => {
                    this.addTeacherCallBack(res)
                })
            }else{
                this.$api.Course.add_teacher(params).then(res => {
                    this.addTeacherCallBack(res)
                })
            }
        },
        addTeacherCallBack(res){
            if(res.code == 200){
                this.visible = false
                this.$message.success("添加成功")
                this.getTeacherList()
                this.teacher_name = ''
            }else{
                this.$message.error(res.error || "添加失败")
            }
        },
        closeDialog(){
            this.visible = false
        },
        getDefaultTeacher(query){
            this.loading = true
            const params = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({nickname: {$regex: `^.*${query}.*$`}})
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.addTeacherList = res.data.list
                }
            })
        },
        createExcel(){},
        teacherClick(item){
            this.user = item.teacher
            this.showVisibeFlag = true
        },
        createByClick(item){
            this.user = item.createdBy
            this.showVisibeFlag = true
        },
        deleteTeacher(item){
            this.$confirm(`确认删除${item.teacher.nickname}`, '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                if(this.tabType == 3){
                    this.$api.Course.delete_courseAssistant({}, item._id).then(res => {
                        this.deleteTeacherCallBack(res)
                    })
                }else{
                    this.$api.Course.delete_teacher({}, item._id).then(res => {
                        this.deleteTeacherCallBack(res)
                    })
                }
            }).catch(() => {});
        },
        deleteTeacherCallBack(res){
            if(res.code == 200){
                this.$message.success("删除成功")
                this.getTeacherList("", 1)
            }else{
                this.$message.error(res.error || "删除失败")
            }
        },
        getTeacherList(query, page){
            const params = {
                current: page || 1,
                pageSize: 10,
                where: JSON.stringify({course: this.course_id})
            }
            if(query){
                params.where = JSON.stringify({
                    course: this.course_id,
                    nickname: {$regex: `^.*${query}.*$`},
                })
            }
            if(this.tabType == 3){
                this.$api.Course.get_courseAssistant_list(params).then(res => {
                    this.callBackFn(res)
                })
            }else{
                this.$api.Course.get_teacher_list(params).then(res => {
                    this.callBackFn(res)
                })
            }
        },
        callBackFn(res){
            if(res.code == 200){
                this.scoreData = res.data.list
                this.pagination = res.data.pagination
            }
        }
    },
    watch: {
        tabType: {
            handler(newVal){
                this.getTeacherList()
            },
            immediate: true,
        },
        search(newVal){
            this.getTeacherList(newVal, 1)
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
@import '../../assets/css/dataTable.scss';
.delete-icon{
    font-size: 16px;
    color: $--default;
    cursor: pointer;
}
.educational-tool{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    .educational-tool-button{
        padding-left: 20px;
    }
}
.add-course-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 550;
    .add-course-item-title{
        min-width: 55px;
        text-align: right;
        padding-right: 20px;
    }
}
.teacher-item{
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
</style>