<template>
    <div>
        <el-table :data="scoreData" stripe border>
            <el-table-column label="班级名称" prop="name">
                <template slot-scope="scope">
                    <el-input v-if="scope.row.editFlag" v-model="editCurrent.name" class="input-short-3"/>
                    <span v-else>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column label="创建人" prop="username">
                <template slot-scope="scope">
                    <span class="el-icon-user-solid"></span>
                    <span>{{ scope.row.createdBy.nickname || "" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="班主任" prop="headTeacher">
                <template slot-scope="scope">
                    <span v-if="scope.row.headTeacher" class="el-icon-user-solid"></span>
                    <span>{{ scope.row.headTeacher ? scope.row.headTeacher.nickname : "" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="授课教师" prop="teachers" width="180">
                <template slot="header">
                    <span>授课教师</span>
                    <!-- <span class="el-icon-circle-plus-outline edit-icon" @click="addCourseTeacher"></span> -->
                </template>
                <template slot-scope="scope">
                    <div class="teacher-list-inner">
                        <div style="text-align: left" v-if="scope.row.teachers.length > 0">
                            <p class="teacher-item" v-for="(item, i) in scope.row.teachers" :key="i">
                                <span class="name-underline" @click="teacherClick(item)">
                                    <span v-if="item.avatarUrl" class="user-header-small">
                                        <img :src="item.avatarUrl"/>
                                    </span>
                                    <span v-else class="el-icon-user-solid"></span>
                                    <span v-if="item.nickname.length < 10">{{ item.nickname || "" }}</span>
                                    <el-tooltip v-else class="item" effect="light" content="" placement="right">
                                        <template slot="content">
                                            {{ item.nickname }}
                                        </template>
                                        <span>{{ item.nickname.substr(0, 10)}}</span>
                                    </el-tooltip>
                                </span>
                                <span class="el-icon-close delete-teacher-icon" @click="deleteTeacher(scope.row, item)"></span>
                            </p>
                        </div>
                        <span class="el-icon-circle-plus-outline edit-icon" @click="addCourseTeacher(scope.row)"></span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="assistants"  width="180">
                <template slot="header">
                    <span>助教</span>
                    <!-- <span class="el-icon-circle-plus-outline edit-icon" @click="addCourseAssistants"></span> -->
                </template>
                <template slot-scope="scope">
                    <div class="teacher-list-inner">
                        <div style="text-align: left" v-if="scope.row.assistants.length > 0">
                            <p class="teacher-item" v-for="(item, i) in scope.row.assistants" :key="i">
                                <span class="name-underline" @click="teacherClick(item)">
                                    <span v-if="item.avatarUrl" class="user-header-small">
                                        <img :src="item.avatarUrl"/>
                                    </span>
                                    <span v-else class="el-icon-user-solid"></span>
                                    <span v-if="item.nickname.length < 10">{{ item.nickname || "" }}</span>
                                    <el-tooltip v-else class="item" effect="light" content="" placement="right">
                                        <template slot="content">
                                            {{ item.nickname }}
                                        </template>
                                        <span>{{ item.nickname.substr(0, 10)}}</span>
                                    </el-tooltip>
                                </span>
                                <span class="el-icon-close delete-teacher-icon" @click="deleteAssistant(scope.row, item)"></span>
                            </p>
                        </div>
                        <span class="el-icon-circle-plus-outline edit-icon" @click="addCourseAssistants(scope.row)"></span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="学生人数" prop="count"></el-table-column>
            <el-table-column label="学生上限" prop="name">
                <template slot-scope="scope">
                    <el-input v-if="scope.row.editFlag" v-model="editCurrent.studentLimit" class="input-short-3"/>
                    <span v-else>{{ scope.row.studentLimit }}</span>
                </template>
            </el-table-column>
            <el-table-column label="邀请码" prop="inviteCode" width="200px">
                <template slot-scope="scope">
                    <span>{{scope.row.inviteCode}}</span>
                    <el-button v-if="scope.row.inviteCode" type="text" v-clipboard:copy="scope.row.inviteCode" v-clipboard:success="onCopy" v-clipboard:error="onError">
                        <i class="el-icon-document-copy"></i>
                    </el-button>
                    <el-tooltip content="复制二维码" v-if="scope.row.qrcode" v-clipboard:copy="scope.row.qrcode" v-clipboard:success="onCopy" v-clipboard:error="onError">
                        <span class="qrcode-sty">
                            <img :src="scope.row.qrcode" >
                        </span>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column label="编辑" prop="edit">
                <template slot-scope="scope">
                    <span v-if="scope.row.editFlag" class="el-icon-circle-check delete-icon" @click="saveEdit(scope.row)"></span>
                    <span v-else class="el-icon-edit delete-icon" @click="editClassData(scope.row, scope.$index)"></span>
                </template>
            </el-table-column>
            <el-table-column label="移除" prop="content">
                <template slot-scope="scope">
                    <span class="el-icon-delete delete-icon" @click="deleteClass(scope.row)"></span>
                </template>
            </el-table-column>
        </el-table>
        <div class="question-bottom-tool bottom-right-align">
            <el-pagination
                background
                layout="prev, pager, next"
                :total="pagination.total"
                :page-size=10
                @current-change="init('', $event)">
            </el-pagination>
            <div>
                <el-button type="primary" @click="createExcel">生成Excel</el-button>
                <el-button type="primary" @click="addTeacher">添加</el-button>
            </div>
        </div>
        <Dialog title="添加" :visible="visible" :close="closeDialog" @dialogSure="addTeacherFn">
            <div slot="dialog-content">
                <div class="add-course-item">
                    <p class="add-course-item-title">班级名称</p>
                    <el-input class="input-short-2" v-model="addClassData.name" placeholder="请输入班级名称"></el-input>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title">授课老师</p>
                    <el-select class="input-short-2" v-model="addClassData.teachers"
                        filterable
                        remote
                        :remote-method="getDefaultTeacher"
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addTeacherList"
                        :key="index"
                        :label="item.nickname"
                        :value="item._id">
                            <span>{{ `${item.nickname || ""}(${item.email})` }}</span>
                        </el-option>
                    </el-select>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title">助教</p>
                    <el-select class="input-short-2" v-model="addClassData.assistants"
                        filterable
                        remote
                        :remote-method="getDefaultAssistants"
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addAssistantsList"
                        :key="index"
                        :label="item.nickname"
                        :value="item._id">
                            <span>{{ `${item.nickname || ""}(${item.email})` }}</span>
                        </el-option>
                    </el-select>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title">学生上限</p>
                    <el-input class="input-short-2" v-model="addClassData.studentLimit" placeholder="请输入学生上限"></el-input>
                </div>
            </div>
        </Dialog>
        <Dialog title="添加授课教师" :visible="visibleAddTeacher" :close="closeDialog" @dialogSure="addCourseTeacherFn('teacher')">
            <div slot="dialog-content">
                <div class="add-course-item">
                    <p class="add-course-item-title">授课老师</p>
                    <el-select v-model="addCourse.teacher"
                        filterable
                        remote
                        :remote-method="getDefaultTeacher"
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addTeacherList"
                        :key="index"
                        :label="item.nickname"
                        :value="item._id">
                            <span>{{ `${item.nickname || ""}(${item.email})` }}</span>
                        </el-option>
                    </el-select>
                </div>
            </div>
        </Dialog>
        <Dialog title="添加助教" :visible="visibleAddAssistant" :close="closeDialog" @dialogSure="addCourseTeacherFn('assistant')">
            <div slot="dialog-content">
                <div class="add-course-item">
                    <p class="add-course-item-title">授课老师</p>
                    <el-select v-model="addCourse.assistant"
                        filterable
                        remote
                        :remote-method="getDefaultTeacher"
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addTeacherList"
                        :key="index"
                        :label="item.nickname"
                        :value="item._id">
                            <span>{{ `${item.nickname || ""}(${item.email})` }}</span>
                        </el-option>
                    </el-select>
                </div>
            </div>
        </Dialog>
        <UserInfoModel :visible.sync="showVisibeFlag" :user="user" :userId="user._id"/>
    </div>
</template>
<script>
import Dialog from '../pubilc/dialog'
import utils from '../../utils/index'
import UserInfoModel from '../account/show-account'
export default {
    components: {
        Dialog,
        UserInfoModel
    },
    props: ["search"],
    data(){
        return {
            scoreData: [],
            editFlag: [],
            pagination: {},
            visible: false,
            addClassData: {
                name: '',
                studentLimit: '',
                assistants: [],
                teachers: [],
            },
            addCourse: {
                teacher: '',
                assistant: ''
            },
            course_id: utils.getQueryString("course_id"),
            addTeacherList: [],
            addAssistantsList: [],
            showVisibeFlag: false,
            user: {},
            visibleAddTeacher: false,
            visibleAddAssistant: false,
            editCurrent: {},
            editFlag: false,
            currentAddTeacherRow: {}
        }
    },
    methods: {
        createExcel(){},
        teacherClick(item){
            this.showVisibeFlag = true
            this.user = item
            this.user.identity = "teacher"
        },
        addCourseTeacher(row){
            this.currentAddTeacherRow = row
            this.visibleAddTeacher = true
            // this.getDefaultTeacher('')
        },
        addCourseAssistants(row){
            this.currentAddTeacherRow = row
            this.visibleAddAssistant = true
            // this.getDefaultTeacher('')
        },
        addCourseTeacherFn(type){
            const params = {}
            if(type == 'teacher'){
                this.$api.Course.courseClass_addTeacher(this.currentAddTeacherRow._id, {
                    teacher: this.addCourse.teacher
                }).then(res => {
                    if(res.code == 200){
                        this.$message.success("添加成功")
                        this.currentAddTeacherRow = {}
                        this.init()
                    }else{
                        this.$message.error(res.error || "添加失败")
                    }
                })
            }else{
                this.$api.Course.courseClass_addAssistant(this.currentAddTeacherRow._id, {
                    assistant: this.addCourse.assistant
                }).then(res => {
                    if(res.code == 200){
                        this.$message.success("添加成功")
                        this.currentAddTeacherRow = {}
                        this.init()
                    }else{
                        this.$message.error(res.error || "添加失败")
                    }
                })
            }
            
            this.visibleAddTeacher = false
            this.visibleAddAssistant = false
        },
        addTeacher(){
            this.visible = true
            // this.getDefaultTeacher()
            this.getDefaultAssistants('')
        },
        deleteTeacher(row, teacher){
            this.$confirm(`确认删除${teacher.nickname}`, '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$api.Course.courseClass_deleteTeacher(row._id, {teacher: teacher._id}).then(res => {
                    this.deleteCallBack(res)
                })
            }).catch(() => {});
        },
        deleteAssistant(index, teacher){
            this.$confirm(`确认删除${teacher.nickname}`, '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$api.Course.courseClass_deleteAssistant(row._id, {teacher: teacher._id}).then(res => {
                    this.deleteCallBack(res)
                })
            }).catch(() => {});
        },
        deleteCallBack(res){
            if(res.code == 200){
                this.$message.success("删除成功")
                this.init("", 1)
            }else{
                this.$message.error(res.error || "删除失败")
            }
        },
        editClassData(item, index){
            this.editCurrent = item
            this.editFlag = true
            this.$set(this.scoreData[index], "editFlag", true)
        },
        saveEdit(index){
            if(this.addCourse.teacher){
                this.editCurrent.teachers.push(this.addCourse.teacher)
            }
            if(this.addCourse.assistant){
                this.editCurrent.assistants.push(this.addCourse.assistant)
            }
            const params = {
                name: this.editCurrent.name,
                studentLimit: this.editCurrent.studentLimit,
                teachers: this.editCurrent.teachers,
                assistants: this.editCurrent.assistants
            }
            this.$api.Course.updata_courseClass(params, this.editCurrent._id).then(res => {
                if(res.code == 200){
                    this.$message.success("修改成功")
                    this.editCurrent = {}
                    this.addCourse = {
                        teacher: '',
                        assistant: ''
                    }
                    this.init()
                }else{
                    this.$message.error(res.error || "修改失败")
                }
            })
        },
        closeDialog(){
            this.visible = false
            this.visibleAddTeacher = false
            this.visibleAddAssistant = false
            this.addCourse = {
                teacher: '',
                assistant: ''
            }
        },
        addTeacherFn(){
            const params = JSON.parse(JSON.stringify(this.addClassData))
            params.course = this.course_id
            params.teachers = params.teachers ? [params.teachers] : []
            // params.teachers = [...params.teachers]
            params.assistants = params.assistants ? [params.assistants] : []
            this.$api.Course.create_courseClass(params).then(res => {
                if(res.code == 200){
                    this.visible = false
                    this.$message.success("添加成功")
                    this.addClassData = {
                        name: '',
                        studentLimit: '',
                        assistants: [],
                        teachers: [],
                    }
                    this.init()
                }else{
                    this.$message.error(res.error || "添加失败")
                }
            })
        },
        // getDefaultTeacher(query){
        //     this.loading = true
        //     const params = {
        //         current: 1,
        //         pageSize: 99999,
        //         where: JSON.stringify({course: this.course_id})
        //     }
        //     this.$api.Course.get_add_teacher(params).then(res => {
        //         if(res.code == 200){
        //             this.addTeacherList = res.data.list
        //         }
        //     })
        // },
        getDefaultTeacher(query){
            this.loading = true
            const params = {
                current: 1,
                pageSize: 100,
                where: JSON.stringify({nickname: {$regex: `^.*${query}.*$`}})
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.addTeacherList = res.data.list
                }
            })
        },
        deleteClass(item){
            this.$confirm(`确认删除${item.name}`, '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$api.Course.delete_courseClass({}, item._id).then(res => {
                    if(res.code == 200){
                        this.$message.success("删除成功")
                        this.init()
                    }else{
                        this.$message.error(res.error || "删除失败")
                    }
                })
            }).catch(() => {});
        },
        getDefaultAssistants(query){
            this.loading = true
            const params = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({nickname: {$regex: `^.*${query}.*$`}})
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.addAssistantsList = res.data.list
                }
            })
        },
        init(query, page){
            const params = {
                current: page || 1,
                pageSize: 10,
                where: JSON.stringify({course: this.course_id})
            }
            if(query){
                params.where = JSON.stringify({
                    course: this.course_id,
                    name: {$regex: `^.*${query}.*$`},
                })
            }
            this.$api.Course.get_courseClass_list(params).then(res => {
                if(res.code == 200){
                    this.scoreData = res.data.list
                    this.pagination = res.data.pagination
                }
            })
        },
        onCopy(e){
            this.$message.success("复制成功！")
        },
        onError(e){
            this.$message.error("复制失败！")
        }
    },
    mounted () {
        this.init()
    },
    watch: {
        search(newVal){
            this.init(newVal, 1)
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
@import '../../assets/css/dataTable.scss';
.delete-icon{
    font-size: 18px;
    color: $--default;
    cursor: pointer;
}
.educational-tool{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    .educational-tool-button{
        padding-left: 20px;
    }
}
.score-item-detail, .score-item-details{
    height: 100% !important;
}
.teacher-item{
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:hover{
        color: $--default;
    }
}
.delete-teacher-icon{
    cursor: pointer;
    margin-left: 10px;
}
.edit-icon{
    font-size: 16px;
    color: $--default;
    cursor: pointer;
}
.add-course-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 550;
    .add-course-item-title{
        min-width: 55px;
        text-align: right;
        padding-right: 20px;
    }
}
.teacher-list-inner{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    &:hover{
        color: #000;
    }
}
.qrcode-sty{
    width: 30px;
    height: 30px;
    display: inline-block;
    img{
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        cursor: pointer;
    }
}
</style>