<template>
    <div class="course-box-shadow">
        <div class="top-color-content">
            <div v-if="item.color && item.color.length == 7" class="top-color" :style="{'background-color': item.color}" @click="goToIndex"></div>
            <div v-else class="top-color">
                <img class="top-color-image top-color" @click="goToIndex" :src="item.color"/>
            </div>
            <div v-if="identity == 'teacher'" class="delete-course">
                <el-dropdown  v-if="this.current_id == this.item.createdBy._id">
                    <span class="drop-color el-dropdown-link">
                        操作<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>复制</el-dropdown-item>
                        <el-dropdown-item>移交</el-dropdown-item>
                        <el-dropdown-item @click.native="deleteItem">删除</el-dropdown-item>
                        <el-dropdown-item class="drop-gray">归档</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            <!-- <span class="delete-course el-icon-close" ></span> -->
        </div>
        <div class="existing-content">
            <div>
                <p class="content-title">
                    <span v-if="!edit" :title="item.name">{{ item.name }}</span>
                    <el-input v-else v-model="editData.name" placeholder=""></el-input>
                </p>
                <p class="content-name">
                    <span>{{ item.createdBy ? item.createdBy.username : '' }}</span>
                    <!-- <el-input v-else v-model="editData.createdBy.username" placeholder=""></el-input> -->
                </p>
                <p class="content-time">
                    <span v-if="!edit" :title="item.time">{{ item.time }}</span>
                    <!-- <el-date-picker
                        v-else
                        v-model="editData.date"
                        type="monthrange"
                        range-separator="至"
                        start-placeholder="开始月份"
                        end-placeholder="结束月份">
                    </el-date-picker> -->
                    <el-input v-else v-model="editData.time" placeholder=""></el-input>
                </p>
            </div>
            <p class="setting-btn">
                <span v-if="identity == 'teacher'" :class="changeClass()" @click="changeCourse"></span>
            </p>
        </div>
    </div>
</template>
<script>
import utils from '../../utils/index'
import Cookie from 'js-cookie'
export default {
    props: {
        item: Object
    },
    data(){
        return {
            edit: false,
            editData: {
                name: this.item.name,
                time: this.item.time
            },
            identity: 'student'
        }
    },
    computed: {
        current_id(){
            return this.$store.state.user._id
        }
    },
    methods: {
        changeCourse(){
            const user_id = this.item.createdBy._id
            if(user_id == this.current_id){
                if(this.edit){
                    this.sendData()
                }
                this.edit = !this.edit
            }
        },
        goToIndex(){
            window.sessionStorage.setItem('course_id', this.item._id)
            window.sessionStorage.setItem('name', this.item.name)
            let identity = Cookie.get('identity')
            if(identity == 'teacher' && this.item.source != 'class'){
                this.$router.push({name: 'CourseIndex', query: {course_id: this.item._id, name: utils.formatStr(this.item.name), cno: this.item.cno}})
            }else{
                this.$router.push({name: 'EditMode', query: {course_id: this.item._id, type: 'view', name: utils.formatStr(this.item.name), source: this.item.source}})
            }
        },
        sendData(){
            const params = {
                name: this.editData.name,
                time: this.editData.time
            }
            if(!params.name){
                this.$message.error('课程名称不能为空')
                return
            }
            this.$api.Course.change_course(params, this.item._id).then(res => {
                if(res.code != 200){
                    this.$message.error('修改失败')
                }
            })
        },
        changeClass(){
            if(this.current_id == this.item.createdBy._id){
                return 'el-icon-setting existing-icon'
            }
            return 'el-icon-setting existing-icon disabled-icon'
        },
        deleteItem(){
            this.$emit("deleteItem", this.item._id)
        }
    },
    mounted () {
        this.identity = Cookie.get('identity') || 'student'
    },
    watch: {
        item: {
            handler(newVal){
                this.editData = newVal
            },
            immediate: true,
            deep: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.top-color-content{
    position: relative;
    .delete-course{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: $--text-1;
        cursor: pointer;
    }
    .drop-color{
        color: #000;
        padding: 3px 5px;
        background-color: rgba($--white, .5);
        border-radius: 3px;
    }
}
.drop-gray{
    color: $--default-light-5
}
.top-color{
    width: 242px;
    height: 160px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}
.existing-content{
    width: 242px;
    height: 130px;
    background-color: $--white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        margin-bottom: 10px;
    }
    .content-title{
        font-size: 22px;
        font-weight: 550;
        span{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            display: inline-block;
        }
    }
    .content-name{
        font-size: 16px;
    }
    .content-time{
        font-size: 12px;
        color: $--text-3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}
.setting-btn{
    text-align: right;
    .existing-icon{
        font-size: 16px;
        color: $--default;
        font-weight: bolder;
        margin-left: 10px;
        cursor: pointer;
    }
    .disabled-icon{
        color: $--default-light-5;
        cursor: not-allowed;
    }

}
.top-color-image{
    width: 100%;
    height: 100%
}
.course-box-shadow{
    border-radius: 8px 8px 4px 4px;
    box-shadow: 5px 5px 20px -6px grey
}
</style>