<template>
    <div>
        <Dialog title="添加课程" :visible="inviteDialog" :close="close" @dialogSure="query()">
            <div slot="dialog-content">
                <div class="item">
                    <label v-if="identity == 'teacher'">课程号</label>
                    <label v-else>课程邀请码</label>
                    <div class="item-right"><el-input v-model="invite_code"></el-input></div>
                </div>
                <!-- <div class="item">
                    <label>教师姓名</label>
                    <div><el-input></el-input></div>
                </div> -->
            </div>
        </Dialog>

        <Dialog title="添加课程" :visible="defineDialog" :close="() => {defineDialog=false}" @dialogSure="save()" width="600px">
            <div slot="dialog-content">
                <div class="item">
                    <label>已找到课程：</label>
                    <div class="item-right">{{course_name}}</div>
                    <label v-if="class_name">分组</label>
                    <div class="item-right">{{class_name}}</div>
                </div>
            </div>
        </Dialog>
    </div>
</template>

<script>
import Dialog from '@/components/pubilc/dialog'
import Cookie from 'js-cookie';
export default {
    components: { Dialog },
    props: {
        disabled: {
            type: Boolean,
            default: false
        },
        close: {
            type: Function
        }
    },
    data() {
        return {
            identity: "",
            inviteDialog: false,
            invite_code: "",
            defineDialog: false,
            course_name: "",
            class_name: ""
        }
    },
    methods: {
        query(){
            if(!this.invite_code){
                this.$message.warning("请输入邀请码！")
                return
            }
            let api = this.identity == 'teacher'?'get_course_cno':'get_course_invite_code'
            this.$api.Course[api](this.invite_code).then(resData => {
                if(resData.code == 200){
                    this.defineDialog = true
                    if(resData.data.course){
                        this.course_name = resData.data.course.name
                        this.class_name = resData.data.name
                    }else{
                        this.course_name = resData.data.name
                    }
                }
            })
        },
        save(){
            this.defineDialog = false
            this.$emit('joinCourse', this.invite_code)
        }
    },
    created() {
        this.inviteDialog = this.disabled
        this.identity = Cookie.get('identity')
    },
    watch: {
        disabled(newVal) {
            this.inviteDialog = newVal
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    display: flex;
    line-height: 42px;
    // flex-direction: column;
    label {
        width: 84px;
        padding-right: 6px;
        // text-align: right;
        font-weight: bold;
    }
    .item-right{
        flex: 1;
        margin-left: 20px;
    }
}
</style>
