<template>
    <div class="performance-content">
        <Panel height="300px" style="margin-bottom: 60px;">
            <ClassHeader :tabList="tabList" slot="header" :current="currentClasses" @change-tab="changeTopTab"/>
            <div class="performance" slot="content">
                <div class="course-title performance-title">
                    <span>{{ courseTitle }}</span>
                    <div>
                        <el-button type="primary" plain @click="logOutFlag = true">
                            <span>新增类别</span>
                        </el-button>
                        <el-button type="primary" @click="clickEdit">
                            <span class="el-icon-edit"></span>
                            <span>编辑</span>
                        </el-button>
                    </div>
                </div>
                <el-row :span="24" type="flex" >
                    <el-col :span="12" class="has-border-right">
                        <el-row :span="24" class="performance-row">
                            <el-col class="performance-col performance-col-flex">类别</el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row">
                            <el-col class="performance-col performance-col-flex">作业</el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row">
                            <el-col class="performance-col performance-col-flex">截至日期</el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row">
                            <el-col class="performance-col performance-col-flex">
                            <el-col class="performance-col performance-col-shrink">排名</el-col>
                            <el-col class="performance-col performance-col-shrink">学生姓名</el-col>
                            <el-col class="performance-col performance-col-shrink">
                                <span class="performance-icon performance-icon-3"></span>
                                缺勤
                                </el-col>
                            <el-col class="performance-col performance-col-shrink">
                                <span class="performance-icon performance-icon-2"></span>
                                出勤
                                </el-col>
                            <el-col class="performance-col performance-col-shrink">
                                <span class="performance-icon performance-icon-1"></span>
                                不良
                                </el-col>
                            <el-col class="performance-col performance-col-shrink">
                                <span class="performance-icon performance-icon-5"></span>
                                一般
                                </el-col>
                            <el-col class="performance-col performance-col-shrink">
                                <span class="performance-icon performance-icon-6"></span>
                                优秀
                                </el-col>
                            </el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row" v-for="(item, index) in studentList" :key="index">
                            <el-col  class="performance-col performance-col-flex" >
                                <el-col class="performance-col performance-col-shrink">1</el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <el-tooltip :content="item.student.nickname" placement="right" effect="light">
                                        <span>{{ item.student.nickname.substr(0, 10) }}</span>
                                    </el-tooltip>
                                </el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.absent }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.present }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.poor }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.pass }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.excellent }}</el-col>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12" class="performance-parent">
                        <el-row :span="24" class="performance-row performance-col-shrink">
                            <!-- <el-col :span="12" class="performance-col">类别</el-col> -->
                            <el-col :span="(item.count || 1) * 6 > 24 ? 24 : (item.count || 1) * 6" class="performance-col" v-for="(item, index) in taskCategories" :key="index">
                                <el-tooltip :content="item.name" placement="right" effect="light">
                                    <span>{{ item.name }}</span>
                                </el-tooltip>
                                <span v-if="editFlag" class="edit-box">
                                    <el-input v-model.number="item.val" class="input-short-3 append-icon" placeholder=""></el-input>
                                    <el-button type="text" @click="delTaskCategories(item._id, item.name)"><i class="el-icon-delete"></i></el-button>
                                </span>                
                                <span v-else>{{ `${item.value * 100}%` }}</span>
                            </el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row">
                            <!-- <el-col :span="12" class="performance-col">作业</el-col> -->
                            <el-col :span="(item.count || 1) * 6 > 24 ? 24 : (item.count || 1) * 6" class="performance-col performance-col-color" v-for="(item, index) in taskCategories" :key="index">
                                <el-col v-if="item.list.length == 0" class="performance-col">--</el-col>
                                <el-col v-else class="performance-col performance-col-shrink" v-for="(i, n) in item.list" :key="n">
                                    <el-tooltip :content="i.name" placement="right" effect="light">
                                        <span>{{ i.name.substr(0, 10) }}</span>
                                    </el-tooltip>
                                </el-col>
                            </el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row">
                            <!-- <el-col :span="12" class="performance-col">截至日期</el-col> -->
                            <el-col :span="(item.count || 1) * 6 > 24 ? 24 : (item.count || 1) * 6" class="performance-col" v-for="(item, index) in taskCategories" :key="index">
                                <el-col v-if="item.list.length == 0" class="performance-col">--</el-col>
                                <el-col v-else class="performance-col performance-col-shrink" v-for="(i, n) in item.list" :key="n">{{ utils.formatDate(new Date(i.endTime), "yyyy-MM-dd hh:mm") }}</el-col>
                            </el-col>
                        </el-row>
                        <el-row :span="24" class="performance-row">
                            <!-- <el-col :span="12" class="performance-col performance-col-flex">
                                <el-col class="performance-col performance-col-shrink">排名</el-col>
                                <el-col class="performance-col performance-col-shrink">学生姓名</el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <span class="performance-icon performance-icon-3"></span>
                                    缺勤
                                    </el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <span class="performance-icon performance-icon-2"></span>
                                    出勤
                                    </el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <span class="performance-icon performance-icon-1"></span>
                                    不良
                                    </el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <span class="performance-icon performance-icon-5"></span>
                                    一般
                                    </el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <span class="performance-icon performance-icon-6"></span>
                                    优秀
                                    </el-col>
                            </el-col> -->
                            <el-col :span="(item.count || 1) * 6 > 24 ? 24 : (item.count || 1) * 6" class="performance-col" v-for="(item, index) in taskCategories" :key="index">
                                <el-col v-if="item.list.length == 0" class="performance-col">--</el-col>
                                <el-col v-else class="performance-col performance-col-shrink" v-for="(i, n) in item.list" :key="n">{{ i.point }}</el-col>
                            </el-col>
                        </el-row>
                        <div class="no-data-list" v-if="studentList.length == 0">
                            暂无数据
                        </div>
                        <el-row :span="(item.count || 1) * 6 > 24 ? 24 : (item.count || 1) * 6" v-else class="performance-row performance-row-hover" v-for="(item, index) in studentList" :key="index">
                            <!-- <el-col :span="12" class="performance-col performance-col-flex">
                                <el-col class="performance-col performance-col-shrink">1</el-col>
                                <el-col class="performance-col performance-col-shrink">
                                    <el-tooltip :content="item.student.nickname" placement="right" effect="light">
                                        <span>{{ item.student.nickname.substr(0, 10) }}</span>
                                    </el-tooltip>
                                </el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.absent }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.present }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.poor }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.pass }}</el-col>
                                <el-col class="performance-col performance-col-shrink">{{ item.excellent }}</el-col>
                            </el-col> -->
                            <el-col :span="(it.count || 1) * 6 > 24 ? 24 : (it.count || 1) * 6" class="performance-col" v-for="(it, ind) in item.taskCategories" :key="ind">
                                <el-col v-if="!it.score" class="performance-col">--</el-col>
                                <!-- <el-col v-else class="performance-col performance-col-shrink" v-for="(i, n) in it.list" :key="n">{{ i.score}}</el-col> -->
                                <el-col v-else class="performance-col performance-col-shrink">{{ it.score }}</el-col>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <div class="question-bottom-tool bottom-right-align">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="pagination.total"
                        :page-size=10
                        @current-change="getTaskReport">
                    </el-pagination>
                    <div class="educational-tool-button">
                        <el-button type="primary" @click="createExcel">生成Excel</el-button>
                        <!-- <el-button type="primary" @click="addTeacher">添加</el-button> -->
                    </div>
                </div>
            </div>
        </Panel>
        <Dialog title="新增类别" :visible="logOutFlag" :close="closeLogOut" @dialogSure="logOutSure">
            <div class="batch-delete-content" slot="dialog-content">
                <span>类别名称：</span>
                <el-input class="input-short-1" v-model="addType" placeholder="请输入内容"></el-input>
            </div>
        </Dialog>
    </div>
</template>
<script>
import Panel from '../pubilc/panel'
import ClassHeader from '../pubilc/class-header'
import utils from '../../utils/index'
import Dialog from '../pubilc/dialog'
export default {
    components: {
        Panel,
        ClassHeader,
        Dialog
    },
    data(){
        return {
            tabList: [],
            pagination: {
                total: 1
            },
            taskCategories: [],
            addType: "",
            courseTitle: '专业一班成绩总览',
            job: 10,
            test: 10,
            exam1: 10,
            exam2: 10,
            currentCourse: '',
            currentClasses: '',
            currentClassesName: '',
            editFlag: false,
            course_id: utils.getQueryString("course_id"),
            tableData: [],
            logOutFlag: false,
            studentList: [],
            utils: utils
        }
    },
    methods: {
        clickEdit(){
            this.editFlag = !this.editFlag
            if(!this.editFlag){
                this.changeTaskReport()
            }
        },
        closeLogOut(){
            this.logOutFlag = false
        },
        logOutSure(){
            if(!this.addType){
                this.$message.error("请输入类别名称")
                return
            }
            const params = {
                course: this.course_id,
                name: this.addType
            }
            this.$api.Common.addTaskCategory(params).then(res => {
                if(res.code == 200){
                    this.$message.success("添加成功")
                    this.addType = ""
                    this.logOutFlag = false
                    this.getTaskReport()
                }else{
                    this.$message.error(res.data)
                }
            })
        },
        addTeacher(){},
        changeTopTab(val){
            this.currentClasses = val._id
            this.getTaskReport()
        },
        createExcel(){},
        getCourseClass(){
            const params = {
                current: 1,
                pageSize: 999999,
                where: JSON.stringify({
                    course: this.course_id,
                    isTemp: {"$ne":true}
                })
            }
            this.$api.Course.get_courseClass_list(params).then(res => {
                if(res.code == 200){
                    this.tabList = res.data.list.map(item => {
                        item.text = item.name
                        item.id = item._id
                        item.disabled = false
                        return item
                    })
                    if(this.tabList.length > 0){
                        this.currentClasses = this.tabList[0]._id
                        this.currentClassesName = this.tabList[0].name
                        this.getTaskReport()
                    }
                }
            })
        },
        getTaskReport(page){
            if(!this.currentClasses){
                this.$message.error("缺少classId")
                return
            }
            const params = {
                current: page || 1,
                pageSize: 10
            }
            this.$api.Course.task_report(this.currentClasses, params).then(res => {
                if(res.code == 200){
                    this.pagination = res.data.pagination
                    this.taskCategories = res.data.taskCategories.map(item => {
                        item.count = 0
                        item.list = []
                        item.value = utils.getFloat(item.value, 4)
                        item.val = item.value * 100
                        return item
                    })
                    this.formatTasks(res.data.list)
                }
            })
        },
        formatTasks(list){
            if(list.length > 0){
                // console.log(list)
                const tasks = {}
                list.map(item => {
                    let tasksItem = item.tasks
                    tasksItem.map(i => {
                        let id = i._id
                        if(!tasks[id]){
                            tasks[id] = {
                                point: i.point,
                                name: i.name,
                                category: i.category,
                                endTime: i.endTime,
                                id: i._id,
                                list: [],
                                count: 0
                            }
                        }
                    })
                })
                const tasksArr = this.changeTaskArr(tasks)
                this.taskCategories.map(i => {
                    let category = i._id
                    tasksArr.map(item => {
                        if(item.category == i._id){
                            i.count += 1
                            item.count += 1
                            i.list.push(item)
                        }
                    })
                    i.list.sort((a, b) => {
                        return new Date(a.endTime).getTime() - new Date(b.endTime).getTime()
                    })
                    return i
                })
                list.map(item => {
                    item.taskCategories = JSON.parse(JSON.stringify(tasksArr))
                    item.tasks.map(i => {
                        item.taskCategories.map(s => {
                            if(i._id == s.id){
                                s.list.push(i)
                                s.score = i.score
                            }
                        })
                    })
                    return item
                })
                this.studentList = list
            }else{
                this.tasks = []
                this.studentList = []
            }
        },
        changeTaskArr(tasks){
            const task = []
            for(let t in tasks){
                task.push(tasks[t])
            }
            return task.sort((a, b) => {
                return new Date(a.endTime).getTime() - new Date(b.endTime).getTime()
            })
        },
        changeTaskReport(){
            const params = {
                taskCategoryRatio: []
            }
            this.taskCategories.map(item => {
                params.taskCategoryRatio.push({
                    taskCategory: item._id,
                    value: item.val / 100
                })
            })
            this.$api.Course.updata_task_report(this.currentClasses, params).then(res => {
                if(res.code == 200){
                    this.getTaskReport()
                }
            })
        },
        delTaskCategories(id, name) {
            this.$confirm(`确认删除${name}`, '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$api.Common.delTaskCategory(id, {}).then(resData => {
                    if(resData.code == 200) {
                        this.getTaskReport()
                        this.editFlag = false
                    }
                })
            }).catch(() => {});
        }
    },
    mounted(){
        this.getCourseClass()
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
// @import '../../assets/css/dataTable.scss';
.performance-content{
    margin-top: 20px
}
.performance{
    padding: 0
}
.performance-title{
    font-size: 22px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.append-icon{
    position: relative;
    &::before{
        content: "%";
        position: absolute;
        // top: 30%;
        right: 10px;
    }
}
.has-border-right{
    border-right: 1px solid $--border-1
}
.performance-row{
    height: 40px;
    // background-color: $--background-color-1;
    font-size: 12px;
    font-weight: 550;
    margin-bottom: 5px;
    line-height: 40px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    &:nth-child(1){
        .performance-col{
            background-color: $--background-color-1;
        }
    }
    &:nth-child(2n){
        .performance-col{
            background-color: $--background-color-2;
        }
    }
    .performance-col{
        flex-shrink: 0;
        border-right: 1px solid $--border-1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-last-child(1){
            border: none
        }
    }
    .performance-col-shrink{
        flex-shrink: 1;
        overflow: hidden;
        line-height: 20px;
    }
    .performance-col-flex{
        display: flex;
    }
    .performance-col-color{
        color: red
    }
    .edit-box{
        display: inline-block;
        width: 200px;
    }
    span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.performance-row-fixed{
    display: flex;
    flex-direction: column
}
.performance-row-hover{
    transition: all .2s;
    &:hover{
        background-color: $--background-color-2 !important
    }
}
.educational-tool{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    .educational-tool-button{
        padding-left: 20px;
    }
}
.batch-delete-content{
    display: flex;
    align-items: center;
}
.performance-parent{
    overflow: auto
}
.no-data-list{
    text-align: center;
    padding: 20px
}
</style>