<template>
    <div>
        <el-table :data="scoreData" stripe border>
            <!-- <el-table-column label="姓名" prop="nickname">
                <template slot-scope="scope">
                    <span>{{ scope.row.student.nickname || "" }}</span>
                </template>
            </el-table-column> -->
            <el-table-column label="姓名" prop="nickname">
                <template slot-scope="scope">
                    <p class="student-item">
                        <span class="name-underline" @click="studentClick(scope.row.student)">
                            <span v-if="scope.row.student && scope.row.student.avatarUrl" class="user-header-small">
                                <img :src="scope.row.student.avatarUrl || ''"/>
                            </span>
                            <span v-else class="el-icon-user-solid"></span>
                            <span >{{ scope.row.student ? scope.row.student.nickname : "" }}</span>
                        </span>
                    </p>
                    <!-- <span @click="teacherClick(scope.row)" class="name-underline ">{{ scope.row.teacher.nickname || "" }}</span> -->
                </template>
            </el-table-column>
            <el-table-column label="手机号" prop="student">
                <template slot-scope="scope">
                    <span>{{ scope.row.student.phone }}</span>
                </template>
            </el-table-column>
            <el-table-column label="职务" prop="role">
                <template slot-scope="scope">
                    <span>{{ scope.row.role ? (scope.row.role == "student" ? "学生" : "助教") : "" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="班级" prop="classes">
                <template slot-scope="scope">
                    <span>{{ scope.row.classes ? scope.row.classes.name : "" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="班主任" prop="classTeacher">
                <template slot-scope="scope">
                    <span>{{ scope.row.classes ? scope.row.classes.classTeacher : "" }}</span>
                </template>
            </el-table-column>
            <el-table-column label="授课老师" prop="teachers">
                <template slot-scope="scope">
                    <div v-if="scope.row.classes">
                        <p v-for="(item, i) in scope.row.classes.teachers" :key="i" @click="teacherClick(item)">
                            <span class="el-icon-user-solid"></span>
                            <span>{{ item.nickname || "" }}</span>
                        </p>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="助教" prop="assistants">
                <template slot-scope="scope">
                    <div v-if="scope.row.classes">
                        <p v-for="(item, i) in scope.row.classes.assistants" :key="i" @click="teacherClick(item)">
                            <span class="el-icon-user-solid"></span>
                            <span>{{ item.nickname || "" }}</span>
                        </p>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="进课方式" prop="inviteType">
                <template slot-scope="scope">
                    <span>{{ scope.row.inviteType == '0' ? '邀请' : '自主选课' }}</span>
                </template>
            </el-table-column>
            <el-table-column label="移除" prop="createdAt">
                <template slot-scope="scope">
                    <span class="el-icon-delete delete-icon" @click="deleteStudent(scope.row)"></span>
                </template>
            </el-table-column>
        </el-table>
        <div class="question-bottom-tool bottom-right-align">
            <el-pagination
                background
                layout="prev, pager, next"
                :total="pagination.total"
                :page-size=10
                @current-change="init('', $event)">
            </el-pagination>
            <div class="educational-tool-button">
                <el-button type="primary" @click="createExcel">生成Excel</el-button>
                <el-button type="primary" @click="addTeacher">添加</el-button>
            </div>
        </div>

        <add-dialog :dialog="visible" @add="addStudentFn" :close="closeDialog">
            <div slot="content">
                <div class="add-course-item">
                    <p class="add-course-item-title">进入班级</p>
                    <el-select v-model="classes"
                        filterable
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addCourseList"
                        :key="index"
                        :label="item.name"
                        :value="item._id">
                            <span>{{ `${item.name}` }}</span>
                        </el-option>
                    </el-select>
                </div>
            </div>
        </add-dialog>
        <!-- <Dialog title="添加" :visible="visible" :close="closeDialog" @dialogSure="addStudentFn">
            <div slot="dialog-content">
                <div class="add-course-item">
                    <p class="add-course-item-title">学生姓名</p>
                    <el-select v-model="student_id"
                        filterable
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addStudentList"
                        :key="index"
                        :value="item._id"
                        :label="item.student ? item.student.nickname : ''"></el-option>
                    </el-select>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title">进入班级</p>
                    <el-select v-model="classes"
                        filterable
                        placeholder="请选择">
                        <el-option
                        v-for="(item, index) in addCourseList"
                        :key="index"
                        :label="item.name"
                        :value="item._id">
                            <span>{{ `${item.name}` }}</span>
                        </el-option>
                    </el-select>
                </div>
            </div>
        </Dialog> -->
        <UserInfoModel :visible.sync="showVisibeFlag" :user="user" />
    </div>
</template>
<script>
import Dialog from '../pubilc/dialog'
import utils from '../../utils/index'
import UserInfoModel from '../account/show-account'
import addDialog from '@/components/student/add-dialog'
export default {
    props: ["search"],
    components: {
        Dialog,
        UserInfoModel,
        addDialog
    },
    data(){
        return {
            scoreData: [],
            visible: false,
            teacher_name: '',
            name: '',
            student_id: '',
            classes: '',
            addStudentList: [],
            pagination: {},
            course_id: utils.getQueryString("course_id"),
            addCourseList: [],
            showVisibeFlag: false,
            user: {}
        }
    },
    methods: {
        createExcel(){},
        teacherClick(item){
            this.showVisibeFlag = true
            this.user = item
        },
        studentClick(item){
            this.showVisibeFlag = true
            this.user = item
        },
        addTeacher(){
            this.visible = true
            this.getDefaultStudent()
            this.getDefaultCourse()
        },
        closeDialog(){
            this.visible = false
        },
        deleteStudent(item){
            this.$confirm(`确认删除${item.student.nickname}`, '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                const id = item._id
                this.$api.Course.delete_courseStudent(id).then(res => {
                    if(res.code ==200){
                        this.$message.success("删除成功")
                        this.init("", 1)
                    }else{
                        this.$message.error(res.error || "删除失败")
                    }
                })
            }).catch(() => {});
        },
        getDefaultStudent(){
            this.loading = true
            const params = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({course: this.course_id})
            }
            this.$api.Course.get_courseStudent(params).then(res => {
                if(res.code == 200){
                    this.addStudentList = res.data.list
                }
            })
        },
        getDefaultCourse(){
            this.loading = true
            const params = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({course: this.course_id})
            }
            this.$api.Course.student_courseClass(params).then(res => {
                if(res.code == 200){
                    this.addCourseList = res.data.list
                }
            })
        },
        addStudentFn(id){
            this.student_id = id
            if(!this.student_id){
                this.$message.error("请选择一个学生")
                return
            }
            if(!this.classes){
                this.$message.error("请选择班级")
                return
            }
            let params = {
                student: this.student_id,
                course: this.course_id,
                classes: this.classes
            }
            this.$api.Course.add_student(params).then(res => {
                if(res.code == 200){
                    this.visible = false
                    this.$message.success("添加成功")
                    this.init()
                    this.classes = ''
                    this.student_id = ''
                }else{
                    this.$message.error(res.error || "添加失败")
                }
            })
        },
        init(query, page){
            const params = {
                current: page || 1,
                pageSize: 10,
                where: JSON.stringify({course: this.course_id})
            }
            if(query){
                params.where = JSON.stringify({
                    course: this.course_id,
                    nickname: {$regex: `^.*${query}.*$`},
                })
            }
            this.$api.Course.get_courseStudent_list(params).then(res => {
                if(res.code == 200){
                    this.scoreData = res.data.list
                    this.pagination = res.data.pagination
                }
            })
        }
    },
    mounted () {
        this.init()
    },
    watch: {
        search(newVal){
            this.init(newVal, 1)
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
@import '../../assets/css/dataTable.scss';
.delete-icon{
    font-size: 16px;
    color: $--default;
    cursor: pointer;
}
.educational-tool{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    .educational-tool-button{
        padding-left: 20px;
    }
}
.add-course-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 550;
    .add-course-item-title{
        min-width: 55px;
        text-align: right;
        padding-right: 20px;
    }
}
.student-item {
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
</style>