<template>
  <div>
    <div class="page-title">
      <div class="main-title">{{title}}</div>
    </div>
    <div class="page-content-space">
      <div class="page-content-card left">
        <div class="title">课件预览<span class="sub-title">请按上下键浏览</span></div>
        <div class="iframe-box" v-if="centerDialogVisible===''">
          <iframe :src="`https://view.xdocin.com/xdoc?_xdoc=${file_url}`" frameborder="0"></iframe>
        </div>
        <div class="iframe-box" v-if="centerDialogVisible===true">
          <video :src="file_url" widht="400" height="400" controls preload="none">
            <source :src="file_url" type="video/mp4"/>
          </video>
        </div>
        <div class="iframe-box" v-if="centerDialogVisible===false">
          <audio controls="controls" :src="file_url" type="audio/mpeg"></audio>
        </div>
        <!-- <div class="page-content-card-bottom">
            <el-button type="primary" @click="toPage()">返回</el-button>
        </div> -->
      </div>
      <div class="page-content-card right">
        <div class="title">课件</div>
        <div v-for="(item, index) in attachments" :key="index">
          <el-tag type="info" @click="changeShow(item)">
            <span :title="item.name" class="tag-name tag-name-upload-show">{{item.name}}</span>
          </el-tag>
        </div>
        <div class="intro">
          <div>简介：</div>
          <div class="editer-content-style-student" v-html="introduction"></div>
        </div>
        <el-button type="primary" @click="downLoadFile">下载文件</el-button>
      </div>
    </div>
    <div class="question-bottom-tool">
      <div class="question-button-left"></div>
      <div class="question-button-right">
        <el-button type="primary" @click="toPage()">返回</el-button>
      </div>
    </div>
  </div>
</template>

<script>
    import utils from '@/utils/index'
    import UploadFile from '@/components/pubilc/upload-file'
    import Common from '@/mixins/common'
    import Cookie from 'js-cookie'

    export default {
        components: {UploadFile},
        mixins: [Common],
        data() {
            return {
                title: utils.getQueryString("name"),
                course_id: utils.getQueryString("course"),
                courseware_id: utils.getQueryString("id"),
                attachments: [],
                introduction: "",
                file_url: '',
                centerDialogVisible: '',
                identity: 'student',
                disabled: false
            }
        },
        methods: {
            get_student_courseware() {
                if (this.identity == 'student') {
                    this.$api.Student.get_student_courseware_detail(this.courseware_id).then(resData => {
                        if (resData.code == 200) {
                            this.attachments = resData.data.courseware.attachments
                            this.introduction = resData.data.courseware.introduction
                            this.file_url = this.attachments.length > 0 ? this.attachments[0].url : ''
                        }
                    })
                } else {
                    this.$api.Courseware.courseware_details(this.courseware_id).then(resData => {
                        if (resData.code == 200) {
                            this.attachments = resData.data.attachments
                            this.introduction = resData.data.introduction
                            this.file_url = this.attachments.length > 0 ? this.attachments[0].url : ''
                        }
                    })
                }
            },
            changeShow(item) {
                var first = item.name.lastIndexOf(".");//取到文件名开始到最后一个点的长度
                var namelength = item.name.length;//取到文件名长度
                var filesuffix = item.name.substring(first + 1, namelength);//截取获得后缀名
                var type1 = ['mp3', 'wma', 'avi', 'm4a', 'rm', 'rmvb', 'mpg'];
                var type = ['mp4', 'avi', 'wmv', 'mpeg', 'm4v', 'rm']
                if (type.includes(filesuffix)) {//视频文件
                    this.centerDialogVisible = true;
                }
                if (type1.includes(filesuffix)) {//音频文件
                    this.centerDialogVisible = false;
                }
                if (type1.includes(filesuffix) === false && type.includes(filesuffix) === false) {//其他文件
                    this.centerDialogVisible = "";
                }
                this.file_url = item.url
            },
            downLoadFile() {
                this.attachments.forEach(element => {
                    window.location.href = this.file_url
                })
            },
            toPage() {
                this.$router.push({name: "EditMode", query: {course_id: this.course_id, type: "view"}})
            }
        },
        created() {
            let breadcrumb = window.sessionStorage.getItem("breadcrumb")
            if (breadcrumb) {
                breadcrumb = JSON.parse(breadcrumb)
                breadcrumb.push(this.title)
                this.$store.commit('setBreadcrumb', {
                    name: this.$route.name,
                    path: breadcrumb
                })
            }
            this.identity = Cookie.get('identity') || 'student'
            this.disabled = this.identity == 'teacher'
            this.get_student_courseware()
        }
    }
</script>

<style lang="scss" scoped>
  @import '@/assets/css/var.scss';

  .page-content-space {
    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;

      .sub-title {
        font-size: 12px;
        margin-left: 8px;
        font-weight: 500;
        color: #666;
      }
    }

    .left {
      .iframe-box {
        iframe {
          width: 100%;
          height: 700px;
          border-radius: 4px;
        }
      }
    }

    .intro {
      padding: 20px 0;
    }
  }

  .tag-name {
    font-size: 12px;
    color: $--default;
    text-decoration: underline;
    cursor: pointer;
  }
</style>
