<template>
  <div>
    <div class="page-title">
      <div class="main-title">{{name}}</div>
      <div class="right-message">
        <span class="label">分数：</span>
        <span>{{score || '--'}}/{{point}}</span>
        <span class="label">日期：</span>
        <span>{{time}}</span>
        <span class="label">截止日期：</span>
        <span>{{endtime}}</span>
      </div>
    </div>
    <div class="page-content-space">
      <div class="page-content-card left">
        <div class="card-content-top">
          <div v-for="(item, index) in attachments" :key="index">
            <el-tag type="info" class="tag-name-upload-out">
              <span class="tag-name tag-name-upload-show">{{item.name}}</span>
            </el-tag>
            <span class="tag-name" @click="download(item.url)">下载</span>
          </div>
          <div class="editer-content-style-student" v-html="assignment_content"></div>
        </div>
      </div>
      <div class="page-content-card right" v-if="this.identity == 'student'">
        <div class="card-content">
          <div class="title" :style="{'font-weight': 550}">已上传文件</div>
          <div v-for="(item, index) in student_attachments" :key="item._id">
            <el-tag closable type="info" @close="del_student_attachment(index)">
              <span class="tag-name tag-name-upload-show">{{ item.name }}</span>
            </el-tag>
          </div>
          <div style="text-align: center">
            <!-- <el-button > -->
            <UploadFile b="button" @func="getMsgFormSon" @uploadFile="uploadFileCallBack" :accept="accept"
                        :layout="layout">
              <el-button type="primary">上传文件</el-button>
            </UploadFile>
            <!-- </el-button> -->
            <!-- <div class="message">注：上传新的文件将覆盖旧文件</div> -->
          </div>
        </div>
        <div class="page-content-card-bottom">
          <el-button :disabled="disabled" type="primary" @click="submit_assignment()">提交作业</el-button>
        </div>
        <div v-if="msgFormSon==='上传中'" style="text-align: center">
          <img src="../../assets/images/loading.gif" alt="">
        </div>
      </div>
    </div>
    <div class="page-content-space page-content-space-margin">
      <div class="page-content-card left">
        <div class="card-content-bottom">
          <div class="title">作业评语</div>
          <div>{{comments}}</div>
        </div>
      </div>
    </div>
    <div class="question-bottom-tool">
      <div class="question-button-left"></div>
      <div class="question-button-right">
        <el-button type="primary" plain @click="toPage()">返回</el-button>
        <el-button type="primary" :disabled="result.status == 'assigned' || result.status == 'freezed'" plain
                   @click="toPage('studentAssignmentDraw')">查看批阅
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
    import utils from '@/utils/index'
    import UploadFile from '@/components/pubilc/upload-file'
    import Common from '../../mixins/common'
    import config from '../../utils/config'
    import Cookie from 'js-cookie'

    export default {
        components: {UploadFile},
        mixins: [Common],
        data() {
            return {
                msgFormSon: "",
                identity: "student",
                name: utils.getQueryString("name"),
                id: utils.getQueryString("id"),
                assignment_id: "",
                show_report: true,
                score: "",
                point: "",
                time: "",
                endtime: "",
                attachments: [],
                assignment_content: "",
                comments: "",
                student_attachments: [],
                disabled: false,
                result: {},
                accept: "image/gif, image/jpeg, image/x-png,audio/mp3,application/msexcel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf",
                layout: [...config.layout.word, ...config.layout.excel, ...config.layout.powerPoint, ...config.layout.other, ...config.layout.image, ...config.layout.mp3],
            }
        },
        computed: {
            user() {
                return this.$store.state.user
            }
        },
        methods: {
            getMsgFormSon(val) {
                this.msgFormSon = val
            },
            get_student_assignment() {
                if (this.identity == 'student') {
                    this.$api.Student.get_student_assignment_detail(this.id).then(resData => {
                        this.get_assignment_callback(resData)
                    })
                } else {
                    this.$api.Course.assignment_details(this.id).then(res => {
                        this.get_assignment_teacher_callback(res)
                    })
                }
            },
            get_assignment_callback(resData) {
                if (resData.code == 200) {
                    let data = resData.data;
                    this.result = data;
                    this.assignment_id = data.assignment._id;
                    this.assignment_content = data.assignment.introduction;
                    this.comments = data.comments
                    this.score = data.score
                    this.point = data.assignment.point
                    this.time = this.changeTime(data.startTime)
                    this.endtime = this.changeTime(data.endTime)
                    this.attachments = data.assignment.attachments || []
                    this.student_attachments = data.attachments || []
                    // this.show_report = data.status == 'checked'
                    this.disabled = data.status == 'checked' || data.status == 'expired'
                }
            },
            get_assignment_teacher_callback(res) {
                if (res.code == 200) {
                    let data = res.data
                    this.assignment_content = data.introduction
                    this.comments = data.comments
                    this.score = data.score || 0
                    this.point = data.point || 100
                    this.time = this.changeTime(data.startTime)
                    this.endtime = this.changeTime(data.endTime)
                    this.attachments = data.attachments || []
                }
            },
            del_student_attachment(index) {
                this.student_attachments.splice(index, 1)
            },
            download(url) {
                window.location.href = url
            },
            uploadFileCallBack(val) {
                this.student_attachments.push({
                    name: val.name,
                    url: val.url
                })
                this.msgFormSon = ""
            },
            submit_assignment() {
                let reqData = {
                    assignment: this.assignment_id,
                    attachments: this.student_attachments
                }
                this.$api.Student.submit_student_assignment(this.id, reqData).then(resData => {
                    if (resData.code == 200) {
                        this.$message.success("作业提交成功！")
                        this.toPage()
                    }
                })
            },
            toPage(name) {
                console.log(name)
                if (name) {
                    this.$router.push({name: name, query: {course_id: utils.getQueryString("course"), id: this.id}})
                } else {
                    this.$router.push({
                        name: "EditMode",
                        query: {course_id: utils.getQueryString("course"), type: "view"}
                    })
                }
            }
        },
        created() {
            let breadcrumb = window.sessionStorage.getItem("breadcrumb")
            if (breadcrumb) {
                breadcrumb = JSON.parse(breadcrumb)
                breadcrumb.push(this.name)
                this.$store.commit('setBreadcrumb', {
                    name: this.$route.name,
                    path: breadcrumb
                })
            }
            this.identity = Cookie.get('identity')
            this.get_student_assignment()
        }
    }
</script>

<style lang="scss" scoped>
  @import '@/assets/css/var.scss';

  .page-title {
    display: flex;
    justify-content: space-between;

    .right-message {
      line-height: 36px;
      font-weight: 550;
    }

    .label {
      margin-left: 10px;
    }
  }

  .page-content-space {
    .left {
      // .card-content-top{
      //     height: 200px;
      // }
      .card-content-bottom {
        .title {
          font-size: 16px;
          margin-top: 10px;
          padding-bottom: 10px;
          font-weight: 550;
          color: red;
        }
      }
    }

    .right {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // .card-content{
      // min-height: 410px;
      // }
      .title {
        font-size: 16px;
        margin-bottom: 30px;
      }

      .el-tag {
        margin-bottom: 30px;
      }

      .message {
        margin-top: 6px;
        font-size: 12px;
        color: $--text-2;
      }

      .page-content-card-bottom {
        justify-content: center;
      }
    }
  }

  .el-tag {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .tag-name {
    font-size: 12px;
    color: $--default;
    text-decoration: underline;
    cursor: pointer;
  }

  .assignment-content {
    max-height: 180px;
    overflow: auto;
  }

  .page-content-space-margin {
    margin-top: 20px;
  }
</style>
