<template>
    <div>
        <div class="page-title">
            <div class="main-title">欢迎！{{user.nickname}}</div>
        </div>
        <div class="page-content-card">
            <div class="has-no-manage" v-if="list.length == 0">
                暂无消息
            </div>
            <div v-for="(item, index) in list" :key="index" class="notice-item">
                <div>
                    <div class="title" @click="goCourse(item.course)" v-if="item.course">{{ item.course.name }}</div>
                    <div class="title" @click="goCourse(item.course)" v-if="item.classes">{{ item.classes.name }}</div>
                    <div class="notice">公告：{{item.content}}</div>
                </div>
                <div>
                    <div class="right-message">
                        <span>来自：</span>
                        <span class="right-message-user" @click="showUserDetail(item.createdBy)">
                            <span v-if="item.createdBy && item.createdBy.avatarUrl" class="user-header-small create-by-avatar">
                                <img :src="item.createdBy.avatarUrl || ''"/>
                            </span>
                            <span v-else class="el-icon-user-solid create-by-avatar"></span>
                            <span>{{item.createdBy.nickname + ' 老师'}}</span>
                        </span>
                    </div>
                    <div>时间：{{formatTime(item.updatedAt)}}</div>
                </div>
                <span v-if="item.course" class="el-icon-close delete-courseNotice" @click="deleteCourseNotice(item)"></span>
                <span v-if="item.classes" class="el-icon-close delete-courseNotice" @click="deleteClassesNotice(item)"></span>
            </div>
        </div>
        <UserInfoModel :visible.sync="showVisibeFlag" :user="userData" />
    </div>
</template>

<script>
import utils from '../../utils/index'
import UserInfoModel from '../../components/account/show-account'
export default {
    components: {
        UserInfoModel
    },
    data() {
        return {
            list: [],
            weekList: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            showVisibeFlag: false,
            userData: {}
        }
    },
    methods: {
        goCourse(item){
            if(item){
                this.$router.push({
                    name: 'EditMode',
                    query: {
                        course_id: item._id,
                        name: item.name,
                        type: 'view'
                    }
                })
            }
        },
        showUserDetail(row){
            this.userData = row
            this.showVisibeFlag = true
        },
        get_notice(){
            this.list = []
            let reqData = {
                current: 1,
                pageSize: 9999
            }
            this.$api.Student.get_student_course_notice(reqData).then(resData => {
                if(resData.code == 200){
                    resData.data.list.map(element => {
                        this.list.push(element)
                    })
                }
            })
            this.$api.Student.get_student_class_notice(reqData).then(resData => {
                if(resData.code == 200){
                    resData.data.list.map(element => {
                        this.list.push(element)
                    })
                }
            })
        },
        formatTime(time){
            time = new Date(time)
            let week = time.getDay()
            return `${utils.formatDate(time, "yyyy-MM-dd hh:mm")} ${this.weekList[week]}`
        },
        deleteCourseNotice(item){
            this.$api.Student.delete_course_notice(item._id).then(resData => {
                if(resData.code == 200){
                    this.$message.success("删除成功")
                    this.get_notice()
                }else{
                    this.$message.success("删除失败")
                }
            })
        },
        deleteClassesNotice(item){
            this.$api.Student.delete_class_notice(item._id).then(resData => {
                if(resData.code == 200){
                    this.$message.success("删除成功")
                    this.get_notice()
                }else{
                    this.$message.success("删除失败")
                }
            })
        }
    },
    computed: {
        user(){
            return this.$store.state.user
        }
    },
    created() {
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["欢迎"]
        })
        this.get_notice()
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.notice-item{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
    border-bottom: 1px solid $--border;
    transition: all .2s;
    position: relative;
    &:hover{
        background-color: $--background-color-3;
    }
    .title{
        line-height: 36px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .notice{
        color: $--default;
        font-weight: bold;
    }
    .right-message{
        line-height: 36px;
        display: flex;
        align-items: center;
        .right-message-user{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .create-by-avatar{
        margin-right: 5px;
    }
    .delete-courseNotice{
        position: absolute;
        right: 0;
        font-size: 18px;
        cursor: pointer;
        &:hover{
            color: $--default;
        }
    }
}
.has-no-manage{
    text-align: center;
    font-size: 16px;
    color: $--text-3
}
</style>