<template>
  <div class="quiz-container">
    <el-tabs v-model="currentTab" style="height: 100%">
      <el-tab-pane label="编辑课件" name="courseware" style="height: 100%">
        <Coursewares :query="query" />
      </el-tab-pane>
      <el-tab-pane label="学生成绩" name="score">
        <Scores :query="query" />
      </el-tab-pane>
      <el-tab-pane label="扫码签到" name="signin">
        <Checkin :query="query" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Coursewares from '@/components/quiz/Coursewares'
import Checkin from '@/components/quiz/Checkin'
import Scores from '@/components/quiz/Scores'
import EventBus from '@/utils/eventVue'

export default {
  components: { Coursewares, Checkin, Scores },
  data() {
    const query = this.$route.query
    return {
      query,
      currentTab: 'courseware',
    }
  },
  created() {
    this.$store.commit('quiz/reset')
  },
  mounted() {
    EventBus.$on('quiz:showCourseware', this.showCourseware)
  },

  beforeDestroy() {
    EventBus.$off('quiz:showCourseware', this.showCourseware)
  },

  methods: {
    showCourseware() {
      this.currentTab = 'courseware'
    },
  },
}
</script>

<style lang="scss" scoped>
.quiz-container {
  height: 100%;
  font-family: 'SF Pro Text', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  background-color: white;
  >>> .el-tabs__nav {
    transform: translateX(30px) !important;
  }
  >>> .el-tabs__header {
    margin-bottom: 0;
  }
  >>> .el-tabs__content {
    height: calc(100% - 40px);
  }
  >>> * {
    box-sizing: border-box;
  }
}
</style>
