<template>
    <div>
        <Panel :content="{height: 'auto', 'max-height': 'none'}" :height="true">
            <template slot="header">
                <ClassHeader :current="currentIndex" :tabList="tabs" @change-tab="changeTab"></ClassHeader>
            </template>
            <template slot="content" >
                <div class="message-content">
                    <transition name="fade" mode="out-in" appear>
                        <component :is="currentComponent" @newMessage="newMessage"></component>
                    </transition>
                </div>
            </template>
        </Panel>
    </div>
</template>
<script>
import Panel from '../../components/pubilc/panel'
import ClassHeader from '../../components/pubilc/class-header'
import Inform from '../../components/message/Inform'
import SendMessage from '../../components/message/SendMessage'
import ClassProclamation from '../../components/message/ClassProclamation'
import Proclamation from '../../components/message/Proclamation'
import PrivateLetter from '../../components/message/PrivateLetter'
import utils from '../../utils/index'
export default {
    components: {
        Panel,
        ClassHeader,
        Inform,
        SendMessage,
        ClassProclamation,
        Proclamation,
        PrivateLetter
    },
    data(){
        return {
            tabs: [
                {name: "通知", _id: 0, count: ""},
                {name: "发消息", _id: 1},
                {name: "班级公告", _id: 2, count: ""},
                {name: "课程公告", _id: 3, count: ""},
                {name: "私信", _id: 4, count: ""},
            ],
            currentComponent: "Inform",
            currentIndex: 0,
            tabComponents: ["Inform", "SendMessage", "ClassProclamation", "Proclamation", "PrivateLetter"]
        }
    },
    methods: {
        changeTab(val){
            this.currentComponent = this.tabComponents[val._id]
        },
        newMessage(count){
            this.tabs[0].count = count.inform
            this.tabs[2].count = count.class
            this.tabs[3].count = count.course
            this.tabs[4].count = count.private
            // this.get_unread()
        },
        get_unread(){
            this.$api.Message.get_unread_class_notice().then(res => {
                if(res.code == 200){
                    this.tabs[2].count = res.data
                }
            })
            this.$api.Message.get_unread_course_notice().then(res => {
                if(res.code == 200){
                    this.tabs[3].count = res.data
                }
            })
            this.$api.Message.get_unread_message_notice().then(res => {
                if(res.code == 200){
                    this.tabs[4].count = res.data
                }
            })
        }
    },
    mounted () {
        this.currentComponent = utils.getQueryString('current') || 'Inform'
        this.currentIndex = this.tabComponents.indexOf(this.currentComponent)
        this.get_unread()
    },
    created(){
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["消息"]
        })
    }
}
</script>
<style lang="scss" scoped>
.message-content{
    padding: 20px 0;
}
</style>