<template>
    <Dialog title="添加" :visible="add_dialog" :close="close" @dialogSure="save()">
        <div slot="dialog-content">
            <div class="dialog-content-item">
                <div class="label">学生姓名</div>
                <el-select
                    v-model="student_id"
                    filterable
                    remote
                    placeholder="请输入学生姓名"
                    :remote-method="get_student"
                    :loading="loading">
                    <el-option
                        v-for="item in student_list"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
            </div>
            <slot name="content"></slot>
        </div>
    </Dialog>
</template>

<script>
import Dialog from '../pubilc/dialog'
export default {
    components: { Dialog },
    props: { 
        dialog: {
            type: Boolean,
            default: false
        },
        close: {
            type: Function
        }
    },
    data() {
        return {
            add_dialog: false,
            student_id: '',
            student_list: [],
            loading: false
        }
    },
    methods: {
        get_student(query) {
            if(!query){
                return
            }
            this.loading = true;
            let reqData = {
                current: 1,
                pageSize: 100,
                where: JSON.stringify({
                    nickname: {
                        $regex: `^.*${query || ''}.*$`,
                    }
                })
            }
            this.$api.Student.get_student(reqData, true).then(resData => {
                if(resData.code == 200){
                    this.loading = false;
                    this.student_list = resData.data.list.map(item => {
                        return {id: item._id, name: `${item.nickname}(${item.email})`}
                    })
                }
            })
        },
        save() {
            this.$emit("add", this.student_id)
        }
    },
    created() {
        this.add_dialog = this.dialog
    },
    watch: {
        dialog(newVal){
            this.add_dialog = newVal
        }
    }
}
</script>

<style lang="scss" scoped>
.dialog-content-item{
    display: flex;
    margin-bottom: 16px;
    .label {
        min-width: 55px;
        line-height: 34px;
        text-align: right;
        padding-right: 20px;
        font-weight: bold;
    }
}
</style>
