<template>
  <div>
    <vue-ueditor-wrap v-model="content"
                      :config="myConfig"
                      @beforeInit="addCustomButtom"></vue-ueditor-wrap>
    <el-dialog title="文件上传"
               :visible.sync="dialogVisible"
               width="30%"
               :modal="false"
               :lock-scroll="true"
               :close-on-click-modal="false">
      <div v-if="msgFormSon==='上传中'" style="text-align: center">
        <img src="../../assets/images/loading.gif" alt="">
      </div>
      <div v-if="typeName===2">
        <el-divider content-position="left">上传图片</el-divider>
        <div style="text-align: center">
          <el-image
            v-if="Img!==''"
            style="width: 200px; height: 200px"
            :src="Img"
            :preview-src-list="srcList">
          </el-image>
          <div v-if="Img!==''">点击浏览大图</div>
        </div>
        <UploadFile b="button" @func="getMsgFormSon" @uploadFile="uploadFileCallBack" :accept="'image/*'">
          <div style="text-align: center">
            <el-button type="primary" @click="showVisibe(1)">上传图片</el-button>
          </div>
        </UploadFile>
      </div>
      <div v-if="typeName!==2">
        <el-divider content-position="left">上传音频</el-divider>
        <div style="text-align: center">
          <audio controls="controls" :src="mp3" type="audio/mpeg" v-if="mp3!==''"></audio>
        </div>
        <UploadFile b="button" @func="getMsgFormSon" @uploadFile="uploadFileCallBack" :accept="'audio/*'">
          <div style="text-align: center">
            <el-button type="primary" @click="showVisibe(2)">上传音频</el-button>
          </div>
        </UploadFile>
      </div>
      <div v-if="typeName!==2">
        <el-divider content-position="left">上传视频</el-divider>
        <div style="text-align: center" v-if="MP4!==''">
          <video :src="MP4" widht="200" height="200" controls preload="none">
            <source :src="MP4" type="video/mp4"/>
          </video>
        </div>
        <UploadFile b="button" @func="getMsgFormSon" @uploadFile="uploadFileCallBack" :accept="'video/*'">
          <div style="text-align: center">
            <el-button type="primary" @click="showVisibe(3)">上传视频</el-button>
          </div>
        </UploadFile>
      </div>

      <span slot="footer"
            class="dialog-footer">
        <el-button @click="()=>{this.dialogVisible=false}">取 消</el-button>
        <el-button type="primary"
                   @click="insertImage">确 定</el-button>
      </span>
    </el-dialog>
  </div>

</template>

<script>
    import VueUeditorWrap from 'vue-ueditor-wrap'
    import UploadFile from '../../components/pubilc/upload-file'
    import '../../../static/UEditor/ueditor.config.js'
    import '../../../static/UEditor/ueditor.all.js'
    import '../../../static/Ueditor/kityformula-plugin/defaultFilterFix.js'
    import '../../../static/Ueditor/kityformula-plugin/addKityFormulaDialog.js'
    import '../../../static/Ueditor/kityformula-plugin/getKfContent.js'
    import '../../../static/Ueditor/kityformula-plugin/defaultFilterFix.js'

    export default {
        components: {
            VueUeditorWrap,
            UploadFile
        },
        props: {
            typeName: {
                type: Number,
                default: ''
            },
            value: {
                type: String,
                default: ''
            },
            myConfig: {
                type: Object,
                default: () => ({
                        // 编辑器不自动被内容撑高
                        autoHeightEnabled: false,
                        // 初始容器高度
                        initialFrameHeight: 350,
                        // 初始容器宽度
                        initialFrameWidth: '100%',
                        // 上传文件接口, 报错属于正常，若需要验证可使用(也是盗大神的)http://35.201.165.105:8000/controller.php
                        // 调试完毕打包上线则切换回/static/UEditor/php/controller.php即可，不用做其他处理
                        serverUrl: '',
                    }
                )
            }
        },
        data() {
            return {
                msgFormSon: "",
                loading: undefined,
                fullscreenLoading: false,
                Img: "",
                mp3: "",
                MP4: "",
                type: "",
                srcList: [],
                dialogVisible: false,
                editorHandler: null,
                content: this.value,
            }
        },
        methods: {
            getMsgFormSon(val) {
                this.msgFormSon = val
            },
            uploadFileCallBack(val) {
                if (this.type === 1) {
                    this.srcList = [];
                    this.srcList.push(
                        val.url.split('?')[0]
                    );
                    this.Img = val.url.split('?')[0]
                } else if (this.type === 2) {
                    this.mp3 = val.url
                    console.log(this.mp3)
                } else if (this.type === 3) {
                    this.MP4 = val.url
                    console.log(this.MP4)
                }
                this.msgFormSon = ""
            },
            insertImage() {
                let imageHtml = "";
                let videoHTML = "";
                let MP4HTML = "";
                imageHtml = imageHtml + "<p><img src=\"" + this.Img + "\" width='200px' height='200px'/></p>";
                if (this.Img !== "") {
                    this.editorHandler.execCommand('inserthtml', imageHtml);
                }
                videoHTML = videoHTML + '<p style="text-align: center"><audio' + ' controls="controls" src="' + this.mp3 + '" type="audio/mpeg">' +
                    '</audio></p><span style="display: none">1111</span><br/>';
                if (this.mp3 !== "") {
                    this.editorHandler.execCommand('inserthtml', videoHTML);
                }
                if (this.MP4 !== "") {
                    var ext = this.MP4.substr(this.MP4.lastIndexOf('.') + 1);
                    MP4HTML = MP4HTML + '<video' + ' controls  width="400px" height="400px" src="' + this.MP4 + '" data-setup="{}">' +
                        '<source src="' + this.MP4 + '" type="video/' + ext + '" />' +
                        '</video><span style="display: none">11111</span><br/>';
                    if (this.MP4 !== "") {
                        this.editorHandler.execCommand('inserthtml', MP4HTML);
                    }
                }
                this.Img = "";
                this.mp3 = "";
                this.MP4 = "";
                this.dialogVisible = false;
            },
            showVisibe(index) {
                this.type = index;
                console.log(index)
                /*  this.showVisibeFlag = true*/
            },
            addCustomButtom(editorId) {
                let _this = this;
                window.UE.registerUI('test-button', function (editor, uiName) {
                    // 注册按钮执行时的 command 命令，使用命令默认就会带有回退操作
                    editor.registerCommand(uiName, {
                        execCommand: () => {
                            _this.Img = "";
                            _this.mp3 = "";
                            _this.MP4 = "";
                            _this.dialogVisible = true;
                            _this.editorHandler = editor;
                            //editor.execCommand('inserthtml', `<span>这是一段由自定义按钮添加的文字</span>`)
                        }
                    })

                    // 创建一个 button
                    var btn = new window.UE.ui.Button({
                        // 按钮的名字
                        name: uiName,
                        // 提示
                        title: '上传图片',
                        // 需要添加的额外样式，可指定 icon 图标，图标路径参考常见问题 2
                        cssRules: "background-position: -380px 0;",
                        // 点击时执行的命令
                        onclick: function () {
                            // 这里可以不用执行命令，做你自己的操作也可
                            editor.execCommand(uiName)
                        }
                    })

                    // 当点到编辑内容上时，按钮要做的状态反射
                    editor.addListener('selectionchange', function () {
                        var state = editor.queryCommandState(uiName)
                        if (state === -1) {
                            btn.setDisabled(true)
                            btn.setChecked(false)
                        } else {
                            btn.setDisabled(false)
                            btn.setChecked(state)
                        }
                    })

                    // 因为你是添加 button，所以需要返回这个 button
                    return btn
                }, 47 /* 指定添加到工具栏上的哪个位置，默认时追加到最后 */, editorId /* 指定这个 UI 是哪个编辑器实例上的，默认是页面上所有的编辑器都会添加这个按钮 */)
            }
        },
        watch: {
            value(newValue) {
                this.content = newValue
            },
            content(newValue) {
                this.$emit('input', newValue)
            }
        }
    }
</script>
<style scoped>
  .image-upload-panel {
    overflow: hidden;
  }

  .image-upload-btn {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    line-height: 150px;
    text-align: center;
  }

  .image-upload-btn div {
    width: 150px;
  }

  .image-upload-btn i {
    font-size: 30px;
    font-weight: 400;
  }

  .image-item {
    float: left;
    width: 150px;
    height: 150px;
    background: #ddd;
    margin-right: 10px;
    border-radius: 6px;
    position: relative;
  }

  .image-item img {
    max-width: 150px;
    border-radius: 6px;
  }

  .image-del {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
</style>
