<template>
    <div class="unit-chart-content" v-if="showChart">
        <span class="el-icon-close close-chart" @click="hiddenChart"></span>
        <div class="has-none" v-if="Object.keys(labelScore).length == 0">
            <div style="width:400px;height:300px;">
                暂无统计数据
            </div>
        </div>
        <div v-else>
            <div class="chart-score">
                <div>
                    最高分：<span class="score-text">{{labelScore.max}}</span>
                </div>
                <div>
                    最低分：<span class="score-text">{{labelScore.min}}</span>
                </div>
                <div>
                    平均分：<span class="score-text">{{labelScore.avg}}</span>
                </div>
            </div>
            <Chart  :id="id" :option="chart_option" class="chart-item chart_content"></Chart>
        </div>
    </div>
</template>
<script>
import Chart from '@/components/pubilc/chart'
import utils from '@/utils/index'
export default {
    props: {
        showChart: {
            type: Boolean,
            default: false
        },
        labelScore: {
            type: Object,
            default(){
                return {}
            }
        }
    },
    data(){
        return {
            id: utils.randomString(12),
            chart_option: {
                xAxis: {
                    type: 'value',
                },
                yAxis: {
                    type: 'category',
                    data: [ '' ],
                },
                series: [
                    {
                        type: 'boxplot',
                        data: []
                    },
                    {
                        type: "customLine",
                        data: [],
                        markPoint: {
                            data: []
                        }
                    }
                ],
                resize: 0
            }
        }
    },
    components: {
        Chart
    },
    methods: {
        hiddenChart(){
            this.$emit("update:showChart", false)
        },
        formatReport(){
            this.handle_data()
        },
        handle_data(){
            this.chart_option.series[0].data[0] = []
            this.chart_option.series[1].markPoint.data = [{name: '你的成绩: ', value: this.labelScore.score, xAxis: this.labelScore.score, yAxis: 0}]
            this.$set(this.chart_option.series[0].data[0], 0, this.labelScore.min)
            this.$set(this.chart_option.series[0].data[0], 1, this.labelScore.percent25)
            this.$set(this.chart_option.series[0].data[0], 2, this.labelScore.mid)
            this.$set(this.chart_option.series[0].data[0], 3, this.labelScore.percent75)
            this.$set(this.chart_option.series[0].data[0], 4, this.labelScore.max)
            this.$set(this.chart_option.series[1].data, 0, this.labelScore.score)
            this.chart_option.resize++
        }
    },
    watch: {
        labelScore(){
            this.handle_data()
        }
    }
}
</script>
<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.unit-chart-content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: $--white;
    border-radius: 8px;
    box-shadow: 0 0 8px $--text-2;
    box-sizing: border-box;
    .close-chart{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }
    .chart_content{
        width: 100%;
        height: 260px;
    }
    .has-none{
        text-align: center;
        font-size: 16px;
    }
    .chart-score{
        display: flex;
        justify-content: space-around;
        .score-text{
            color: $--default;
        }
    }
}
</style>
