<template>
    <div class="row" :class="['row-'+ level, 'row-'+default_type, default_type=='assignments'||default_type =='exams'||default_type=='coursewares'?'pointer':'']" 
        @mouseover="show_action = true"  @mouseout.self="show_action = false">
        <div class="title" @click="toPage()">
            <div class="select" v-if="level > 1">
                <el-select v-model="default_type" v-if="mode == 'edit' && default_type == ''" @change="changeType()" placeholder="选择">
                    <el-option v-for="(value, key) in typeList" :key="key" :label="value.name" :value="key"></el-option>
                </el-select>
                <span class="text-tag" v-else>{{relation[default_type]}}</span>
            </div>
            <span class="input">
                <div v-if="mode == 'edit' && action[type].indexOf('edit') < 0" @click.stop=""><el-input v-model="default_title" :placeholder="placeholder[default_type]"></el-input></div>
                <span v-else>
                    <span>{{title.split('++++----++++')[0]}}</span>
                    <span class="user-edit-color">{{title.split('++++----++++')[1]}}</span>
                    <el-tag :type="(status && status == 'release') ? 'success' : 'danger'" v-if="status && identity == 'teacher'">
                        <span class="tag-name">{{status_relation[status]}}</span>
                    </el-tag>
                </span>
            </span>
        </div>
        <div class="action">
            <div v-if="show_action" class="action-box">
                <div v-for="i in action[type]" :key="i" class="action-button">
                    <el-tooltip effect="dark" :content="tooltip[i]" placement="top-start">
                        <el-button type="text" @click.stop="changeAction(i)">
                            <i :class="'el-icon-'+i"></i>
                        </el-button>
                    </el-tooltip>
                </div>
            </div>
            <!-- <span class="time-text" v-if="mark_show">已批改人数：<span class="mark-text">{{mark.checked}}</span>/{{mark.total}}</span>
            <span class="time-text" v-if="time_text">截止日期：{{time_text}}</span> -->
        </div>
    </div>
</template>

<script>
import utils from '@/utils/index'
import Cookie from 'js-cookie'
export default {
    props: {
        mode: {
            default: "view",
            type: String
        },
        title: {
            type: String
        },
        level: {
            default: 1,
            type: Number
        },
        type: {
            
        },
        typeList: {
            default: () => {
                return {
                    chapters: {
                        name: "课堂",
                    },
                    assignments: {
                        name: "作业",
                    },
                    exams: {
                        name: "考试",
                    }
                }
            },
            type: Object
        },
        time: {
            type: String
        },
        mark: {
            type: Object
        },
        build: {
            default: false,
            type: Boolean
        },
        status: {
            type: String
        }
    },
    data() {
        return {
            identity: "",
            default_type: "",
            default_title: "",
            relation: {
                assignments: "作业",
                chapters: "课堂",
                exams: "测试",
                coursewares: "课件"
            },
            action: {},
            placeholder: {
                unit: "请输入单元名称",
                chapters: "请输入课堂名称",
                coursewares: "请输入课件名称",
                exams: "请输入考试名称",
                assignments: "请输入作业名称",
            },
            tooltip: {
                plus: "添加子目录", 
                view: "修改可见班级", 
                edit: "编辑目录名", 
                delete: "删除目录", 
                "arrow-up": "隐藏子目录",
                "arrow-down": "展开子目录",
                "circle-check": "保存",
                check: "已提交"

            },
            time_text: "",
            mark_show: false,
            status_relation: {
                release: "已发布",
                draft: "未发布"
            },
            show_action: false
        }
    },
    methods: {
        changeAction(action){
            if(action == "plus"){
                this.$emit('add-unit')
            }
            else if(action == 'view'){
                this.$emit('visible-range')
            }
            else if(action == 'delete'){
                this.$emit('delete-unit', this.default_type)
            }
            else if(action == 'arrow-up'){
                this.action[this.type].splice(this.action[this.type].indexOf("arrow-up"), 1, "arrow-down")
                this.$emit('hide-unit')
            }
            else if(action == 'arrow-down'){
                this.action[this.type].splice(this.action[this.type].indexOf("arrow-down"), 1, "arrow-up")
                this.$emit('show-unit')
            }
            else if(action == 'edit'){
                if(this.action[this.type].indexOf("edit")>=0){
                    this.action[this.type].splice(this.action[this.type].indexOf("edit"), 1, "circle-check")
                }
            }
            else if(action == 'circle-check'){
                this.action[this.type].splice(this.action[this.type].indexOf("circle-check"), 1, "edit")
                this.$emit('save-unit', {title: this.default_title, type: this.default_type})
            }
        },
        changeType(){
            this.action[this.type] = this.action[this.default_type]
            this.changeAction('edit')
        },
        toPage(){
            if(this.default_type=='assignments'||this.default_type =='exams'||this.default_type=='coursewares') {
                this.$emit('to-page', this.default_type)
            }
            
        }
    },
    created(){
        this.identity = Cookie.get('identity')
        if(this.mode == 'view'){
            if(this.identity == 'teacher') {
                this.action = {
                    unit: ["plus", "edit", "delete", "arrow-up"],
                    chapters: ["plus", "edit", "delete", "arrow-up"],
                    coursewares: ["view", "edit", "delete"],
                    exams: ["view", "edit", "delete"],
                    assignments: ["view", "edit", "delete"],
                    build: ["delete"]
                }
            }else{
                this.action = {
                    unit: ["arrow-up"],
                    chapters: ["arrow-up"],
                    coursewares: [],
                    exams: [],
                    assignments: [],
                }
            }
            if(this.status == 'finished'){
                this.action[this.type] = ["check"]
            }else if(this.status == 'checked'){
                this.action[this.type] = ["tickets", "check"]
            }else if(this.status == "expired"){
                this.action[this.type] = ["close"]
            }else{
                this.time_text = this.time ? utils.formatDate(new Date(this.time), 'yyyy-MM-dd hh') + '时' : ''
            }
        }
        else if(this.mode == 'mark'){
            this.action = {
                unit: ["arrow-up"],
                chapters: ["arrow-up"],
                coursewares: [],
                exams: [],
                assignments: [],
            }
            if(this.mark){
                if(this.mark.checked == this.mark.total){
                    this.action.exams = ["check"]
                    this.action.assignments = ["check"]
                }else{
                    if(this.status == 'release'){
                        this.time_text = this.time?utils.formatDate(new Date(this.time), 'yyyy-MM-dd hh:mm:ss'):""
                    }
                    this.mark_show = true
                }
            }
        }
        else if(this.mode == "edit"){
            this.action = {
                unit: ["plus", "edit", "delete", "arrow-up"],
                chapters: ["plus", "edit", "delete", "arrow-up"],
                coursewares: ["view", "edit", "delete"],
                exams: ["view", "edit", "delete"],
                assignments: ["view", "edit", "delete"],
                build: ["delete"]
            }
        }
        this.default_title = this.title
        if(this.type != 'build'){
            this.default_type = this.type
        }
        if(this.build && this.type == 'unit'){
            this.changeAction('edit')
        }
    }
}
</script>

<style lang="scss">
@import "@/assets/css/var.scss";
.row .select{
    .el-input__inner{
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        padding-left: 10px;
        color: $--yellow;
        border-color: $--yellow;
    }
    .el-input__suffix {
        right: 0px !important;
    }
    .el-input--suffix .el-input__inner{
        padding-right: 0px;
    }
    .el-select .el-input .el-select__caret {
        color: $--default;
        font-size: 12px;
    }
}
.row-1{
    .el-input__inner{
        font-size: 16px;
        font-weight: bold;
    }
}
.row-2{
    .el-input__inner{
        font-size: 14px;
        font-weight: bold;
    }
}
.row .input{
    .el-input__inner{
        height: 26px;
        line-height: 26px;
    }
}
.el-icon-check{
    color: $--green
}
.row {
    .el-icon-close{
        color: $--red
    }
    .el-tag{
        height: 26px;
        line-height: 26px;
        margin-left: 0;
    }
    .el-tag.el-tag--danger {
        background-color: transparent;
    }
}
</style>
<style lang="scss" scoped>
@import "@/assets/css/var.scss";
.row{
    display: flex;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    background: $--white;
    .input{
        display: inline-block;
        min-width: 200px;
    }
    .select{
        display: inline-block;
        width: 60px;
        margin-right: 20px;
        .text-tag{
            display: inline-block;
            width: 58px;
            height: 18px;
            line-height: 18px;
            text-indent: 10px;
            font-size: 12px;
            color: $--yellow;
            border: 1px solid $--yellow;
            border-radius: 4px;
        }
    }
    // .title{
    //     flex: 1;
    // }
    .action{
        width: 120px;
        .action-box{
            display: flex;
            justify-content: flex-end;
            .action-button{
                margin-right: 10px;
            }
            .time-text{
                margin-left: 10px;
                font-size: 12px;
                color: $--text-3;
                .mark-text{
                    color: $--default;
                }
            }
        }
        
    }
}
.row-1{
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}
.row-2{
    width: 80%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}
.row-3{
    width: 60%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}
.pointer{
    &:hover{
        box-shadow: 0 0 8px $--default-light-5;
    }
}
.row-assignments{
    background: $--background-1-light-1;
}
.row-exams{
    background: $--background-2-light-1;
}
.row-coursewares{
    background: $--background-3-light-1;
}
.user-edit-color{
    color: $--default
}
</style>