// 公共样式
@import "var.scss";
@import "minix.scss";
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	text-align: left;
    color: $--text-1;
    font-size: 14px;
}
.clearfix {
	@include clearfix
}

.el-input__suffix{
	right: 18px !important;
}

.course-select-date{
    .el-input__inner{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .el-date-editor{
        .el-input__suffix{
            right: 5px !important;
        }
    }
}
.el-icon-time{
	display: none;
}
.input-short-1{
	width: 165px !important;
}
.input-short-2{
	width: 150px !important;
}
.input-short-3{
	width: 80px;
}
.input-short-4{
	width: 100px;
}
.input-long-1{
	width: 450px;
}
.input-long-2{
	width:280px;
}
.input-long-3{
	width:340px;
}
.short-button-1{
    padding: 0 10px;
}
.icon-color{
    color: $--default;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}
.text-area-parent{
    display: flex;
    overflow: hidden;
}
.que-text-area-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.que-text-area-content-center{
    justify-content: flex-start;
}
.course-title{
	font-size: 26px;
    font-weight: 600;
    color: $--text-1;
    padding-bottom: 20px;
}
.course-content{
	background-color: $--white;
    border-radius: 8px;
    margin-bottom: 100px;
}
.que-title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .que-title-inner{
      /*  font-weight: bolder;
        font-size: 18px;*/
        display: flex;
        align-items: flex-start;
        max-width: 100%;
    }
    .que-edit{
        display: flex;
        align-items: center;
        .que-point{
            display: flex;
            align-items: center;
            padding-right: 20px;
        }
        .que-icon{
            color: $--default;
            font-size: 26px;
            font-weight: bolder;
            span{
                cursor: pointer;
            }
        }
    }
    .title{
        padding-right: 10px;
        font-weight: 600;
        line-height: 33px;
    }
}
.que-button-list{
    display: flex;
    justify-content: space-between;
    padding-top: 20px
}
.fade-enter-active, .fade-leave-active {
	transition: opacity .2s;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
}
.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
	transform: translateX(10px);
	opacity: 0;
}
.el-checkbox, .el-radio{
	display: flex;
	align-items: center;
}
.el-checkbox__label, .el-radio__label{
	display: flex;
	align-items: center;
}
.preview{
    width: 60%;
    margin: 0 auto;
    // max-height: 75vh;
    overflow: auto;
}
.preview-title{
    font-size: 18px;
    font-weight: 550;
    padding-bottom: 10px;
}
.single-item{
    background-color: $--white;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}
.single-radio-group{
    display: flex;
    flex-wrap: wrap;
}
.single-radio-item{
    width: 50%;
    margin-right: 0;
    padding: 10px 0;
    display: flex;
}
.preview-fill{
    padding: 20px 0;
}
.preview-fill-text{
    padding: 40px 0;
}
.opinion-title{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 550;
}
.max-preview-width{
    width: 100%
}
.batch-delete-content{
    .delete-desc{
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 20px;
    }
}
.add-label{
    padding: 20px 0
}
.el-radio-button__inner{
    border-color: $--default;
    color: $--default;
}
.el-radio-button:first-child .el-radio-button__inner{
    border-color: $--default;
}

//圆点
.circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 12px;
    &-yellow{
        background: $--yellow;
    }
    &-red{
        background: $--red;
    }
    &-blue{
        background: $--blue;
    }
    &-green{
        background: $--green;
    }
}
//页面标题
.page-title{
    padding: 4px 0 18px;
    .main-title{
        height: 36px;
        line-height: 36px;
        font-size: 26px;
        font-weight: bold;
    }
    .sub-title{
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        margin-top: 8px;
        .message{
            margin-left: 2px;
            margin-right: 30px;
            font-weight: bold;
        }
    }
}
.page-content-space{
    display: flex;
    .left{
        flex: 1 1 auto;
    }
    .right{
        // width: 200px;
        margin-left: 20px;
    }
}
//页面table-card
.page-content-card{
    padding: 16px;
    background: $--white;
    border-radius: 4px;
    .page-content-card-bottom{
        display: flex;
        justify-content: flex-end;
        padding-top: 16px;
    }
}
// 页面底部导航
.question-bottom-tool{
    background-color: $--white;
    position: fixed;
    bottom: 0;
    height: 64px;
    display: flex;
    align-items: center;
    left: 0;
    width: 100%;
    box-shadow: 8px 0px 6px 0 rgba(42,51,60,0.12);
    display: flex;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 10000;
}
.bottom-right-align{
    justify-content: flex-end;
}
.el-tooltip__popper{
    border: none !important;
    box-shadow: 0px 0px 6px 5px rgba(42,51,60,0.12);
}
//默认学生头像
.performance-student-image{
    margin: 0 auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $--background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .student-image-size{
        width: 56px;
        height: 56px;
        text-align: center;
        line-height: 56px;
        border-radius: 50%;
        color: #fff;
        font-size: 40px;
    }
}
.delete-question-option{
    width: 18px;
    height: 18px;
    display: inline-block;
    font-size: 18px;
    color: $--default;
    cursor: pointer;
    margin-right: 10px;
}
.el-radio-group{
    width: 100% !important;
}
.answer-fill-text{
    padding-top: 20px;
}
.name-underline{
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.user-header-small{
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.option-content{
    max-width: 300px;
    height: auto;
    width: 300px;
    line-height: 20px;
    // word-wrap:break-all;
    overflow: auto;
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
}
// .max-content-width{
//     width: 70%;
// }
.new-message{
    width: 5px !important;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    // margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    top: 15px;
    left: 5px;
}
.message-content-padding{
    padding-left: 5px;
}
.table-cell-left{
    text-align: left !important;
    .cell{
        text-align: left !important;
    }
}
.message-content-inner{
    display: flex;
    align-items: center;
}
.meassage-content-parent{
    display: block;
}
.tag-name-upload-show{
    display: inline-block;
    max-width: 166px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
}
.question-type-labels{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .type-color{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 10px;
    }
    .type-color-empty{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 10px;
        border: 1px dashed #ccc
    }
    .question-type-content{
        min-width: 50px;
    }
}
.correct-type-boolean{
    font-size: 20px;
    text-align: right;
    font-weight: 550;
}
.is-edit-userinfo{
    margin-bottom: 20px;
}
.performance-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.performance-icon-1{
    background: url('../../assets/images/icon-1.png')
}
.performance-icon-2{
    background: url('../../assets/images/icon-2.png')
}
.performance-icon-3{
    background: url('../../assets/images/icon-3.png')
}
.performance-icon-5{
    background: url('../../assets/images/icon-5.png')
}
.performance-icon-6{
    background: url('../../assets/images/icon-6.png')
}
.editer-content-style{
    p{
        margin: 10px 0;
    }
}

.editer-content-style-student {
    padding: 0 30px;
    ol, ul{
        list-style: decimal;
        li{
            list-style-type: unset;
        }
    }
    ul{
        list-style: unset;
        li{
            list-style-type: unset;
        }
    }
}
