// 混合宏
@mixin init-flex() {
    display: flex;
    align-items: center;
    justify-content: center
}
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}