@import 'var.scss';

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #f5f6fa;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
  resize: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 菜单样式重写 */
.el-submenu__title,
.el-menu-item {
  height: 50px;
  line-height: 50px;
  padding-left: 24px;
  color: $--text-1;
  font-weight: 500;
}
.el-menu-item-group {
  padding: 8px 0;
  background: $--light;
}
.el-menu-item-group__title {
  padding: 0;
  line-height: normal;
}
.el-menu-item-group .el-menu-item {
  height: 32px;
  line-height: 32px;
  padding-left: 32px;
  margin: 8px 0;
  color: $--text-2;
  font-weight: 400;
}
.el-menu-item.is-active,
.el-menu-item:focus {
  color: $--default;
  background: $--default-light-1;
}
.el-menu-item:hover {
  color: $--default;
  background-color: transparent;
}
// 定义滚动条
@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 16px;
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }

  input::-webkit-input-placeholder {
    color: #c0c4cc;
  }
}
//textarea重写
.el-textarea__inner {
  // padding: 12px 15px;
  font-size: 14px;
}
//下拉菜单重写
.el-dropdown {
  color: $--default;
  font-size: 12px;
}
//分页重写
.el-pager li {
  border: 1px solid $--border-2;
  border-radius: 4px;
  min-width: 32px;
  height: 30px;
  margin: 0 4px;
  color: $--text-2;
  &.active {
    color: $--white;
    background: $--default;
    border: 1px solid $--default;
  }
  &.active + li {
    border-left: 1px solid $--border-2;
  }
}
.el-pagination .btn-prev,
.el-pagination .btn-next {
  border: 1px solid $--border-2;
  border-radius: 4px;
  min-width: 32px;
  height: 30px;
  margin: 0 4px;
}

// table
.el-table {
  color: $--text-1;
  thead {
    color: $--text-1;
  }
  th {
    background-color: #e3e7eb;
    padding: 8px 0;
    font-size: 12px;
  }
  td {
    padding: 8px 0;
    font-size: 12px;
    .el-button {
      padding: 0 10px;
      font-size: 12px;
    }
  }
  tr {
    background-color: #f9f9f9;
  }
  .cell {
    text-align: center;
    &:hover {
      color: $--default;
    }
  }
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #f3f3f3;
}
.el-table--border th,
.el-table--border td,
.el-table th.is-leaf,
.el-table td {
  border-bottom: 5px solid $--white;
}
.el-table--border th {
  border-right: 0;
}
.el-table--group,
.el-table--border {
  border: none;
}
.el-table--group::after,
.el-table--border::after,
.el-table::before {
  background-color: $--white;
}

//图标按钮
.el-button--text i {
  font-size: 14px;
  font-weight: bold;
}
