// 公共变量
// Color
$--default: #A21832;
$--purple: #7D3486;
$--white: #FFFFFF;
$--text-1: #262626;
$--text-2: #595959;
$--text-3: #8C8C8C;
$--disabled: #BFBFBF;
$--border: #F2F4F6;
$--border-1: #D9D9D9;
$--border-2: #D5DAE0;
$--border-3: #E8E8E8;
$--background-color: #EDEDED;
$--background-color-1: #E3E7EB;
$--background-color-2: #F3F3F3;
$--background-color-3: #F9F9F9;


// 题目背景颜色
$--background-1: #18A294;
$--background-2: #F69E00;
$--background-4: #8579dc;
$--background-1-light-1: mix($--white, $--background-1, 95%);
$--background-2-light-1: mix($--white, $--background-2, 95%);
$--background-3-light-1: mix($--white, $--default, 95%);
$--background-4-light-1: mix($--white, $--background-4, 85%);

$--error-color: #FF0000;
$--success-color: #00B369;


// Color light
$--default-light-1: rgba($--default, .1);
$--default-light-5: rgba($--default, .5);
$--default-light-8: rgba($--default, .8);
$--light: #F5F5F5;
$--light-1: #D9D9D9;

// element-color
$--el-border: #e6e4e4;


//echarts 色系
$--blue: #3471BA;
$--red: $--default;
$--green: #23AC8A;
$--yellow: #E98E1D;
$--blue-1: rgba($--blue, .6);
$--red-1: rgba($--red, .6);


