<template>
  <div>
    <Dialog width="780px" :visible="isShowModal" :close="onClose" @dialogSure="createQuestion">
      <template slot="title">
        <div>
          <span>添加问题</span>
          <el-button @click="handleOpenSearch" plain type="primary" style="float: right">搜索题目</el-button>
        </div>
      </template>
      <template slot="dialog-content">
        <div class="content">
          <component
            :is="currentComponent"
            :labelListAll="labelList"
            :indexItem="1"
            v-bind="{
              item: item,
              editIndex: editIndex,
              page: changePage(1),
              labelDefaultIndex: initLabelColor(item.content.label),
            }"
            @deleteQuestion="deleteQuestion"
            @clickEdit="clickEdit"
            @changeData="changeData"
            @changeQuestionItemType="changeQuestionItemType"
            @analysisAddFn="analysisAddFn"
          ></component>
        </div>
      </template>
    </Dialog>
    <Dialog
      title="考题解析"
      width="600px"
      :visible="isShowAnalysis"
      :close="onCloseAnalysis"
      @dialogSure="onAddAnalysis"
    >
      <div slot="dialog-content" class="batch-add-content">
        <el-input type="textarea" :rows="6" placeholder="请输入内容" v-model="analysis"></el-input>
      </div>
    </Dialog>

    <el-dialog
      :visible="isShowSearch"
      :append-to-body="true"
      :title="searchTitle"
      @close="isShowSearch = false"
    >
      <div class="search">
        <el-select-tree
          class="category"
          width="200px"
          placeholder="请选择类别"
          checkStrictly
          :data="treeData"
          v-model="category"
          @change="handleSearch"
        ></el-select-tree>
        <el-input v-model="search" @input="handleSearch" placeholder="请输入">
          <el-button
            class="search-button"
            slot="append"
            icon="el-icon-search"
            @click="handleSearch"
          >搜索
          </el-button>
        </el-input>
      </div>
      <div class="search-list">
        <LabItem
          v-for="(item, index) in searchOptions.lab"
          :key="index"
          :libItem="item"
          @select="() => handleSelect(item)"
        />
      </div>
      <el-pagination
        small
        layout="prev, pager, next"
        :total="searchOptions.pagination.total"
        :current-page.sync="searchOptions.pagination.current"
        @current-change="handleSearch"
      ></el-pagination>
    </el-dialog>
  </div>
</template>

<script>
    import ElSelectTree from 'el-select-tree'
    import Multiple from '@/components/question/multiple'
    import Single from '@/components/question/single'
    import Text from '@/components/question/answer'
    import Blanks from '@/components/question/gap-fill'
    import Dialog from '@/components/pubilc/dialog'
    import LabItem from './LabItem'
    import debounce from 'lodash.debounce'

    const originItem = {
        type: 'Single',
        content: {
            page: 1,
            type: 'Single',
            points: '5',
            content: '',
            label: '',
            answer: '',
            questionNo: 1,
            options: [
                {
                    key: 'A',
                    content: '',
                },
                {
                    key: 'B',
                    content: '',
                },
                {
                    key: 'C',
                    content: '',
                },
                {
                    key: 'D',
                    content: '',
                },
            ],
            analysis: '',
        },
    }

    export default {
        components: {Dialog, LabItem, ElSelectTree},
        props: {
            id: {
                type: String,
                default: '',
            },
            query: {
                type: Object,
                default() {
                    return {}
                },
            },
            page: {
                type: Number,
                default: 0,
            },
            getQuestionNo: {
                type: Function,
                default() {
                },
            },
            originItem: {
                type: Object,
                default() {
                    return originItem
                },
            },
        },
        data() {
            return {
                search: '',
                searchOptions: {
                    pagination: {
                        current: 1,
                        pageSize: 10,
                        total: 0,
                    },
                    lab: [],
                },
                isShowSearch: false,
                isShowModal: false,
                item: this.setupItem(),
                itemResult: {...this.item},
                labelList: [],
                isShowAnalysis: false,
                analysis: '',
                category: '',
                treeData: [],
            }
        },
        computed: {
            searchTitle() {
                return '搜索题目'
            },
            currentComponent() {
                return {Single, Multiple, Text, Blanks}[this.item.type]
            },
            isEditMode() {
                return this.id
            },
        },
        mounted() {
            this.handleQueryQuestionCategory()
            this.$nextTick(() => {
                this.isShowModal = true
            })
        },
        methods: {
            async handleQueryQuestionCategory() {
                const {data} = await this.$api.QuestionCategory.query_list()
                this.treeData = this.handleCategory(data)
            },
            handleCategory(list = []) {
                return list.map((x) => {
                    const children = x.children || []
                    return {
                        value: x._id,
                        label: x.title,
                        children: x.children && this.handleCategory(x.children),
                    }
                })
            },
            handleSelect(item) {
                const answer = item.type === 'Multiple' ? [] : ''
                const analysis = item.analysis.map((x) => x.content).join(' ')
                this.item = {
                    type: item.type,
                    content: {
                        test: this.query.id,
                        page: 1,
                        questionNo: 1,
                        content: item.content,
                        type: item.type,
                        points: 5,
                        answer,
                        options: item.options,
                        attachments: item.attachments,
                        label: item.labels.join(''),
                        analysis: analysis,
                    },
                }
                this.analysis = analysis
                this.isShowSearch = false
            },
            handleOpenSearch() {
                this.isShowSearch = true
                this.handleSearch()
            },
            handleSearch: debounce(function () {
                let params = {
                    current: this.searchOptions.pagination.current || 1,
                    pageSize: this.searchOptions.pagination.pageSize,
                    where: JSON.stringify({
                        key: this.search || undefined,
                        category: this.category || null,
                    }),
                }
                this.$api.Lab.questionBank(params).then((res) => {
                    if (res.code == 200) {
                        this.searchOptions.pagination.current = res.data.pagination.current
                        this.searchOptions.pagination.total = res.data.pagination.total
                        this.searchOptions.lab = res.data.list
                    }
                })
            }, 500),
            setupItem() {
                const item = JSON.parse(JSON.stringify(this.originItem))
                if (!this.id) {
                    if (item.type === 'Multiple') {
                        item.content.answer = []
                    } else {
                        item.content.answer = ''
                    }
                }
                return item
            },

            async createQuestion() {
                const answer = (this.itemResult.content.answer || '').toString()
                if (this.isEditMode) {
                    await this.$api.Test.edit_test_question(this.id, {
                        test: this.query.id,
                        page: this.itemResult.content.page,
                        questionNo: this.getQuestionNo(),
                        content: this.itemResult.content.content,
                        type: this.itemResult.content.type,
                        points: this.itemResult.content.points,
                        answer,
                        options: this.itemResult.content.options,
                        attachments: this.itemResult.content.attachments,
                        label: this.itemResult.content.label,
                        analysis: this.analysis || this.itemResult.content.analysis,
                    })
                } else {
                    await this.$api.Test.create_test_question({
                        test: this.query.id,
                        page: this.page,
                        questionNo: this.getQuestionNo(),
                        content: this.itemResult.content.content,
                        type: this.itemResult.content.type,
                        points: this.itemResult.content.points,
                        answer,
                        options: this.itemResult.content.options,
                        attachments: this.itemResult.content.attachments,
                        label: this.itemResult.content.label,
                        analysis: this.analysis,
                    })
                }
                this.$emit('done')
            },
            deleteQuestion() {
                if (this.id) {
                    this.$emit('delete', this.originItem.content)
                }
                this.$emit('close')
            },
            changePage(index) {
                // console.log('todo', index)
            },
            initLabelColor() {
                // console.log('todo')
            },
            clickEdit() {
                // console.log('todo')
            },
            editIndex() {
                // console.log('todo')
            },
            analysisAddFn() {
                this.onOpenAnalysis()
            },
            changeQuestionItemType({val: type}) {
                this.item.type = type
                this.item.content.type = type
                if (type === 'Multiple') {
                    this.item.content.answer = []
                } else {
                    this.item.content.answer = ''
                }
            },
            changeData(data, index) {
                this.itemResult = data
            },
            initLabelColor(label) {
                return this.labelList.indexOf(label) >= 0
                    ? this.labelList.indexOf(label)
                    : ''
            },
            onClose() {
                this.$emit('close')
            },
            onCloseAnalysis() {
                this.isShowAnalysis = false
                this.analysis = this.isEditMode ? this.originItem.content.analysis : ''
            },
            onOpenAnalysis() {
                this.analysis = this.isEditMode ? this.originItem.content.analysis : ''
                this.isShowAnalysis = true
            },
            onAddAnalysis() {
                this.isShowAnalysis = false
            },
        },
    }
</script>

<style lang="scss" scoped>
  .content {
    padding-top: 28px;
  }

  .search {
    display: flex;

    margin-bottom: 10px;

    /deep/ .el-input__inner {
      border-color: #daa3ad;
    }

    /deep/ .el-input-group__append,
    /deep/ .el-input-group__prepend {
      border-color: #daa3ad;
    }

    /deep/ .el-input-group__append button.el-button,
    /deep/ .el-input-group__append div.el-select .el-input__inner,
    /deep/ .el-input-group__append div.el-select:hover .el-input__inner,
    /deep/ .el-input-group__prepend button.el-button,
    /deep/ .el-input-group__prepend div.el-select .el-input__inner,
    /deep/ .el-input-group__prepend div.el-select:hover .el-input__inner {
      color: #a21832;
    }
  }

  .category {
    margin-right: 20px;
  }

  .search-button {
    padding-top: 8px;
    margin-top: -8px;
    color: #a21832;

    &:hover {
      background: #f6e8eb;
    }
  }

  .search-list {
    height: 500px;
    overflow-y: auto;
  }
</style>
