<template>
  <div>
    <div class="container">
      <el-form label-width="80px" class="form">
        <el-form-item label="选择班级">
          <el-button
            type="primary"
            plain
            size="small"
            style="width: 200px; text-overflow: ellipsis; overflow: hidden"
            @click="isShowSelectClassModal = true"
          >
            <span v-if="selectedClass">{{ selectedClass.name }}</span>
            <span v-else>选择班级</span>
          </el-button>
        </el-form-item>

        <el-form-item label="选择范围" v-if="selectedClass">
          <el-select
            :value="scope"
            @change="setTestScope"
            placeholder="请选择"
            style="width: 200px; "
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="签到地点" v-if="selectedClass">
          <el-button
            type="primary"
            plain
            size="small"
            style="width: 200px; text-overflow: ellipsis; overflow: hidden"
            @click="isShowSelectLocationModal = true"
          >
            选择地点
            <span v-if="selectedLocation && selectedLocation.address">
              [{{ selectedLocation.address }}]
            </span>
            <span v-if="selectedLocation && !selectedLocation.address">
              [{{ selectedLocation.lng }}, {{ selectedLocation.lat }}]
            </span>
          </el-button>
        </el-form-item>

        <el-form-item v-if="selectedClass && !qrcode">
          <el-button
            type="primary"
            plain
            size="small"
            @click="onCreateCode"
            style="width: 200px;"
          >
            生成二维码
          </el-button>
        </el-form-item>
      </el-form>

      <div class="checkin" v-if="qrcode" ref="checkin">
        <img :src="qrcode" alt class="qrcode" />
        <div class="present" v-if="isCheckinStarted">
          <RatioBar
            class="ratio-bar"
            :height="24"
            :width="400"
            :finished="presentProgress.present"
            :total="presentProgress.total"
            type="round"
          />
          <span class="present-number">
            {{ presentProgress.present }} / {{ presentProgress.total }}
          </span>
        </div>
        <el-row>
          <el-button
            v-if="!isCheckinStarted"
            plain
            type="primary"
            size="small"
            class="start-checkin"
            style="width: 200px;"
            @click="onCheckinStart"
          >
            开始考勤
          </el-button>
          <el-button
            v-else
            plain
            type="primary"
            size="small"
            class="close-checkin"
            style="width: 200px;"
            @click="onCheckinStop"
          >
            结束考勤
          </el-button>
        </el-row>
        <el-row>
          <el-button
            type="primary"
            plain
            size="small"
            style="width: 200px; margin-top: 24px"
            @click="onShowCourseware"
          >
            展示课件
          </el-button>
        </el-row>
      </div>

      <SelectClassModal
        :query="query"
        :visible="isShowSelectClassModal"
        @close="isShowSelectClassModal = false"
        @select="onSelectClass"
      />

      <SelectLocationMap
        :query="query"
        :visible="isShowSelectLocationModal"
        @close="isShowSelectLocationModal = false"
        @select="onSelectLocation"
      />
    </div>
  </div>
</template>

<script>
import DatePickerRange from '@/components/pubilc/date-picker-range'
import TimePicker from '@/components/pubilc/time-picker'
import RatioBar from '@/components/quiz/RatioBar'
import SelectClassModal from './SelectClassModal'
import SelectLocationMap from './SelectLocationMap'
import EventBus from '@/utils/eventVue'
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
  components: {
    DatePickerRange,
    TimePicker,
    SelectClassModal,
    SelectLocationMap,
    RatioBar,
  },
  props: {
    query: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      disabled: false,
      options: [
        {
          value: 50,
          label: '50米',
        },
        {
          value: 100,
          label: '100米',
        },
        {
          value: 200,
          label: '200米',
        },
        {
          value: 500,
          label: '500米',
        },
      ],
      isShowSelectClassModal: false,
      isShowSelectLocationModal: false,
      selectedClass: null,
    }
  },
  computed: {
    ...mapState('quiz', [
      'isCheckinStarted',
      'isCheckinStopped',
      'currentClass',
      'presentProgress',
    ]),
    qrcode() {
      return this.currentClass.qrcode
    },
    scope() {
      return this.currentClass.scope
    },
    selectedLocation() {
      return this.currentClass.location
    },
  },

  methods: {
    ...mapMutations('quiz', [
      'setTestClassQrcode',
      'setTestClassLocation',
      'setTestClassId',
      'setTestClassName',
      'setTestScope',
    ]),
    ...mapActions('quiz', [
      'startCheckin',
      'stopCheckin',
      'createTestClass',
      'queryTestClass',
    ]),

    onSelectClass(item) {
      this.isShowSelectClassModal = false
      this.selectedClass = item
      this.setTestClassId(this.selectedClass._id)
      this.setTestClassName(this.selectedClass.name)
      this.queryTestClass({
        test: this.query.id,
        classes: this.selectedClass._id,
      })
    },
    onSelectLocation(item) {
      this.isShowSelectLocationModal = false
      this.setTestClassLocation(item)
    },
    async onCreateCode() {
      if (!this.selectedLocation) {
        return this.$message.error('未选择位置')
      }
      if (!this.selectedClass) {
        return this.$message.error('未选择班级')
      }
      const location = {
        lng: this.selectedLocation.lng,
        lat: this.selectedLocation.lat,
      }
      await this.createTestClass({
        location,
        scope: this.scope,
        classes: this.selectedClass._id,
        test: this.query.id,
      })
    },
    onCheckinStart() {
      this.startCheckin()
      this.$refs.checkin.requestFullscreen()
    },
    onCheckinStop() {
      this.stopCheckin()
    },
    onShowCourseware() {
      EventBus.$emit('quiz:showCourseware')
    },
  },
}
</script>

<style lang="scss" scoped>
.qrcode {
  width: 200px;
  height: 200px;
  margin-bottom: 24px;
}
.present {
  position: relative;
}
.present-number {
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}
.ratio-bar {
  margin-top: 24px;
  margin-bottom: 24px;
}
.container {
  height: calc(100vh - 128px);
  padding: 15px;
  // background: #f4f6f8;
}
.checkin {
  margin: 0 auto;
  width: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:fullscreen {
    background: #f4f6f8;
  }
}
.form {
  transform: translateX(-80px);
  padding-top: 24px;
  margin: 0 auto;
  width: 200px;
}
</style>
