<template>
  <div class="courseware-image-component" :class="mode">
    <CoursewareImageTools v-if="showTools">
      <slot />
      <!-- <img class="courseware-img" :src="src" @click="$emit('clickCourseware')" /> -->
    </CoursewareImageTools>
    <slot v-else />

    <!-- <img v-else class="courseware-img" :src="src" @click="$emit('clickCourseware')" /> -->
  </div>
</template>

<script>
import CoursewareImageTools from './CoursewareImageTools'
export default {
  components: { CoursewareImageTools },
  props: {
    src: {
      type: String,
      default: '',
    },
    showTools: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.courseware-image-component {
  &.page {
    .content:fullscreen & {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.question {
    .content:fullscreen & {
      height: 100%;
    }
  }
}
.courseware-img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  object-fit: contain;
  width: 100%;
  .content:fullscreen & {
    height: 100%;
  }
}
</style>
