<template>
  <div class="coursewares-container">
    <div class="list">
      <div class="buttons">
        <UploadFile b="button" @uploadFile="uploadFileCallBack" :accept="accept">
          <el-button type="primary" plain size="small" style="width: 77px">添加文件</el-button>
        </UploadFile>
        <el-button
          type="primary"
          plain
          size="small"
          class="add-button"
          @click="() => openQuestionModal()"
        >添加问题</el-button>
      </div>
      <div class="title" :title="pptName">{{ pptName }}</div>
      <div class="items">
        <div
          v-for="(item, index) in list"
          :key="index"
          class="item"
          :class="{
            active: index === activeItemIndex,
            question: item.type === 'question',
          }"
          @click="activeItemIndex = index"
        >
          <span v-if="item.type === 'page'">第{{ getCoursewareIndex(item) }}页</span>
          <span v-else>第{{ getQuestionIndex(item) }}题</span>
          <span class="item-close" @click="() => onDelete(item)">
            <i class="el-icon-close"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="show" v-if="list.length">
      <div class="header">
        <div class="header-title" v-if="isShowCourseware">第{{ getCoursewareIndex(activeItem) }}页</div>
        <div class="header-title" v-else>第{{ getQuestionIndex(activeItem) }}题</div>
        <el-button type="primary" plain size="small" @click="onClickFullscreen">全屏展示</el-button>
        <el-button
          type="primary"
          size="small"
          v-if="!isShowCourseware"
          @click="onClickEditQuestion"
        >修改</el-button>
      </div>
      <div class="content-wrap">
        <div class="content" v-if="activeItem" ref="content">
          <div class="actions" :class="{ visible: !isShowCourseware }">
            <div class="next" @click="goToNext">下一页</div>
            <div class="prev" @click="goToPrev">上一页</div>
            <div class="question-actions" v-if="!isShowCourseware">
              <div
                class="action"
                v-if="!isAnswerStarted && !isAnswerStopped"
                @click="startAnswer"
              >开始答题</div>
              <div
                class="action"
                v-if="isAnswerStarted && !isAnswerStopped"
                @click="stopAnswer"
              >结束答题</div>

              <el-dialog
                title="没有选择班级"
                :visible.sync="isShowMissingClassModal"
                @close="isShowMissingClassModal = false"
              >
                <div slot="footer" class="dialog-footer">
                  <el-button type="primary" @click="isShowMissingClassModal = false">确 定</el-button>
                </div>
              </el-dialog>

              <el-dialog
                title="选择展示数量"
                :visible.sync="isShowBlankAnswerCountModal"
                @close="actualCloseQuestion"
              >
                <el-form :model="countForm">
                  <el-form-item label="数量">
                    <el-input v-model="countForm.count" type="number" autocomplete="off"></el-input>
                  </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                  <el-button type="primary" @click="actualCloseQuestion">确 定</el-button>
                </div>
              </el-dialog>
            </div>
            <div>
              <div class="action" v-if="!isShowTools" @click="isShowTools = true">打开绘图工具</div>
              <div class="action" v-else @click="isShowTools = false">关闭绘图工具</div>
            </div>
          </div>
          <CoursewareImage
            :showTools="isShowTools"
            :src="activeItem.content.url"
            :mode="isShowCourseware ? 'page' : 'question'"
            @clickCourseware="onClickCourseware"
          >
            <img
              v-if="isShowCourseware"
              class="courseware-img"
              :src="activeItem.content.url"
              @click="onClickCourseware"
            />
            <div v-else class="content-question">
              <component
                :is="questionComponent"
                :question="activeItem.content"
                :isShowAnswer="!isFullscreen || isAnswerStopped"
                :data="questionData"
              ></component>
            </div>
          </CoursewareImage>
          <div class="footer" v-if="!isShowCourseware && isAnswerStarted && isFullscreen">
            <span class="total">已完成答题人数</span>
            <span class="count">{{ questionProgress.finished }}/{{ questionProgress.total }}</span>
            <div class="progress">
              <RatioBar
                :height="isFullscreen ? 24 : 12"
                :width="0"
                :finished="questionProgress.finished"
                :total="questionProgress.total"
                type="round"
              />
            </div>
          </div>
          <div
            v-if="qrcode && (!isCheckinStopped || !isShowCourseware)"
            class="qrcode"
            :class="{ show: !isShowCourseware && !isFullscreen }"
          >
            <img :src="qrcode" class="qrcode-image" />
            <el-button
              v-if="!isCheckinStopped"
              type="primary"
              plain
              class="stop-checkin"
              @click="stopCheckin"
            >结束签到</el-button>
          </div>
        </div>
      </div>
    </div>

    <AddQuestionModal
      v-if="isShowQuestionModal"
      :id="questionOriginItem ? activeItem.content._id : ''"
      :page="currentCoursewareIndex"
      :query="query"
      :originItem="questionOriginItem"
      :getQuestionNo="getQuestionNo"
      @done="onAddQuestionModal"
      @close="onCloseQuestionModal"
      @delete="onDeleteQuestion"
    ></AddQuestionModal>
  </div>
</template>

<script>
import throttle from 'lodash.throttle'
import QuestionSingle from '@/components/quiz/QuestionSingle'
import QuestionMultiple from '@/components/quiz/QuestionMultiple'
import QuestionBlanks from '@/components/quiz/QuestionBlanks'
import QuestionText from '@/components/quiz/QuestionText'
import RatioBar from '@/components/quiz/RatioBar'
import AddQuestionModal from '@/components/quiz/AddQuestionModal'
import UploadFile from '@/components/pubilc/upload-file'
import Dialog from '@/components/pubilc/dialog'
import CoursewareImage from '@/components/quiz/CoursewareImage'
import config from '@/utils/config'
import toChineseNumber from '@/utils/toChineseNumber'
import EventBus from '@/utils/eventVue'
import { mapState, mapMutations, mapActions } from 'vuex'
import screenfull from 'screenfull'

export default {
  components: {
    QuestionSingle,
    QuestionBlanks,
    QuestionText,
    QuestionMultiple,
    RatioBar,
    UploadFile,
    AddQuestionModal,
    CoursewareImage,
    Dialog,
  },
  props: {
    query: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      isShowTools: false,
      isShowBlankAnswerCountModal: false,
      isShowMissingClassModal: false,
      accept: config.accept.office,
      type: 'shortAnswer',
      activeItemIndex: 0,
      isShowQuestionModal: false,
      questionOriginItem: null,
      isAnswerStarted: false,
      isAnswerStopped: false,
      isFullscreen: false,
      answeredList: [],
      countForm: {
        count: 5,
      },
    }
  },

  computed: {
    ...mapState('quiz', [
      'isCheckinStarted',
      'isCheckinStopped',
      'questionProgress',
      'questions',
      'pages',
      'pptName',
      'currentClass',
    ]),
    ...mapState('quiz', {
      qrcode: (state) => state.currentClass.qrcode,
    }),
    questionComponent() {
      const { content } = this.activeItem || {}
      const { type } = content || {}
      switch (type) {
        case 'Single':
          return QuestionSingle
        case 'Blanks':
          return QuestionBlanks
        case 'Text':
          return QuestionText
        case 'Multiple':
          return QuestionMultiple
        default:
          break
      }
    },
    activeItem() {
      return this.list[this.activeItemIndex]
    },
    activePage() {
      if (this.activeItem.type === 'page') {
        return this.activeItem.content
      } else {
        return this.pages.find(
          (page) => +this.activeItem.content.page === +page.page,
        )
      }
    },
    list() {
      return this.pages
        .map((page) => {
          const questions = this.questions
            .filter((question) => +question.page === +page.page)
            .map((question) => ({
              type: 'question',
              content: question,
            }))
          return [{ type: 'page', content: page }, ...questions]
        })
        .flat()
    },
    isShowCourseware() {
      return !!this.activeItem && this.activeItem.type === 'page'
    },
    currentCoursewareIndex() {
      const foundIndex = this.pages.findIndex(
        (x) => x._id === this.activePage._id,
      )
      return foundIndex + 1
    },
    questionData() {
      const { content } = this.activeItem || {}
      const { type } = content || {}
      switch (type) {
        case 'Text':
          return { countToShow: this.countForm.count }
        case 'Blanks':
        case 'Single':
        case 'Multiple':
        default:
          return {}
      }
    },
  },
  created() {
    this.queryTest(this.query.id)
    this.queryQuestions(this.query.id)
  },
  mounted() {
    if (screenfull.isEnabled) {
      screenfull.on('change', this.onFullscreenChange)
    }
    document.addEventListener('keydown', this.onKeydown)
    EventBus.$on('quiz:showCourseware', this.onShowCourseware)
  },
  beforeDestroy() {
    if (screenfull.isEnabled) {
      screenfull.off('change', this.onFullscreenChange)
    }
    document.removeEventListener('keydown', this.onKeydown)
    EventBus.$off('quiz:showCourseware', this.onShowCourseware)
  },
  methods: {
    ...mapMutations('quiz', ['startCheckin', 'stopCheckin']),
    ...mapActions('quiz', [
      'startQuestion',
      'closeQuestion',
      'queryQuestions',
      'queryTest',
    ]),
    onClickCourseware() {
      if (this.isFullscreen) {
        this.goToNext()
      }
    },
    onFullscreenChange(event) {
      this.isFullscreen = screenfull.isFullscreen
      this.isShowTools = false
    },
    checkAnswered(item) {
      return !!this.answeredList.find((x) => item._id === x)
    },
    startAnswer() {
      if (this.currentClass.testClassId) {
        this.isAnswerStarted = true
        this.isAnswerStopped = false
        this.answeredList.push(this.activeItem.content._id)
        this.startQuestion(this.activeItem.content._id)
      } else {
        this.isShowMissingClassModal = true
      }
    },
    stopAnswer() {
      const { content } = this.activeItem || {}
      const { type } = content || {}
      if (type === 'Text') {
        this.isShowBlankAnswerCountModal = true
      } else {
        this.actualCloseQuestion()
      }
    },
    onKeydown(event) {
      if (event.keyCode === 40 || event.keyCode === 39) {
        this.goToNext()
      } else if (event.keyCode === 38 || event.keyCode === 37) {
        this.goToPrev()
      }
    },
    onWheel: throttle(
      function(event) {
        if (this.isFullscreen) {
          if (event.deltaY > 0) {
            this.goToNext()
          } else if (event.deltaY < 0) {
            this.goToPrev()
          }
        }
      },
      500,
      { trailing: false },
    ),
    goToNext() {
      this.activeItemIndex = Math.min(
        this.list.length - 1,
        this.activeItemIndex + 1,
      )
      this.isAnswerStarted = false
      this.isAnswerStopped = false
    },
    goToPrev() {
      this.activeItemIndex = Math.max(0, this.activeItemIndex - 1)
      this.isAnswerStarted = false
      this.isAnswerStopped = false
    },
    onUpload() {
      console.log('upload')
    },
    async uploadFileCallBack(val) {
      const url = val.url.split('?')[0].replace('http://', 'https://')
      const name = val.name
      await this.$api.Test.scan_test(this.query.id, { name, url })
      this.queryTest(this.query.id)
      this.queryQuestions(this.query.id)
    },
    toChineseNumber(number) {
      return toChineseNumber(number)
    },
    onDelete(item) {
      if (item.type === 'question') {
        this.onDeleteQuestion(item.content)
      } else {
        this.onDeletePage(item.content)
      }
    },
    onDeletePage(content) {
      this.$confirm('此操作将永久删除该页, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(async () => {
          const pages = this.pages.filter((x) => x._id !== content._id)
          const id = this.query.id
          const params = { pages }
          await this.$api.Test.edit_test(id, params)
          this.queryTest(this.query.id)
        })
        .catch()
    },
    onDeleteQuestion(content) {
      this.$confirm('此操作将永久删除该题目, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(async () => {
          await this.$api.Test.del_test_question(content._id)
          await this.queryQuestions(this.query.id)
          this.activeItemIndex = Math.min(
            Math.max(this.activeItemIndex - 1, 0),
            this.list.length - 1,
          )
        })
        .catch()
    },
    onAddQuestionModal() {
      this.isShowQuestionModal = false
      this.queryQuestions(this.query.id)
    },
    onCloseQuestionModal() {
      this.isShowQuestionModal = false
    },
    onClickEditQuestion() {
      const { content } = this.activeItem
      const item = { type: content.type, content }
      this.openQuestionModal(item)
    },
    onClickFullscreen() {
      if (screenfull.isEnabled) {
        screenfull.request(this.$refs.content)
      } else {
        this.$message.error('不支持最大化展示')
      }
    },
    onShowCourseware() {
      this.onClickFullscreen()
      this.activeItemIndex = 0
    },
    openQuestionModal(item) {
      this.isShowQuestionModal = true
      this.questionOriginItem = item
    },
    getQuestionNo() {
      if (!this.questionOriginItem) {
        const max = Math.max(...this.questions.map((x) => x.questionNo), 0)
        return max + 1
      } else {
        return this.activeItem.content.questionNo
      }
    },
    getCoursewareIndex(item) {
      const index = this.pages.findIndex((x) => x._id === item.content._id)
      return toChineseNumber(index + 1)
    },
    getQuestionIndex(item) {
      const index = this.questions
        .filter((x) => this.pages.find((page) => +page.page === +x.page))
        .findIndex((x) => x._id === item.content._id)
      return toChineseNumber(index + 1)
    },
    actualCloseQuestion() {
      this.isShowBlankAnswerCountModal = false
      this.isAnswerStarted = false
      this.isAnswerStopped = true
      this.closeQuestion(this.activeItem.content._id)
    },
  },
}
</script>

<style lang="scss" scoped>
.coursewares-container {
  display: flex;
  height: 100%;
  // height: calc(100vh - 128px);
}
.list {
  width: 194px;
  padding-top: 15px;
  border-right: 1px solid #dde4ed;
}
.add-button {
  width: 77px;
  margin-left: 8px;
}
.buttons {
  padding: 0 0 16px 16px;
  display: flex;
}
.show {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 18px;
  font-weight: 600;
  font-size: 14px;
  color: #262626;
  line-height: 18px;
  margin-bottom: 25px;
  padding-left: 16px;
}
.items {
  padding-left: 16px;
  height: calc(100% - 92px);
  overflow-y: auto;
}
.item {
  cursor: pointer;
  font-size: 14px;
  color: #262626;
  line-height: 18px;
  padding: 8px 0 8px 16px;
  position: relative;
  &:hover,
  &.active {
    background: #f5e7ea;
    border-radius: 4px 0 0 4px;
    font-weight: 600;
    font-size: 14px;
    color: #a21832;
    line-height: 18px;
  }
}
.item-close {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  .item:hover &,
  .item.active & {
    display: block;
  }
}
.header {
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 50px;
}
.header-title {
  font-weight: 600;
  flex: 1;
}
.content-wrap {
  padding: 12px 0 0 12px;
  background: #f4f6f8;
  flex: 1;
  overflow-y: auto;
}
.content {
  height: 100%;
  position: relative;
  overflow: auto;
  &:fullscreen {
    background: #f4f6f8;
  }
}
.content-question {
  padding-bottom: 40px;
  :fullscreen & {
    padding-bottom: 110px;
    width: calc(100vw - 10px);
    min-height: 100vh;
  }
}
@keyframes hide-actions {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.actions {
  display: none;
  transition: opacity 0.3s ease-in-out;
  .content:fullscreen & {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 40px;
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(229, 23, 107, 0.9);
    animation: hide-actions 0.3s ease-in-out;
    opacity: 0;
    @media (hover: none) {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover,
    &.visible {
      .content:fullscreen & {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }
    }
  }
}
.prev {
  line-height: 40px;
  color: white;
  padding: 0 10px;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}
.next {
  line-height: 40px;
  color: white;
  padding: 0 10px;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}
.action {
  line-height: 40px;
  color: white;
  padding: 0 10px;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}
.footer {
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 44px;
  flex-shrink: 0;
  bottom: -12px;
  left: 0;
  right: 0;
  background: #ffffff;
  position: absolute;
  .content:fullscreen & {
    bottom: 40px;
    position: fixed;
    padding: 0 32px;
    height: 88px;
  }
}
.total {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-right: 54px;
  .content:fullscreen & {
    font-size: 28px;
  }
}
.count {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-right: 8px;
  .content:fullscreen & {
    font-size: 28px;
    margin-right: 16px;
  }
}
.progress {
  flex: 1;
}
.qrcode {
  display: none;
  &.show {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .content:fullscreen & {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
}
.qrcode-image {
  width: 95px;
  height: 95px;
  .content:fullscreen & {
    width: 190px;
    height: 190px;
  }
}
.stop-checkin {
  position: absolute;
  right: 0;
  top: 95px;
  width: 95px;
  opacity: 0;
  .qrcode:hover & {
    opacity: 1;
  }
  .content:fullscreen & {
    top: 190px;
    width: 190px;
  }
}
.courseware-img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  object-fit: contain;
  width: 100%;
  .content:fullscreen & {
    height: 100%;
    max-height: 100vh;
  }
}
</style>
