<template>
  <div class="lab-item">
    <div class="lab-item-top">
      <span class="lab-item-top-item" v-for="(item, index) in libItem.labels" :key="index">
        <el-tag>{{ item }}</el-tag>
      </span>
    </div>
    <el-row class="lab-item-content">
      <el-col :span="18" class="lab-item-content-question">
        <p class="lab-item-content-title">{{ libItem.content }}</p>
        <div v-if="libItem.options && libItem.options.length > 0">
          <el-row class="options-item" v-for="(item, index) in libItem.options" :key="index">
            <p>{{ item.key }}:</p>
            <p>{{ item.content }}</p>
          </el-row>
        </div>
      </el-col>
      <el-col :span="1" class="lab-item-content-line"></el-col>
      <el-col :span="5" class="lab-item-content-source">
        <p class="lab-item-content-source-title">来源</p>
        <p>{{ libItem.source }}</p>
        <p class="analysis">
          <span>是否有解析</span>
          <span v-if="libItem.analysis.length > 0" class="el-icon-success has-analysis"></span>
          <span v-else class="el-icon-remove has-no-analysis"></span>
        </p>
      </el-col>
    </el-row>
    <div class="lab-item-bottom">
      <div></div>
      <el-button slot="append" type="primary" plain @click="$emit('select')">引用</el-button>
    </div>
  </div>
</template>
<script>
export default {
  props: ['libItem'],
  data() {
    return {}
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.lab-item {
  padding: 15px;
  background: $--white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.lab-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lab-item-content {
  padding: 10px 0;
  display: flex;
  font-size: 12px;
  .lab-item-content-line {
    position: relative;
    padding: 0 10px;
    &::before {
      content: '';
      width: 2px;
      background: $--border-2;
      position: absolute;
      height: 100%;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .lab-item-content-question-title {
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 5px;
  }
  .lab-item-content-source-title {
    font-size: 14px;
    font-weight: 550;
    padding-bottom: 5px;
  }
}
.lab-item-content-question {
  transition: all 0.3s;
  border-radius: 4px;
  padding: 5px;
}
.analysis {
  padding-top: 10px;
  font-weight: 550;
  .has-analysis {
    color: $--green;
    font-size: 14px;
  }
  .has-no-analysis {
    color: $--default;
    font-size: 14px;
  }
}
.lab-item-top-item {
  margin-right: 10px;
}
.options-item {
  display: flex;
  justify-content: start;
  padding-left: 20px;
  p {
    margin-bottom: 10px;
  }
}
.lab-item-content-title {
  margin-bottom: 10px;
}
</style>
