<template>
  <div class="question-ratio-bar">
    <div class="ratio-bar">
      <RatioBar :finished="finished" :total="total" />
    </div>
    <div class="ratio">{{ ratio }}%</div>
  </div>
</template>

<script>
import RatioBar from '@/components/quiz/RatioBar'

export default {
  components: { RatioBar },
  props: {
    finished: {
      type: Number,
      default: '',
    },
    total: {
      type: Number,
      default: '',
    },
  },
  computed: {
    ratio(key) {
      const count = this.finished
      const ratio = (count / this.total) * 100
      return Math.round(ratio * 10) / 10 || 0
    },
  },
}
</script>

<style lang="scss" scoped>
.question-ratio-bar {
  display: flex;
}
.ratio {
  width: 50px;
  line-height: 24px;
  display: flex;
  align-items: center;
  :fullscreen & {
    width: 100px;
    line-height: 48px;
  }
}
.ratio-bar {
  margin-right: 12px;
  display: flex;
  align-items: center;
  :fullscreen & {
    transform: scaleY(2);
  }
  margin-left: 10px;
}
</style>
