<template>
  <div>
    <div class="answer">
      <div class="answer-title">正确答案</div>
      <div class="answer-text">{{ text }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: [String, Array],
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.answer {
  word-break: break-word;
  background: #ffffff;
  padding: 16px;
  margin-bottom: 8px;
}
.answer-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
  :fullscreen & {
    font-size: 28px;
  }
}
.answer-text {
  font-size: 14px;
  color: #a21832;
  :fullscreen & {
    font-size: 28px;
  }
}
</style>
