<template>
  <div class="remark">
    <div class="remark-title">老师批注</div>
    <div class="remark-content">{{ text }}</div>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.remark {
  background: #ffffff;
  padding: 16px;
  margin-bottom: 8px;
}
.remark-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
  :fullscreen & {
    font-size: 28px;
  }
}
.remark-content {
  font-size: 14px;
  color: #191919;
  line-height: 1.75;
  word-break: break-word;
  :fullscreen & {
    font-size: 28px;
  }
}
</style>
