<template>
  <div>
    <div class="main">
      <div class="stem">{{ question.content }}</div>
      <QuestionAnswer v-if="isShowAnswer" :text="question.answer" />
      <div class="answers" v-if="isShowAnswer && questionRatio && questionRatio.length">
        <div class="answer-title">同学答案</div>
        <div class="answer" v-for="(stuAnswer, index) in questionRatio" :key="index">
          <div class="answer-text">{{stuAnswer.answer}}</div>
          <div class="thumb">
            <Icon name="ic_thumb" style="padding: 0" />
            <div class="thumb-count">{{stuAnswer.thumb}}</div>
          </div>
        </div>
      </div>
      <QuestionAnalysis v-if="isShowAnswer" :text="question.analysis" />
    </div>
  </div>
</template>

<script>
import Icon from '@/components/pubilc/icon'
import QuestionAnalysis from './QuestionAnalysis'
import QuestionAnswer from './QuestionAnswer'

export default {
  components: { Icon, QuestionAnalysis, QuestionAnswer },
  props: {
    question: {
      type: Object,
      default() {
        return {}
      },
    },
    isShowAnswer: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  computed: {
    questionRatio() {
      const answers = this.$store.state.quiz.questionRatio
      const entries = Object.entries(answers)
      return entries
        .map(([answer, thumb]) => ({ answer, thumb }))
        .sort((a, b) => b.thumb - a.thumb)
        .slice(0, this.countTowShow)
    },
    countTowShow() {
      return Number(this.data.countToShow) || 99999
    },
  },
}
</script>

<style lang="scss" scoped>
.stem {
  opacity: 0.9;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
  min-height: 120px;
  padding: 20px 110px 20px 16px;
  background: #ffffff;
  margin-bottom: 8px;
  word-break: break-word;
  :fullscreen & {
    font-size: 34px;
    min-height: 240px;
    padding-right: 220px;
  }
}
.answers {
  margin-bottom: 8px;
  background: #ffffff;
  padding: 16px 16px 0;
}
.answer {
  word-break: break-word;
  padding: 16px 0 16px 0;
  font-size: 14px;
  color: #191919;
  display: flex;
  align-content: center;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  padding-right: 30px;
  &:last-child {
    border-bottom: 0;
  }
  :fullscreen & {
    font-size: 28px;
  }
}
.answer-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: -4px;
  :fullscreen & {
    font-size: 28px;
  }
}
.answer-text {
  flex: 1;
  line-height: 24px;
  :fullscreen & {
    line-height: 48px;
  }
}
.thumb {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.thumb-count {
  opacity: 0.5;
  font-size: 14px;
  color: #000000;
}
.correct {
  background: #ffffff;
  padding: 16px;
  margin-bottom: 8px;
}
.correct-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
  :fullscreen & {
    font-size: 28px;
  }
}
.correct-text {
  font-size: 14px;
  color: #a21832;
  :fullscreen & {
    font-size: 28px;
  }
}
.ratio {
  line-height: 24px;
  :fullscreen & {
    line-height: 48px;
  }
}
.ratio-bar {
  margin-right: 12px;
}
</style>
