<template>
  <div>
    <div class="main">
      <div class="stem">{{ question.content }}</div>
      <div class="choices">
        <div class="choice" v-for="(option, index) in question.options" :key="index">
          <div class="choice-text">{{ option.key }}: {{ option.content }}</div>
          <QuestionRatioBar v-if="isShowAnswer" :finished="getCount(option.key)" :total="total" />
        </div>
      </div>
      <QuestionAnswer v-if="isShowAnswer" :text="question.answer" />
      <QuestionAnalysis v-if="isShowAnswer" :text="question.analysis" />
    </div>
  </div>
</template>

<script>
import RatioBar from '@/components/quiz/RatioBar'
import QuestionAnalysis from './QuestionAnalysis'
import QuestionAnswer from './QuestionAnswer'
import QuestionRatioBar from './QuestionRatioBar'

export default {
  components: { RatioBar, QuestionAnalysis, QuestionAnswer, QuestionRatioBar },
  props: {
    question: {
      type: Object,
      default() {
        return {}
      },
    },
    isShowAnswer: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    questionRatio() {
      return this.$store.state.quiz.questionRatio
    },
    total() {
      return Object.values(this.questionRatio).reduce((a, b) => a + b, 0) || 0
    },
  },
  methods: {
    getCount(key) {
      return this.questionRatio[key] || 0
    },
    getRatio(key) {
      const count = this.getCount(key)
      const ratio = (count / this.total) * 100
      return Math.round(ratio * 10) / 10 || 0
    },
  },
}
</script>

<style lang="scss" scoped>
.stem {
  opacity: 0.9;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
  min-height: 120px;
  padding: 20px 110px 20px 16px;
  background: #ffffff;
  word-break: break-word;
  :fullscreen & {
    font-size: 34px;
    min-height: 240px;
    padding-right: 220px;
  }
}
.choices {
  margin-bottom: 8px;
  background: #ffffff;
}
.choice {
  padding: 16px;
  font-size: 14px;
  color: #191919;
  display: flex;
  align-content: center;
  border-top: 1px solid #e5e5e5;
  word-break: break-word;
  :fullscreen & {
    font-size: 28px;
  }
}
.choice-text {
  flex: 1;
  line-height: 24px;
  :fullscreen & {
    line-height: 48px;
  }
}
.answer {
  word-break: break-word;
  background: #ffffff;
  padding: 16px;
  margin-bottom: 8px;
}
.answer-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
  :fullscreen & {
    font-size: 28px;
  }
}
.answer-text {
  font-size: 14px;
  color: #a21832;
  :fullscreen & {
    font-size: 28px;
  }
}
.remark {
  background: #ffffff;
  padding: 16px;
  margin-bottom: 8px;
}
.remark-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
  :fullscreen & {
    font-size: 28px;
  }
}
.remark-text {
  font-size: 14px;
  color: #191919;
  :fullscreen & {
    font-size: 28px;
  }
}
.ratio {
  width: 50px;
  line-height: 24px;
  display: flex;
  align-items: center;
  :fullscreen & {
    width: 100px;
    line-height: 48px;
  }
}
.ratio-bar {
  margin-right: 12px;
  display: flex;
  align-items: center;
  :fullscreen & {
    transform: scale(2) translate(-25%, 25%);
  }
  margin-left: 10px;
}
.remark-content {
  font-family: 'SF Pro Text', Helvetica, PingFang SC, Microsoft Yahei,
    sans-serif;
  font-size: 14px;
  color: #191919;
  line-height: 1.5;
  :fullscreen & {
    font-size: 28px;
  }
}
</style>
