<template>
  <div>
    <div class="total" :class="type" :style="totalStyle">
      <div class="taken" :style="takenStyle"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    finished: {
      type: Number,
      default: 0,
    },
    total: {
      type: Number,
      default: 100,
    },
    width: {
      type: Number,
      default: 303,
    },
    height: {
      type: Number,
      default: 24,
    },
    type: {
      type: String,
      default: '',
    },
  },
  computed: {
    ratio() {
      return (this.finished / this.total) * 100 || 0
    },
    totalStyle() {
      const width = this.width ? `${this.width}px` : 'auto'
      const borderRadius = this.type === 'round' ? `${this.height / 2}px` : '0'
      return {
        width,
        height: `${this.height}px`,
        borderRadius,
      }
    },
    takenStyle() {
      const borderRadius = this.type === 'round' ? `${this.height / 2}px` : '0'
      return {
        width: `${this.ratio}%`,
        borderRadius,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.total {
  background: rgba(162, 24, 50, 0.1);
}
.taken {
  background: rgba(162, 24, 50, 1);
  height: 100%;
  transition: width 0.3s ease-in-out;
}
</style>
