<template>
  <Dialog title="设置课堂满意度" :visible="isVisible" :close="close" @dialogSure="save()" width="600px">
    <template slot="dialog-content">
      <div class="content">
        <span class="performance-icon">
          <Icon name="ic_bad" style="padding: 0" />
        </span>
        <span class="less">&le;</span>
        <el-select class="input" v-model="value1" @change="handleNormalChange">
          <el-option
            v-for="(item) in Math.max(count, 0)"
            :key="item - 1"
            :value="item - 1"
          >{{ item - 1 }}</el-option>
        </el-select>
        <span class="less">&lt;</span>
        <span class="performance-icon">
          <Icon name="ic_general" style="padding: 0" />
        </span>
        <span class="less">&lt;</span>
        <el-select class="input" v-model="value2">
          <el-option
            v-for="(item, index) in count - value1"
            :key="index"
            :value="item + value1"
          >{{ item + value1 }}</el-option>
        </el-select>
        <span class="less">&le;</span>
        <span class="performance-icon">
          <Icon name="ic_good" style="padding: 0" />
        </span>
      </div>
    </template>
  </Dialog>
</template>

<script>
import Dialog from '@/components/pubilc/dialog'
import Icon from '@/components/pubilc/icon'
import { mapState } from 'vuex'

export default {
  components: { Dialog, Icon },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    count: {
      type: Number,
      default: 5,
    },
  },
  data() {
    return {
      isVisible: false,
      list: [],
      value1: 0,
      value2: 0,
    }
  },
  computed: {
    ...mapState('quiz', ['performance']),
  },
  mounted() {
    this.value1 = this.performance[0] || 0
    this.value2 = this.performance[1] || 0
  },
  methods: {
    handleNormalChange() {
      if (this.value2 <= this.value1) {
        this.value2 = this.value1 + 1
      }
    },
    close() {
      this.$emit('close')
    },
    save() {
      this.$emit('save', {
        goodThreshold: this.value2,
        normalThreshold: this.value1,
      })
      this.isVisible = false
    },
  },
  created() {},
  watch: {
    visible(newVal) {
      this.isVisible = newVal
    },
  },
}
</script>

<style lang="scss" scoped>
.less {
  margin: 0 5px;
}
.content {
  display: flex;
  align-items: center;
}
.input {
  display: inline-block;
  width: 100px;
}
.performance-icon {
  font-size: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0;
  color: #ff7b05;
}
</style>
