<template>
  <div>
    <div class="container">
      <div class="select">
        <el-button type="primary" plain size="small" @click="isShowSelectClassModal = true">
          <span v-if="selectedClass">{{ selectedClass.name }}</span>
          <span v-else>选择班级</span>
        </el-button>
      </div>

      <el-table border :data="tableData" style="width: auto" v-if="selectedClass">
        <el-table-column prop="name" label="学生姓名" width="120" fixed></el-table-column>
        <el-table-column prop="present" label="出勤情况" fixed></el-table-column>
        <el-table-column
          v-for="(item, key) in sortedQuestions"
          :key="key"
          :prop="key"
          :label="item"
          width="124"
        >
          <template slot-scope="{ row }">
            <el-popover
              placement="top"
              width="400"
              trigger="hover"
              :content="getAnswer(row[key])"
              :disabled="!getAnswer(row[key])"
            >
              <template slot="reference">
                <div v-if="row[key]">
                  <div v-if="row[key].isCorrectable" class="answer correct">
                    <span>{{ row[key].answer }}</span>
                    <Icon v-if="row[key].correct" name="ic_complete" style="padding: 0" />
                    <Icon v-else name="ic_wrong" style="padding: 0" />
                  </div>
                  <div v-else class="answer">{{ row[key].answer }}</div>
                </div>
              </template>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="performance" label="课堂满意度" width="104" fixed="right">
          <template slot-scope="{ row }">
            <span class="performance-icon" :class="{ active: checkPerformance(row, 'bad') }">
              <Icon name="ic_bad" style="padding: 0" />
            </span>
            <span class="performance-icon" :class="{ active: checkPerformance(row, 'normal') }">
              <Icon name="ic_general" style="padding: 0" />
            </span>
            <span class="performance-icon" :class="{ active: checkPerformance(row, 'good') }">
              <Icon name="ic_good" style="padding: 0" />
            </span>
          </template>

          <template slot="header">
            <div @click="onClickHeader">课堂满意度</div>
          </template>
        </el-table-column>
      </el-table>

      <el-row type="flex" align="right" v-if="selectedClass" class="export">
        <el-button @click="onExport">导出</el-button>
      </el-row>

      <SelectClassModal
        :query="query"
        :visible="isShowSelectClassModal"
        @close="isShowSelectClassModal = false"
        @select="onSelectClass"
      />

      <SatisfactionSettingModal
        :visible="isShowSatisfactionModal"
        :count="correctableCount"
        @close="isShowSatisfactionModal = false"
        @save="onSetSatisfaction"
      />
    </div>
  </div>
</template>

<script>
import SelectClassModal from './SelectClassModal'
import SatisfactionSettingModal from './SatisfactionSettingModal'
import Icon from '@/components/pubilc/icon'
import toChineseNumber from '@/utils/toChineseNumber'
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    SelectClassModal,
    SatisfactionSettingModal,
    Icon,
  },
  props: {
    query: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      isShowSelectClassModal: false,
      isShowSatisfactionModal: false,
      selectedClass: null,
      list: [],
    }
  },

  computed: {
    ...mapState('quiz', ['questions', 'pages', 'performance']),

    satisfactionSetting() {
      return {
        normalThreshold: this.performance[0] || 0,
        goodThreshold: this.performance[1] || 0,
      }
    },

    correctableCount() {
      return (
        Object.values(this.sortedQuestionDetails).reduce(
          (a, b) => (b.content.answer ? a + 1 : a),
          0,
        ) || 1
      )
    },

    tableData() {
      return this.list.map((item) => {
        const questions = item.stuQuestions || []
        const map = {}
        questions.forEach((question, index) => {
          if (question.question) {
            map[question.question._id] = {
              answer: question.answer,
              isCorrectable: !!question.question.answer,
              correct: question.question.answer === question.answer,
            }
          }
        })
        return {
          name: item.student.nickname,
          present: item.present ? '出勤' : '缺勤',
          ...map,
        }
      })
    },

    sortedQuestionDetails() {
      const map = {}
      this.pages
        .map((page) => {
          const questions = this.questions
            .filter((question) => +question.page === +page.page)
            .map((question) => ({
              type: 'question',
              content: question,
            }))
          return questions
        })
        .flat()
        .forEach((x, index) => {
          map[x.content._id] = x
        })
      return map
    },

    sortedQuestions() {
      const map = {}
      this.pages
        .map((page) => {
          const questions = this.questions
            .filter((question) => +question.page === +page.page)
            .map((question) => ({
              type: 'question',
              content: question,
            }))
          return questions
        })
        .flat()
        .forEach((x, index) => {
          const label = `第${toChineseNumber(index + 1)}题`
          map[x.content._id] = label
        })
      return map
    },
  },
  methods: {
    ...mapActions('quiz', ['setPerformance']),

    checkPerformance(row, level) {
      const { name, present, ...questions } = row
      const correctCount = Object.entries(questions).reduce((a, b) => {
        const [key, value] = b
        return value.isCorrectable && value.correct ? a + 1 : a
      }, 0)

      if (level === 'bad') {
        return correctCount <= this.satisfactionSetting.normalThreshold
      }

      if (level === 'normal') {
        return (
          correctCount > this.satisfactionSetting.normalThreshold &&
          correctCount < this.satisfactionSetting.goodThreshold
        )
      }

      if (level === 'good') {
        return correctCount >= this.satisfactionSetting.goodThreshold
      }
    },

    onClickHeader() {
      this.isShowSatisfactionModal = true
    },

    getAnswer(question) {
      return question ? question.answer : ''
    },

    async onSetSatisfaction({ goodThreshold, normalThreshold }) {
      this.isShowSatisfactionModal = false
      this.setPerformance({
        id: this.query.id,
        params: {
          performance: [normalThreshold, goodThreshold],
        },
      })
    },
    async onSelectClass(item) {
      this.isShowSelectClassModal = false
      this.selectedClass = item
      const result = await this.$api.Test.query_stutest({
        current: 1,
        pageSize: 99999,
        where: JSON.stringify({
          test: this.query.id,
          classes: this.selectedClass._id,
        }),
      })
      const { list } = result.data
      this.list = list
    },
    onExport() {
      import('@/utils/export2Excel').then((excel) => {
        const keys = Object.keys(this.sortedQuestions)
        const values = Object.values(this.sortedQuestions)
        const tHeader = ['学生姓名', '出勤情况', ...values, '课堂满意度']
        // const filterVal = ['name', 'present', ...keys, 'performance']
        const data = this.tableData.map((item) => {
          const { name, present, performance, ...remain } = item
          const answers = keys.map((x) => item[x] && item[x].answer)
          return [name, present, ...answers, performance]
        })
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: '成绩',
          autoWidth: true,
          bookType: 'xlsx',
        })
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.export {
  margin-top: 24px;
}
.container {
  padding: 24px;
}
.select {
  padding-bottom: 24px;
}
.performance-icon {
  font-size: 16px;
  margin-right: 12px;
  filter: grayscale(1);
  &:last-child {
    margin-right: 0;
  }
  &.active {
    color: #ff7b05;
    filter: grayscale(0);
  }
}
.answer {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &.correct {
    display: flex;
    justify-content: space-between;
  }
}
</style>
