<template>
  <Dialog title="选择班级" :visible="isVisible" :close="close" @dialogSure="save()" width="600px">
    <el-table :data="list" style="width: 100%" slot="dialog-content">
      <el-table-column prop="name" label="班级" align="left"></el-table-column>
      <el-table-column fixed="right" label="操作" width="100">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">选择</el-button>
        </template>
      </el-table-column>
    </el-table>
  </Dialog>
</template>

<script>
import Dialog from '@/components/pubilc/dialog'

export default {
  components: { Dialog },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    query: {
      type: Object,
      default() {},
    },
  },
  data() {
    return {
      isVisible: false,
      list: [],
    }
  },
  mounted() {
    this.getClass()
  },
  methods: {
    getClass() {
      this.loading = true

      let params = {
        current: 1,
        pageSize: 999999,
        where: JSON.stringify({
          course: this.query.course,
        }),
      }

      this.$api.Course.get_courseClass_list(params).then((resData) => {
        this.loading = false
        if (resData.code == 200) {
          this.list = resData.data.list
        }
      })
    },
    close() {
      this.$emit('close')
    },
    handleClick(item) {
      this.$emit('select', item)
    },
  },
  created() {
    this.isVisible = this.visible
  },
  watch: {
    visible(newVal) {
      this.isVisible = newVal
    },
  },
}
</script>

<style lang="scss" scoped>
.dialog-content-item {
  display: flex;
  margin-bottom: 16px;
  .label {
    min-width: 55px;
    line-height: 34px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
  }
}
</style>
