<template>
  <Dialog title="选择地址" :visible="isVisible" :close="close" @dialogSure="save()" width="600px">
    <template slot="dialog-content">
      <div class="amap-wrapper">
        <el-amap-search-box
          class="search-box"
          :search-option="searchOption"
          :on-search-result="onSearchResult"
        ></el-amap-search-box>

        <!-- <el-amap vid="amap" :plugin="plugin" class="amap-demo" :center="center" :zoom="zoom"></el-amap> -->
        <!-- <el-amap class="amap-box" :vid="'amap-vue'"></el-amap> -->
        <el-amap
          class="amap-box"
          :vid="'amap-vue'"
          :amap-manager="amapManager"
          :center="center"
          :zoom="zoom"
          :plugin="plugin"
        ></el-amap>
        <img src="@/assets/images/mark_bs.png" class="center" alt />
      </div>
    </template>
  </Dialog>
</template>

<script>
import Dialog from '@/components/pubilc/dialog'
import { AMapManager } from 'vue-amap'
let amapManager = new AMapManager()

export default {
  components: { Dialog },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    query: {
      type: Object,
      default() {},
    },
  },
  data() {
    let self = this
    return {
      isVisible: false,
      zoom: 16,
      lng: 0,
      lat: 0,
      info: '',
      amapManager,
      searchOption: {
        citylimit: false,
      },
      center: [121.59996, 31.197646],
      plugin: [
        'ToolBar',
        {
          pName: 'Geolocation',
          events: {
            init(o) {
              // o 是高德地图定位插件实例
              o.getCurrentPosition((status, result) => {
                if (result && result.position) {
                  self.lng = result.position.lng
                  self.lat = result.position.lat
                  self.center = [self.lng, self.lat]
                  self.loaded = true
                  self.$nextTick()
                }
              })
            },
          },
        },
      ],
    }
  },
  mounted() {
    this.initialMap()
  },
  methods: {
    onSearchResult(pois) {
      let latSum = 0
      let lngSum = 0
      if (pois.length > 0) {
        pois.forEach((poi) => {
          let { lng, lat } = poi
          lngSum += lng
          latSum += lat
        })
        let center = {
          lng: lngSum / pois.length,
          lat: latSum / pois.length,
        }
        this.center = [center.lng, center.lat]
      }
    },
    initialMap() {
      // const AMap = (this.AMap = window.AMap)
      // const map = new AMap.Map('amap-container', {
      //   resizeEnable: true,
      //   center: this.center,
      //   zoom: this.zoom,
      // })
      // map.on('moveend', this.onMoveEndMap)
      // map.on('click', this.onClickMap)
      // map.on('dragend', this.onDragEndMap)
      // map.on('zoomchange', this.onZoomChange)
      // map.plugin('AMap.Geolocation', () => {
      //   const geolocation = new AMap.Geolocation({
      //     showButton: false,
      //     panToLocation: false,
      //   })
      //   map.addControl(geolocation)
      //   geolocation.getCurrentPosition()
      //   AMap.event.addListener(geolocation, 'complete', (data) => {
      //     if (data.info === 'SUCCESS') {
      //       // this.selfLocation = {
      //       //   latitude: data.position.lat,
      //       //   longitude: data.position.lng,
      //       // }
      //       const cneter = [data.position.lat, data.position.lng]
      //       map.setCenter(data.position)
      //     }
      //   })
      //   AMap.event.addListener(geolocation, 'error', () => {})
      // })
      // this.map = map
    },
    close() {
      this.$emit('close')
    },
    save() {
      var geocoder = new AMap.Geocoder()
      const item = amapManager._map.getCenter()
      geocoder.getAddress([item.lng, item.lat], (status, result) => {
        if (status === 'complete') {
          this.$emit('select', {
            address: result.regeocode.formattedAddress,
            lng: item.lng,
            lat: item.lat,
          })
        } else {
          this.$emit('select', {
            lng: item.lng,
            lat: item.lat,
          })
        }
      })
    },
  },
  created() {
    this.isVisible = this.visible
  },
  watch: {
    visible(newVal) {
      this.isVisible = newVal
    },
  },
}
</script>

<style lang="scss" scoped>
.amap-wrapper {
  width: 500px;
  height: 500px;
  position: relative;
}

.search-box {
  position: absolute;
  top: 25px;
  right: 20px;
}

.amap-page-container {
  position: relative;
}

.center {
  width: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
</style>
