<template>
    <el-row class="draw-content" ref="drawContent">
        <el-col ref="drawContentInner" class="draw-content-inner" :span="18">
            <div id="drawDownload">
                <div id="canvasImg" :style="{height: imgStyle.height + 10 + 'px'}"></div>
                <svg 
                    :style="{cursor: cursor, height: imgStyle.height + 10 + 'px'}" 
                    ref="svgMyDraw" 
                    id="svgMyDraw" 
                    @mousedown="mousedown" 
                    @mousemove="mousemove" 
                    @mouseup="mouseup" 
                    @click="clickDraw"
                    version="1.1" 
                    xmlns="http://www.w3.org/2000/svg"></svg>
                <div class="border-contriner" ref="borderContriner"></div>
                <div class="border-contriner draw-dialog" ref="drawContentDialog">
                    <span 
                        class="el-icon-location"
                        :class="activePointDialog == item.id ? 'activePoint' : ''"
                        v-for="(item, index) in pointList" 
                        :key="index" 
                        :style="{top: `${item.style.top}px`, left: `${item.style.left}px`, color: item.style.color}" 
                        :id="item.id"
                        @click="clickPointDialog($event, item)"
                        @mousedown="clickPointmouseDown($event, item)">
                        <span v-if="activePointDialog == item.id" class="point-line activePointLine" :style="{width: getPointLineWidth(item)}"></span>
                        </span>
                </div>
                <div class="border-contriner draw-dialog" ref="drawContentText">
                    <span
                        class="text-add"
                        v-for="(item, index) in textList" 
                        :key="index" 
                        :style="{top: item.style.top, left: item.style.left, color: item.style.color}" 
                        :id="item.id"
                        @click="clickTextDetails($event, item)">{{ item.content }}</span>
                </div>
                <div class="delete-path" 
                    v-if="showDelete.showDelete"
                    :style="{left: `${showDelete.left}px`, top: `${showDelete.top + 20}px`}" 
                    @click="deletePathFn">
                    删除
                </div>
            </div>
        </el-col>
        <el-col :span="6" class="draw-content-dialog">
            <div :ref="item.id" 
                class="draw-dialog-content"
                :class="activePointDialog == item.id ? 'activeDialog': ''"
                v-for="(item, index) in pointList"
                :key="index" 
                :style="{
                    top: `${item.style.top}px`, 
                    'border-color': item.style.color, 
                    'z-index': activePointDialog == item.id ? 99999: 0,
                    'box-shadow-color': item.style.color,
                    'width': activePointDialog == item.id ? '240px': '16px'}"
                @click="clickPointDialog($event, item)">
                <div v-if="activePointDialog == item.id" >
                    <el-input v-model="item.dialogContent.content" placeholder="请输入内容"></el-input>
                </div>
                <el-tooltip v-else class="item" :content="item.dialogContent.content" placement="top" effect="light">
                    <div>
                        <span class="el-icon-s-unfold"></span>
                    </div>
                </el-tooltip>
            </div>
        </el-col>
    </el-row>
</template>
<script>
import Config from '../../utils/config'
import Svg from 'svgjs'
import utils from '../../utils/index'
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
export default {
    data(){
        return {
            colorList: Config.labelColors,
            currentColor: '0',
            showTool: false,
            toolType: '',
            path: '',
            currentTool: 1,
            showDelete: {
                showDelete: false,
                top: 0,
                left: 0,
                deletePathId: '',
                type: ''
            },
            cursor: 'default',
            tools: [
                {
                    icon: 'el-icon-download',
                    type: 'downLoadImg'
                },
                {
                    icon: 'el-icon-top-left'
                },
                {
                    icon: 'el-icon-location',
                    type: 'tag'
                },
                {
                    icon: 'el-icon-tickets',
                    type: 'text'
                },
                // {
                //     icon: 'el-icon-chat-dot-square'
                // },
                {
                    icon: 'el-icon-edit',
                    type: 'mapmaker'
                },
                // {
                //     icon: 'el-icon-download'
                // },

            ],
            lineWidth: {
                list: [
                    {
                        width: '3',
                    },
                    {
                        width: '5',
                    },
                    {
                        width: '7',
                    },
                ],
                currentWidth: '0',
                currentWidthData: '3'
            },
            pointList: [],
            textList: [],
            drawData: {
                pathArray: '',
                path: '',
                drowFlag: false,
                color: '#A21832',
                lineWidth: '3'
            },
            activePointDialog: '',
            addText: {
                content: '',
                top: 0,
                left: 0,
                deletePathId: '',
                type: '',
                showAddText: false
            },
            addTextData: {},
            hiddenTextAddFlag: false,
            currentAddText: '',
            movePointFlag: false,
            ctx: null,
            imgStyle: {
                width: 0,
                height: 0
            },
            vesselWidth: 0,
            dataList: [
                {
                    name: '作业列表',
                    urls: [
                        'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584545075374&di=227ae1924b47f95213875204f49c7ad3&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201706%2F17%2F20170617202755_vasTA.thumb.700_0.jpeg'
                    ]
                },
                {
                    name: '作业列表',
                    urls: [
                        'http://a0.att.hudong.com/78/52/01200000123847134434529793168.jpg',
                        'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584545075374&di=227ae1924b47f95213875204f49c7ad3&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201706%2F17%2F20170617202755_vasTA.thumb.700_0.jpeg'
                    ]
                },
                {
                    name: '作业列表',
                    urls: [
                        'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584545075374&di=227ae1924b47f95213875204f49c7ad3&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201706%2F17%2F20170617202755_vasTA.thumb.700_0.jpeg'
                    ]
                },
            ],
            activeData: {
                index: '0',
                data: []
            }
        }
    },
    methods: {
        downLoadImg(){
            let canvasImg = document.getElementById("canvasImg")
            html2canvas(canvasImg, {
                useCORS: true,
                allowTaint: true,
                taintTest: false,
            }).then(canvas => {
                let url = canvas.toDataURL()
                let link = document.createElement('a');
                link.href = canvas.toDataURL();
                link.setAttribute('download', '数据报告.png');
                link.style.display = 'none';
                link.id = utils.randomString(12)
                link.click()
                // let doc = new jsPDF("", "pt", "a4");
                // doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 210, 297);
                // doc.save(this.title + '数据分析报告.pdf');
            })
        },
        drawCanvas(img){
            let canvas = document.getElementById("canvasImg")
            canvas.appendChild(img)
        },
        getImage(){
            document.getElementById("canvasImg").innerHTML = ''
            this.imgStyle.height = 0
            this.vesselWidth = this.$refs.drawContentInner.$el.offsetWidth
            let self = this
            let imgArr = []
            this.activeData.data.urls.map(item => {
                let img = new Image()
                img.src = item
                img.onload = function(){
                    self.imgStyle.height += img.height
                    self.drawCanvas(img)
                }
            })
            
        },
        formatImgStyle(img){
            let width = img.width
            let ratio = img.width / this.vesselWidth
            img.width = this.vesselWidth
            img.height = img.height * ratio
        },
        showDrawTool(type, index){
            this.currentTool = index
            this.toolType = type
            if(type == 'mapmaker' || type == 'tag' || type == 'text'){
                this.showTool = true
            }else{
                this.showTool = false
            }
            if(this.toolType == 'downLoadImg'){
                this.downLoadImg()
            }
            this.showDelete.showDelete = false
            this.$refs.borderContriner.innerHTML = ''
            this.activePointDialog = ''
            this.currentAddText = ''
            this.addText.showAddText = false
        },
        initDrawTool(event){
            if(this.toolType == 'tag'){
                this.cursor = 'pointer'
                this.createPoint(event)
                return
            }else if(this.toolType == 'text'){
                this.createText(event)
            }
            this.cursor = 'default'
        },
        createText(event){
            this.addText.showAddText = true
            this.hiddenTextAddFlag = false
            this.currentAddText = ''
            this.addText.content = ''
            this.addText.top = event.clientY
            this.addText.left = event.clientX
            let textId = utils.randomString(12)
            this.addTextData = {
                style: {
                    top: event.offsetY + 'px',
                    left: event.offsetX + 'px',
                },
                id: textId,
            }
        },
        hiddenTextAdd(){
            if(this.currentAddText){
                this.textList = this.textList.filter(item => {
                    return item.id != this.currentAddText
                })
            }else{
                if(this.hiddenTextAddFlag){
                    this.textList.pop()
                }
            }
            this.addText.content = ''
            this.addText.showAddText = false
        },
        submitText(){
            if(!this.addText.content){
                this.hiddenTextAddFlag = false
                return
            }
            this.hiddenTextAddFlag = true
            if(this.currentAddText){
                this.changeCurrentText()
            }else{
                this.addTextData.content = this.addText.content
                this.addTextData.style.color = this.drawData.color
                this.textList.push(this.addTextData)
            }
            this.currentAddText = ''
            this.addText.content = ''
        },
        clickTextDetails(event, item){
            this.addText.showAddText = true
            this.addText.top = event.clientY
            this.addText.left = event.clientX
            this.addText.content = item.content
            this.currentAddText = item.id
            this.showDelete.showDelete = false
            this.showDelete.deletePathId = ''
            this.activePointDialog = ''
        },
        clickPointDialog(event, item){
            this.activePointDialog = item.id
            this.showDelete.showDelete = true
            this.showDelete.top = item.style.top
            this.showDelete.left = item.style.left
            this.showDelete.deletePathId = item.id
            this.showDelete.type = 'point'
            this.hiddenTextCommon()
        },
        clickPointmouseDown(event, item){
            // let self = this
            // let target = document.getElementById(item.id)
            // this.movePointFlag = true
            // console.log(event)
            // let clientX = event.clientX
            // let clientY = event.clientY
            // console.log(clientX, clientY)
            // target.onmousemove = function(event){
            //     if(self.movePointFlag){
            //         let mouseClientX = event.clientX
            //         let mouseClientY = event.clientY
    
            //         let moveClientX = clientX - mouseClientX
            //         let moveClientY = clientY - mouseClientY
            //         console.log(moveClientX, moveClientY)
            //         self.pointList = self.pointList.map(point => {
            //             if(point.id == item.id){
            //                 point.style.left = point.style.left - moveClientX
            //                 point.style.top = point.style.top - moveClientY
            //                 console.log(point.style.left, point.style.top)
            //             }
            //             return point
            //         })
            //     }

            //     console.log(event)
            // }
            // target.onmouseup = function(){
            //     this.movePointFlag = false
            // }
        },
        hiddenTextCommon(){
            this.hiddenTextAddFlag = false
            this.addText.showAddText = false
            this.currentAddText = ''
            this.addText.content = ''
        },
        createPoint(event){
            let offsetX = event.offsetX
            let offsetY = event.offsetY
            let spanId = utils.randomString(12)
            let spanData = {
                style: {
                    top: offsetY -17,
                    left: offsetX - 5,
                    color: this.drawData.color
                },
                defaultStyle: {
                    top: offsetY,
                    left: offsetX,
                },
                id: spanId,
                dialogContent: {
                    title: '',
                    content: ''
                }
            }
            this.pointList.push(spanData)
            this.activePointDialog = spanId
        },
        getPointLineWidth(item){
            this.vesselWidth = this.$refs.drawContentInner.$el.offsetWidth
            let width = this.vesselWidth - item.style.left
            return width + 'px'
        },
        selectLineWidth(index, item){
            this.lineWidth.currentWidth = index
            this.lineWidth.currentWidthData = item.width
        },
        selectColor(index, color){
            this.currentColor = index
            this.drawData.color = color
            if(this.currentAddText){
                this.changeCurrentText()
            }
        },
        changeCurrentText(){
            this.textList = this.textList.map(item => {
                if(item.id == this.currentAddText){
                    item.content = this.addText.content
                    item.style.color = this.drawData.color
                }
                return item
            })
        },
        deletePathFn(){
            let deletePathId = this.showDelete.deletePathId
            if(!deletePathId){
                return
            }
            let del = document.getElementById(deletePathId)
            let type = this.showDelete.type
            if(type == 'path'){
                del.parentNode.remove()
            }else if(type == 'point'){
                this.pointList = this.pointList.filter(item => {
                    return item.id != deletePathId
                })
            }
            this.showDelete.showDelete = false
            this.$refs.borderContriner.innerHTML = ""
        },
        clickDraw(event){
            this.initDrawTool(event)
        },
        mousedown(event){
            let self = this
            let targetId = event.target.id
            this.showDelete.showDelete = false
            this.$refs.borderContriner.innerHTML = ""
            if(targetId !== 'svgMyDraw' || this.toolType !== 'mapmaker'){
                return
            }
            let startLinex1 = event.offsetX;
            let startLiney1 = event.offsetY;
            let draw = Svg("svgMyDraw")
            let nested = draw.nested()
            this.drawData.pathArray = 'M ' + startLinex1 + ' ' + startLiney1 + ' '
            this.drawData.path = nested.path(this.drawData.pathArray)
            this.drawData.path.attr("style", "cursor: move; fill: none; stroke: "+ this.drawData.color +"; stroke-width: " + this.lineWidth.currentWidthData)
            this.drawData.path.stroke({ width: this.lineWidth.currentWidthData })
            this.drawData.drowFlag = true;
            this.drawData.path.click(function(event){
                self.showDelete.showDelete = true
                self.showDelete.top = this.y()
                self.showDelete.left = this.x()
                self.showDelete.deletePathId = this.node.id
                self.showDelete.type = 'path'
                let boundingClient = this.node.parentNode.getBoundingClientRect()
                let page = {}
                page.pageX = this.x();
                page.pageY = this.y();
                self.createBorder(boundingClient, page)
            })
        },
        createBorder(boundingClient, page){
            if(!boundingClient || !page){
                return
            }
            let width = boundingClient.width + 20
            let height = boundingClient.height + 20
            let top = page.pageY - 10
            let left = page.pageX - 10
            let div = document.createElement('div')
            div.style.width = width + 'px'
            div.style.height = height + 'px'
            div.style.top = top + 'px'
            div.style.left = left + 'px'
            div.style.position = 'absolute'
            div.style.border = '1px dashed #fff'
            let borderContriner = this.$refs.borderContriner
            borderContriner.innerHTML = ""
            borderContriner.appendChild(div)
        },
        mousemove(event){
            if(this.drawData.drowFlag && this.toolType == 'mapmaker'){
                let startLinex2 = event.offsetX;
                let startLiney2 = event.offsetY;
                this.drawData.pathArray += "C " + startLinex2 + " " + startLiney2 + ' ' + startLinex2 + " " + startLiney2 + ' ' + startLinex2 + " " + startLiney2 + ' '
                this.drawData.path.plot(this.drawData.pathArray)
            }
        },
        mouseup(e){
            this.drawData.drowFlag = false
        },
        changeDataList(item, index){
            this.activeData.index = index
            this.activeData.data = item
            this.getImage()
        },
        init(){
            this.dataList.map(item => {
                item.id = utils.randomString(18)
                return item
            })
            this.activeData.data = this.dataList[0]
            this.getImage()
        }
    },
    mounted(){
        let svgMyDraw = this.$refs.svgMyDraw
        this.init()
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.draw-tool{
    ul{
        display: flex;
        height: 40px;
        align-content: center;
        background-color: #556572;
        li{
            border-right: 1px solid $--border-2;
            display: flex;
            align-items: center;
            span{
                font-size: 26px;
                color: #fff;
            }
            padding: 0 20px;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                background-color: #9ea8af;
            }
        }
        .active{
            background-color: #9ea8af;
        }
    }
}
.drow-tool-inner{
    background-color: $--background-color-1;
    height: 40px;
    display: flex;
    align-items: center;
    li{
        padding: 0 5px;
        span{
            display: inline-block;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 3px solid $--background-color-1;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                border-color: #fff;
            }
        }
    }
    .active{
        span{
            border-color: #fff;
        }
    }
}
.tool-list{
    display: flex;
    background-color: $--background-color-1;
}
.line-width-out{
    position: relative;
    .line-width{
        position: absolute;
        display: inline-block;
        width: 5px;
        background-color: #000;
        height: 17px;
        left: 50%;
        transform: translateX(-50%)  rotate(30deg);
        border-radius: 0;
        border: none;
    }
}
.draw-content{
    height: 80vh;
    width: 100%;
    overflow: auto;
    .draw-content-inner{
        height: 100%;
        position: relative;
    }
    .draw-content-dialog{
        height: 100%;
        position: relative;
        padding: 0 20px;
        border: none;
        .draw-dialog-content{
            // height: 30px;
            border: 1px solid #ccc;
            position: absolute;
            width: 240px;
            background-color: #fff;
            padding: 10px;
            border-radius: 4px;
        }
        .activeDialog{
            box-shadow: 0px 0px 9px 4px #888;
        }
    }
    .border-contriner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
#svgMyDraw{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#canvasImg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: #ccc;
}
.delete-path{
    padding: 10px 20px;
    border: 1px solid $--border-1;
    position: absolute;
    cursor: pointer;
    background-color: $--white;
    border-radius: 5px;
    &:hover{
        background-color: $--background-color;
    }
}
.text-add-dialog{
    display: flex;
    align-items: center;
    span{
        font-size: 20px;
        padding-left: 10px;
        &:hover{
            color: red;
        }
    }
}
.draw-dialog{
    span{
        position: absolute;
        cursor: move;
        font-size: 26px;
        word-break: break-all;
    }
    .text-add{
        font-size: 14px;
    }
    .activePoint{
        border: 1px dashed #fff;
    }
    .point-line{
        display: inline-block;
        width: 300px;
        top: 0;
        height: 1px;
        border-top: 1px dashed #fff;
        // display: none;
    }
}
.correct-content-right{
    padding: 20px;
    ul>li{
        border-bottom: 1px solid #ccc;
        padding: 10px 5px;
        cursor: pointer;
        &:hover{
            background-color: #fff;
        }
    }
    .active{
        background-color: #fff;
        color: $--default;
    }
}
</style>