<template>
    <div>
        <slot />
        <transition name="fade">
            <div class="user-info-model" @click="hidden" v-if="visibleFlag">
                <UserInfo :user="getUser || user" :show="true"/>
            </div>
        </transition>
    </div>
</template>
<script>
import UserInfo from './user-info'
export default {
    props: ["user", "visible", "userId"],
    components: {
        UserInfo
    },
    data(){
        return {
            visibleFlag: false,
            getUser: null
        }
    },
    methods: {
        hidden($event){
            if($event.target.className == 'user-info-model'){
                this.$emit('update:visible', false)
            }
        },
        getUserInfo(){
            this.$api.Course.get_teacher_details(this.userId).then(res => {
                if(res.code == 200){
                    this.getUser = res.data ? res.data.teacher : null
                }
            })
        }
    },
    watch: {
        visible: {
            handler(newVal){
                this.visibleFlag = newVal
            },
            immediate: true
        },
        userId: {
            handler(newVal){
                if(newVal){
                    this.getUserInfo()
                }
            },
            immediate: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.user-info-model{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
</style>