<template>
    <el-col :span="5" class="account account-user">
        <div class="user-header">
            <img class="user-header-img" v-if="user.avatarUrl" :src="user.avatarUrl">
            <span v-else class="el-icon-user-solid user-icon"></span>
        </div>
        <div class="user-info">
            <p>{{ user.nickname || "" }}</p>
            <p>{{ teacherClass }}</p>
            <p>{{ user.identity }}</p>
            <el-button v-if="show" type="primary" @click="sendMessage">发送消息</el-button>
            <el-button v-else type="primary" @click="loginOut">退出登录</el-button>
        </div>
        <div class="about-me">
            <div class="opinion-title">
                关于我
            </div>
            <ul class="about-icon-list">
                <li>
                    <el-tooltip class="item" effect="light" :content="user.email" placement="top">
                        <div>
                            <span class="el-icon-message"></span>
                            <p>邮箱</p>
                        </div>
                    </el-tooltip>
                </li>
                <li>
                    <el-tooltip class="item" effect="light" :content="user.phone" placement="top">
                        <div>
                            <span class="el-icon-phone-outline"></span>
                            <p>电话</p>
                        </div>
                    </el-tooltip>
                </li>
                <li>
                    <el-tooltip class="item" effect="light" :content="user.wechat" placement="top">
                        <div>
                            <span class="fa fa-wechat"></span>
                            <p>微信</p>
                        </div>
                    </el-tooltip>
                </li>
                <li>
                    <el-tooltip class="item" effect="light" :content="user.qq" placement="top">
                        <div>
                            <span class="fa fa-qq"></span>
                            <p>QQ</p>
                        </div>
                    </el-tooltip>
                </li>
            </ul>
        </div>
        <div class="about-me">
            <div class="opinion-title">
                个人自述
            </div>
            <p class="readyme">
                {{ user.resume }}
            </p>
        </div>
    </el-col>
</template>
<script>
import Session from '../../utils/storage'
import Cookie from 'js-cookie'
export default {
    props: ["user", "show"],
    data(){
        return {
            teacherClass: '',
            avatarUrl: ''
        }
    },
    methods: {
        loginOut(){
            this.$confirm('账号即将推出登录, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                Cookie.remove('edu_token')
                Session.clearAllSession()
                this.$store.commit("setToken")
                window.location.href = '/login'
                // this.$router.push({name: "login"})
            }).catch(() => {})
        },
        sendMessage(){
            this.$router.push({
                name: "Message",
                query: {
                    current: "SendMessage"
                },
                params: {
                    identity: Cookie.get('identity'),
                    ids: [this.user._id]
                }
            })
        }
    },
    watch: {
        user: {
            handler(newVal){
                this.teacherClass = `${newVal.school || ''} ${newVal.major || ''} ${newVal.classes || ''}`
            },
            immediate: true,
            deep: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.account{
    padding: 20px;
    background-color: $--white;
    border-radius: 8px;
}
.account-user{
    min-width: 356px;
    display: flex;
    flex-direction: column;
    .user-header{
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $--background-color-1;
        display: flex;
        justify-content: center;
        align-items: center;
        .user-icon{
            color: $--white;
            font-size: 100px;
        }
        .user-header-img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
    .user-info{
        padding: 20px 0;
        text-align: center;
        p{
            text-align: center;
            padding-bottom: 10px;
            color: $--text-3;
            font-size: 12px;
            &:nth-child(1){
                color: $--text-1;
                font-size: 20px;
                font-weight: 550;
            }
        }
    }
}
.account-edit{
    min-width: 684px;
}
.about-icon-list{
    display: flex;
    li{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        span{
            font-size: 24px;
            color: $--default
        }
        p{
            font-size: 12px;
            color: $--text-3;
            padding-top: 5px;
        }
    }
}
.readyme{
    text-indent: 26px;
    font-size: 14px;
}
</style>
