<template>
    <div class="preview" :style="{width: auto ? `100%` : `${width}px`}">
        <div class="single-item">
            <div class="que-title" :id="`questionNo-${item.content.questionNo}`">
                <div class="que-title-inner">
                    <span v-if="item.content.type !== 'Reading'" class="title">{{ item.content.questionNo + "：" }}</span>
                    <span v-html="changeImg(item.content.attachments, item.content.content)" @click="clickOpen"></span>
                </div>
                <div class="que-edit">
                    <div v-if="item.content.type !== 'Reading'" class="que-point">
                        <span class="title">分数：</span>
                        <span>{{ `${item.content.points || 0 }分` }}</span>
                    </div>
                </div>
            </div>
            <div v-if="item.content.type !== 'Reading'" class="que-item">
                <div class="answer-fill-text">
                    <el-input
                        type="textarea"
                        :rows="2"
                        placeholder="请输入内容"
                        v-model="value"
                        @change="updateValue"
                        :disabled="disabled">
                    </el-input>
                </div>
            </div>
            <div class="question-answer"  v-if="!exam && item.content.type=='Text'">
                <div class="question-answer-content">
                    <p class="question-answer-content-p">
                        <span class="title">正确答案：</span>
                        <span>{{ item.content.answer?item.content.answer:'--' }}</span>
                    </p>
                    <div v-if="correctFlag && status == 'checked'" class="correct-type-boolean">
                        <Icon v-if="correct" name="ic_complete"/>
                        <Icon v-else name="ic_wrong"/>
                    </div>
                    <div v-else>
                        <span class="course-title-class-todo">【待批改】</span>
                    </div>
                </div>
                <p class="question-answer-content-p">
                    <span class="title">考题解析：</span>
                    <span>{{ item.content.analysis }}</span>
                </p>
                <div class="question-answer-content-p" v-if="identity == 'teacher' && type == 'correct'">
                    <p class="title question-answer-content-p">老师评语：</p>
                    <el-input type="textarea" v-model="comments" @change="submitStudentComment"></el-input>
                </div>
                <div class="question-answer-content-p" v-if="identity == 'student' && report">
                    <p>
                        <span class="title">老师评语：</span>
                        <span>{{ comments }}</span>
                    </p>
                </div>
            </div>
        </div>
        <ShowImage :url="currentSrc" :visible.sync="showVisibeFlag"/>
    </div>
</template>
<script>
import Subject from '../../mixins/subject'
import ShowImage from '../pubilc/show-image'
export default {
    mixins: [Subject],
    components: {
        ShowImage
    },
    props: {
        item: Object,
        num: Number,
        answer: null,
        width: {
            default: 600,
            type: Number
        },
        auto: {
            default: false
        },
        status: String,
        exam: {
            type: Boolean,
            default: false
        },
        report: {
            type: Boolean,
            default: true
        },
    },
    data(){
        return {
            value: "",
            comments: ""
        }
    },
    methods: {
        submitStudentComment(){
            const params = {
                id: this.item.question._id,
                questions: [{
                    _id: this.item._id,
                    comments: this.comments
                }]
            }
            this.$api.Exam.teacher_check_exam(params.id, params).then(res => {
                if(res.code == 200){
                    this.$message.success("添加评语成功！")
                }
            })
        }
    },
    created() {
        this.comments = this.item.comments || ""
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.question-answer{
    padding-top: 10px;
    .title{
        font-weight: 550;
    }
    .question-answer-content-p{
        padding-bottom: 10px;
    }
    .question-answer-content{
        display: flex;
        justify-content: space-between;
    }
}
.course-title-class-todo{
        color: $--default;
    }
</style>
