<template>
    <div class="preview" :style="{width: auto ? `100%` : `${width}px`}">
        <div class="single-item">
            <div class="que-title" :id="`questionNo-${item.content.questionNo}`">
                <div class="que-title-inner">
                    <span class="title">{{ item.content.questionNo + "：" }}</span>
                    <span v-html="changeImg(item.content.attachments, item.content.content)" @click="clickOpen"></span>
                </div>
                <div class="que-edit">
                    <div class="que-point">
                        <span class="title">分数：</span>
                        <span>{{ `${item.content.points || 0 }分` }}</span>
                    </div>
                </div>
            </div>
            <div class="que-item">
                <el-checkbox-group :disabled="disabled" class="single-radio-group" v-model="value" text-color="#409EFF" fill="#409EFF" size="medium" @change="updateValue">
                    <el-checkbox class="single-radio-item" :label="itemOption.key" v-for="(itemOption, i) in item.content.options" :key="i">
                        <div class="singe-item">{{ `${itemOption.key}：` }}</div>
                        <div class="option-content" v-html="changeImg(item.content.attachments, itemOption.content)" @click="clickOpen"></div>
                    </el-checkbox>
                </el-checkbox-group>
            </div>
            <div class="question-answer"  v-if="!exam">
                <div class="question-answer-content">
                    <p class="question-answer-content-p">
                        <span class="title">正确答案：</span>
                        <span>{{ item.content.answer }}</span>
                    </p>
                    <div v-if="correctFlag" class="correct-type-boolean">
                        <Icon v-if="correct" name="ic_complete"/>
                        <Icon v-else name="ic_wrong"/>
                    </div>
                </div>
                <p class="question-answer-content-p">
                    <span class="title">考题解析：</span>
                    <span>{{ item.content.analysis }}</span>
                </p>
                <div class="question-answer-content-p" v-if="identity == 'teacher' && type == 'correct'">
                    <p class="title question-answer-content-p">老师评语：</p>
                    <el-input type="textarea" v-model="comments" @change="submitStudentComment"></el-input>
                </div>
                <div class="question-answer-content-p" v-if="identity == 'student' && report">
                    <p>
                        <span class="title">老师评语：</span>
                        <span>{{ comments }}</span>
                    </p>
                </div>
            </div>
        </div>
        <ShowImage :url="currentSrc" :visible.sync="showVisibeFlag"/>
    </div>
</template>
<script>
import Subject from '../../mixins/subject'
import ShowImage from '../pubilc/show-image'
export default {
    mixins: [Subject],
    components: {
        ShowImage
    },
    props: {
        item: Object,
        num: Number,
        answer: null,
        width: {
            default: 600,
            type: Number
        },
        auto: {
            default: false
        },
        exam: {
            type: Boolean,
            default: false
        },
        report: {
            type: Boolean,
            default: true
        },
    },
    data(){
        return {
            value: [],
            comments: ""
        }
    },
    methods: {
        submitStudentComment(){
            const params = {
                id: this.item.question._id,
                questions: [{
                    _id: this.item._id,
                    comments: this.comments
                }]
            }
            this.$api.Exam.teacher_check_exam(params.id, params).then(res => {
                if(res.code == 200){
                    this.$message.success("添加评语成功！")
                }
            })
        }
    },
    created() {
        this.comments = this.item.comments || ""
    }
}
</script>
<style lang="scss" scoped>
.question-answer{
    .title{
        font-weight: 550;
    }
    .question-answer-content-p{
        padding-bottom: 10px;
    }
    .question-answer-content{
        display: flex;
        justify-content: space-between;
    }
}
</style>
