<template>
    <div class="paging-content">
        <div class="">
            {{ `【第${item.content.content.split('/')[0]}页/共${item.content.content.split('/')[1]}页】` }}
            <!-- <span class="paging-delete el-icon-close" @click="deleteQuestion"></span> -->
        </div>
    </div>
</template>
<script>
export default {
    props: {
        item: Object,
        num: Number,
    },
    data(){
        return {
            
        }
    }
}
</script>
<style lang="scss" scoped>
.paging-content{
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    .paging-delete{
        cursor: pointer;
    }
}
</style>