<template>
  <div class="preview" :style="{width: auto ? `100%` : `${width}px`}">
    <div class="single-item">
      <div class="que-title" :id="`questionNo-${item.content.questionNo}`">
        <div class="que-title-inner">
          <span v-if="item.content.type !== 'Reading'" class="title">{{ item.content.questionNo + "：" }}</span>
          <span style="line-height: 33px;" v-html="changeImg(item.content.attachments, item.content.content)" @click="clickOpen"></span>
        </div>
        <div class="que-edit">
          <div v-if="item.content.type !== 'Reading'" class="que-point">
            <span class="title">分数：</span>
            <span>{{ `${item.content.points || 0 }分` }}</span>
          </div>
        </div>
      </div>
      <div style="display: flex;flex-direction: row">
        <div>
          <span>附件</span>
        </div>
        <div>
          <ul style="margin: 0 0 20px 20px">
            <li v-for="(item,index) in item.content.attachments" :key="index">
              <a :href="item.url" style="color: #A21832" target="_blank">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div v-if="msgFormSon==='上传中'" style="text-align: center">
        <img src="../../assets/images/loading.gif" alt="">
      </div>
      <div v-if="item.content.type !== 'Reading'" class="que-item">
        <div style="display: flex;flex-direction: row" v-if="!disabled">
          <UploadFile b="button" @uploadFile="uploadFileCallBack1" @func="getMsgFormSon" :accept="FileName"
                      style="margin-left: 20px">
            <el-button type="primary">上传文件</el-button>
          </UploadFile>
          <span style="position: relative;top: 15px;left: 10px;">提交音频，视频，xdoc支持的预览文件</span>
        </div>
        <ul style="margin: 10px 0 20px 20px">
          <li v-for="(item,index) in item.attachments" :key="index" style="padding: 5px 0 5px 0">
            <a :href="item.url" style="color: #A21832" target="_blank">{{item.name}}</a>
            <i class="el-icon-delete" style="margin-left: 15px;cursor: pointer" @click="deleFile(index)" v-if="!disabled"></i>
          </li>
        </ul>
        <ul style="margin: 10px 0 20px 20px">
          <li v-for="(item,index) in attachments" :key="index" style="padding: 5px 0 5px 0">
            <a :href="item.url" style="color: #A21832" target="_blank">{{item.name}}</a>
            <i class="el-icon-delete" style="margin-left: 15px;cursor: pointer" @click="deleFile(index)"></i>
          </li>
        </ul>
        <div class="answer-fill-text">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入内容"
            v-model="value"
            @change="updateValue1"
            :disabled="disabled">
          </el-input>
        </div>
      </div>
      <div class="question-answer" v-if="!exam && item.content.type=='Upload'">
        <div class="question-answer-content">
          <p class="question-answer-content-p">
            <!--<span class="title">正确答案：</span>
            <span>{{ item.content.answer?item.content.answer:'&#45;&#45;' }}</span>-->
          </p>
          <div v-if="correctFlag && status == 'checked'" class="correct-type-boolean">
            <Icon v-if="correct" name="ic_complete"/>
            <Icon v-else name="ic_wrong"/>
          </div>
          <div v-else>
            <span class="course-title-class-todo">【待批改】</span>
          </div>
        </div>
        <p class="question-answer-content-p">
                 <span class="title">考题解析：</span>
                 <span>{{ item.content.analysis }}</span>
        </p>
        <div class="question-answer-content-p" v-if="identity == 'teacher' && type == 'correct'">
          <p class="title question-answer-content-p">老师评语：</p>
          <el-input type="textarea" v-model="comments" @change="submitStudentComment"></el-input>
        </div>
        <div class="question-answer-content-p" v-if="identity == 'student' && report">
          <p>
            <span class="title">老师评语：</span>
            <span>{{ comments }}</span>
          </p>
        </div>
      </div>
    </div>
    <ShowImage :url="currentSrc" :visible.sync="showVisibeFlag"/>
  </div>
</template>
<script>
    import Subject from '../../mixins/subject'
    import ShowImage from '../pubilc/show-image'
    import UploadFile from '../pubilc/upload-file'

    export default {
        mixins: [Subject],
        components: {
            ShowImage,
            UploadFile
        },
        props: {
            item: Object,
            num: Number,
            answer: null,
            width: {
                default: 600,
                type: Number
            },
            auto: {
                default: false
            },
            status: String,
            exam: {
                type: Boolean,
                default: false
            },
            report: {
                type: Boolean,
                default: true
            },
        },
        data() {
            return {
                FileName: "image/*,audio/*,video/*,application/msexcel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf",
                value: "",
                comments: "",
                msgFormSon: "",
                attachments: []
            }
        },
        methods: {
            deleFile(index){
                this.attachments.splice(index,1)
            },
            getMsgFormSon(val) {
                this.msgFormSon = val
            },
            updateValue1() {
                this.$emit("update:answer", this.value)
                this.$emit("submitQuestion", {
                    answer: this.value,
                    attachments: this.attachments,
                    id: this.item.content.stuExamId,
                    type: this.item.content.type
                })

            },
            uploadFileCallBack1(data) {
                console.log(data);
                this.attachments.push({
                    url: data.url,
                    name: data.name
                });
                this.$emit("submitQuestion", {
                    answer: this.value,
                    attachments: this.attachments,
                    id: this.item.content.stuExamId,
                    type: this.item.content.type
                })
                this.msgFormSon = ""
            },
            submitStudentComment() {
                const params = {
                    id: this.item.question._id,
                    questions: [{
                        _id: this.item._id,
                        comments: this.comments
                    }]
                }
                this.$api.Exam.teacher_check_exam(params.id, params).then(res => {
                    if (res.code == 200) {
                        this.$message.success("添加评语成功！")
                    }
                })
            }
        },
        created() {
            this.comments = this.item.comments || ""
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';

  .question-answer {
    padding-top: 10px;

    .title {
      font-weight: 550;
    }

    .question-answer-content-p {
      padding-bottom: 10px;
    }

    .question-answer-content {
      display: flex;
      justify-content: space-between;
    }
  }

  .course-title-class-todo {
    color: $--default;
  }
</style>
