<template>
    <div>
        <el-row class="account_content" type="flex">
            <UserInfo :user="user"/>
            <el-col class="account account-edit">
                <div class="opinion-title">
                    个人设置
                </div>
                <div class="edit-content">
                    <div class="edit-item edit-item-100">
                        <el-col :span="3" class="edit-item-title">修改密码</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2 password-input" show-password v-model="password.oldPassword" placeholder="输入旧密码"></el-input>
                            <el-input class="input-short-2 password-input" show-password v-model="password.password" placeholder="输入新密码"></el-input>
                            <el-input class="input-short-2 password-input" show-password v-model="password.again" placeholder="再次确认新密码"></el-input>
                            <el-button type="text" @click="resetPassword">确认修改</el-button>
                        </el-col>
                    </div>
                    <div class="edit-item edit-item-100">
                        <el-col :span="3" class="edit-item-title">更换头像</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <UploadFile b="button" @uploadFile="uploadFileCallBack">
                                <el-button type="primary" @click="showVisibe">上传图片</el-button>
                            </UploadFile>
                        </el-col>
                    </div>
                    <div class="edit-item edit-item-100">
                        <el-col :span="3" class="edit-item-title">性别</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-select class="input-short-2" v-model="user.gender" placeholder="请选择">
                                <!-- <el-option label="未知" value=""></el-option> -->
                                <el-option label="男" :value="1"></el-option>
                                <el-option label="女" :value="2"></el-option>
                            </el-select>
                        </el-col>
                    </div>
                    <div class="edit-item edit-item-100">
                        <el-col :span="3" class="edit-item-title">学校</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.school" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item">
                        <el-col :span="3" class="edit-item-title">专业</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.major" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item">
                        <el-col :span="3" class="edit-item-title">电话</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.phone" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item">
                        <el-col :span="3" class="edit-item-title">班级</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.classes" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item">
                        <el-col :span="3" class="edit-item-title">微信</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.wechat" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item">
                        <el-col :span="3" class="edit-item-title">身份</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.identity" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item">
                        <el-col :span="3" class="edit-item-title">QQ</el-col>
                        <el-col :span="20" class="edit-item-content">
                            <el-input class="input-short-2" v-model="user.qq" placeholder="请输入内容"></el-input>
                        </el-col>
                    </div>
                    <div class="edit-item edit-item-100">
                        <el-col :span="3" class="edit-item-title">个人自述</el-col>
                        <el-col :span="20" class="edit-item-content content-textarea">
                            <el-input type="textarea" :rows="3" placeholder="请输入内容" v-model="user.resume"></el-input>
                        </el-col>
                    </div>
                    <div style="text-align: right; width: 100%">
                        <el-button type="primary" @click="saveUser">保存</el-button>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import UserInfo from '../components/account/user-info'
import UserInfoModel from '../components/account/show-account'
import Check from '../mixins/check'
import UploadFile from '../components/pubilc/upload-file'
import Common from '../mixins/common'
import Cookie from 'js-cookie'
export default {
    components: {
        UserInfo,
        UserInfoModel,
        UploadFile
    },
    mixins: [Check, Common],
    data(){
        return {
            password: {
                oldPassword: '',
                password: '',
                again: ''
            },
            showVisibeFlag: false,
            user: {}
        }
    },
    computed: {
        userDefault(){
            return this.$store.state.user
        }
    },
    methods: {
        showVisibe(){
            this.showVisibeFlag = true
        },
        resetPassword(){
            if(!this.password.oldPassword || !this.password.password || !this.password.again){
                this.$message.error("密码不能为空")
                return
            }
            if(!this.checkPassword(this.password.password)){
                this.$message.error("密码不匹配，新密码为8到16位，至少包含一个字母，一个数字，可包含特殊字符")
                return
            }
            if(this.password.password !== this.password.again){
                this.$message.error("两次密码输入不一致")
                return
            }
            const params = {
                oldPassword: this.password.oldPassword,
                password: this.password.password
            }
            if(Cookie.get('identity') == 'teacher'){
                this.$api.Account.reset_password(params).then(res => {
                    this.resetPasswordCallBack(res)
                })
            }else{
                this.$api.Account.reset_password_student(params).then(res => {
                    this.resetPasswordCallBack(res)
                })
            }
        },
        resetPasswordCallBack(res){
            if(res.code == 200){
                this.$message.success("修改成功")
                this.password = {
                    oldPassword: '',
                    password: '',
                    again: ''
                }
            }else{
                this.$message.error(res.error || "修改密码失败")
            }
        },
        uploadFileCallBack(val){
            if(val && val.url){
                this.$set(this.user, 'avatarUrl', val.url.split('?')[0])
            }
        },
        saveUser(){
            if(Cookie.get('identity') == 'teacher'){
                this.$api.Account.update_user(this.user).then(res => {
                    this.saveUserCallBack(res)
                })
            }else{
                this.$api.Account.update_user_student(this.user).then(res => {
                    this.saveUserCallBack(res)
                })
            }
        },
        saveUserCallBack(res){
            if(res.code == 200){
                this.$message.success("保存成功")
                this.getCurrentData()
            }else{
                this.$message.error("保存失败")
            }
        }
    },
    created(){
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["账户", "个人主页"]
        })
    },
    watch: {
        userDefault: {
            handler(newVal){
                this.user = newVal
            },
            deep: true,
            immediate: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../assets/css/var.scss';
.account_content{
    justify-content: space-between;
    overflow: auto;
    .account{
        padding: 20px;
        background-color: $--white;
        border-radius: 8px;
    }
    .account-edit{
        min-width: 684px;
        margin-left: 20px;
    }
    .edit-content{
        display: flex;
        flex-wrap: wrap;
    }
    .edit-item{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 50%;
        .edit-item-title{
            font-size: 14px;
            width: 80px;
            min-width: 80px;
        }
        .edit-item-content{
            display: flex;
            .password-input{
                margin-right: 10px;
            }
        }
    }
    .edit-item-100{
        width: 100%
    }
    .content-textarea{
        width: 72%;
    }
}
</style>