<template>
  <div class="login" ref="login">
    <div class="login-image">
      <img src="../assets/images/login_background.jpg" alt />
    </div>
    <div class="top-btn-list">
      <button
        type="button"
        class="btn"
        :class="currentLoginType == 'login' ? 'active' : ''"
        @click="changeLoginType('login')"
      >登录</button>
      <button
        type="button"
        class="btn"
        :class="currentLoginType == 'signIn' ? 'active' : ''"
        @click="changeLoginType('signIn')"
      >注册</button>
    </div>
    <div class="login-content">
      <div class="top-logo">
        <!-- <img src="../assets/images/school_logo.png" alt /> -->
        <img src="../assets/images/logo-white.png" alt />
      </div>
      <div class="login-content-inner">
        <p class="login-title">翰林教育系统欢迎您</p>
        <div v-if="currentLoginType == 'login'">
          <el-row class="login-item">
            <el-col :span="5">登录身份</el-col>
            <el-col :span="19">
              <el-radio-group v-model="loginType">
                <el-radio-button label="1">教 师</el-radio-button>
                <el-radio-button label="2">学 生</el-radio-button>
              </el-radio-group>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">邮箱</el-col>
            <el-col :span="19">
              <el-input autocomplete="off" v-model="username" placeholder="用户名"></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">密码</el-col>
            <el-col :span="19">
              <el-input autocomplete="off" v-model="password" type="password" placeholder="密码"></el-input>
            </el-col>
          </el-row>
          <el-row>
            <el-button class="login-btn" type="primary" @click="login">登录</el-button>
          </el-row>
          <el-row class="forget-password">
            <el-link type="primary" @click="forget">忘记密码？</el-link>
          </el-row>
        </div>
        <div v-else>
          <el-row class="login-item">
            <el-col :span="5">注册身份</el-col>
            <el-col :span="19">
              <el-radio-group v-model="signInType">
                <el-radio-button label="1">教 师</el-radio-button>
                <el-radio-button label="2">学 生</el-radio-button>
              </el-radio-group>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">姓名</el-col>
            <el-col :span="19">
              <el-input autocomplete="new-password" v-model="signInData.nickname" placeholder="姓名"></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">学校名</el-col>
            <el-col :span="19">
              <el-input autocomplete="new-password" v-model="signInData.school" placeholder="学校名"></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">邮箱</el-col>
            <el-col :span="19">
              <el-input autocomplete="off" v-model="signInData.email" placeholder="邮箱"></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">手机号</el-col>
            <el-col :span="19">
              <el-input autocomplete="off" v-model="signInData.phone" placeholder="手机号"></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">密码</el-col>
            <el-col :span="19">
              <el-input
                autocomplete="off"
                v-model="signInData.password"
                type="password"
                placeholder="密码"
              ></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5">重复密码</el-col>
            <el-col :span="19">
              <el-input
                autocomplete="off"
                v-model="passwordAgain"
                type="password"
                placeholder="重复密码"
              ></el-input>
            </el-col>
          </el-row>
          <el-row v-if="signInType == '1'" class="login-item">
            <el-col :span="5">邀请码</el-col>
            <el-col :span="19">
              <el-input autocomplete="off" v-model="code" placeholder="邀请码"></el-input>
            </el-col>
          </el-row>
          <el-row class="login-item">
            <el-col :span="5"></el-col>
            <el-col :span="19" class="showAgreement-cl">
              <el-checkbox v-model="checked"></el-checkbox>
              <span class="showAgreement-cl-text">
                我已阅读并同意  <span class="showAgreement-cl-text-a" @click="showAgreement = true">翰林用户注册协议</span>
              </span>
            </el-col>
          </el-row>
          <el-row>
            <el-button class="login-btn" type="primary" :disabled="!checked" @click="signIn">注册</el-button>
          </el-row>
        </div>
      </div>
      <div class="login-bottom">
        <p>
          <span>
            <a href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action">沪ICP备19042756号</a>
          </span>
          <span>
            <a href="http://hl.hanlinsys.com/">翰林介绍</a>
          </span>
        </p>
        <p>
          <span>电话：(+86)15002181960</span>
          <span style="text-decoration: underline; cursor: pointer" @click="wechar = true">微信</span>
          <span>
            E-mail：
            <a href="neonet2019@163.com">neonet2019@163.com</a>
          </span>
          <span>
            <a href="http://hl.hanlinsys.com/">使用教学</a>
          </span>
          <span>
            <a href="http://hl.hanlinsys.com/">免责声明</a>
          </span>
        </p>
      </div>
    </div>
    <el-dialog
      title="微信"
      :visible.sync="wechar"
      width="600px"
      :append-to-body="true">
      <div style="text-align: center">
        <img src="/static/wechar.jpg" alt="">
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="wechar = false">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title
      :visible.sync="forgetFlag"
      width="600px"
      :close-on-click-modal="false"
      :show-close="false"
      :append-to-body="true">
      <el-row class="forget-item">
        <el-col :span="5" class="forget-item-title">注册账号：</el-col>
        <el-col :span="18">
          <el-input v-model="forgetData.user" placeholder="请输入邮箱"></el-input>
        </el-col>
      </el-row>
      <el-row class="forget-item">
        <el-col :span="5" class="forget-item-title">验证码：</el-col>
        <el-col :span="18" class="forget-item-content">
          <el-input class="input-long-2" v-model="forgetData.code" placeholder="请输入邮箱"></el-input>
          <el-button type="primary" :disabled="disabled" @click="getCode">{{ codeText }}</el-button>
        </el-col>
      </el-row>
      <el-row class="forget-item">
        <el-col :span="5" class="forget-item-title">新密码：</el-col>
        <el-col :span="18">
          <el-input v-model="forgetData.password" type="password" placeholder="请输入密码"></el-input>
        </el-col>
      </el-row>
      <el-row class="forget-item">
        <el-col :span="5" class="forget-item-title">再次输入：</el-col>
        <el-col :span="18">
          <el-input v-model="forgetData.agent" type="password" placeholder="请再次输入"></el-input>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="canel">取 消</el-button>
        <el-button type="primary" @click="resetPassword">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="《翰林用户注册协议》"
      :visible.sync="showAgreement"
      width="900px"
      :append-to-body="true"
      top="80px">
      <div class="showAgreement-content">
        <p>亲爱的用户：</p>
        <p>您好，感谢您注册成为上海翼欧网络科技有限公司（以下称“本公司”）设立并运营的翰林在线教育平台网站/翰林助手APP小程序（以下简称为“平台”）的学员用户，在注册前请您仔细阅读本注册协议，尤其是免除或者限制责任条款、争议解决和法律适用条款，免除或限制责任的条款将以加粗划线特别提示，您应当重点阅读，如您对本协议的内容存有任何疑问，请您垂询本公司客服人员。</p>
        <p>请您按照注册页面的提示进行操作，填写信息、阅读并同意本协议，完成全部注册程序。您承诺您将遵守本协议，届时您不会以未阅读本协议内容或者未获得本公司客服人员回答等理由，主张本协议无效或者请求撤销本协议。</p>
        <p>1.协议范围</p>
        <p>1.1 本协议由您和本平台的所有者和运营者共同缔约，本协议自用户完成注册之日起生效。本协议的经营者是指依据《中华人民共和国公司法》等法律、法规，依法设立并有效存续的公司法人，有关公司的信息请您在本页面尾部或者国家企业信息用信息网查询。</p>
        <p>1.2 除另有声明外，本平台服务是指包含本平台及本公司其他服务或者关联公司提供的其他基于互联网或移动网络的服务，且均受本协议约束。如果您不同意本协议，请您停止注册本平台服务协议。</p>
        <p>1.3 本协议包括协议正文、法律声明、用户使用规则、及所有本平台现在发布或者将来可能发布的各种规则、声明、通知等，所有规则、声明、通知等文件均为本协议必不可少的组成部分，同本协议具有同等法律效力。</p>
        <p>1.4 <strong style="text-decoration: underline;">平台有权根据需要直接不时制订、修改本协议或者规则，并以网站或其他方式进行公告变更，无须另行单独通知，变更后的协议或规则，一经公布即发生法律效力；若您在变更协议或规则后，继续使用本平台服务，视为您已经阅读并接受本协议的变更。如您不同意相关变更，请您立即停止使用本服务。</strong></p>
        <p>1.5 一经注册本平台帐号，除非平台要求单独开通权限，您有权利用该账号使用本平台的单项服务，当您使用各单项服务时，您的使用行为视为其对该单项服务的服务条款以及本平台在该单项服务中发出的各类公告所声明的权利及义务的接受，即同意受此服务条款及公告权利义务的约束。您应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
        <p>2.注册与账号</p>
        <p>2.1主体资格</p>
        <p>您确认，您在注册用户时并实际使用本协议服务时，您应当具备相应的民事权利能力和民事行为能力的自然人。若您不仅具备前述资格，产生的后果由您和您的监护人承担，本公司有权注销或者永久冻结您的账号，并有权要求您和您的监护人承担相应法律责任。</p>
        <p>2.2注册与账号</p>
        <p>1）当您阅读本页面并同意本协议的全部内容，按照页面指引注册用户账号后，您将拥有本平台的账户，您可以通过个人电子邮箱、手机号码、微信号等手段登陆本平台。</p>
        <p>2）您可以对账户设置昵称以保护个人数据安全，您设置的昵称涉嫌侵犯他人合法权益的，本平台有权暂停您的账户，注销您的昵称。</p>
        <p>3）您的昵称、账号及密码不得买卖、赠与、互换或继承，除非有法律的明文规定或生效的司法裁判文书，并经过本平台同意，按照本平台要求提供相应证明文件且按照本平台流程处理。</p>
        <p>2.3账户信息与安全</p>
        <p>1）您应当确保您按照页面和本协议填写的信息时真实、准确，如信息发生变更时，您应当及时变更以确保您提交的资料真实、及时、完整与准确。有合理理由怀疑您提供的资料错误、不实、过时或者不完整的，本平台有权向您发出询问或者要求改正的通知，并有权删除相应资料，直至中止、终止对您提供的部分或者全部服务，本平台将不承担任何责任，所产生的不利后果由您自行承担。</p>
        <p>2）您应当妥善保护您的账号、昵称及密码，且须对使用该账号、昵称及密码下在本平台所发生的活动承担责任。您如果发现未经您同意而使用您的账号、昵称及密码，应当立即通知本平台，本平台采取有效措施。如您在通知本平台之前所遭受的损害，本平台不承担任何责任。</p>
        <p>2.4注销</p>
        <p>1）如果您连续12个月未登录本平台或者无未到期的有效业务，您的账号可能被注销，届时您将无法通过账户使用平台的服务。</p>
        <p>2）如果您在使用本服务时存在欺诈、发布虚假信息、侵犯其他人的合法权益或者违反法律法规的规定及本平台的规则，本平台将有权注销您的账号，届时，您将无法通过账户使用本平台的服务。</p>
        <p>3.平台服务</p>
        <p>3.1 您注册成为我们的学员会员后，您将可以使用本平台的相关服务：</p>
        <p>1）在线考试、上传作业后获得平台签约教师为您及时批改；</p>
        <p>2）平台签约教师相关课程的课件、讲课视频等；</p>
        <p>3）平台将来提供的其他服务。</p>
        <p>3.2 您理解，本平台仅提供软件相关服务，除此之外与相关软件服务有关的设备(如手机、个人电脑及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由您自行负担。</p>
        <p>4.平台服务使用规范</p>
        <p>4.1 您在使用本平台服务中应当遵守以下约定和原则：</p>
        <p>1）遵守中国有关的法律和法规等规范性文件及本平台各项规章的规定和要求，不违背社会公共利益和道德，不损害他人合法权益；</p>
        <p>2）不得为任何非法目的而使用网络服务平台；</p>
        <p>3）不得利用本服务平台进行任何可能对互联网的正常运转造成不利影响的行为；</p>
        <p>4）不得利用网络服务平台传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
        <p>5）不得利用服务平台进行任何不利于本平台及其他关联方的行为；</p>
        <p>6）不对平台上的任何数据作商业用途利用，包括但不限于在未经平台事先书面同意的情况下，以复制、传播等方式使用平台上展示和披露的资料等。</p>
        <p>7） 不得破坏本服务的提供，或侵犯本服务相关的任何权利，包括但不限于不得将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其它方式传送；不得采取任何将导致不合理的庞大数据负载加诸平台网络设备的行动；</p>
        <p>4.2 责任</p>
        <p>1）由于您在使用、影响使用、或利用本服务实施任何违法、违规、违反本协议的行为，造成任何损失，均包括直接损失及可得利益损失，以及相关人士为维权而发生的调查、取证费用损失、以及律师费损失等相关维权损失，由您自行承担并确保本平台免于因此产生任何损失或费用增加。若本平台因此遭受的任何损失，或者遭受第三方的索赔和受到行政处罚，您应当赔偿平台因此造成的损失，调查、取证费用损失以及律师费等费用。</p>
        <p>2）如您的行为被国家行政或者司法机关的有效法律文书确认为违法或侵权行为，或者平台根据自身判断，认为您的行为涉嫌违反法律法规的规定或者涉嫌违反本协议和/或规则的条款的，本平台有权公示您的违法或违约行为及平台对您采取的相关措施。</p>
        <p><strong style="text-decoration: underline;">3）对于您违反本协议项下承诺或您在平台上实施的行为，包括您未在平台上实施但已经对本平台及其用户产生影响的行为，平台有权单方面认定您的行为的性质及是否构成对本协议和或规则的违反，并根据单方面认定的结果适用规则予以处理或者终止向您提供服务，且无须征得您的同意或者提前通知您。您应当自行保存于您行为有关的全部证据，并应对无法提供证据而承担不利后果。</strong></p>
        <p>5.特别声明 </p>
        <p><strong style="text-decoration: underline;">5.1 您完全理解并不可撤销地授权本平台及相关联公司对于您提供的资料及数据信息，享有独家的、永久的、免费的许可使用权利（并有权在多个层面对该权利进行再授权）。此外，平台及关联公司有权全部或者部分地使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其中。</strong></p>
        <p><strong style="text-decoration: underline;">5.2 您完全理解平台的服务同大多数因特网产品一样，易受到各种安全问题的困扰，包括但不限于：</strong></p>
        <p><strong style="text-decoration: underline;">1）在使用服务时透露详细个人资料，被不法分子利用，造成现实生活中的骚扰；</strong></p>
        <p><strong style="text-decoration: underline;">2）用户泄露或遭哄骗、破译密码；</strong></p>
        <p><strong style="text-decoration: underline;">3）下载安装的其它软件中含有“特洛伊木马”等病毒，威胁到个人计算机、手机上信息和数据的安全，继而威胁对本服务的使用。对于发生上述情况的，您应当自行承担责任。</strong></p>
        <p><strong style="text-decoration: underline;">5.3 您完全明白，为了服务整体运营的需要，本平台有权在公告通知后修改或中断、中止或终止服务而不需通知您的权利，而无须向第三方负责或承担任何赔偿责任。</strong></p>
        <p><strong style="text-decoration: underline;">5.4 您完全理解，互联网技术的不稳定性，可能导致政府政策管制、病毒入侵、黑客攻击、服务器系统崩溃或者其他现今技术无法解决的风险发生可能导致平台服务中断或账号损失，对此非人为因素引起的损失由您自行承担责任。</strong></p>
        <p>6. 知识产权</p>
        <p>6.1 本平台的服务包括网站、网页应用、软件、APP小程序以及内涵的文字、图片、视频、音频等元素，公司标志、标识以及专利权，公司对此享有上述知识产权。</p>
        <p>6.2 您不得对本平台服务涉及的相关网页、应用、软件等产品进行反向工程、反向汇编、反向编译等。</p>
        <p>6.3 您使用本平台服务只能在本《用户协议》以及相应的授权许可协议授权的范围使用知识产权，未经授权超范围使用的构成对本平台及公司的侵权。</p>
        <p>6.4 您在使用平台服务时发表上传的文字、图片、视频、软件以及表演等原创的信息，此部分信息的知识产权归您所有，但您的发表、上传行为是对本平台服务平台的授权，您确认其发表、上传的信息非独占性、永久性的授权，本平台有权对用户发表的、上传的信息或作品在本平台上使用，亦有权将该权利授于第三方使用。</p>
        <p>7. 个人隐私及保护条款</p>
        <p>7.1 平台在提供服务时可能会搜集您的相关信息，平台会明确告知用户，通常信息包括但不限于姓名、性别、年龄、出生日期、身份证号、家庭住址、教育程度等、所处地理位置、个人说明、计算机及手机软硬件信息、手机识别码等。</p>
        <p>7.2 您了解并同意平台会在用户登录和使用相关网站或者APP的服务功能时收集以上信息。当您在购买平台列出的商品或服务时，您的信息将被提供商品服务商家收集，您应自行承担此类信息披露的责任。</p>
        <p>7.3您了解并同意平台收集以上信息用于系统备份，识别您的身份信息，您的使用情况分析，形成教学运行大数据报告，协助您处理突发情况，帮助您解决使用中遇到的问题等用途。平台承诺不以非法方式披露您的个人信息。</p>
        <p>7.4 请您注意勿在使用平台服务中透露自己的各类财产帐户、银行卡、信用卡、第三方支付账户及对应密码等重要资料，否则由此带来的任何损失由您自行承担。</p>
        <p>7.5 您的的账号、密码属于保密信息，本平台应当采取积极的措施保护用户账号、密码的安全。</p>
        <p>7.6 您的注册信息作为平台的商业秘密进来保护。但您应当同时明白，互联网的开放性以及技术更新非常快，非本平台可控制的因素导致泄漏的，平台不承担责任。</p>
        <p>7.7 您在使用本平台服务时不可将自认为隐私的信息发表、上传至平台，也不可将该等信息通过平台的服务传播给其他人，若您的行为引起的隐私泄漏，由您承担责任。</p>
        <p>7.8 就下列相关事宜的发生，平台不承担任何法律责任：</p>
        <p>1）根据法律规定或相关政府、司法机关的要求提供您的个人信息；</p>
        <p>2）由于您将密码告知他人或与他人共享注册账户，由此导致的任何个人信息的泄漏，或其他非因本平台原因导致的个人信息的泄漏；</p>
        <p>3）任何由于黑客攻击、电脑病毒侵入造成的信息泄漏；</p>
        <p>4）因不可抗力导致的信息泄漏；</p>
        <p>5）更多平台现有或将来制定的隐私权保护政策，请您查看公司网站或者垂询客服人员。</p>
        <p>7.9 您了解并同意本平台可依照法律或司法、行政机关的强制性命令对第三方披露您的个人信息且无需事先向您发出通知。</p>
        <p>8. 协议终止及争议解决</p>
        <p><strong style="text-decoration: underline;">8.1 您同意，平台有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或者全部平台服务，暂时冻结或永久冻结（注销）你的账号的权限，且无须为此向您或者任何第三方承担任何责任。</strong></p>
        <p><strong style="text-decoration: underline;">8.2出现下列任一情形时，平台有权直接以注销账号的方式，并永久注销您的账号在平台上的权限和收回账号对应的昵称而无须承担任何责任且无须征得您的同意：</strong></p>
        <p><strong style="text-decoration: underline;">1）您的行为违反法律法规、监管政策或其他规定；</strong></p>
        <p><strong style="text-decoration: underline;">2）您的行为将引发或可能引发平台及关联公司的重大风险；</strong></p>
        <p><strong style="text-decoration: underline;">3）您的行为存在或可能存在明显危害其它用户利益的风险；</strong></p>
        <p><strong style="text-decoration: underline;">4）因不可归责于平台的原因造成该您无法继续接受平台的服务；</strong></p>
        <p><strong style="text-decoration: underline;">5）您涉嫌再一次直接或者间接以他人名义注册为平台用户的；</strong></p>
        <p><strong style="text-decoration: underline;">6）您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；</strong></p>
        <p><strong style="text-decoration: underline;">7）本协议变更时，您明确表示并通知平台不愿意接受新的服务协议的；</strong></p>
        <p><strong style="text-decoration: underline;">8）其他平台认为应当终止服务的情况。</strong></p>
        <p>8.3您的账号被终止或者账户在平台上的权限被永久冻结后或者注销后，平台没有义务为您保留或向您披露您账号中的任何信息，也没有义务向您或者第三方转发任何您未曾阅读或发送过的信息。</p>
        <p>8.4 如您在线上或线下与平台签署的任何协议或规则的终止，使得本协议的目的无法实现，则本协议将同时终止。因不可归责于平台的原因造成本协议相关规则的终止，在协议终止前的行为所导致的任何赔偿和责任，您必须完全且独立地承担责任。</p>
        <p>8.5本协议的制定、解释、及其在执行过程中出现的或与本协议有关的异议的解决，受中华人民共和国现行有效的法律、法规及规范性文件的约束。在本协议执行过程中，若出现与本协议有关的争议，双方应尽量本着友好协商的精神予以协商解决；若双方于三十日内经协商不能解决或任意一方不同意协商解决的，则任何一方有权向上海市奉贤区区人民法院提起诉讼。</p>
        <p>9.其他</p>
        <p>9.1如本协议的任何条款被视作无效或无法执行,则上述条款可被分离,其余部分则仍具有法律效力。</p>
        <p>9.2 除非取得平台的书面同意，您不得将其在本协议项下的全部或部分权利与义务转让给任何第三方。</p>
        <p>9.3 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
        <p>9.4 本协议最终解释权归上海翼欧网络科技有限公司所有。</p>

      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showAgreement = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Check from '../mixins/check'
import Cookie from 'js-cookie'
export default {
  mixins: [Check],
  data() {
    return {
      username: '',
      password: '',
      passwordAgain: '',
      token: '',
      loginType: '1',
      currentLoginType: 'login',
      signInType: '1',
      code: '',
      signInData: {
        nickname: '',
        password: '',
        school: '',
        email: '',
        phone: '',
      },
      forgetData: {
        email: '',
        code: '',
        password: '',
        agent: '',
      },
      forgetFlag: false,
      codeText: '获取验证码',
      disabled: false,
      timer: null,
      checked: true,
      showAgreement: false,
      wechar: false
    }
  },
  methods: {
    forget() {
      this.forgetFlag = true
    },
    handleClose() {},
    nextStep() {
      if (!this.forgetData.user) {
        this.$message.error('请输入注册邮箱')
        return
      }
    },
    resetPassword() {
      if (!this.forgetData.user) {
        this.$message.error('请输入注册邮箱')
        return
      }
      if (!this.forgetData.code) {
        this.$message.error('请输入验证码')
        return
      }
      if (!this.forgetData.password) {
        this.$message.error('请输入密码')
        return
      }
      if (!this.forgetData.agent) {
        this.$message.error('请再次输入密码')
        return
      }
      this.canel()
    },
    canel() {
      this.forgetFlag = false
      this.forgetData = {
        email: '',
        code: '',
        password: '',
        agent: '',
      }
    },
    getCode() {
      if (!this.forgetData.user) {
        this.$message.error('请输入注册邮箱')
        return
      }
      let second = 60
      this.disabled = true
      this.codeText = `已发送（${second}s）`
      this.timer = setInterval(() => {
        second--
        if (second <= 0) {
          this.codeText = '获取验证码'
          this.disabled = false
          clearInterval(this.timer)
        } else {
          this.codeText = `已发送（${second}s）`
        }
      }, 1000)
    },
    login() {
      let params = {
        email: this.username,
        password: this.password,
      }
      if (!this.username) {
        this.$message.error('请输入邮箱')
        return
      }
      if (!this.password) {
        this.$message.error('请输入密码')
        return
      }
      if (this.loginType == '1') {
        this.$api.Teacher.teacher_login(params).then((res) => {
          this.loginCallBack(res)
        })
      } else {
        this.$api.Common.studentLogin(params).then((res) => {
          this.loginCallBack(res)
        })
      }
    },
    loginCallBack(res) {
      if (res.code == 200) {
        this.$store.commit('setToken', res.data.token)
        let domain = window.location.hostname
        let date = new Date();
        let identify_relation = {
          '1': 'teacher',
          '2': 'student',
        }
        Cookie.set('edu_token', res.data.token, {expires: 1, path: ''})
        window.sessionStorage.setItem('token', res.data.token)
        Cookie.set('identity', identify_relation[this.loginType], {expires: 1, path: ''})
        // window.sessionStorage.setItem(
        //   'identity',
        //   identify_relation[this.loginType],
        // )
        this.token = res.data.token
        if (this.loginType == '1') {
          this.$router.push({ name: 'existingCourse' })
        } else {
          this.$router.push({ name: 'studentManagement' })
        }
      } else {
        this.$message.error(res.error || '登录失败')
      }
    },
    signIn() {
      if (this.checkDataNull(this.signInData)) {
        this.$message.error('请填写全部的注册信息')
        return
      }
      if (!this.checkPassword(this.signInData.password)) {
        this.$message.error(
          '密码不匹配，新密码为8到16位，至少包含一个字母，一个数字，可包含特殊字符',
        )
        return
      }
      if (!this.checkPhone(this.signInData.phone)) {
        this.$message.error('请输入正确的手机号')
        return
      }
      if (this.signInData.password !== this.passwordAgain) {
        this.$message.error('两次密码输入不一致')
        return
      }
      let params = JSON.parse(JSON.stringify(this.signInData))
      params.username = params.email
      if (this.signInType == '1') {
        if (!this.code) {
          this.$message.error('请输入邀请码')
          return
        }
        params.code = this.code
        this.$api.Common.registerTeacher(params).then((res) => {
          this.registerCallBack(res)
        })
      } else {
        delete params.code
        this.$api.Common.registerStudent(params).then((res) => {
          this.registerCallBack(res)
        })
      }
    },
    registerCallBack(res) {
      if (res.code == 200) {
        this.$message.success('注册成功')
        this.signInData = {
          nickname: '',
          password: '',
          school: '',
          email: '',
        }
        this.passwordAgain = ''
        this.code = ''
        this.currentLoginType = 'login'
        this.signInType = 1
      } else {
        this.$message.error(res.error || '注册失败')
      }
      console.log(res)
    },
    changeLoginType(type) {
      this.currentLoginType = type
    },
  },
  created() {
    let self = this
    document.onkeydown = function(e) {
      var key = window.event.keyCode
      if (key == 13) {
        if (self.$route.name == 'login') {
          if (this.currentLoginType == 'login') {
            self.login()
          } else {
            self.signIn()
          }
        }
      }
    }
  },
}
</script>
<style lang="scss" scoped>
@import '../assets/css/var.scss';
.forget-item {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  .forget-item-title {
    text-align: right;
  }
  .forget-item-content {
    display: flex;
    justify-content: space-between;
  }
}
.forget-password {
  text-align: right;
  padding-top: 20px;
}
.login {
  width: 100%;
  height: 100%;
  // position: relative;
  background: url('../assets/images/login_background.jpg') no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='1.jpg',sizingMethod='scale');
}
.login-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    // filter: blur(3px);
  }
}
.login-content {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 10%;
  padding-bottom: 150px;
}
.login-content-inner {
  z-index: 99;
  width: 437px;
  background-color: $--white;
  display: flex;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
}
.top-logo {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  img {
    height: 60px;
  }
}
.login-bottom {
  position: fixed;
  bottom: 20px;
  background-color: rgba(255,255,255,.8);
  // padding-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
  z-index: -1;
  p {
    text-align: center;
    color: $--default;
    font-size: 14px;
    span {
      display: inline-block;
      padding: 5px 10px;
      a {
        color: $--default;
        text-decoration: underline;
      }
    }
  }
}
.top-btn-list {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  .btn {
    width: 76px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: $--default;
    border: 1px solid $--default;
    border-radius: 4px;
    color: $--white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    outline: none;
    transition: all 0.3s;
    &:hover {
      background-color: $--white;
      color: $--default;
    }
  }
  .active {
    background-color: $--white;
    color: $--default;
  }
}
.login-title {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
.login-item {
  padding-bottom: 20px;
  align-items: center;
  display: flex;
}
.login-btn {
  width: 100%;
}
.showAgreement-cl{
  display: flex;
  align-items: center;
  .showAgreement-cl-text{
    padding-left: 10px;
  }
  .showAgreement-cl-text-a{
    color: $--default;
    cursor: pointer;
  }
}
.showAgreement-content{
  max-height: 500px;
  overflow: auto;
}
</style>
