<template>
    <div>
        <el-row class="performance couser-index" :gutter="20">
            <el-col :span="3">
                <p class="performance-title-new">学生数据</p>
            </el-col>
            <el-col :span="15">
                <ClassHeader :tabList="subjects" :current="currentCourse" @change-tab="changeTopTab"/>
            </el-col>
            <el-col :span="6">
                <el-input placeholder="请输入搜索内容" prefix-icon="el-icon-search">
                    <el-button slot="append" type="primary">搜索</el-button>
                </el-input>
            </el-col>
        </el-row>
        <!-- <ClassHeader :tabList="subjects" slot="header" @change-tab="changeTab"/> -->
        <!-- <StudentHeader name="学生数据" :subjects="subjects" @change="changeTopTab"/> -->
        <div class="performance-content">
            <Panel :height="true">
                <ClassHeader :tabList="tabList" slot="header" :current="currentClasses" @change-tab="changeTab"/>
                <div slot="content" class="performance-content-inner">
                    <div class="has-no-student" v-if="students.length == 0">
                        暂无数据
                    </div>
                    <div v-else class="performance-student" v-for="(item, index) in students" :key="index" @click="goStudentDetail(item)">
                        <div class="performance-student-image">
                            <img v-if="item.student.avatarUrl" :src="item.student.avatarUrl" alt="">
                            <span v-else class="student-image-size el-icon-user-solid"></span>
                        </div>
                        <p class="performance-student-name">{{ item.student.nickname }}</p>
                    </div>
                </div>
            </Panel>
        </div>
        <div class="question-bottom-tool bottom-right-align">
            <el-button type="primary" plain @click="logOut('logOut')">返回</el-button>
        </div>
    </div>
</template>
<script>
import TopTab from '../components/pubilc/tabs'
import Panel from '../components/pubilc/panel'
import StudentHeader from '../components/pubilc/student-header'
import ClassHeader from '../components/pubilc/class-header'
import utils from '../utils/index'
import Cookie from 'js-cookie'
export default {
    components: {
        TopTab,
        Panel,
        StudentHeader,
        ClassHeader
    },
    data(){
        return {
            identity: 'teacher',
            tabSelect: '数学',
            currentCourse: '',
            currentClasses: '',
            currentClassesName: '',
            tabList: [],
            students: [],
            subjects: []
        }
    },
    methods: {
        goStudentDetail(item){
            this.$router.push({
                name: 'StudentPerformance',
                query: {
                    id: item.student._id,
                    course: this.currentCourse,
                    name: utils.formatStr(item.student.nickname),
                    courseName: utils.formatStr(this.currentClassesName)
                }
            })
        },
        logOut(){
            this.$router.push({name: "existingCourse"})
        },
        changeTab(val){
            this.currentClasses = val._id
            this.currentClassesName = val.name
            this.getClassesStudent()
        },
        changeTopTab(val){
            this.currentCourse = val._id
            this.getCourseClass()
        },
        init(){
            const params = {
                current: 1,
                pageSize: 99999
            }
            this.$api.Course.get_course_list(params).then(res => {
                if(res.code == 200){
                    this.subjects = res.data.list.map(item => {
                        item.id = item._id
                        return item
                    })
                    if(this.subjects.length > 0){
                        this.currentCourse = this.subjects[0]._id
                    }
                    this.getCourseClass()
                }
            })
        },
        getCourseClass(){
            if(!this.currentCourse){
                return
            }
            const params = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({course: this.currentCourse, isTemp: {$ne: true}})
            }
            this.$api.Course.get_courseClass_list(params).then(res => {
                if(res.code == 200){
                    this.tabList = res.data.list.map(item => {
                        item.text = item.name
                        item.id = item._id
                        item.disabled = false
                        return item
                    })
                    if(this.tabList.length > 0){
                        this.currentClasses = this.tabList[0]._id
                        this.currentClassesName = this.tabList[0].name
                    }
                    this.getClassesStudent()
                }
            })
        },
        getClassesStudent(){
            if(!this.currentClasses){
                return
            }
            const params = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({ 
                    classes: this.currentClasses,
                    course: this.currentCourse,
                 })
            }
            this.$api.Course.get_courseStudent(params).then(res => {
                if(res.code == 200){
                    this.students = res.data.list.filter(item => {
                        return item.student
                    })
                }
            })
        }
    },
    created(){
        this.identity = Cookie.get('identity')
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["成绩"]
        })
    },
    mounted () {
        this.init()
    }
}
</script>
<style lang="scss">
@import '../assets/css/var.scss';
.couser-index{
    .page-title{
        display: flex;
        justify-content: space-between;
        .el-button{
            padding: 12px 24px;
        }
    }
    .edit-btn{
        .el-button{
            min-width: 88px;
            padding: 8px 15px;
        }
    }
    .el-input__inner{
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 20px 0 0 20px;
    }
    .el-input-group__append{
        color: $--white;
        background-color: $--default;
        border: none;
        border-radius: 0 20px 20px 0;
        &:hover{
            background-color: $--default-light-8;
        }
    }
    .el-textarea__inner{
        padding: 12px 15px;
        font-size: 12px;
    }
}
</style>
<style lang="scss" scoped>
@import '../assets/css/var.scss';
.performance{
    display: flex;
}
.performance-content-inner{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.performance-student{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    .performance-student-name{
        font-size: 12px;
        padding: 3px 0;
    }
}
.performance-content{
    padding: 20px 0;
    text-align: center;
}
.performance-title-new{
    min-width: 115px;
    font-size: 26px;
    font-weight: 550;
}
.performance-tab-content{
    max-width: 60vw;
}
.has-no-student{
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
}
</style>