<template>
    <div>
        <div class="couser-index lab-top">
            <el-input class="input-long-3" v-model="labSearch" placeholder="请输入搜索内容" prefix-icon="el-icon-search">
                <el-button slot="append" type="primary" @click="init()">搜索</el-button>
            </el-input>
            <el-button type="primary" @click="uploadQuestion">上传题目</el-button>
        </div>
        <div class="lab-content">
            <div v-if="lab.length == 0">
                暂无数据
            </div>
            <Lab v-else @clickContent="clickContent" v-for="(item, index) in lab" :key="index" :libItem="item"/>
            <div class="page-pagination">
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :page-size="10"
                    :total="page.total"
                    @current-change="init">
                </el-pagination>
            </div>
        </div>
        <Dialog :visible="visible" title="上传题目" width="600px" :close="closeUpload" @dialogSure="uploadQuestionCallback">
            <div slot="dialog-content">
                <UploadQuestion :uploadData="uploadData"/>
            </div>
        </Dialog>
        <Dialog 
            :visible="visibleDetail" 
            title="" 
            width="800px" 
            :close="closeDetail" 
            :footer="false"
            @dialogSure="uploadQuestionCallback">
            <div slot="dialog-content">
                <LibQuestionDetail :currentLabId="currentLab._id"/>
            </div>
            <!-- <div slot="footer">
                <el-button type="primary" plain>引用</el-button>
            </div> -->
        </Dialog>
    </div>
</template>
<script>
import Lab from '../components/question/lab'
import Dialog from '../components/pubilc/dialog'
import LibQuestionDetail from '../components/question/libQuestionDetail'
import UploadQuestion from '../components/question/uploadQuestion'
import config from '../utils/config'
export default {
    components: {
        Lab,
        Dialog,
        UploadQuestion,
        LibQuestionDetail
    },
    data(){
        return {
            labSearch: "",
            visible: false,
            visibleDetail: false,
            uploadData: {
                name: '',
                source: '',
                attachments: []
            },
            lab: [],
            currentLab: {},
            page: {}
        }
    },
    methods: {
        uploadQuestion(){
            this.visible = true
        },
        closeUpload(){
            this.visible = false
        },
        uploadQuestionCallback(){
            if(!this.uploadData.name || !this.uploadData.source || this.uploadData.attachments.length == 0){
                this.$message.error("数据不全，无法保存")
                return
            }
            this.$api.Lab.questionUploadCreate(this.uploadData).then(res => {
                if(res.code == 200){
                    this.$message.success("上传成功，请耐心等待审核")
                    this.init()
                    this.visible = false
                    this.uploadData = {
                        name: '',
                        source: '',
                        attachments: []
                    }
                }
            })
        },
        clickContent(item){
            this.currentLab = item
            this.visibleDetail = true
        },
        closeDetail(){
            this.visibleDetail = false
            this.init()
        },
        init(page){
            let params = {
                current: page || 1,
                pageSize: 10,
                
            }
            if(this.labSearch){
                params.where = JSON.stringify({key: this.labSearch})
            }
            this.$api.Lab.questionBank(params).then(res => {
                if(res.code == 200){
                    this.page = res.data.pagination
                    this.lab = res.data.list
                }
            })
        }
    },
    created(){
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["题库"]
        })
    },
    mounted () {
        this.init()
    }
}
</script>
<style lang="scss">
@import '../assets/css/var.scss';
.couser-index{
    .page-title{
        display: flex;
        justify-content: space-between;
        .el-button{
            padding: 12px 24px;
        }
    }
    .edit-btn{
        .el-button{
            min-width: 88px;
            padding: 8px 15px;
        }
    }
    .el-input__inner{
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 20px 0 0 20px;
    }
    .el-input-group__append{
        color: $--white;
        background-color: $--default;
        border: none;
        border-radius: 0 20px 20px 0;
        &:hover{
            background-color: $--default-light-8;
        }
    }
    .el-textarea__inner{
        padding: 12px 15px;
        font-size: 12px;
    }
}
</style>
<style lang="scss" scoped>
.lab-top{
    display: flex;
    justify-content: space-between
}
.lab-content{
    padding: 20px 0;
}
.page-pagination{
    padding-top: 20px;
    text-align: right
}
</style>