<template>
    <div>
        <StudentHeader :name="formatTitle()" :subjects="subjects" :defaultTab="course_id" @change="changeTab"/>
        <div class="student-content">
            <el-row :gutter="24" class="chart">
                <el-col :span="12">
                    <Chart v-if="chartFlag" id="work" :option="work_option" class="chart-item"></Chart>
                </el-col>
                <el-col :span="12">
                    <span style="font-size: 20px">最近一次考试排名：</span>
                    <span style="font-size: 30px; color: red">{{ ranking }}</span>
                    <!-- <p class="ranking-title">在班级平均排名</p>
                    <div class="ranking-content">
                        <div class="ranking-line-text">
                            <span class="ranking">15</span>
                        </div>
                        <div class="ranking-line"></div>
                    </div>
                    <div class="ranking-desc">
                        <p>在班级平均排名14</p>
                        <p>最近一次考试排名较入学成绩进步<span class="special-text" style="color: #A21832">3</span>名</p>
                    </div> -->
                </el-col>
            </el-row>
            <div>
                <el-row :span="24" class="student-score-title">
                    <el-col class="student-score-title-item">名称</el-col>
                    <el-col class="student-score-title-item">日期</el-col>
                    <el-col class="student-score-title-item">状态</el-col>
                    <el-col class="student-score-title-item">分数</el-col>
                    <el-col class="student-score-title-item">总分</el-col>
                </el-row>
                <div v-if="chartFlag">
                    <div v-for="(item, index) in scoreData" :key="index">
                        <div v-if="item.list.length > 0">
                            <el-row align="center" class="score-title-item">{{ item.name }}</el-row>
                            <el-row class="score-item-details" v-for="(score, i) in item.list" :key="i">
                                <el-col class="score-item-detail">{{ getName(score) }}</el-col>
                                <el-col class="score-item-detail" :title="formatDate(score)">{{ formatDate(score) }}</el-col>
                                <el-col class="score-item-detail">
                                    <span class="score-item-success">{{ formatStatus(score.status) }}</span>
                                </el-col>
                                <el-col class="score-item-detail">{{ score.T?score.score:'' }}</el-col>
                                <el-col class="score-item-detail">{{ getPoint(score) }}</el-col>
                            </el-row>
                        </div>
                        <div v-else>
                            <el-row align="center" class="score-title-item">{{ item.name }}</el-row>
                            <el-row class="score-item-details">
                                <el-col class="score-item-detail" :style="{color: '#ccc'}">暂无数据</el-col>
                            </el-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-bottom-tool bottom-right-align">
            <el-button type="primary" plain @click="logOut('logOut')">返回</el-button>
        </div>
    </div>
</template>
<script>
import StudentHeader from '../components/pubilc/student-header'
import Chart from '@/components/pubilc/chart'
import utils from '../utils/index'
import Cookie from 'js-cookie'
export default {
    components: {
        StudentHeader,
        Chart
    },
    data(){
        return {
            identity: "",
            subjects: [],
            work_option:{
                title: {
                    text: '',
                    subTitle: ''
                },
                xAxis: {
                    data: []
                },
                yAxis: {
                    axisLabel: {
                        formatter: '{value}',
                    },
                },
                series: [{
                    data: [],
                    type: 'line',
                }]
            },
            scoreData: [],
            studentId: '',
            course_id: '',
            courseClassName: '',
            name: '',
            chartFlag: false,
            labelList: [],
            ranking: 0
        }
    },
    methods: {
        logOut(){
            
        },
        getName(data){
            if(data.exam){
                return data.exam.name
            }else if(data.assignment){
                return data.assignment.name
            }
            return ''
        },
        getPoint(data){
            if(data.exam){
                return data.exam.point
            }else if(data.assignment){
                return data.assignment.point
            }
            return ''
            // score.exam?score.exam.point: score.assignment.point
        },
        async changeTab(data){
            this.course_id = data
            this.getCourseClass(this.course_id)
            await this.getLabelList()
            this.init()
        },
        formatTitle(){
            if(this.identity == "teacher"){
                return "{0}({1})".format(this.name, this.courseClassName)
            }else{
                return "{0}".format(this.courseClassName)
            }
            
        },
        init(){
            this.chartFlag = false
            this.$api.Student.student_courseReport(this.course_id, {
                student: this.studentId
            }).then(res => {
                if(res.code == 200){
                    this.ranking = res.data.exams.length > 0 ? (res.data.exams[0].ranking ? `第 ${res.data.exams[0].ranking} 名` : `暂无排名`) : `暂无排名`
                    this.scoreData = this.formatReport(res.data.exams, res.data.assignments)
                    this.chartFlag = true
                }
            })
        },
        getCourse(){
            if(this.identity == 'teacher') {
                this.tearchGetCourse()
            }else{
                this.studentGetCourse()
            }
        },
        tearchGetCourse() {
            const params = {
                current: 1,
                pageSize: 999999,
                where: JSON.stringify({
                    student: this.studentId
                })
            }
            this.$api.Course.get_StudentCurse(params).then(res => {
                if(res.code == 200){
                    this.subjects = res.data.list.filter(item => {
                        return item
                    }).map(item => {
                        item.id = item._id
                        return item
                    })
                    this.changeTab(this.course_id)
                }
            })
        },
        studentGetCourse() {
            const params = {
                current: 1,
                pageSize: 999999,
            }
            this.$api.Student.get_student_course(params).then(res => {
                if(res.code == 200){
                    this.subjects = res.data.list.filter(item => {
                        return item
                    }).map(item => {
                        item.id = item._id
                        return item
                    })
                    this.course_id = this.subjects[0].id
                    this.changeTab(this.course_id)
                }
            })
        },
        getCourseClass(course_id) {
            this.subjects.map(item => {
                if(item.id == course_id) {
                    this.courseClassName = item.classes?item.classes.name: "--"
                }
            })
        },
        formatReport(exams, assignment) {
            let exam = JSON.parse(JSON.stringify(exams))
            let examName = []
            let examScore = []
            let report = JSON.parse(JSON.stringify(this.labelList))
            exams.map((item, index) => {
                examName.push(item.exam ? item.exam.name : '')
                examScore.push(item.score || 0)
                if(!item.exam){
                    exam.splice(index, 1)
                    // if(item.exam){
                    //     item.exam.category = "0"
                    // }else{
                    //     item.exam = {}
                    //     item.exam.category = "0"
                    // }
                }else{
                    item.name = item.exam ? item.exam.name : ''
                    report.map(i => {
                        if(i._id == (item.exam ? item.exam.category : '')){
                            i.list.push(...exam.splice(index, 1))
                        }
                    })
                }
            })
            report.push({
                list: [...exam.map(item => {
                    item.name = item.exam ? item.exam.name : ''
                    return item
                })],
                _id: "0",
                name: "无类别考试"
            })
            assignment.map((item, index) => {
                if(!item.assignment){
                    assignment.splice(index, 1)
                    // item.assignment.category = "0"    
                }else{
                    item.name = item.assignment ? item.assignment.name : ''
                    report.map(i => {
                        if(i._id == item.assignment.category){
                            i.list.push(...assignment.splice(index, 1))
                        }
                    })
                }
            })
            report.push({
                list: [...assignment.map(item => {
                    item.name = item.assignment ? item.assignment.name : ''
                    return item
                })],
                id: "0",
                name: "无类别作业"
            })
            this.$set(this.work_option.xAxis, 'data', examName)
            this.$set(this.work_option.series[0], 'data', examScore)
            console.log("report", report)
            return report
        },
        formatStatus(status){
            let s = {
                assigned: '已布置',
                finished: '已完成',
                checked: '已批阅',
                expired: '已过期',
                freezed: '冻结'
            }
            return s[status] || ''
        },
        formatDate(item){
            return "{0} - {1}".format(utils.formatDate(new Date(item.startTime), "yyyy-MM-dd"), utils.formatDate(new Date(item.endTime), "yyyy-MM-dd"))
        },
        async getLabelList(){
            let res = await this.$api.Common.taskCategory(this.course_id)
            if(res.code == 200){
                this.labelList = res.data.list.map(item => {
                    item.list = []
                    item.id = item._id
                    return item
                })
                // this.exam.category = this.taskClassification.length > 0 ? this.taskClassification[0]._id : ''
            }
        }
    },
    mounted () {
        this.getCourse()
    },
    created(){
        this.identity = Cookie.get('identity')
        if(this.identity == 'teacher') {
            this.studentId = utils.getQueryString("id")
            this.name = utils.getQueryString("name")
            this.course_id = utils.getQueryString("course")
            this.work_option.title.text = utils.getQueryString("name")
        }else{
            this.studentId = window.sessionStorage.getItem('user_id')
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../assets/css/var.scss';
@import '../assets/css/dataTable.scss';
.student-content{
    margin: 20px 0;
    padding-bottom: 60px;
    background-color: $--white;
    border-radius: 8px;
}
.chart{
    padding: 20px;
    .chart-item{
        height: 280px;
    }
}
.ranking-title{
    font-weight: 550;
    font-size: 13px;
    color: $--text-1
}
.ranking-desc{
    font-size: 12px;
    color: $--text-1;
    .special-text{
        color: $--default;
        font-size: 20px;
        font-weight: 550;
    }
}
.ranking-content{
    width: 50%;
    min-width: 50%;
    padding: 20px 0;
    .ranking-line{
        width: 100%;
        height: 31px;
        background-color: $--default
    }
    .ranking-line-text{
        font-size: 32px;
        font-weight: 550;
        color: $--text-1;
        position: relative;
        left: 30%;
        cursor: pointer;
        .ranking{
            position: relative;
            display: inline-block;
            bottom: 5px;
            &:before{
                content: '';
                position: absolute;
                bottom: -5px;
                width: 13px;
                height: 7px;
                border: 7px solid transparent;
                border-bottom: none;
                border-top: 7px solid $--text-1;
                box-sizing: border-box;
                left: 35%;
                
            }
            &:after{
                content: '';
                width: 4px;
                height: 31px;
                position: absolute;
                background-color: $--text-1;
                bottom: -36px;
                left: 50%;
            }
        }
    }
}
</style>