<template>
  <div>
    <div class="svg-list" v-for="(item, index) in svgList" :key="index">
      <Icon :name="item.name.split('.')[0]" />
      <span>{{ item.name }}</span>
    </div>
  </div>
</template>
<script>
import fs from 'fs'
import Icon from '../components/pubilc/icon'
export default {
  components: {
    Icon,
  },
  data() {
    return {
      svgList: [
        { name: 'delete.svg' },
        { name: 'ic_Correction.svg' },
        { name: 'ic_FAQ.svg' },
        { name: 'ic_Message.svg' },
        { name: 'ic_add.svg' },
        { name: 'ic_arrow.svg' },
        { name: 'ic_button.svg' },
        { name: 'ic_complete.svg' },
        { name: 'ic_confirm.svg' },
        { name: 'ic_danxuan.svg' },
        { name: 'ic_date.svg' },
        { name: 'ic_delete.svg' },
        { name: 'ic_duoxuan.svg' },
        { name: 'ic_edit.svg' },
        { name: 'ic_file.svg' },
        { name: 'ic_jianda.svg' },
        { name: 'ic_manage.svg' },
        { name: 'ic_result.svg' },
        { name: 'ic_search.svg' },
        { name: 'ic_see.svg' },
        { name: 'ic_thumb.svg' },
        { name: 'ic_tiankong.svg' },
        { name: 'ic_time.svg' },
        { name: 'ic_true.svg' },
        { name: 'ic_unselected.svg' },
        { name: 'ic_warning.svg' },
        { name: 'ic_watch.svg' },
        { name: 'ic_wrong.svg' },
        { name: 'ic_good.svg' },
        { name: 'ic_general.svg' },
        { name: 'ic_bad.svg' },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.svg-list {
  display: flex;
  align-items: center;
  padding: 0 0 20px 20px;
}
</style>
