<template>
    <div class="page-content calendar">
        <div class="left-box">
            <div class="page-title">
                <p class="main-title">{{default_date.text}}</p>
                <div class="right-box">
                    <date-switch :date="default_date.date" @change-date="get_calendar" class="swith-btn"></date-switch>
                    <el-button type="primary" @click="get_calendar(new Date())">今天</el-button>
                    <el-button type="primary" @click="addDialog = true">添加事件</el-button>
                    <el-button type="primary" @click="toPage('EventList')">管理事件</el-button>
                </div>
            </div>
            <div class="calendar">
                <Calendar @change-date="get_calendar" :date="default_date.date" :content="date_content"></Calendar>
            </div>
        </div>  
        <div class="course-list">
            <div class="title">我的课程</div>
            <el-checkbox v-model="select_event" @change="get_calendar(new Date)">
                <span class="color-block" :style="{backgroundColor: 'rgba(52, 113, 186, 0.3)'}"></span>事件
            </el-checkbox>
            <el-checkbox-group v-model="checkList" @change="get_calendar(new Date)">
                <el-checkbox v-for="(item, index) in course_list" :key="index" :label="item.id">
                    <!-- <span class="color-block" v-if="item.color.length == 7" :style="{backgroundColor: item.color}"></span>
                    <img class="color-block" v-else :src="item.color"> -->
                    <span class="color-block" :style="{backgroundColor: getCourseColor(index, item.id)}"></span>
                    <span class="checkbox-label" :title="item.name">{{item.name}}</span>
                </el-checkbox>
            </el-checkbox-group>
        </div>
        <Dialog title="添加事件" :visible="addDialog" width="744px" :close="closeDialog" @dialogSure="create_event">
            <div slot="dialog-content" class="dialog-content">
                <el-row>
                    <el-col :span="3">名字</el-col>
                    <el-col :span="21"><el-input v-model="event.name"></el-input></el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">开始时间</el-col>
                    <el-col :span="21" class="picker-box">
                        <date-picker :defaultVal="[event.start_time, event.end_time]" @changeDateTime="changeDateTime"></date-picker>
                        <div class="start-time-picker">
                            <timePicker></timePicker>
                            <span class="label">结束时间</span>
                        </div>
                        <div class="end-time-picker">
                            <timePicker></timePicker>
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">重复</el-col>
                    <el-col :span="21">
                        <span v-for="(item, index) in week" :key="index" class="margin-right">
                            <el-button type="primary"  @click="selectWeek(index)" v-if="event.week.indexOf(index) >= 0">{{item}}</el-button>
                            <el-button @click="selectWeek(index)" v-else>{{item}}</el-button>
                        </span>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">备注</el-col>
                    <el-col :span="21"><el-input type="textarea" rows="4" v-model="event.remark"></el-input></el-col>
                </el-row>
            </div>
        </Dialog>
    </div>
</template>

<script>
import Calendar from '@/components/pubilc/calendar'
import dateSwitch from '@/components/pubilc/date-switch'
import utils from '@/utils/index'
import color_config from '@/utils/config'
import Dialog from '@/components/pubilc/dialog'
import datePicker from '@/components/pubilc/date-picker-range'
import timePicker from '@/components/pubilc/time-picker'
import Cookie from 'js-cookie'
export default {
    components: {Calendar, dateSwitch, Dialog, datePicker, timePicker},
    data() {
        return {
            identity: "",
            course_list: [],
            default_date: {
                date: "",
                text: ""
            },
            select_event: true,
            checkList: [],
            date_content: {},
            addDialog: false,
            event: {
                name: "",
                start_time: new Date(),
                end_time: new Date(),
                week: [],
                remark: ""
            },
            week: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            course_color: {}
        }
    },
    methods: {
        get_course(){
            const params = {
                current: 1,
                pageSize: 99999,
            }
            let component = ""
            let api = ""
            if(this.identity == 'teacher'){
                component = this.$api.Course
                api = "get_course_list"
            }else{
                component = this.$api.Student
                api = "get_student_course"
            }
            component[api](params).then(res => {
                if(res.code == 200){
                    this.checkList = []
                    this.course_list = []
                    res.data.list.filter(item => item).map(element => {
                        this.checkList.push(element._id)
                        this.course_list.push({
                            name: element.name,
                            id: element._id,
                            color: element.color
                        })
                    })
                    this.get_calendar(new Date())
                }
            })
        },
        get_calendar(date){
            let month = utils.formatDate(new Date(date), "yyyy-MM")
            let reqData = {
                courses: this.checkList,
                event: this.select_event,
                month: month
            }
            let component, api
            if(this.identity == 'teacher'){
                component = this.$api.Teacher
                api = "get_teacher_calendar"
            }else{
                component = this.$api.Student
                api = "get_student_calendar"
            }
            component[api](reqData).then(resData => {
                if(resData.code == 200){
                    this.date_content = {}
                    for(let key in resData.data){
                        resData.data[key].forEach(element => {
                            let time = ""
                            let item = {}
                            if(element.eventTime){
                                time = utils.formatDate(new Date(element.eventTime), "yyyy-MM-dd")
                            }else{
                                time = utils.formatDate(new Date(element.startTime), "yyyy-MM-dd")
                            }
                            if(Object.keys(this.date_content).indexOf(time) < 0 ){
                                this.date_content[time] = {}
                            }
                            let data = element
                            if(this.identity == 'student') {
                                // data = element
                                if(element.exam) {
                                    data = element.exam
                                    data.type = "exams"
                                }else if(element.assignment) {
                                    data = element.assignment
                                    data.type = "assignments"
                                }else if(element.courseware) {
                                    data = element.courseware
                                    data.type = "coursewares"
                                }
                                data._id = element._id
                                data.endTime = element.endTime
                            }else{
                                if(element.exam) {
                                    data = element.exam
                                    data.type = "exams"
                                }else if(element.assignment) {
                                    data = element.assignment
                                    data.type = "assignments"
                                }else if(element.courseware) {
                                    data = element.courseware
                                    data.type = "coursewares"
                                }
                                data.endTime = element.endTime
                            }
                            item = {
                                name: data.name,
                                id: data._id,
                                course_id: element.course,
                                color: this.course_color[element.course] || "rgba(52, 113, 186, 0.3)",
                                endTime: utils.formatDate(new Date(data.endTime), "yyyy-MM-dd"),
                                introduction: data.introduction,
                                visible: data.visible,
                                unit: data.unit,
                                type: data.type
                            }
                            if(Object.keys(this.date_content[time]).indexOf(key) < 0 ){
                                this.date_content[time][key] = [item]
                            }else{
                                this.date_content[time][key].push(item)
                            }
                        })
                    }
                    this.getDefaultDate(date)
                }
            })
        },
        getDefaultDate(date){
            this.default_date.date = date
            this.default_date.text = utils.formatDate(date, "yyyy年MM月dd日")
        },
        closeDialog(){
            this.addDialog = false
        },
        selectWeek(index){
            let _start = this.event.week.indexOf(index)
            if(_start >= 0){
                this.event.week.splice(_start, 1)
            }else{
                this.event.week.push(index)
            }
        },
        changeDateTime(date){
            this.event.start_time = date[0]
            this.event.end_time = date[1]
        },
        create_event(){
            if(!this.event.name){
                this.$message.warning("请输入事件名称!")
                return
            }
            let reqData = {
                name: this.event.name,
                startTime: new Date(this.event.start_time).getTime(),
                endTime: new Date(this.event.end_time).getTime(),
                introduction: this.event.remark,
                repeat: this.event.week
            }
            this.$api.Event.create_event(reqData).then(resData => {
                if(resData.code == 200) {
                    this.get_calendar(this.default_date.date)
                    this.addDialog = false
                }
            })
        },
        getCourseColor(index, id) {
            let color = ""
            if(index > color_config.labelColors.length-1) {
                index = index - color_config.labelColors.length
                this.getCourseColor(index, id)
            }else{
                color = color_config.labelColors[index]
                this.course_color[id] = color
                return color
            }
        },
        toPage(name) {
            this.$router.push({name: name})
        }
    },
    created() {
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["课程表"]
        })
        this.identity = Cookie.get('identity')
        this.get_course()
        // this.test()
    }
}
</script>

<style lang="scss">
@import '@/assets/css/var.scss';
.calendar{
    .el-checkbox{
        margin-bottom: 4px;
        .el-checkbox__inner{
            vertical-align: middle;
        }
    }
    .el-checkbox__input.is-checked + .el-checkbox__label{
        color: $--text-2;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
        background-color: $--green;
        border-color: $--green;
    }
    .el-checkbox__inner{
        &:hover,&:focus{
            border-color: $--green;
        }
    }
    .el-checkbox__input.is-focus .el-checkbox__inner {
        border-color: $--green;
    }
    .el-input__inner {
        height: 32px;
        line-height: 32px;
    }
    .el-input--prefix .el-input__inner {
        padding-left: 10px;
    }
    .el-input--suffix .el-input__inner {
        padding-right: 20px;
    }
}
</style>
<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.page-title{
    display: flex;
    justify-content: space-between;
    .right-box{
        display: flex;
        .swith-btn {
            margin-right: 12px;
        }
    }
}
.page-content {
    display: flex;
    padding-top: 16px;
    .left-box{
        flex: 1;
        .calendar {
            padding: 16px;
            background: $--white;
        }
    }
    .course-list {
        width: 182px;
        overflow: auto;
        margin-left: 16px;
        margin-top: 65px;
        padding: 16px;
        background: $--white;
        .title {
            font-size: 16px;
            padding-bottom: 20px;
        }
        .color-block{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
        .checkbox-label{
            display: inline-block;
            width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.dialog-content {
    .el-row{
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 16px;
    }
    .picker-box{
        position: relative;
        .start-time-picker{
            position: absolute;
            display: flex;
            left: 154px;
            top: 0;
            .label {
                margin-left: 20px;
            }
        }
        .end-time-picker{
            position: absolute;
            top: 0;
            left: 490px;
        }
    }
    .margin-right{
        margin-right: 14px;
        &:last-child{
            margin-right: 0;
        }
    }
}
</style>