<template>
    <div class="page-content">
        <div class="page-title">
            <div></div>
            <div class="right-box">
                <!-- <date-switch :date="default_date" @change-date="getEventList" class="swith-btn"></date-switch> -->
            </div>
        </div>
        <div class="page-content-card">
            <el-table :data="table_data" stripe border>
               <el-table-column label="事件名称" prop="name"></el-table-column>
                <el-table-column label="开始时间" prop="startTime">
                    <template slot-scope="scope">{{formatDate(scope.row.startTime)}}</template>
                </el-table-column>  
                <el-table-column label="结束时间" prop="endTime">
                    <template slot-scope="scope">{{formatDate(scope.row.endTime)}}</template>
                </el-table-column>
                <el-table-column label="重复时间" prop=""></el-table-column>
                <el-table-column label="备注" prop="email"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" @click="delEvent(scope.row._id)">
                            <i class="el-icon-delete"></i>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="page-content-card-bottom">
                <el-pagination layout="prev, pager, next"  @current-change="getEventList"
                    :current-page="current_page" :page-size="page_size" :total="total_count"></el-pagination>
                <el-button @click="toBack">返回</el-button>
            </div>
        </div>
        
    </div>
</template>

<script>
import dateSwitch from '@/components/pubilc/date-switch'
import utils from '@/utils/index'
export default {
    components: { dateSwitch },
    data() {
        return {
            default_date: "",
            table_data: [],
            current_page: 1,
            page_size: 20,
            total_count: 0
        }
    },
    methods: {
        getEventList(page) {
            if(page) this.current_page = page
            let reqData = {
                current: this.current_page,
                pageSize: this.page_size
            }
            this.$api.Event.get_event(reqData).then(resData => {
                if(resData.code == 200) {
                    this.table_data = resData.data.list
                }
            })
        },
        formatDate(time) {
            return utils.formatDate(new Date(time), "yyyy-MM-dd hh:mm")
        },
        toBack() {
            this.$router.push({name: 'Calendar'})
        }
    },
    mounted() {
        this.default_date = new Date()
        this.getEventList(1)
    },
    created() {
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["课程表", "管理事件"]
        })
        this.identity = window.sessionStorage.getItem('identity')
    }
}
</script>