/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.el-tag {
  background-color: #f6e8eb;
  border-color: #ecd1d6;
  color: #a21832;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #A21832;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #A21832; }
  .el-tag .el-tag__close {
    color: #a21832; }
    .el-tag .el-tag__close:hover {
      color: #FFFFFF;
      background-color: #a21832; }
  .el-tag.el-tag--info {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399; }
    .el-tag.el-tag--info.is-hit {
      border-color: #909399; }
    .el-tag.el-tag--info .el-tag__close {
      color: #909399; }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #909399; }
  .el-tag.el-tag--success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a; }
    .el-tag.el-tag--success.is-hit {
      border-color: #67C23A; }
    .el-tag.el-tag--success .el-tag__close {
      color: #67c23a; }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #67c23a; }
  .el-tag.el-tag--warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #E6A23C; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #e6a23c; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #e6a23c; }
  .el-tag.el-tag--danger {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c; }
    .el-tag.el-tag--danger.is-hit {
      border-color: #F56C6C; }
    .el-tag.el-tag--danger .el-tag__close {
      color: #f56c6c; }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #f56c6c; }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #a21832;
    border-color: #a21832;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #A21832; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #b5465b; }
    .el-tag--dark.el-tag--info {
      background-color: #909399;
      border-color: #909399;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #909399; }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #a6a9ad; }
    .el-tag--dark.el-tag--success {
      background-color: #67c23a;
      border-color: #67c23a;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #67C23A; }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #85ce61; }
    .el-tag--dark.el-tag--warning {
      background-color: #e6a23c;
      border-color: #e6a23c;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #E6A23C; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ebb563; }
    .el-tag--dark.el-tag--danger {
      background-color: #f56c6c;
      border-color: #f56c6c;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #F56C6C; }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f78989; }
  .el-tag--plain {
    background-color: white;
    border-color: #daa3ad;
    color: #a21832; }
    .el-tag--plain.is-hit {
      border-color: #A21832; }
    .el-tag--plain .el-tag__close {
      color: #a21832; }
      .el-tag--plain .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #a21832; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #d3d4d6;
      color: #909399; }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #909399; }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #909399; }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #909399; }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #c2e7b0;
      color: #67c23a; }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #67C23A; }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #67c23a; }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #67c23a; }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #f5dab1;
      color: #e6a23c; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #E6A23C; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #e6a23c; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #e6a23c; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #fbc4c4;
      color: #f56c6c; }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #F56C6C; }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #f56c6c; }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f56c6c; }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
