<template>
  <div>
    <StudentHeader :name="class_name" :subjects="subjects" @change="changeTab" :search="false"/>
    <div class="top-preview-question" v-if="previewFlag">
      <el-alert
        :title="currentContent"
        type="info"
        :closable="false">
      </el-alert>
      <!-- <el-tag type="danger"></el-tag> -->
    </div>
    <el-row class="test-content" type="flex">
      <el-col class="test-question table-max-height" :span="17">
        <el-table :data="scoreData" stripe border v-if="currentType===1">
          <el-table-column label="姓名" width="100" prop="content">
            <template slot-scope="scope">
                            <span class="meassage-content-parent">
                                {{ scope.row.student.nickname }}
                            </span>
            </template>
          </el-table-column>
          <el-table-column label="答案">
            <template slot-scope="scope">
              <div v-if="scope.row.question.type==='Upload'">上传题</div>
              <div v-if="scope.row.question.type==='Composition'">
                作文题
              </div>
              <div v-if="scope.row.question.type!=='Composition'&&scope.row.question.type!=='Upload'">
                {{scope.row.answer}}
              </div>
            </template>
          </el-table-column>
          <el-table-column label="题目状态" width="200">
            <template slot-scope="scope">
              <el-radio-group v-model="scope.row.qusetion_status" size="mini"
                              @change="(val) => {changeQuestionStatus(val, scope)}">
                <el-radio-button label="1" border>对</el-radio-button>
                <el-radio-button label="2" border>错</el-radio-button>
                <el-radio-button label="3" border>批改</el-radio-button>
              </el-radio-group>
            </template>
          </el-table-column>
          <el-table-column label="分数" prop="score" width="120">
            <template slot-scope="scope">
              <el-input v-if="scope.row.qusetion_status == '3'" class="input-short-3" v-model="scope.row.score"
                        @change="(val) => {submitStudentScore(val, scope.row, 'score')}"></el-input>
              <span v-else>{{ scope.row.score?scope.row.score:(scope.row.status == 'finished'?'--':0) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="评语">
            <template slot-scope="scope">
              <el-input type="textarea" v-model="scope.row.comments"
                        @change="(val) => {submitStudentScore(val, scope.row, 'comments')}"></el-input>
            </template>
          </el-table-column>
        </el-table>
        <div v-if="currentType===2" v-html="CompositionContent"></div>
        <div v-if="currentType===3" class="iframe-box">
          <iframe :src="file_url" frameborder="0"></iframe>
        </div>
      </el-col>
      <el-col class="test-question-num" :span="5">
        <div class="opinion-title">
          题目
        </div>
        <div class="question-list">
          <div class="question-item" v-for="(item, index) in questionList" :key="index"
               :class="changeClass(item, index)" @click="clickQuestionItem(index, item)">
            {{ item.questionNo }}
          </div>
        </div>
        <div class="assignment-content student-list-button" v-if="currentType===3||currentType===2">
          <el-button size="mini" type="primary" plain icon="el-icon-arrow-left" @click="prevStudent"></el-button>
          <el-dropdown @command="changeStudent">
            <el-button size="mini" type="primary">
              {{ currentStudent.student ? currentStudent.student.nickname : '请选择学生' }}
              <i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item :command="index" v-for="(item, index) in scoreData" :key="index">{{
                item.student.nickname }}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <el-button size="mini" type="primary" plain icon="el-icon-arrow-right" @click="nextStudent"></el-button>
        </div>
        <div v-if="isGetStu===true" style="margin-top: 15px">
          总分：
          <el-input v-model="currentStudent.score" placeholder="请输入分数"
                    @change="(val) => {submitStudentScore1(val, 'score')}"></el-input>
        </div>
        <div class="FileList" v-if="currentType===3&&isGetStu===true" style="margin-top: 15px">
          <ul>
            <li
              :class="activeData.index === index ? 'active' : ''"
              v-for="(item, index) in currentStudentAttachments"
              :key="index"
              @click="changeDataList(item, index)">{{ item.name }}
            </li>
          </ul>
        </div>
        <div class="assignment-content" style="margin-top: 15px" v-if="isGetStu===true">
          <el-input v-model="currentStudent.comments" :rows="4" type="textarea"
                    @change="(val) => {submitStudentScore1(val, 'comments')}"
                    placeholder="请输入评语"></el-input>
        </div>
        <!-- <div class="preview-question" v-if="previewFlag"> -->
        <!-- <div class="opinion-title">
            题目内容
        </div>
        <div class="preview-content">
            {{ currentContent || '' }}
        </div> -->
        <!-- </div> -->
      </el-col>
    </el-row>
    <!-- <el-row>
        <el-col class="correct-bottom" :span="17" >
            <el-button type="primary" @click="save">保存</el-button>
            <el-button type="primary" plain @click="goBack">退出</el-button>
        </el-col>
    </el-row> -->
    <div class="question-bottom-tool">
      <div class="question-button-left"></div>
      <div class="question-button-right">
        <!--<el-button type="primary" @click="save">完成批改</el-button>-->
        <el-button type="primary" plain @click="goBack">退出</el-button>
      </div>
    </div>
    <el-dialog
      title="文件播放"
      :visible.sync="centerDialogVisible"
      width="30%"
      :modal="false"
      :lock-scroll="true"
      :before-close="cancel"
      :show-close="false"
    >
      <div style="text-align: center" v-if="Filetype===1">
        <audio controls="controls" :src="mp3" type="audio/mpeg" v-if="mp3!==''" id="music"></audio>
      </div>
      <div style="text-align: center" v-if="Filetype===2">
        <video :src="mp3" widht="200" height="200" controls preload="none">
          <source :src="mp3" type="video/mp4"/>
        </video>
      </div>
      <span slot="footer" class="dialog-footer">
 <!--   <el-button @click="cancel">返回</el-button>-->
        <!-- <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>-->
  </span>
    </el-dialog>
  </div>
</template>
<script>
  import StudentHeader from '../../components/pubilc/student-header'
  import Single from '../../components/subject/single'
  import utils from '../../utils/index'
  import ClassHeader from '../../components/pubilc/class-header'

  import Svg from 'svgjs'
  import Config from '../../utils/config'
  import html2canvas from 'html2canvas'
  import jsPDF from 'jspdf'
  import PDFObject from 'pdfobject'

  export default {
    components: {
      StudentHeader,
      Single,
      ClassHeader,
    },
    data() {
      return {
        isGetStu: false,
        comment: '',
        score: 0,
        colorList: Config.labelColors,
        currentColor: '0',
        showTool: false,
        toolType: '',
        path: '',
        currentTool: 0,
        showDelete: {
          showDelete: false,
          top: 0,
          left: 0,
          deletePathId: '',
          type: '',
        },
        cursor: 'default',
        tools: [
          // {
          //     icon: 'el-icon-download',
          //     type: 'downLoadImg'
          // },
          {
            icon: 'el-icon-top-left',
          },
          {
            icon: 'el-icon-location',
            type: 'tag',
          },
          {
            icon: 'el-icon-tickets',
            type: 'text',
          },
          // {
          //     icon: 'el-icon-chat-dot-square'
          // },
          {
            icon: 'el-icon-edit',
            type: 'mapmaker',
          },
          // {
          //     icon: 'el-icon-download'
          // },

        ],
        lineWidth: {
          list: [
            {
              width: '3',
            },
            {
              width: '5',
            },
            {
              width: '7',
            },
          ],
          currentWidth: '0',
          currentWidthData: '3',
        },
        lineType: {
          list: [
            {
              type: 'curve',
              name: '曲线',
            },
            {
              type: 'transverse',
              name: '横线',
            },
            {
              type: 'vertical',
              name: '竖线',
            },
          ],
          currentType: 'curve',
        },
        lineShape: {
          currentShape: 'line',
          list: [
            {
              type: 'line',
              name: '线',
              toolTip: '按住【shift】键可绘制横线，按住【alt】键可绘制竖线',
            },
            {
              type: 'rectangle',
              name: '矩形',
              toolTip: '按住【shift】键可绘制正方形',
            },
            {
              type: 'ellipse',
              name: '圆',
              toolTip: '按住【shift】键可绘制成正圆',
            },
          ],
        },
        pointList: [],
        textList: [],
        drawData: {
          pathArray: '',
          path: '',
          drowFlag: false,
          color: '#A21832',
          lineWidth: '3',
        },
        activePointDialog: '',
        addText: {
          content: '',
          top: 0,
          left: 0,
          deletePathId: '',
          type: '',
          showAddText: false,
        },
        addTextData: {},
        hiddenTextAddFlag: false,
        currentAddText: '',
        movePointFlag: false,
        ctx: null,
        imgStyle: {
          width: 0,
          height: 0,
        },
        vesselWidth: 0,
        dataList: [],
        lineStatus: false,
        currentDrawSvg: {},
        clickPath: false,
        lineTextList: [],
        pdf: null,
        all_height: 0,
        shiftKey: false,
        altKey: false,
        pdfStatus: true,
        studentList: [],
        currentStudentIndex: 0,
        id: utils.getQueryString('id'),
        class_id: utils.getQueryString('current'),
        assignment: utils.getQueryString('assignment'),
        assignmentLabels: [],
        timer: null,
        student_id: utils.getQueryString('student'),

        centerDialogVisible: false,
        mp3: '',
        MP4: '',
        file_url: '',
        currentType: 1,
        activeData: {
          index: '',
          data: [],
        },
        currentStudentAttachments: [],
        currentStudent: '',
        class_name: utils.getQueryString('class_name'),
        subjects: [],
        scoreData: [],
        questionList: [],
        currentClasses: '',
        currentIndex: '',
        previewFlag: false,
        currentPreview: {},
        exam: {},
        scoreList: {},
        currentContent: '',
        Filetype: '',
        CompositionContent: '',
      }
    },
    methods: {
      clickQuestionItem(index, item) {
        this.file_url = ''
        this.isGetStu = false
        this.activeData = {
          index: '',
          data: [],
        }
        this.currentStudentIndex=0;
        this.currentIndex = index
        this.previewFlag = true
        this.currentPreview = item
        this.get_exam_classQustion()
        // if(item && (item.type == 'Text' || item.type == 'Blanks')){
        //     this.previewFlag = true
        //     this.currentPreview = item
        //     this.get_exam_classQustion()
        // }else{
        //     this.previewFlag = false
        //     this.currentPreview = {}
        // }
      },
      prevStudent() {
        if (this.scoreData.length == 0) {
          return
        }
        if (this.currentStudentIndex == 0) {
          return
        }
        this.currentStudentIndex -= 1
        this.currentStudent = this.scoreData[this.currentStudentIndex]
        if (this.currentStudent.question.type === 'Upload') {
          this.currentType = 3
          console.log('上传题')
          this.currentStudentAttachments = this.currentStudent.attachments
          console.log(this.currentStudent.attachments)
          this.isGetStu = true
        }
        if (this.currentStudent.question.type === 'Composition') {
          console.log('作文题')
          this.currentType = 2
          this.CompositionContent = this.currentStudent.answer
          this.isGetStu = true

        }
        if (this.currentStudent.question.type !== 'Composition' && this.currentStudent.question.type !== 'Upload') {
          console.log('其他题')
          this.currentType = 1
          this.isGetStu = false
        }
      },
      nextStudent() {
        if (this.scoreData.length == 0) {
          return
        }
        if (this.currentStudentIndex == this.scoreData.length - 1) {
          return
        }
        this.currentStudentIndex += 1
        this.currentStudent = this.scoreData[this.currentStudentIndex]
        if (this.currentStudent.question.type === 'Upload') {
          this.currentType = 3
          console.log('上传题')
          this.currentStudentAttachments = this.currentStudent.attachments
          console.log(this.currentStudent.attachments)
          this.isGetStu = true
        }
        if (this.currentStudent.question.type === 'Composition') {
          console.log('作文题')
          this.currentType = 2
          this.CompositionContent = this.currentStudent.answer
          this.isGetStu = true

        }
        if (this.currentStudent.question.type !== 'Composition' && this.currentStudent.question.type !== 'Upload') {
          console.log('其他题')
          this.currentType = 1
          this.isGetStu = false
        }
      },
      changeLabelScore() {
        let score = 0
        this.assignmentLabels.map(item => {
          score += !isNaN(Number(item.score)) || 0
        })
        this.score = score
      },
      toPage() {
        let query = JSON.parse(window.sessionStorage.getItem('query'))
        this.$router.push({
          name: 'AssignmentMark',
          query: query,
        })
        // this.$router.go(-1)
      },
      saveStudentPoint() {
        const params = {
          score: this.score,
          labelScore: this.assignmentLabels.map(item => {
            return {
              label: item.name,
              score: item.score,
              T: 510,
            }
          }),
          comment: this.currentStudent.comment,
        }
        const id = this.currentStudent._id
        this.$api.Teacher.stuAssignment_updata(id, params).then(res => {
          if (res.code == 200) {
            this.$message.success('提交成功')
          } else {
            this.$message.error(res.error || '提交失败')
          }
        })
      },
      saveSubmitAssgnment() {
        if (this.currentStudentAttachments.length > 0) {
          this.submitAssgnment(false)
        }
        this.saveStudentPoint()
      },
      submitAssgnment(clickSave) {
        const { name, url, _id } = this.currentStudentAttachments[this.activeData.index]
        const params = {
          svg: this.$refs.svgMyDraw.innerHTML,
          svgData: {
            lineTextList: this.lineTextList,
            pointList: this.pointList,
            textList: this.textList,
          },
          _id,
          name,
          url,
          refresh: true,
        }
        const studentId = this.currentStudent._id
        this.$api.Assignment.saveAttachment(studentId, params).then(res => {
          if (res.code == 200) {
            if (clickSave) {
              this.$message.success('保存成功')
            }
          } else {
            this.$message.error(res.msg || '保存失败')
          }
        })
      },
      getSvgData() {
        if (this.currentStudentAttachments.length > 0) {
          const studentId = this.currentStudent._id
          const id = this.currentStudentAttachments[this.activeData.index]._id
          this.$api.Assignment.getAttachment(studentId, id).then(res => {
            if (res.code == 200) {
              this.$refs.svgMyDraw.innerHTML = res.data.svg
              if (res.data.svgData.lineTextList && res.data.svgData.lineTextList.length > 0) {
                this.lineTextList.push(...res.data.svgData.lineTextList)
              }
              if (res.data.svgData.pointList && res.data.svgData.pointList.length > 0) {
                this.pointList.push(...res.data.svgData.pointList)
              }
              if (res.data.svgData.textList && res.data.svgData.textList.length > 0) {
                this.textList.push(...res.data.svgData.textList)
              }
            }
          })
        }
      },
      getStudentList() {
        const params = {
          current: 1,
          pageSize: 999,
          where: JSON.stringify({ assignment: this.assignment, classes: this.class_id }),
        }
        this.$api.Teacher.get_student_assignment(params).then(resData => {
          if (resData.code == 200) {
            this.studentList = resData.data.list
            this.getCurrentStudent()
            // this.currentStudent = this.studentList.length > 0 ? this.studentList[0] : ''
            // this.score = this.currentStudent.score || 0
            this.formatScore()
            this.getCurrentStudentCorrect()
            // this.init()
          }
        })
      },
      getCurrentStudent() {
        this.currentStudent = this.studentList.length > 0 ? this.studentList[0] : ''
        this.studentList.map((item, index) => {
          if (item._id == this.student_id) {
            this.currentStudent = item
            this.currentStudentIndex = index
          }
        })
        this.score = this.currentStudent.score || 0
      },
      formatScore() {
        const assignment = this.currentStudent.assignment || {}
        const labelScore = this.currentStudent.labelScore
        if (labelScore.length > 0) {
          this.assignmentLabels = labelScore.map(item => {
            return {
              name: item.label,
              score: item.score,
            }
          })
        } else {
          this.assignmentLabels = assignment.labels.map(item => {
            return {
              name: item,
              score: 0,
            }
          })
        }
      },
      getCurrentStudentCorrect() {
        this.currentStudentAttachments = []
        if (this.currentStudent && this.currentStudent.attachments) {
          this.currentStudentAttachments = this.currentStudent.attachments || []
          this.init()
        }
      },
      downLoadImg() {
        // let canvasImg = document.getElementById("canvasImg")
        // html2canvas(canvasImg, {
        //     useCORS: true,
        //     allowTaint: true,
        //     taintTest: false,
        // }).then(canvas => {
        //     let url = canvas.toDataURL()
        //     let link = document.createElement('a');
        //     link.href = canvas.toDataURL();
        //     link.setAttribute('download', '数据报告.png');
        //     link.style.display = 'none';
        //     link.id = utils.randomString(12)
        //     link.click()
        //     // let doc = new jsPDF("", "pt", "a4");
        //     // doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 210, 297);
        //     // doc.save(this.title + '数据分析报告.pdf');
        // })
      },
      drawCanvas(img) {
        let canvas = document.getElementById('canvasImg')
        canvas.appendChild(img)
      },
      getImage() {
        if (this.checkFormat()) {
          this.pdfStatus = false
          let image = this.$refs.image
          image.innerHTML = ''
          // this.imgStyle.height = 0
          this.all_height = 0
          this.vesselWidth = this.$refs.drawContentInner.$el.offsetWidth
          let self = this
          // let imgArr = []
          let img = new Image()
          img.src = this.activeData.data
          img.style.width = '100%'
          img.onload = function() {
            self.all_height += img.height
            image.innerHTML = ''
            image.appendChild(img)
          }
          // this.activeData.data.map(item => {
          // })
        } else {
          this.pdfStatus = true
          if (PDFObject.supportsPDFs) {
            // PDF嵌入到网页
            var options = {
              pdfOpenParams: {
                view: 'FitH',
                toolbar: '0',
                statusbar: '0',
                pagemode: 'thumbs',
                id: 'iframePdfContent',
              },
              forcePDFJS: true,
              PDFJS_URL: '/static/pdf/viewer.html',
            }
            let pdf = PDFObject.embed(this.activeData.data, '#pdf', options)
          } else {
            alert('浏览器不支持')
          }
        }
        this.getSvgData()
      },
      formatImgStyle(img) {
        let width = img.width
        let ratio = img.width / this.vesselWidth
        img.width = this.vesselWidth
        img.height = img.height * ratio
      },
      showDrawTool(type, index) {
        this.currentTool = index
        this.toolType = type
        if (type == 'mapmaker' || type == 'tag' || type == 'text') {
          this.cursor = 'pointer'
          this.showTool = true
        } else {
          this.cursor = 'default'
          this.showTool = false
        }
        if (this.toolType == 'downLoadImg') {
          this.downLoadImg()
        }
        this.showDelete.showDelete = false
        this.$refs.borderContriner.innerHTML = ''
        this.activePointDialog = ''
        this.currentAddText = ''
        this.addText.showAddText = false
      },
      initDrawTool(event) {
        if (this.toolType == 'tag') {
          this.createPoint(event)
        } else if (this.toolType == 'text') {
          this.createText(event)
        }
      },
      createText(event) {
        this.addText.showAddText = true
        this.hiddenTextAddFlag = false
        this.currentAddText = ''
        this.addText.content = ''
        this.addText.top = event.clientY
        this.addText.left = event.clientX
        let textId = utils.randomString(12)
        this.addTextData = {
          style: {
            top: event.offsetY + 'px',
            left: event.offsetX + 'px',
          },
          id: textId,
        }
      },
      hiddenTextAdd() {
        if (this.currentAddText) {
          this.textList = this.textList.filter(item => {
            return item.id != this.currentAddText
          })
        } else {
          if (this.hiddenTextAddFlag) {
            this.textList.pop()
          }
        }
        this.addText.content = ''
        this.addText.showAddText = false
      },
      submitText() {
        if (!this.addText.content) {
          this.hiddenTextAddFlag = false
          return
        }
        this.hiddenTextAddFlag = true
        if (this.currentAddText) {
          this.changeCurrentText()
        } else {
          this.addTextData.content = this.addText.content
          this.addTextData.style.color = this.drawData.color
          this.textList.push(this.addTextData)
        }
        this.currentAddText = ''
        this.addText.content = ''
      },
      clickTextDetails(event, item) {
        this.addText.showAddText = true
        this.addText.top = event.clientY
        this.addText.left = event.clientX
        this.addText.content = item.content
        this.currentAddText = item.id
        this.showDelete.showDelete = false
        this.showDelete.deletePathId = ''
        this.activePointDialog = ''
      },
      clickPointDialog(event, item) {
        this.activePointDialog = item.id
        this.showDelete.showDelete = true
        this.showDelete.top = item.style.top
        this.showDelete.left = item.style.left
        this.showDelete.deletePathId = item.id
        this.showDelete.type = 'point'
        this.hiddenTextCommon()
      },
      clickPointmouseDown(event, item) {
        // let self = this
        // let target = document.getElementById(item.id)
        // this.movePointFlag = true
        // console.log(event)
        // let clientX = event.clientX
        // let clientY = event.clientY
        // console.log(clientX, clientY)
        // target.onmousemove = function(event){
        //     if(self.movePointFlag){
        //         let mouseClientX = event.clientX
        //         let mouseClientY = event.clientY

        //         let moveClientX = clientX - mouseClientX
        //         let moveClientY = clientY - mouseClientY
        //         console.log(moveClientX, moveClientY)
        //         self.pointList = self.pointList.map(point => {
        //             if(point.id == item.id){
        //                 point.style.left = point.style.left - moveClientX
        //                 point.style.top = point.style.top - moveClientY
        //                 console.log(point.style.left, point.style.top)
        //             }
        //             return point
        //         })
        //     }

        //     console.log(event)
        // }
        // target.onmouseup = function(){
        //     this.movePointFlag = false
        // }
      },
      hiddenTextCommon() {
        this.hiddenTextAddFlag = false
        this.addText.showAddText = false
        this.$refs.borderContriner.innerHTML = ''
        this.currentAddText = ''
        this.addText.content = ''
      },
      createPoint(event) {
        let offsetX = event.offsetX
        let offsetY = event.offsetY
        let spanId = utils.randomString(12)
        let spanData = {
          style: {
            top: offsetY - 17,
            left: offsetX - 5,
            color: this.drawData.color,
          },
          defaultStyle: {
            top: offsetY,
            left: offsetX,
          },
          id: spanId,
          dialogContent: {
            title: '',
            content: '',
          },
        }
        this.pointList.push(spanData)
        this.activePointDialog = spanId
      },
      getPointLineWidth(item) {
        this.vesselWidth = this.$refs.drawContentInner.$el.offsetWidth
        let width = this.vesselWidth - item.style.left
        return width + 'px'
      },
      selectLineWidth(index, item) {
        this.lineWidth.currentWidth = index
        this.lineWidth.currentWidthData = item.width
      },
      selectColor(index, color) {
        this.currentColor = index
        this.drawData.color = color
        if (this.currentAddText) {
          this.changeCurrentText()
        }
      },
      selectLineType(index, item) {
        this.lineType.currentType = item.type
      },
      selectLineShape(index, item) {
        this.lineShape.currentShape = item.type
      },
      changeCurrentText() {
        this.textList = this.textList.map(item => {
          if (item.id == this.currentAddText) {
            item.content = this.addText.content
            item.style.color = this.drawData.color
          }
          return item
        })
      },
      deletePathFn() {
        let deletePathId = this.showDelete.deletePathId
        if (!deletePathId) {
          return
        }
        let del = document.getElementById(deletePathId)
        let type = this.showDelete.type
        if (type == 'path') {
          del.parentNode.remove()
          let lineText = `lint-text-${deletePathId}`
          this.lineTextList = this.lineTextList.filter(item => {
            return item.id != lineText
          })
        } else if (type == 'point') {
          this.pointList = this.pointList.filter(item => {
            return item.id != deletePathId
          })
        }
        this.showDelete.showDelete = false
        this.$refs.borderContriner.innerHTML = ''
      },
      clickDraw(event) {
        this.initDrawTool(event)
      },
      mousedown(event) {
        let self = this
        let targetId = event.target.id
        this.showDelete.showDelete = false
        this.addText.showAddText = false
        this.$refs.borderContriner.innerHTML = ''
        self.showDelete.deletePathId = ''
        this.activePointDialog = ''
        if (targetId !== 'svgMyDraw' || this.toolType !== 'mapmaker') {
          return
        }
        let startLinex1 = event.offsetX
        let startLiney1 = event.offsetY
        let draw = Svg('svgMyDraw')
        let nested = draw.nested()
        this.currentDrawSvg = {
          id: nested.node.id,
          startLinex1: startLinex1,
          startLiney1: startLiney1,
        }
        if (this.lineShape.currentShape == 'line' || this.lineShape.currentShape == 'rectangle') {
          this.drawData.pathArray = 'M ' + startLinex1 + ' ' + startLiney1 + ' '
          this.drawData.path = nested.path(this.drawData.pathArray)
        } else {
          this.drawData.pathArray = [0, 0]
          this.drawData.path = nested.ellipse(...this.drawData.pathArray).move(startLinex1, startLiney1)
        }

        this.drawData.path.attr('style', 'cursor: move; fill: none; stroke: ' + this.drawData.color + '; stroke-width: ' + this.lineWidth.currentWidthData)
        this.drawData.path.attr('line-color', this.drawData.color)
        this.drawData.path.stroke({ width: this.lineWidth.currentWidthData })
        // this.drawData.path.attr("data-width", boundingClient.width)
        // this.drawData.path.attr("data-height", boundingClient.height)
        nested.attr('line-shape', this.lineShape.currentShape)
        this.drawData.drowFlag = true
        // this.drawData.path.click(function(event){
        //     self.clickPath = true
        //     let boundingClient = this.node.parentNode.getBoundingClientRect()
        //     let color = this.node.style.stroke
        //     let page = {
        //         pageX: this.x(),
        //         pageY: this.y()
        //     }
        //     self.showDeleteButton(page, this.node.id)
        //     self.createBorder(boundingClient, page, color, this.node.id)
        // })
      },
      showDeleteButton(page, id) {
        this.showDelete.showDelete = true
        this.showDelete.top = Number(page.pageY)
        this.showDelete.left = Number(page.pageX)
        this.showDelete.deletePathId = id
        this.showDelete.type = 'path'
      },
      clickLineText(item) {
        let id = item.id.replace('lint-text-', '')
        let pathId = document.getElementById(id)
        let boundingClient = pathId.getBoundingClientRect()
        let page = {
          pageX: pathId.getAttribute('x'),
          pageY: pathId.getAttribute('y'),
        }
        this.showDeleteButton(page, id)
        this.createBorder(boundingClient, page, item.color, id)
        this.clickPath = true
        this.activePointDialog = ''
      },
      createBorder(boundingClient, page, color, id) {
        if (!boundingClient || !page) {
          return
        }
        let width = boundingClient.width + 20
        let height = boundingClient.height + 20
        let top = page.pageY - 10
        let left = page.pageX - 10
        let divId = utils.randomString(12)
        let div = document.createElement('div')
        let span = document.createElement('span')
        div.style.width = width + 'px'
        div.style.height = height + 'px'
        div.style.top = top + 'px'
        div.style.left = left + 'px'
        div.style.position = 'absolute'
        div.style.border = '1px dashed ' + color

        let spanWidth = this.$refs.drawContentInner.$el.offsetWidth - left - width
        let lineTop = 0
        this.lineTextList.map(item => {
          if (item.id == `lint-text-${id}`) {
            lineTop = item.top - top
          }
        })
        span.className = 'line-border-span'
        span.style.right = -spanWidth + 'px'
        span.style.top = lineTop + 'px'
        span.style.display = 'inline-block'
        span.style.position = 'absolute'
        span.style.height = '1px'
        span.style.borderTop = '1px dashed ' + color
        span.style.width = spanWidth + 'px'

        let borderContriner = this.$refs.borderContriner
        borderContriner.innerHTML = ''
        div.appendChild(span)
        borderContriner.appendChild(div)
      },
      mousemove(event) {
        if (this.drawData.drowFlag && this.toolType == 'mapmaker') {
          let x1 = this.currentDrawSvg.startLinex1
          let y1 = this.currentDrawSvg.startLiney1
          let x2 = event.offsetX
          let y2 = event.offsetY
          if (this.lineShape.currentShape == 'line') {
            if (this.shiftKey) {  // 直线
              this.drawData.pathArray = `M ${x1} ${y1} L ${x2} ${y1}`
            } else if (this.altKey) {  // 竖线
              this.drawData.pathArray = `M ${x1} ${y1} L ${x1} ${y2}`
            } else {
              this.drawData.pathArray += 'C ' + x2 + ' ' + y2 + ' ' + x2 + ' ' + y2 + ' ' + x2 + ' ' + y2 + ' '
            }
            // if(this.lineType.currentType == 'curve'){
            //     this.drawData.pathArray += "C " + x2 + " " + y2 + ' ' + x2 + " " + y2 + ' ' + x2 + " " + y2 + ' '
            // }else if(this.lineType.currentType == 'transverse'){
            //     this.drawData.pathArray = `M ${x1} ${y1} L ${x2} ${y1}`
            // }else{
            //     this.drawData.pathArray = `M ${x1} ${y1} L ${x1} ${y2}`
            // }
            this.drawData.path.plot(this.drawData.pathArray)
          } else if (this.lineShape.currentShape == 'rectangle') {
            if (this.shiftKey) {  // 正方形
              let oddX = Math.abs(x2 - x1)
              this.drawData.pathArray = `M ${x1} ${y1} L ${x1 + oddX} ${y1} L ${x1 + oddX} ${y1 + oddX} L ${x1} ${y1 + oddX} L ${x1} ${y1}`
            } else {
              this.drawData.pathArray = `M ${x1} ${y1} L ${x2} ${y1} L ${x2} ${y2} L ${x1} ${y2} L ${x1} ${y1}`
            }
            this.drawData.path.plot(this.drawData.pathArray)
          } else {
            let cx = Math.abs(x2 - x1)
            let cy = Math.abs(y2 - y1)
            let centerX = x1 + cx / 2
            let centerY = y1 + cy / 2

            this.drawData.path.attr('cx', centerX)
            this.drawData.path.attr('cy', centerY)
            if (this.shiftKey) {  // 正圆
              this.drawData.path.attr('rx', cx / 2)
              this.drawData.path.attr('ry', cx / 2)
            } else {
              this.drawData.path.attr('rx', cx / 2)
              this.drawData.path.attr('ry', cy / 2)
            }
          }
          this.lineStatus = true
        }
      },
      mouseup(e) {
        this.drawData.drowFlag = false
        if (this.currentDrawSvg.id) {
          let currentPath = document.getElementById(this.currentDrawSvg.id)
          let childNodes = currentPath.childNodes
          let d = childNodes.length > 0 ? (childNodes[0].getAttribute('d') || '') : ''
          if (d.length > 10 || this.lineShape.currentShape == 'ellipse') {
            if (this.lineStatus && this.currentDrawSvg) {
              this.drawData.path.attr('x', this.drawData.path.x())
              this.drawData.path.attr('y', this.drawData.path.y())
              let lineText = {
                id: `lint-text-${currentPath.childNodes[0].id}`,
                top: this.currentDrawSvg.startLiney1,
                color: currentPath.childNodes[0].getAttribute('line-color'),
                desc: {
                  content: '',
                },
              }
              this.lineTextList.push(lineText)
            }
            let currentShape = currentPath.getAttribute('line-shape')
            if (currentShape == 'ellipse') {
              let ellipse = childNodes[0]
              let rx = Number(ellipse.getAttribute('rx'))
              let ry = Number(ellipse.getAttribute('ry'))
              if (!rx && !ry) {
                let svgMyDraw = document.getElementById('svgMyDraw')
                svgMyDraw.removeChild(currentPath)
              }
            }
          } else {
            let svgMyDraw = document.getElementById('svgMyDraw')
            svgMyDraw.removeChild(currentPath)
          }
        }
        this.lineStatus = false
        this.currentDrawSvg = {}
      },
      cancel() {
        if (this.Filetype === 1) {
          var audio = document.getElementById('music')
          audio.pause()// 暂停
          this.centerDialogVisible = false
          this.mp3 = ''
        } else {
          this.centerDialogVisible = false
        }
      },
      changeDataList(item, index) {
        console.log(item)
        var first = item.name.lastIndexOf('.')//取到文件名开始到最后一个点的长度
        var namelength = item.name.length//取到文件名长度
        var filesuffix = item.name.substring(first + 1, namelength)//截取获得后缀名
        var type = ['mp3', 'wma', 'avi', 'm4a', 'rm', 'rmvb', 'mpg']
        var type1 = ['mp4', 'wmv', 'avi', '3gp', 'rmvb', 'rm', 'mkv']
        this.mp3 = item.url
        /*      this.initSvgDraw();*/
        this.activeData.index = index
        this.activeData.data = item.url
        if (type.includes(filesuffix)) {
          this.Filetype = 1
          this.centerDialogVisible = true
        } else if (type1.includes(filesuffix)) {
          this.Filetype = 2
          this.centerDialogVisible = true
        } else {
          this.file_url = 'https://view.xdocin.com/xdoc?_xdoc=' + item.url
          /* this.changeFormatPdf();
           this.getImage();*/
        }
      },
      initSvgDraw() {
        this.$refs.svgMyDraw.innerHTML = ''
        this.pointList = []
        this.textList = []
        this.lineTextList = []
        this.pointList = []
        this.activeData = {
          url: '',
          index: 0,
        }
      },
      init() {
        if (this.currentStudentAttachments.length > 0) {
          this.activeData.data = this.currentStudentAttachments[0].url
          this.changeFormatPdf()
        } else {
          this.pdfStatus = false
        }
      },
      changeFormatPdf() {
        if (this.checkFormat()) {
          this.getImage()
          this.getSvgHeight()
        } else {
          if (this.checkFormatPdf()) {
            this.getImage()
            this.getSvgHeight()
          } else {
            const params = {
              url: this.activeData.data,
            }
            this.$api.Teacher.change_format_pdf(params).then(res => {
              if (res.code == 200) {
                this.activeData.data = res.data[0]
                this.getImage()
                this.getSvgHeight()
              }
            })
          }
        }
      },
      checkFormat() {
        if (JSON.stringify(this.activeData) != '{}') {
          let format = this.activeData.data.split('.').pop()
          if (Config.layout.image.indexOf(format) > -1) {
            return true
          }
          return false
        }
        return false
      },
      checkFormatPdf() {
        let format = this.activeData.data.split('.').pop()
        if (Config.layout.other.indexOf(format) > -1) {
          return true
        }
        return false
      },
      getKeyCode() {
        let self = this
        document.onkeydown = function(e) {
          self.shiftKey = e.shiftKey
          self.altKey = e.altKey
        }
        document.onkeyup = function(e) {
          self.shiftKey = e.shiftKey
          self.altKey = e.altKey
        }
      },
      getSvgHeight() {
        let self = this
        window.getAll_data = function(height) {
          self.all_height = height
        }
      },
      timeToSave() {
        this.timer = setInterval(() => {
          if (this.currentStudentAttachments.length > 0) {
            this.submitAssgnment(false)
          }
        }, 10000)
      },

      changeStudent(val) {
        this.currentStudent = this.scoreData[val]
        console.log(this.currentStudent)
        this.currentStudentIndex = val
        if (this.currentStudent.question.type === 'Upload') {
          this.currentType = 3
          console.log('上传题')
          this.currentStudentAttachments = this.currentStudent.attachments
          console.log(this.currentStudent.attachments)
          this.isGetStu = true
        }
        if (this.currentStudent.question.type === 'Composition') {
          console.log('作文题')
          this.currentType = 2
          this.CompositionContent = this.currentStudent.answer
          this.isGetStu = true

        }
        if (this.currentStudent.question.type !== 'Composition' && this.currentStudent.question.type !== 'Upload') {
          console.log('其他题')
          this.currentType = 1
          this.isGetStu = false
        }
      },
      changeTab(val) {
        console.log(val)
      },
      changeQuestionStatus(val, row) {
        let index = row.$index
        let points = row.row.question.points
        let score = 0
        if (val == '1') {
          this.$set(this.scoreData[index], 'score', points)
          // this.scoreData[index].score = points
          score = points
        }
        if (val == '2') {
          this.$set(this.scoreData[index], 'score', 0)
          // this.scoreData[index].score = 0
          score = 0
        }
        if (val == '3') {
          this.$set(this.scoreData[index], 'score', this.scoreData[index].score || 0)
          // this.scoreData[index].score = this.scoreData[index].score || 0
          score = this.scoreData[index].score
        }
        this.submitStudentScore(score, row.row, 'score')
      },
      save() {
        let num = 0
        this.scoreData.map(element => {
          if (element.status !== 'checked') {
            num++
          }
        })
        this.$confirm(`未批改人数为${num}, 是否完成批改并且生成统计报告`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
        }).then(() => {
          this.$api.Report.generate_exam_report(this.exam.current, {
            exam: this.exam.id,
          }).then(res => {
            console.log(res.code)
            if (res.code == 200) {
              this.$message.success('算分数成功')
              this.goBack()
            }
          })
        }).catch(() => {
        })
      },
      submitStudentScore1(val, type) {
        const params = {
          id: this.currentPreview._id,
          questions: [{
            _id: this.currentStudent._id,
          }],
        }
        params.questions[0][type] = val
        this.$api.Exam.teacher_check_exam(params.id, params).then(res => {
          if (res.code === 200) {
            let flag = true
            this.scoreData.map(item => {
              if (!item.score && item.score !== '0') {
                flag = false
              }
            })
            this.currentPreview.status = flag ? 'checked' : 'finished'
          }
        })
      },
      submitStudentScore(val, row, type) {
        const params = {
          id: this.currentPreview._id,
          questions: [{
            _id: row._id,
          }],
        }
        params.questions[0][type] = val
        this.$api.Exam.teacher_check_exam(params.id, params).then(res => {
          if (res.code == 200) {
            let flag = true
            this.scoreData.map(item => {
              if (!item.score && item.score != '0') {
                flag = false
              }
            })
            this.currentPreview.status = flag ? 'checked' : 'finished'
          }
        })
      },
      changeClass(item, index) {
        if (index == this.currentIndex) {
          return 'active'
        }
        if (item.status == 'checked') {
          return 'green'
        }
        // if(item.type == '3'){
        //     return 'yellow'
        // }
      },
      init() {
        if (!this.exam.id) {
          this.$message.error('缺少考试id')
          return
        }
        if (!this.exam.current) {
          this.$message.error('缺少班级id')
          return
        }
        this.$api.Exam.teacher_get_read_over(this.exam.current, { exam: this.exam.id }).then(res => {
          if (res.code == 200) {
            this.questionList = res.data.questions
            if (this.questionList.length > 0) {
              this.currentPreview = this.questionList[0]
              this.previewFlag = true
              this.get_exam_classQustion()
            }
          }
        })
        // this.$api.Exam.get_exam_details(this.exam.id).then(res => {
        //     if(res.code == 200){
        //         this.questionList = this.formatQuestions(res.data.questions)
        //         if(this.questionList.length > 0){
        //             this.currentPreview = this.questionList[0]
        //             this.previewFlag = true
        //             this.get_exam_classQustion()
        //         }
        //     }else{
        //         this.$message.error(res.error || "失败")
        //     }
        // })
      },
      formatQuestions(data) {
        return data.filter(item => {
          if (item.type == 'Blanks' || item.type == 'Text') {
            return item
          }
        })
      },
      get_exam_classQustion() {
        if (!this.exam.current) {
          this.$message.error('缺少班级id')
          return
        }
        const params = {
          question: this.currentPreview._id,
        }
        this.$api.Exam.get_edu_classQustion(this.exam.current, params).then(res => {
          if (res.code == 200) {
            this.scoreData = res.data.map(element => {
              if (element.score && element.score == element.question.points) {
                element.qusetion_status = '1'
              } else if (element.score === 0) {
                element.qusetion_status = '2'
              } else if (element.score && element.score != element.question.points) {
                element.qusetion_status = '3'
              }
              return element
            })
            this.formatStudentScore(res.data)
            let questionDetails = this.formatQuestionType(res.data[0].question.type)
            let content = res.data[0].question.content || ''
            let points = res.data[0].question.points || 0
            this.currentContent = `【题型: ${questionDetails}; 分值：${points}分】${content}`
            if (res.data[0].question.type === 'Upload') {
              this.currentType = 3
              this.isGetStu = false
              this.currentStudent = ''
            }
            if (res.data[0].question.type === 'Composition') {
              console.log('作文题')
              this.currentType = 2
              this.isGetStu = false
              this.currentStudent = ''
            }
            if (res.data[0].question.type !== 'Composition' && res.data[0].question.type !== 'Upload') {
              console.log('其他题')
              this.currentType = 1
              this.isGetStu = false
              this.currentStudent = ''
            }
          }
        })
      },
      formatQuestionType(type) {
        let typeList = {
          Single: '单选题',
          Multiple: '多选题',
          Blanks: '填空题',
          Text: '简答题',
          Composition: '作文题',
          Upload: '上传题',
        }
        return typeList[type] || '--'
      },
      formatStudentScore(data) {
        data.map(item => {
          let score = this.scoreList[this.currentPreview._id]
          if (score && JSON.stringify(score) != '{}') {
            this.scoreList[this.currentPreview._id][item._id] = {
              score: '',
            }
          } else {
            this.scoreList[this.currentPreview._id] = {}
            this.scoreList[this.currentPreview._id][item._id] = {
              score: '',
            }
          }
        })
      },
      formatClasses(data) {
        return data.map(item => {
          return {
            id: item._id,
            disabled: item.status == 'freezed',
            name: item.classes.name,
          }
        })
      },
      goBack() {
        let query = JSON.parse(window.sessionStorage.getItem('query'))
        this.$router.push({
          name: 'AssignmentMark',
          query: query,
        })
      },
    },
    created() {
      this.exam.id = utils.getQueryString('id')
      this.exam.current = utils.getQueryString('current')
    },
    mounted() {
      this.init()
      // this.activeData = {
      //     index: '0',
      //     data: this.dataList[0].urls
      // }
      let self = this
      /*  this.getStudentList()*/
      this.getKeyCode()
      document.getElementById('drawDownload').addEventListener('click', function(e) {
        if (e.target.tagName === 'path' || e.target.tagName === 'ellipse') {
          const target = e.target
          const id = target.getAttribute('id')
          const color = target.style.stroke
          let boundingClient = target.getBoundingClientRect()
          let page = {
            pageX: target.getAttribute('x'),
            pageY: target.getAttribute('y'),
          }
          self.showDeleteButton(page, id)
          self.createBorder(boundingClient, page, color, id)
          self.clickPath = true
          self.activePointDialog = ''
        }
      })
      this.timeToSave()
    },
    destroyed() {
      this.timer && clearInterval(this.timer)
    },
  }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';
  @import '../../assets/css/dataTable.scss';

  .iframe-box {
    iframe {
      width: 100%;
      height: 700px;
      border-radius: 4px;
    }
  }

  .draw-tool {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #556572;

    ul {
      display: flex;
      height: 40px;
      align-content: center;
      // background-color: #556572;
      li {
        border-right: 1px solid hsla(0, 0%, 0%, .5);
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .08);
        display: flex;
        align-items: center;

        span {
          font-size: 20px;
          color: #fff;
        }

        padding: 0 20px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          background-color: #9ea8af;
        }
      }

      .active {
        background-color: #9ea8af;
      }
    }
  }

  .drow-tool-inner {
    height: 40px;
    display: flex;
    align-items: center;

    li {
      padding: 0 5px;

      span {
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 3px solid transparent;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          border-color: #fff;
        }
      }

      .line-type {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        color: $--white;
      }
    }

    .title-color {
      color: $--white;
    }

    .active {
      span {
        border-color: #fff;
      }
    }
  }

  .tool-list {
    display: flex;
    background-color: #556572;
  }

  .draw-content {
    height: 80vh;
    width: 100%;
    overflow: auto;

    .draw-content-inner {
      height: 100%;
      position: relative;
    }

    .draw-content-dialog {
      height: 100%;
      position: relative;
      padding: 0 20px;
      border: none;

      .draw-dialog-content {
        // height: 30px;
        border: 1px solid #ccc;
        position: absolute;
        width: 240px;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
      }

      .activeDialog {
        // box-shadow: 0px 0px 9px 4px #888;
      }
    }

    .border-contriner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  #svgMyDraw {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #canvasImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: #ccc;
  }

  .FileList {
    ul > li {
      border-bottom: 1px solid #ccc;
      padding: 10px 5px;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }

    .active {
      background-color: #fff;
      color: $--default;
    }
  }

  .test-content {
    padding: 20px 0 60px 0;
    justify-content: space-between;

    .test-question, .test-question-num {
      background-color: $--white;
      padding: 20px;
      border-radius: 8px;
    }

    .test-question {
      min-width: 850px;
    }

    .test-question-num {
      min-width: 85px;
      margin-right: 40px;
    }
  }

  .table-max-height {
    max-height: 70vh !important;
    overflow: auto;
  }

  .opinion-title {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 550;
  }

  .question-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .question-item {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 4px;
      border: 1px dashed $--text-1;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: all .3s;
    }

    .green {
      background-color: $--background-1;
      border-color: transparent;
      color: $--white;
    }

    .yellow {
      background-color: $--background-2;
      border-color: transparent;
      color: $--white;
    }

    .active {
      background-color: $--default;
      border-color: transparent;
      color: $--white;
    }

    .question-details {
      position: absolute;
      left: -90px;
      background-color: $--white;
      padding: 10px;
      box-shadow: 0px 0px 6px 5px rgba(42, 51, 60, 0.12);
      border-radius: 8px;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid #fff;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        box-sizing: border-box;
        position: absolute;
        right: -7px;
        top: 10px;
      }
    }
  }

  .correct-bottom {
    background-color: $--white;
    border-radius: 8px;
    padding: 20px;
    text-align: right;
  }

  .preview-question {
    padding-top: 50px;
  }

  .top-preview-question {
    padding-top: 20px
  }
</style>
