<template>
  <div>
    <el-row class="correct-content">
      <el-col :span="18" class="correct-content-left">
        <div class="draw-tool">
          <ul>
            <li v-for="(item, index) in tools" :key="index" :class="currentTool == index ? 'active' : ''"
                @click="showDrawTool(item.type, index)">
              <span :class="item.icon"></span>
            </li>
          </ul>
          <!-- <ul>
              <li>1111</li>
          </!-->
        </div>
        <div class="tool-list">
          <ul v-if="showTool" class="drow-tool-inner">
            <li v-for="(item, index) in colorList" :key="index" :class="currentColor == index ? 'active' : ''">
              <span :style="{background: item}" @click="selectColor(index, item)"></span>
            </li>
          </ul>
          <ul v-if="showTool && toolType == 'mapmaker'" class="drow-tool-inner">
            <li class="title-color">线宽:</li>
            <li v-for="(item, index) in lineWidth.list" :key="index"
                :class="lineWidth.currentWidth == index ? 'active' : ''">
                            <span class="line-width-out" @click="selectLineWidth(index, item)">
                                <span class="line-width" :style="{width: item.width + 'px'}"></span>
                            </span>
            </li>
          </ul>
          <!-- <ul v-if="showTool && toolType == 'mapmaker'" class="drow-tool-inner">
              <li class="title-color">类型:</li>
              <li v-for="(item, index) in lineType.list" :key="index" :class="lineType.currentType == item.type ? 'active' : ''">
                  <span class="line-type" @click="selectLineType(index, item)">{{ item.name }}</span>
              </li>
          </ul> -->
          <ul v-if="showTool && toolType == 'mapmaker'" class="drow-tool-inner">
            <li class="title-color">形状:</li>
            <li v-for="(item, index) in lineShape.list" :key="index"
                :class="lineShape.currentShape == item.type ? 'active' : ''">
              <el-tooltip v-if="item.toolTip" :content="item.toolTip" placement="top" effect="light">
                <span class="line-type" @click="selectLineShape(index, item)">{{ item.name }}</span>
              </el-tooltip>
              <span v-else class="line-type" @click="selectLineShape(index, item)">{{ item.name }}</span>
            </li>
          </ul>
        </div>
        <el-row class="draw-content" ref="drawContent" style="display: flex">
          <el-col ref="drawContentInner" class="draw-content-inner"
                  style="width: 800px; min-width: 800px; flex-shrink: 0;">
            <div id="drawDownload">
              <div v-show="pdfStatus" id="pdf" :style="{height: all_height + 'px'}"></div>
              <div v-show="!pdfStatus" id="image" :style="{height: imgStyle + 'px'}" ref="image"></div>
              <!-- <div id="canvasImg" :style="{height: imgStyle.height + 10 + 'px'}"></div> -->
              <svg
                :style="{cursor: cursor, height: all_height + 'px'}"
                ref="svgMyDraw"
                id="svgMyDraw"
                @mousedown="mousedown"
                @mousemove="mousemove"
                @mouseup="mouseup"
                @click="clickDraw"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"></svg>
              <div class="border-contriner" ref="borderContriner"></div>
              <div class="border-contriner draw-dialog" ref="drawContentDialog">
                                <span
                                  class="el-icon-location"
                                  :class="activePointDialog == item.id ? 'activePoint' : ''"
                                  v-for="(item, index) in pointList"
                                  :key="index"
                                  :style="{
                                        top: `${item.style.top}px`,
                                        left: `${item.style.left}px`,
                                        color: item.style.color,
                                        'border-color': item.style.color}"
                                  :id="item.id"
                                  @click="clickPointDialog($event, item)"
                                  @mousedown="clickPointmouseDown($event, item)">
                                    <span v-if="activePointDialog == item.id" class="point-line activePointLine"
                                          :style="{width: getPointLineWidth(item), 'border-color': item.style.color}"></span>
                                    </span>
              </div>
              <div class="border-contriner draw-dialog" ref="drawContentText">
                                <span
                                  class="text-add"
                                  v-for="(item, index) in textList"
                                  :key="index"
                                  :style="{top: item.style.top, left: item.style.left, color: item.style.color}"
                                  :id="item.id"
                                  @click="clickTextDetails($event, item)">{{ item.content }}</span>
              </div>
              <!-- <div class="delete-path"
                  v-if="showDelete.showDelete"
                  :style="{left: `${showDelete.left}px`, top: `${showDelete.top + 20}px`}"
                  @click="deletePathFn">
                  删除
              </div> -->
            </div>
          </el-col>
          <el-col class="draw-content-dialog" style="width: 300px; min-width: 300px; flex-shrink: 0;">
            <div class="line-text-list">
              <div
                class="line-text-dialog"
                :class="`lint-text-${showDelete.deletePathId}` == item.id ? 'line-text-active' : ''"
                v-for="(item, index) in lineTextList"
                :key="index"
                :style="{
                                    top: item.top + 'px',
                                    'border-color': item.color,
                                    'z-index': `lint-text-${showDelete.deletePathId}` == item.id ? 99999: 0}"
                @click="clickLineText(item)">
                <div
                  v-if="`lint-text-${showDelete.deletePathId}` == item.id">
                  <el-input class="input-short-2" v-model="item.desc.content" placeholder="请输入内容"></el-input>
                </div>
                <el-tooltip v-else class="item" :content="item.desc.content" placement="top" effect="light">
                  <div>
                    <span class="el-icon-s-unfold"></span>
                  </div>
                </el-tooltip>
              </div>
            </div>
            <div class="">
              <div :ref="item.id"
                   class="draw-dialog-content"
                   :class="activePointDialog == item.id ? 'activeDialog': ''"
                   v-for="(item, index) in pointList"
                   :key="index"
                   :style="{
                                    top: `${item.style.top}px`,
                                    'border-color': item.style.color,
                                    'z-index': activePointDialog == item.id ? 99999: 0,
                                    'box-shadow-color': item.style.color,
                                    'width': activePointDialog == item.id ? '140px': '16px'}"
                   @click="clickPointDialog($event, item)">
                <div v-if="activePointDialog == item.id">
                  <el-input v-model="item.dialogContent.content" placeholder="请输入内容"></el-input>
                </div>
                <el-tooltip v-else class="item" :content="item.dialogContent.content" placement="top" effect="light">
                  <div>
                    <span class="el-icon-s-unfold"></span>
                  </div>
                </el-tooltip>
              </div>
            </div>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="6" class="correct-content-right">
        <!-- <Panel :span="24" :height="true" title="选择学生">
            <div class="assignment-content student-list-button" slot="content">
                    <el-button type="primary" plain icon="el-icon-arrow-left" @click="prevStudent"></el-button>
                    <el-dropdown @command="changeStudent">
                        <el-button type="primary">
                            {{ currentStudent.student ? currentStudent.student.nickname : '暂无学生' }}
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="index" v-for="(item, index) in studentList" :key="index">{{ item.student.nickname }}</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button type="primary" plain icon="el-icon-arrow-right" @click="nextStudent"></el-button>
            </div>
        </Panel> -->
        <Panel :span="24" :height="true" title="得分">
          <div class="assignment-content" slot="content">
            <div class="assignment-content-item" v-for="(item, index) in assignmentLabels" :key="index">
              {{ item.name }}：{{ item.score }}
              <!-- <el-input v-model="item.score" placeholder="请输入分数"></el-input> -->
            </div>
            <div>
              总分：{{ score }}
              <!-- <el-input v-model="score" placeholder="请输入分数"></el-input> -->
            </div>
          </div>
        </Panel>
        <Panel :span="24" :height="true" title="附件">
          <div slot="content">
            <ul>
              <li
                :class="activeData.index == index ? 'active' : ''"
                v-for="(item, index) in currentStudentAttachments"
                :key="index"
                @click="changeDataList(item, index)">{{ item.name }}
              </li>
            </ul>
          </div>
        </Panel>
        <Panel :span="24" :height="true" title="评语">
          <div class="assignment-content" slot="content">
            {{ comment }}
            <!-- <el-input v-model="comment" :rows="2" type="textarea" autosize placeholder="请输入评语"></el-input> -->
          </div>
        </Panel>
      </el-col>
    </el-row>
    <div class="delete-path text-add-dialog"
         v-if="addText.showAddText"
         :style="{left: addText.left + 'px', top: addText.top + 'px'}">
      <el-input v-model="addText.content" @blur="submitText"></el-input>
      <span class="el-icon-delete" @click="hiddenTextAdd"></span>
    </div>
    <div class="question-bottom-tool">
      <div class="question-button-left"></div>
      <div class="question-button-right">
        <!-- <el-button type="primary" @click="saveSubmitAssgnment">提交</el-button> -->
        <el-button type="primary" plain @click="toPage">返 回</el-button>
        <!-- <el-button type="primary" @click="toPage()">更多数据</el-button> -->
      </div>
    </div>
  </div>
</template>
<script>
    import Config from '../../utils/config'
    import Svg from 'svgjs'
    import utils from '../../utils/index'
    import html2canvas from 'html2canvas'
    import jsPDF from 'jspdf'
    import PDFObject from 'pdfobject'
    import Panel from '@/components/pubilc/panel'

    export default {
        components: {Panel},
        data() {
            return {
                comment: '',
                score: 0,
                colorList: Config.labelColors,
                currentColor: '0',
                showTool: false,
                toolType: '',
                path: '',
                currentTool: 0,
                showDelete: {
                    showDelete: false,
                    top: 0,
                    left: 0,
                    deletePathId: '',
                    type: ''
                },
                cursor: 'default',
                tools: [
                    // {
                    //     icon: 'el-icon-download',
                    //     type: 'downLoadImg'
                    // },
                    {
                        icon: 'el-icon-top-left'
                    },
                    // {
                    //     icon: 'el-icon-location',
                    //     type: 'tag'
                    // },
                    // {
                    //     icon: 'el-icon-tickets',
                    //     type: 'text'
                    // },
                    // {
                    //     icon: 'el-icon-chat-dot-square'
                    // },
                    // {
                    //     icon: 'el-icon-edit',
                    //     type: 'mapmaker'
                    // },
                    // {
                    //     icon: 'el-icon-download'
                    // },

                ],
                lineWidth: {
                    list: [
                        {
                            width: '3',
                        },
                        {
                            width: '5',
                        },
                        {
                            width: '7',
                        },
                    ],
                    currentWidth: '0',
                    currentWidthData: '3'
                },
                lineType: {
                    list: [
                        {
                            type: "curve",
                            name: "曲线"
                        },
                        {
                            type: "transverse",
                            name: "横线"
                        },
                        {
                            type: "vertical",
                            name: "竖线"
                        },
                    ],
                    currentType: "curve"
                },
                lineShape: {
                    currentShape: 'line',
                    list: [
                        {
                            type: 'line',
                            name: '线',
                            toolTip: '按住【shift】键可绘制横线，按住【alt】键可绘制竖线'
                        },
                        {
                            type: 'rectangle',
                            name: '矩形',
                            toolTip: '按住【shift】键可绘制正方形'
                        },
                        {
                            type: 'ellipse',
                            name: '圆',
                            toolTip: '按住【shift】键可绘制成正圆'
                        }
                    ]
                },
                pointList: [],
                textList: [],
                drawData: {
                    pathArray: '',
                    path: '',
                    drowFlag: false,
                    color: '#A21832',
                    lineWidth: '3'
                },
                activePointDialog: '',
                addText: {
                    content: '',
                    top: 0,
                    left: 0,
                    deletePathId: '',
                    type: '',
                    showAddText: false
                },
                addTextData: {},
                hiddenTextAddFlag: false,
                currentAddText: '',
                movePointFlag: false,
                ctx: null,
                imgStyle: {
                    width: 0,
                    height: 0
                },
                vesselWidth: 0,
                dataList: [],
                activeData: {
                    index: '0',
                    data: []
                },
                lineStatus: false,
                currentDrawSvg: {},
                clickPath: false,
                lineTextList: [],
                pdf: null,
                all_height: 0,
                shiftKey: false,
                altKey: false,
                pdfStatus: true,
                studentList: [],
                currentStudent: {},
                currentStudentIndex: 0,
                id: utils.getQueryString("id"),
                class_id: utils.getQueryString("current"),
                assignment: utils.getQueryString("assignment"),
                assignmentLabels: [],
                currentStudentAttachments: [],
                timer: null
            }
        },
        methods: {
            toPage() {
                this.$router.go(-1)
            },
            saveStudentPoint() {
                const params = {
                    score: this.score,
                    labelScore: this.assignmentLabels.map(item => {
                        return {
                            label: item.name,
                            score: item.score,
                            T: 510
                        }
                    })
                }
                const id = this.currentStudent._id
                this.$api.Teacher.stuAssignment_updata(id, params).then(res => {
                    if (res.code == 200) {
                        this.$message.success("提交成功")
                    } else {
                        this.$message.error(res.error || "提交失败")
                    }
                })
            },
            saveSubmitAssgnment() {
                if (this.currentStudentAttachments.length > 0) {
                    this.submitAssgnment(false)
                }
                this.saveStudentPoint()
            },
            submitAssgnment(clickSave) {
                const {name, url, _id} = this.currentStudentAttachments[this.activeData.index]
                const params = {
                    svg: this.$refs.svgMyDraw.innerHTML,
                    svgData: {
                        lineTextList: this.lineTextList,
                        pointList: this.pointList,
                        textList: this.textList
                    },
                    _id,
                    name,
                    url,
                    refresh: true
                }
                const studentId = this.currentStudent._id
                this.$api.Assignment.saveAttachment(studentId, params).then(res => {
                    if (res.code == 200) {
                        if (clickSave) {
                            this.$message.success('保存成功')
                        }
                    } else {
                        this.$message.error(res.msg || '保存失败')
                    }
                })
            },
            getSvgData() {
                if (this.currentStudentAttachments.length > 0) {
                    const studentId = this.currentStudent._id
                    const id = this.currentStudentAttachments[this.activeData.index]._id
                    this.$api.Assignment.getAttachment(studentId, id).then(res => {
                        if (res.code == 200) {
                            this.$refs.svgMyDraw.innerHTML = res.data.svg
                            if (res.data.svgData.lineTextList && res.data.svgData.lineTextList.length > 0) {
                                this.lineTextList.push(...res.data.svgData.lineTextList)
                            }
                            if (res.data.svgData.pointList && res.data.svgData.pointList.length > 0) {
                                this.pointList.push(...res.data.svgData.pointList)
                            }
                            if (res.data.svgData.textList && res.data.svgData.textList.length > 0) {
                                this.textList.push(...res.data.svgData.textList)
                            }
                        }
                    })
                }
            },
            changeStudent(val) {
                this.currentStudent = this.studentList[val]
                this.score = this.currentStudent.score
                this.currentStudentIndex = val
                this.formatScore()
                this.getCurrentStudentCorrect()
            },
            prevStudent() {
                if (this.studentList.length == 0) {
                    return
                }
                if (this.currentStudentIndex == 0) {
                    return
                }
                this.initSvgDraw()
                this.currentStudentIndex -= 1
                this.currentStudent = this.studentList[this.currentStudentIndex]
                this.formatScore()
                this.getCurrentStudentCorrect()
            },
            nextStudent() {

                if (this.studentList.length == 0) {
                    return
                }
                if (this.currentStudentIndex == this.studentList.length - 1) {
                    return
                }
                this.initSvgDraw()
                this.currentStudentIndex += 1
                this.currentStudent = this.studentList[this.currentStudentIndex]
                this.formatScore()
                this.getCurrentStudentCorrect()
            },
            getStudentList() {
                // const params = {
                //     current: 1,
                //     pageSize: 999,
                //     where: JSON.stringify({assignment: this.assignment, classes: this.class_id})
                // }
                this.$api.Student.get_student_assignment_detail(this.id).then(resData => {
                    if (resData.code == 200) {
                        console.log(resData)
                        this.studentList = [resData.data]
                        this.currentStudent = this.studentList.length > 0 ? this.studentList[0] : ''
                        this.formatScore()
                        this.getCurrentStudentCorrect()
                        // this.init()
                    }
                })
            },
            formatScore() {
                const assignment = this.currentStudent.assignment || {}
                const labelScore = this.currentStudent.labelScore
                if (labelScore.length > 0) {
                    this.assignmentLabels = labelScore.map(item => {
                        return {
                            name: item.label,
                            score: item.score
                        }
                    })
                } else {
                    this.assignmentLabels = assignment.labels.map(item => {
                        return {
                            name: item,
                            score: 0
                        }
                    })
                }
            },
            getCurrentStudentCorrect() {
                this.currentStudentAttachments = []
                if (this.currentStudent && this.currentStudent.attachments) {
                    this.currentStudentAttachments = this.currentStudent.attachments || []
                    this.init()
                }
            },
            downLoadImg() {
                // let canvasImg = document.getElementById("canvasImg")
                // html2canvas(canvasImg, {
                //     useCORS: true,
                //     allowTaint: true,
                //     taintTest: false,
                // }).then(canvas => {
                //     let url = canvas.toDataURL()
                //     let link = document.createElement('a');
                //     link.href = canvas.toDataURL();
                //     link.setAttribute('download', '数据报告.png');
                //     link.style.display = 'none';
                //     link.id = utils.randomString(12)
                //     link.click()
                //     // let doc = new jsPDF("", "pt", "a4");
                //     // doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 210, 297);
                //     // doc.save(this.title + '数据分析报告.pdf');
                // })
            },
            drawCanvas(img) {
                let canvas = document.getElementById("canvasImg")
                canvas.appendChild(img)
            },
            getImage() {
                if (this.checkFormat()) {
                    this.pdfStatus = false
                    let image = this.$refs.image
                    image.innerHTML = ''
                    // this.imgStyle.height = 0
                    this.all_height = 0
                    this.vesselWidth = this.$refs.drawContentInner.$el.offsetWidth
                    let self = this
                    // let imgArr = []
                    let img = new Image()
                    img.src = this.activeData.data
                    img.style.width = '100%'
                    img.onload = function () {
                        self.all_height += img.height
                        image.innerHTML = ""
                        image.appendChild(img)
                    }
                    // this.activeData.data.map(item => {
                    // })
                } else {
                    this.pdfStatus = true
                    if (PDFObject.supportsPDFs) {
                        // PDF嵌入到网页
                        var options = {
                            pdfOpenParams: {
                                view: 'FitH',
                                toolbar: '0',
                                statusbar: '0',
                                pagemode: "thumbs",
                                id: "iframePdfContent"
                            },
                            forcePDFJS: true,
                            PDFJS_URL: "/static/pdf/viewer.html"
                        };
                        let pdf = PDFObject.embed(this.activeData.data, "#pdf", options);
                    } else {
                        alert("浏览器不支持");
                    }
                }
                this.getSvgData()
            },
            formatImgStyle(img) {
                let width = img.width
                let ratio = img.width / this.vesselWidth
                img.width = this.vesselWidth
                img.height = img.height * ratio
            },
            showDrawTool(type, index) {
                this.currentTool = index
                this.toolType = type
                if (type == 'mapmaker' || type == 'tag' || type == 'text') {
                    this.cursor = 'pointer'
                    this.showTool = true
                } else {
                    this.cursor = 'default'
                    this.showTool = false
                }
                if (this.toolType == 'downLoadImg') {
                    this.downLoadImg()
                }
                this.showDelete.showDelete = false
                this.$refs.borderContriner.innerHTML = ''
                this.activePointDialog = ''
                this.currentAddText = ''
                this.addText.showAddText = false
            },
            initDrawTool(event) {
                if (this.toolType == 'tag') {
                    this.createPoint(event)
                } else if (this.toolType == 'text') {
                    this.createText(event)
                }
            },
            createText(event) {
                this.addText.showAddText = true
                this.hiddenTextAddFlag = false
                this.currentAddText = ''
                this.addText.content = ''
                this.addText.top = event.clientY
                this.addText.left = event.clientX
                let textId = utils.randomString(12)
                this.addTextData = {
                    style: {
                        top: event.offsetY + 'px',
                        left: event.offsetX + 'px',
                    },
                    id: textId,
                }
            },
            hiddenTextAdd() {
                if (this.currentAddText) {
                    this.textList = this.textList.filter(item => {
                        return item.id != this.currentAddText
                    })
                } else {
                    if (this.hiddenTextAddFlag) {
                        this.textList.pop()
                    }
                }
                this.addText.content = ''
                this.addText.showAddText = false
            },
            submitText() {
                if (!this.addText.content) {
                    this.hiddenTextAddFlag = false
                    return
                }
                this.hiddenTextAddFlag = true
                if (this.currentAddText) {
                    this.changeCurrentText()
                } else {
                    this.addTextData.content = this.addText.content
                    this.addTextData.style.color = this.drawData.color
                    this.textList.push(this.addTextData)
                }
                this.currentAddText = ''
                this.addText.content = ''
            },
            clickTextDetails(event, item) {
                this.addText.showAddText = true
                this.addText.top = event.clientY
                this.addText.left = event.clientX
                this.addText.content = item.content
                this.currentAddText = item.id
                this.showDelete.showDelete = false
                this.showDelete.deletePathId = ''
                this.activePointDialog = ''
            },
            clickPointDialog(event, item) {
                this.activePointDialog = item.id
                this.showDelete.showDelete = true
                this.showDelete.top = item.style.top
                this.showDelete.left = item.style.left
                this.showDelete.deletePathId = item.id
                this.showDelete.type = 'point'
                this.hiddenTextCommon()
            },
            clickPointmouseDown(event, item) {
                // let self = this
                // let target = document.getElementById(item.id)
                // this.movePointFlag = true
                // console.log(event)
                // let clientX = event.clientX
                // let clientY = event.clientY
                // console.log(clientX, clientY)
                // target.onmousemove = function(event){
                //     if(self.movePointFlag){
                //         let mouseClientX = event.clientX
                //         let mouseClientY = event.clientY

                //         let moveClientX = clientX - mouseClientX
                //         let moveClientY = clientY - mouseClientY
                //         console.log(moveClientX, moveClientY)
                //         self.pointList = self.pointList.map(point => {
                //             if(point.id == item.id){
                //                 point.style.left = point.style.left - moveClientX
                //                 point.style.top = point.style.top - moveClientY
                //                 console.log(point.style.left, point.style.top)
                //             }
                //             return point
                //         })
                //     }

                //     console.log(event)
                // }
                // target.onmouseup = function(){
                //     this.movePointFlag = false
                // }
            },
            hiddenTextCommon() {
                this.hiddenTextAddFlag = false
                this.addText.showAddText = false
                this.$refs.borderContriner.innerHTML = ""
                this.currentAddText = ''
                this.addText.content = ''
            },
            createPoint(event) {
                let offsetX = event.offsetX
                let offsetY = event.offsetY
                let spanId = utils.randomString(12)
                let spanData = {
                    style: {
                        top: offsetY - 17,
                        left: offsetX - 5,
                        color: this.drawData.color
                    },
                    defaultStyle: {
                        top: offsetY,
                        left: offsetX,
                    },
                    id: spanId,
                    dialogContent: {
                        title: '',
                        content: ''
                    }
                }
                this.pointList.push(spanData)
                this.activePointDialog = spanId
            },
            getPointLineWidth(item) {
                this.vesselWidth = this.$refs.drawContentInner.$el.offsetWidth
                let width = this.vesselWidth - item.style.left
                return width + 'px'
            },
            selectLineWidth(index, item) {
                this.lineWidth.currentWidth = index
                this.lineWidth.currentWidthData = item.width
            },
            selectColor(index, color) {
                this.currentColor = index
                this.drawData.color = color
                if (this.currentAddText) {
                    this.changeCurrentText()
                }
            },
            selectLineType(index, item) {
                this.lineType.currentType = item.type
            },
            selectLineShape(index, item) {
                this.lineShape.currentShape = item.type
            },
            changeCurrentText() {
                this.textList = this.textList.map(item => {
                    if (item.id == this.currentAddText) {
                        item.content = this.addText.content
                        item.style.color = this.drawData.color
                    }
                    return item
                })
            },
            deletePathFn() {
                let deletePathId = this.showDelete.deletePathId
                if (!deletePathId) {
                    return
                }
                let del = document.getElementById(deletePathId)
                let type = this.showDelete.type
                if (type == 'path') {
                    del.parentNode.remove()
                    let lineText = `lint-text-${deletePathId}`
                    this.lineTextList = this.lineTextList.filter(item => {
                        return item.id != lineText
                    })
                } else if (type == 'point') {
                    this.pointList = this.pointList.filter(item => {
                        return item.id != deletePathId
                    })
                }
                this.showDelete.showDelete = false
                this.$refs.borderContriner.innerHTML = ""
            },
            clickDraw(event) {
                this.initDrawTool(event)
            },
            mousedown(event) {
                let self = this
                let targetId = event.target.id
                this.showDelete.showDelete = false
                this.addText.showAddText = false
                this.$refs.borderContriner.innerHTML = ""
                self.showDelete.deletePathId = ""
                this.activePointDialog = ""
                if (targetId !== 'svgMyDraw' || this.toolType !== 'mapmaker') {
                    return
                }
                let startLinex1 = event.offsetX;
                let startLiney1 = event.offsetY;
                let draw = Svg("svgMyDraw")
                let nested = draw.nested()
                this.currentDrawSvg = {
                    id: nested.node.id,
                    startLinex1: startLinex1,
                    startLiney1: startLiney1
                }
                if (this.lineShape.currentShape == 'line' || this.lineShape.currentShape == 'rectangle') {
                    this.drawData.pathArray = 'M ' + startLinex1 + ' ' + startLiney1 + ' '
                    this.drawData.path = nested.path(this.drawData.pathArray)
                } else {
                    this.drawData.pathArray = [0, 0]
                    this.drawData.path = nested.ellipse(...this.drawData.pathArray).move(startLinex1, startLiney1)
                }

                this.drawData.path.attr("style", "cursor: move; fill: none; stroke: " + this.drawData.color + "; stroke-width: " + this.lineWidth.currentWidthData)
                this.drawData.path.attr("line-color", this.drawData.color)
                this.drawData.path.stroke({width: this.lineWidth.currentWidthData})
                // this.drawData.path.attr("data-width", boundingClient.width)
                // this.drawData.path.attr("data-height", boundingClient.height)
                nested.attr("line-shape", this.lineShape.currentShape)
                this.drawData.drowFlag = true;
                // this.drawData.path.click(function(event){
                //     self.clickPath = true
                //     let boundingClient = this.node.parentNode.getBoundingClientRect()
                //     let color = this.node.style.stroke
                //     let page = {
                //         pageX: this.x(),
                //         pageY: this.y()
                //     }
                //     self.showDeleteButton(page, this.node.id)
                //     self.createBorder(boundingClient, page, color, this.node.id)
                // })
            },
            showDeleteButton(page, id) {
                this.showDelete.showDelete = true
                this.showDelete.top = Number(page.pageY)
                this.showDelete.left = Number(page.pageX)
                this.showDelete.deletePathId = id
                this.showDelete.type = 'path'
            },
            clickLineText(item) {
                let id = item.id.replace("lint-text-", "")
                let pathId = document.getElementById(id)
                let boundingClient = pathId.getBoundingClientRect()
                let page = {
                    pageX: pathId.getAttribute("x"),
                    pageY: pathId.getAttribute("y")
                }
                console.log(page)
                this.showDeleteButton(page, id)
                this.createBorder(boundingClient, page, item.color, id)
                this.clickPath = true
                this.activePointDialog = ''
            },
            createBorder(boundingClient, page, color, id) {
                if (!boundingClient || !page) {
                    return
                }
                let width = boundingClient.width + 20
                let height = boundingClient.height + 20
                let top = page.pageY - 10
                let left = page.pageX - 10
                let divId = utils.randomString(12)
                let div = document.createElement('div')
                let span = document.createElement('span')
                div.style.width = width + 'px'
                div.style.height = height + 'px'
                div.style.top = top + 'px'
                div.style.left = left + 'px'
                div.style.position = 'absolute'
                div.style.border = '1px dashed ' + color

                let spanWidth = this.$refs.drawContentInner.$el.offsetWidth - left - width
                let lineTop = 0
                this.lineTextList.map(item => {
                    if (item.id == `lint-text-${id}`) {
                        lineTop = item.top - top
                    }
                })
                span.className = 'line-border-span'
                span.style.right = -spanWidth + 'px'
                span.style.top = lineTop + 'px'
                span.style.display = 'inline-block'
                span.style.position = 'absolute'
                span.style.height = '1px'
                span.style.borderTop = '1px dashed ' + color
                span.style.width = spanWidth + 'px'

                let borderContriner = this.$refs.borderContriner
                borderContriner.innerHTML = ""
                div.appendChild(span)
                borderContriner.appendChild(div)
            },
            mousemove(event) {
                if (this.drawData.drowFlag && this.toolType == 'mapmaker') {
                    let x1 = this.currentDrawSvg.startLinex1
                    let y1 = this.currentDrawSvg.startLiney1
                    let x2 = event.offsetX;
                    let y2 = event.offsetY;
                    if (this.lineShape.currentShape == 'line') {
                        if (this.shiftKey) {  // 直线
                            this.drawData.pathArray = `M ${x1} ${y1} L ${x2} ${y1}`
                        } else if (this.altKey) {  // 竖线
                            this.drawData.pathArray = `M ${x1} ${y1} L ${x1} ${y2}`
                        } else {
                            this.drawData.pathArray += "C " + x2 + " " + y2 + ' ' + x2 + " " + y2 + ' ' + x2 + " " + y2 + ' '
                        }
                        // if(this.lineType.currentType == 'curve'){
                        //     this.drawData.pathArray += "C " + x2 + " " + y2 + ' ' + x2 + " " + y2 + ' ' + x2 + " " + y2 + ' '
                        // }else if(this.lineType.currentType == 'transverse'){
                        //     this.drawData.pathArray = `M ${x1} ${y1} L ${x2} ${y1}`
                        // }else{
                        //     this.drawData.pathArray = `M ${x1} ${y1} L ${x1} ${y2}`
                        // }
                        this.drawData.path.plot(this.drawData.pathArray)
                    } else if (this.lineShape.currentShape == 'rectangle') {
                        if (this.shiftKey) {  // 正方形
                            let oddX = Math.abs(x2 - x1)
                            this.drawData.pathArray = `M ${x1} ${y1} L ${x1 + oddX} ${y1} L ${x1 + oddX} ${y1 + oddX} L ${x1} ${y1 + oddX} L ${x1} ${y1}`
                        } else {
                            this.drawData.pathArray = `M ${x1} ${y1} L ${x2} ${y1} L ${x2} ${y2} L ${x1} ${y2} L ${x1} ${y1}`
                        }
                        this.drawData.path.plot(this.drawData.pathArray)
                    } else {
                        let cx = Math.abs(x2 - x1)
                        let cy = Math.abs(y2 - y1)
                        let centerX = x1 + cx / 2
                        let centerY = y1 + cy / 2

                        this.drawData.path.attr("cx", centerX)
                        this.drawData.path.attr("cy", centerY)
                        if (this.shiftKey) {  // 正圆
                            this.drawData.path.attr("rx", cx / 2)
                            this.drawData.path.attr("ry", cx / 2)
                        } else {
                            this.drawData.path.attr("rx", cx / 2)
                            this.drawData.path.attr("ry", cy / 2)
                        }
                    }
                    this.lineStatus = true
                }
            },
            mouseup(e) {
                this.drawData.drowFlag = false
                if (this.currentDrawSvg.id) {
                    let currentPath = document.getElementById(this.currentDrawSvg.id)
                    let childNodes = currentPath.childNodes
                    let d = childNodes.length > 0 ? (childNodes[0].getAttribute("d") || '') : ''
                    if (d.length > 10 || this.lineShape.currentShape == 'ellipse') {
                        if (this.lineStatus && this.currentDrawSvg) {
                            this.drawData.path.attr("x", this.drawData.path.x())
                            this.drawData.path.attr("y", this.drawData.path.y())
                            let lineText = {
                                id: `lint-text-${currentPath.childNodes[0].id}`,
                                top: this.currentDrawSvg.startLiney1,
                                color: currentPath.childNodes[0].getAttribute("line-color"),
                                desc: {
                                    content: ''
                                }
                            }
                            this.lineTextList.push(lineText)
                        }
                        let currentShape = currentPath.getAttribute('line-shape')
                        if (currentShape == 'ellipse') {
                            let ellipse = childNodes[0]
                            let rx = Number(ellipse.getAttribute('rx'))
                            let ry = Number(ellipse.getAttribute('ry'))
                            if (!rx && !ry) {
                                let svgMyDraw = document.getElementById("svgMyDraw")
                                svgMyDraw.removeChild(currentPath)
                            }
                        }
                    } else {
                        let svgMyDraw = document.getElementById("svgMyDraw")
                        svgMyDraw.removeChild(currentPath)
                    }
                }
                this.lineStatus = false
                this.currentDrawSvg = {}
            },
            changeDataList(item, index) {
                console.log(index);
                this.initSvgDraw()
                this.activeData.index = index
                this.activeData.data = item.url
                this.changeFormatPdf()
                this.getImage()
            },
            initSvgDraw() {
                this.$refs.svgMyDraw.innerHTML = ""
                this.pointList = []
                this.textList = []
                this.lineTextList = []
                this.pointList = []
                this.activeData = {
                    url: '',
                    index: 0
                }
            },
            init() {
                if (this.currentStudentAttachments.length > 0) {
                    this.activeData.data = this.currentStudentAttachments[0].url
                    this.changeFormatPdf()
                } else {
                    this.pdfStatus = false
                }
            },
            changeFormatPdf() {
                if (this.checkFormat()) {
                    this.getImage()
                    this.getSvgHeight()
                } else {
                    if (this.checkFormatPdf()) {
                        this.getImage()
                        this.getSvgHeight()
                    } else {
                        const params = {
                            url: this.activeData.data
                        }
                        this.$api.Teacher.change_format_pdf(params).then(res => {
                            if (res.code == 200) {
                                this.activeData.data = res.data[0]
                                this.getImage()
                                this.getSvgHeight()
                            }
                        })
                    }
                }
            },
            checkFormat() {
                if (JSON.stringify(this.activeData) != '{}') {
                    let format = this.activeData.data.split('.').pop()
                    if (Config.layout.image.indexOf(format) > -1) {
                        return true
                    }
                    return false
                }
                return false
            },
            checkFormatPdf() {
                let format = this.activeData.data.split('.').pop()
                if (Config.layout.other.indexOf(format) > -1) {
                    return true
                }
                return false
            },
            getKeyCode() {
                let self = this
                document.onkeydown = function (e) {
                    self.shiftKey = e.shiftKey
                    self.altKey = e.altKey
                }
                document.onkeyup = function (e) {
                    self.shiftKey = e.shiftKey
                    self.altKey = e.altKey
                }
            },
            getSvgHeight() {
                let self = this
                window.getAll_data = function (height) {
                    self.all_height = height
                }
            },
            timeToSave() {
                this.timer = setInterval(() => {
                    if (this.currentStudentAttachments.length > 0) {
                        this.submitAssgnment(false)
                    }
                }, 10000)
            }
        },
        mounted() {
            // this.activeData = {
            //     index: '0',
            //     data: this.dataList[0].urls
            // }
            let self = this
            this.getStudentList()
            this.getKeyCode()
            document.getElementById('drawDownload').addEventListener('click', function (e) {
                if (e.target.tagName === 'path' || e.target.tagName === 'ellipse') {

                    const target = e.target
                    const id = target.getAttribute("id")
                    const color = target.style.stroke
                    let boundingClient = target.getBoundingClientRect()
                    let page = {
                        pageX: target.getAttribute("x"),
                        pageY: target.getAttribute("y")
                    }
                    self.showDeleteButton(page, id)
                    self.createBorder(boundingClient, page, color, id)
                    self.clickPath = true
                    self.activePointDialog = ''
                }
            })
            // this.timeToSave()
        },
        destroyed() {
            // this.timer && clearInterval(this.timer)
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';

  .correct-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .draw-tool {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #556572;

    ul {
      display: flex;
      height: 40px;
      align-content: center;
      // background-color: #556572;
      li {
        border-right: 1px solid hsla(0, 0%, 0%, .5);
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .08);
        display: flex;
        align-items: center;

        span {
          font-size: 20px;
          color: #fff;
        }

        padding: 0 20px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          background-color: #9ea8af;
        }
      }

      .active {
        background-color: #9ea8af;
      }
    }
  }

  .drow-tool-inner {
    height: 40px;
    display: flex;
    align-items: center;

    li {
      padding: 0 5px;

      span {
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 3px solid transparent;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          border-color: #fff;
        }
      }

      .line-type {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        color: $--white;
      }
    }

    .title-color {
      color: $--white;
    }

    .active {
      span {
        border-color: #fff;
      }
    }
  }

  .tool-list {
    display: flex;
    background-color: #556572;
  }

  .line-width-out {
    position: relative;

    .line-width {
      position: absolute;
      display: inline-block;
      width: 5px;
      background-color: #000;
      height: 17px;
      left: 50%;
      transform: translateX(-50%) rotate(30deg);
      border-radius: 0;
      border: none;
    }
  }

  .draw-content {
    height: 80vh;
    width: 100%;
    overflow: auto;

    .draw-content-inner {
      height: 100%;
      position: relative;
    }

    .draw-content-dialog {
      height: 100%;
      position: relative;
      padding: 0 20px;
      border: none;

      .draw-dialog-content {
        // height: 30px;
        border: 1px solid #ccc;
        position: absolute;
        width: 240px;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
      }

      .activeDialog {
        box-shadow: 0px 0px 9px 4px #888;
      }
    }

    .border-contriner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  #svgMyDraw {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #canvasImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: #ccc;
  }

  .delete-path {
    padding: 10px 20px;
    border: 1px solid $--border-1;
    position: absolute;
    cursor: pointer;
    background-color: $--white;
    border-radius: 5px;

    &:hover {
      background-color: $--background-color;
    }
  }

  .text-add-dialog {
    display: flex;
    align-items: center;

    span {
      font-size: 20px;
      padding-left: 10px;

      &:hover {
        color: red;
      }
    }
  }

  .draw-dialog {
    span {
      position: absolute;
      cursor: move;
      font-size: 26px;
      word-break: break-all;
    }

    .text-add {
      font-size: 14px;
    }

    .activePoint {
      border: 1px dashed #fff;
    }

    .point-line {
      display: inline-block;
      width: 300px;
      top: 0;
      height: 1px;
      border-top: 1px dashed #fff;
      // display: none;
    }
  }

  .correct-content-right {
    padding: 20px;
    min-width: 300px;

    ul > li {
      border-bottom: 1px solid #ccc;
      padding: 10px 5px;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }

    .active {
      background-color: #fff;
      color: $--default;
    }
  }

  .line-text-list {
    position: absolute;
    top: 0;
    left: -20px;

    .line-text-dialog {
      position: absolute;
      border: 1px solid #ccc;
      background-color: #fff;
      padding: 10px;
      border-radius: 50%;
    }

    .line-text-active {
      box-shadow: 0px 0px 9px 4px #888;
      border-radius: 4px
    }
  }

  #pdf, #image {
    position: absolute;
    // z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .assignment-content {
    padding-top: 20px;
  }

  .student-list-button {
    width: 100%;
    text-align: center;
  }

  .assignment-content-item {
    padding-bottom: 10px;
  }
</style>
