<template>
  <div>
    <div class="course-title course-title-more">
      <div>
        <p>{{ exam.name }}</p>
        <p class="course-title-class">
          <span>班级： {{ class_name }}</span>
          <span class="course-title-class-finish" v-if="status == 'checked'">【已完成】</span>
          <span class="course-title-class-todo" v-else>【待批改】</span>
        </p>
      </div>
      <div class="course-title-inner">
        <p>
          <span>学生得分：</span>
          <span>{{ score }}</span>
        </p>
        <p>
          <span>总分：</span>
          <span>{{ total_score }}</span>
        </p>
        <p>
          <span>日期：</span>
          <span>{{ exam.startTime }}</span>
        </p>
        <p>
          <span>截至：</span>
          <span>{{ exam.endTime }}</span>
        </p>
      </div>
    </div>
    <div>
      <div class="question-analyze">
        <div v-if="report">
          <Chart id="questions" :option="question_type" class="chart-item"></Chart>
        </div>
        <div class="question-analyze-no-data" v-else>
          图表分析暂未生成
        </div>
      </div>
      <el-row class="examination" type="flex">
        <el-col :span="17" class="preview-content">

          <div>
            <div v-for="(item, index) in currentPageList" :key="index">
              <component
                :is="changeComponent(item)"
                :item="item" :num="item.content.questionNo"
                :auto="true"
                :answer.sync="item.previewAnswer"
                @submitQuestion="submitQuestion"
                :disabled="true"
                :correct="formatScore(item)"
                :correctFlag="true"
                :status="item.status"
                :report="handleReport()"
                :type="correctType"></component>
            </div>
          </div>
        </el-col>
        <el-col :span="6" class="examination-question">
          <div class="examination-question-time">
            <!-- <div>
                <div class="opinion-title">
                    考试时间
                </div>
                <div class="examination-time">
                    {{ examTime }}
                </div>
            </div> -->
            <!-- <div>
                <div class="opinion-title">
                    剩余时间
                </div>
                <div class="examination-time">
                    {{ countDown }}
                </div>
            </div> -->
          </div>
          <div>
            <div class="opinion-title">
              题目
            </div>
            <div class="question-list">
              <div class="question-item" v-for="(item, index) in answers" :key="index" :class="changeClass(item, index)"
                   @click="clickQuestionItem(index, item)">
                {{ showQuestionNo(index) }}
              </div>
            </div>
            <div class="opinion-title">
              页码
            </div>
            <div class="question-list">
              <div class="question-item page-item" v-for="(item, index) in pages" :key="index"
                   :class="currentPage == index ? 'active' : ''" @click="clickPageItem(index, item)">
                {{ item.name }}
              </div>
            </div>
          </div>
        </el-col>
      </el-row>
      <!-- <el-row> -->
      <!-- <el-col v-if="initFlag" class="correct-bottom" :span="17" >
          <el-button type="primary" @click="saveExam">提交考试</el-button>
          <el-button type="primary" plain  @click="back">退出</el-button>
      </el-col> -->
      <!-- <el-col class="correct-bottom" :span="17" >
          <el-button type="primary" @click="back">返回</el-button> -->
      <!-- <el-button type="primary" plain @click="showMore">查看更多</el-button> -->
      <!-- </el-col>
  </el-row> -->
      <div class="question-bottom-tool">
        <div class="question-button-left"></div>
        <div class="question-button-right">
          <!-- <el-button type="primary" @click="save">保存</el-button> -->
          <el-button type="primary" @click="back">退出</el-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import Create from '../../mixins/create'
    import utils from '../../utils/index'
    import Single from '../../components/subject/single'
    import Composition from '../../components/subject/Composition'
    import Multiple from '../../components/subject/multiple'
    import Blanks from '../../components/subject/gap-fill'
    import Answer from '../../components/subject/answer'
    import Page from '../../components/subject/paging'
    import Upload from '../../components/subject/Upload'
    import Chart from '@/components/pubilc/chart'
    import Cookie from 'js-cookie'

    export default {
        // mixins: [Create],
        components: {
            Single,
            Multiple,
            Blanks,
            Answer,
            Page,
            Composition,
            Chart,
            Upload
        },
        data() {
            return {
                class_name: utils.getQueryString("class_name"),
                exam: {
                    exam: '',
                    point: '',
                    startTime: '',
                    endTime: '',
                    name: '',
                },
                questionList: {
                    single: [],
                    multiple: [],
                    Reading: [],
                    Composition: [],
                    Text: [],
                    Upload: []
                },
                radio: '',
                list: [],
                currentPageList: [],
                questionList: [],
                previewFlag: false,
                currentPreview: {},
                currentIndex: '',
                currentPage: 0,
                pageList: [],
                initFlag: false,
                countDown: "-- --",
                examTime: '-- --',
                pages: {},
                answers: {},
                startTime: "",
                result: {},
                identity: "",
                name: utils.getQueryString("name"),
                question_type: {
                    default_tab: "total",
                    data_list: [],
                    total_data: [],
                    tab_list: {
                        total: {text: "总人数"},
                        excellent: {text: "优秀"},
                        good: {text: "良好"},
                        pass: {text: "合格"},
                        faild: {text: "不合格"}
                    },
                    xAxis: {
                        data: [],
                    },
                    series: [{
                        type: 'boxplot',
                        data: []
                    }],
                    resize: 0
                },
                score: 0,
                total_score: 0,
                report: null,
                data_list: {},
                total_data: {},
                status: ""
            }
        },
        methods: {
            formatScore(item) {
                if (item.score && item.score > 0) {
                    return true
                }
                return false
            },
            saveExam() {
                this.$confirm('此操作将提交本次考试, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.submitExam()
                }).catch(() => {
                })
            },
            // submitExam(){
            //     if(!this.result._id){
            //         this.$message.error("缺少考试id")
            //         return
            //     }
            //     const params = {
            //         id: this.result._id,
            //         startTime: this.startTime
            //     }
            //     this.$api.Exam.stu_submit_exam(this.result._id).then(res => {
            //         if(res.code == 200){
            //             this.$message.success("提交成功")
            //             this.back()
            //         }else{
            //             this.$message.error(res.error || "提交失败")
            //         }
            //     })
            // },
            submitQuestion(item) {
                if (item && item.id && this.identity != "teacher") {
                    const params = {
                        answer: this.formatAnswer(item),
                        id: item.id,
                        refresh: true
                    }
                    this.$api.Exam.stu_answer_question(item.id, params).then(res => {
                        if (res.code != 200) {
                            this.$message.error(res.error || "答题失败")
                        }
                    })
                }
            },
            formatAnswer(item) {
                if (item.type == "Multiple") {
                    return item.answer.join()
                }
                return item.answer
            },
            showQuestionNo(index) {
                return index.split("-")[1]
            },
            changeComponent(item) {
                const typeList = {
                    Single: "Single",
                    Multiple: "Multiple",
                    Blanks: "Blanks",
                    Reading: "Answer",
                    Composition: "Composition",
                    Page: "Page",
                    Text: "Answer",
                    Upload: "Upload"
                }
                return typeList[item.content.type]
            },
            back() {
                if (utils.getQueryString("from") == "AssignmentMark") {
                    let query = JSON.parse(window.sessionStorage.getItem('query'))
                    this.$router.push({
                        name: 'AssignmentMark',
                        query: query
                    })
                } else {
                    this.$router.go(-1)
                }
                // this.$router.push({
                //     name: "EditMode",
                //     query: {
                //         course_id: this.exam._id,
                //         type: "view"
                //     }
                // })
            },
            showMore() {
            },
            formatList(list) {
                let data = {
                    single: [],
                    multiple: [],
                    Reading: [],
                    Composition: [],
                    Text: []
                }
                if (list.length > 0) {
                    list.map(item => {
                        if (item.type.type == 'single') {
                            data.single.push(item)
                        }
                        if (item.type.type == 'multiple') {
                            data.multiple.push(item)
                        }
                        if (item.type.type == 'Reading') {
                            data.Reading.push(item)
                        }
                        if (item.type.type == 'Text') {
                            data.Text.push(item)
                        }
                        if (item.type.type == 'Composition') {
                            data.Composition.push(item)
                        }
                        if (item.type.type == 'Upload') {
                            data.Upload.push(item)
                        }
                    })
                }
                this.questionList = data
            },
            // startExam(){
            //     if(this.identity == "teacher"){
            //         this.initFlag = true
            //         this.startTime = new Date().getTime()
            //         this.countDownTime()
            //     }else{
            //         this.$api.Exam.start_exam(this.result._id).then(res => {
            //             if(res.code == 200){
            //                 let startExamTime = null
            //                 if(res.data){
            //                     startExamTime = new Date(res.data)
            //                 }
            //                 this.$message.success( startExamTime ? "继续考试" : "开始考试")
            //                 this.initFlag = true
            //                 this.startTime = new Date().getTime()
            //                 this.countDownTime(startExamTime)
            //             }else{
            //                 this.$message.error(res.error || "开始考试失败")
            //             }
            //         })
            //     }
            // },
            clickQuestionItem(index, item) {
                this.currentIndex = index
                let questionNo = index.split('-')[1]
                let currentIndex = 0
                for (let page = 0; page < this.pages.length; page++) {
                    for (let i = 0; i < this.pages[page].list.length; i++) {
                        let p = this.pages[page].list[i]
                        if (p.content.questionNo == questionNo) {
                            currentIndex = page
                            break
                        }
                    }
                }
                this.currentPage = currentIndex
                this.currentPageList = this.pages[currentIndex].list

                this.$nextTick(() => {
                    document.querySelector(`#questionNo-${questionNo}`).scrollIntoView()
                })

                if (item.content && (item.content.type == 'Text' || item.content.type == 'Reading')) {
                    this.previewFlag = true
                    this.currentPreview = item
                } else {
                    this.previewFlag = false
                    this.currentPreview = {}
                }
            },
            clickPageItem(index, item) {
                this.currentPage = index
                this.currentPageList = item.list
            },
            changeClass(item, index) {
                if (index == this.currentIndex) {
                    return 'yellow'
                }
                if (item instanceof Array) {
                    if (item.length > 0) {
                        return 'green'
                    } else {
                        return 'yellow'
                    }
                } else {
                    if (item) {
                        return 'green'
                    } else {
                        return 'active'
                    }
                }
            },
            countDownTime(startExamTime) {
                if (!this.initFlag) {
                    this.examTime = `${this.exam.time}min 0s`
                } else {
                    let difference = this.differenceMin(startExamTime)
                    let examTime = this.exam.time * 60 - difference
                    let second = 0
                    let min = this.exam.time
                    if (difference && difference != '0') {
                        let diff = this.getMinis(examTime)
                        second = diff.second
                        min = diff.min
                    }
                    this.timer = setInterval(() => {
                        if (min == 0) {
                            this.countDown = `0min 0s`
                            clearInterval(this.timer)
                            this.submitExam()
                        }
                        second--
                        if (second < 0) {
                            min -= 1
                            if (min < 0) {
                                this.$message.warning("考试时间已到，考试自动提交")
                                this.submitExam()
                                this.countDown = `00min 00s`
                            }
                            second = 59
                            this.countDown = `${min}min ${second}s`
                        }
                        this.countDown = `${min}min ${second}s`
                    }, 1000)
                }
            },
            differenceMin(startExamTime) {
                if (!startExamTime) {
                    return false
                }
                let nowTime = new Date().getTime()
                startExamTime = startExamTime.getTime()
                let difference = nowTime - startExamTime
                return Math.floor(difference / 1000)
            },
            getMinis(min) {
                return {
                    min: Math.floor(min / 60),
                    second: min % 60
                }
            },
            formatReport() {
                this.question_type.series[0].data = []
                this.handle_data()
            },
            // changelabel(key){
            //     this.question_type.default_tab = key
            //     let data = []
            //     if(key == 'total'){
            //         data = this.total_data
            //     }
            //     else if(key == 'excellent'){
            //         data = this.data_list[0].value
            //     }
            //     else if(key == "good"){
            //         data = this.data_list[1].value
            //     }
            //     else if(key == "pass"){
            //         data = this.data_list[2].value
            //     }else{
            //         data = this.data_list[3].value
            //     }
            //     this.handle_data(data)
            // },
            handle_data() {
                if (this.report) {
                    let data = this.report.labelScore
                    this.question_type.xAxis.data = []
                    this.question_type.series[0].data = []
                    data.forEach((element, index) => {
                        this.question_type.xAxis.data.push(element.label)
                        this.question_type.series[0].data[index] = []
                        this.$set(this.question_type.series[0].data[index], 0, element.minT)
                        this.$set(this.question_type.series[0].data[index], 1, element.percent25T)
                        this.$set(this.question_type.series[0].data[index], 2, element.midT)
                        this.$set(this.question_type.series[0].data[index], 3, element.percent75T)
                        this.$set(this.question_type.series[0].data[index], 4, element.maxT)
                    })
                    this.question_type.resize++
                }
            },
            init() {
                if (!this.exam.exam) {
                    this.$message.error("缺少考试id")
                    return
                }
                // if(this.identity == 'teacher'){
                this.$api.Exam.student_reviewExam(this.exam.exam).then(res => {
                    if (res.code == 200) {
                        this.report = res.data.report
                        this.data_list = res.data.labelScoreRatio || []
                        this.total_data = res.data.labelScore
                        this.score = res.data.stuExam.score
                        this.total_score = res.data.stuExam.exam.point || 0
                        this.result = res.data
                        this.exam = res.data.stuExam.exam
                        this.exam.startTime = utils.formatDate(new Date(this.result.stuExam.startTime), "yyyy-MM-dd hh:mm")
                        this.exam.endTime = utils.formatDate(new Date(this.result.stuExam.endTime), "yyyy-MM-dd hh:mm")
                        this.formatReport()
                        this.countDownTime()
                        this.formatQuestions(this.result.stuExam.questions.filter(item => {
                            if (item.question.type !== "Page") {
                                return item
                            }
                        }))
                        let breadcrumb = window.sessionStorage.getItem("breadcrumb")
                        if (breadcrumb) {
                            breadcrumb = JSON.parse(breadcrumb)
                            breadcrumb.push(this.exam.name)
                            this.$store.commit('setBreadcrumb', {
                                name: this.$route.name,
                                path: breadcrumb
                            })
                        }
                        this.status = res.data.stuExam.status
                    }
                })
                // }else{
                //     this.$api.Exam.stu_exam_details(this.exam.exam).then(res => {
                //         if(res.code == 200){
                //             this.result = res.data
                //             this.exam = this.result.exam
                //             this.exam.startTime = utils.formatDate(new Date(this.result.exam.startTime), "yyyy-MM-dd hh:mm")
                //             this.exam.endTime = utils.formatDate(new Date(this.result.endTime), "yyyy-MM-dd hh:mm")
                //             this.countDownTime()
                //             if(res.data.status == 'assigned'){
                //                 this.formatQuestions(this.result.questions)
                //             }
                //         }
                //     })
                // }
            },
            formatQuestions(data) {
                this.pages = [
                    {
                        name: "Pg1",
                        list: []
                    }
                ]
                this.answers = {}
                for (let i = 0; i < data.length; i++) {
                    // let question = this.identity == 'student' ? data[i].question : data[i]
                    let question = data[i]
                    let answer = data[i].answer
                    if (question.type == 'Page') {
                        if (this.pages[0].list.length > 0) {
                            this.pages.push({
                                name: `Pg${Number(this.pages.length) + 1}`,
                                list: []
                            })
                        }
                    } else {
                        if (question.question.type != 'Reading') {
                            if (question.question.type == "Multiple") {
                                if (answer) {
                                    question.previewAnswer = answer.split(',')
                                    // this.answers[`question-${question.question.questionNo}`] = answer.split(',')
                                } else {
                                    question.previewAnswer = []
                                    // this.answers[`question-${question.question.questionNo}`] = []
                                }
                            } else {
                                question.previewAnswer = answer || ""
                            }
                            this.answers[`question-${question.question.questionNo}`] = this.formatScore(question)
                        }

                        question.stuExamId = data[i]._id
                        question.question.points = question.score
                        question.content = question.question
                        this.$set(this.pages[this.pages.length - 1].list, this.pages[this.pages.length - 1].list.length, question)
                    }
                }
                if (this.pages[this.pages.length - 1].list.length == 0) {
                    this.pages.pop()
                }
                this.currentPageList = this.pages[0] ? this.pages[0].list : []
            },
            handleReport() {
                if (!this.report && this.identity == 'student') {
                    return false
                } else {
                    return true
                }
            }
        },
        created() {
            this.exam.exam = utils.getQueryString("id")
            this.exam.course = utils.getQueryString("course")
            this.correctType = utils.getQueryString("type") || ""
            this.identity = Cookie.get('identity')
            let breadcrumb = window.sessionStorage.getItem("breadcrumb")
            if (breadcrumb) {
                breadcrumb = JSON.parse(breadcrumb)
                breadcrumb.push(this.exam.name)
                this.$store.commit('setBreadcrumb', {
                    name: this.$route.name,
                    path: breadcrumb
                })
            }
        },
        mounted() {
            this.init()
        },
        watch: {
            // pages: {
            //     handler(newVal){
            //         // console.log(newVal)
            //     },
            //     immediate: true,
            //     deep: true
            // },
            // answers: {
            //     handler(){}
            // }
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';

  .examination {
    justify-content: space-between;
  }

  .course-title-more {
    display: flex;
    justify-content: space-between;

    .course-title-inner {
      font-size: 14px;
      display: flex;

      p {
        margin-right: 20px;
      }
    }

    .course-title-class {
      font-size: 14px;
    }

    .course-title-class-finish {
      color: $--background-1;
    }

    .course-title-class-todo {
      color: $--default;
    }
  }

  .show-question-list {
    padding: 20px;
    text-align: center;
  }

  .preview-content {
    margin-right: 20px;
    padding: 20px;
    min-width: 800px;
    background-color: $--white;
    border-radius: 8px;
    margin-bottom: 100px
  }

  .examination-question {
    position: fixed;
    right: 20px;
    min-width: 185px;
    padding: 20px;
    border-radius: 8px;
    background-color: $--white;
    max-height: 60vh;
    overflow: auto;

    .examination-question-time {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
    }
  }

  .examination-time {
    color: $--default;
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 20px;
  }

  .question-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .question-item {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 4px;
      border: 1px dashed $--text-1;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: all .3s;
    }

    .green {
      background-color: $--background-1;
      border-color: transparent;
      color: $--white;
    }

    .yellow {
      background-color: $--background-2;
      border-color: transparent;
      color: $--white;
    }

    .active {
      background-color: $--default;
      border-color: transparent;
      color: $--white;
    }

    .question-details {
      position: absolute;
      left: -90px;
      background-color: $--white;
      padding: 10px;
      box-shadow: 0px 0px 6px 5px rgba(42, 51, 60, 0.12);
      border-radius: 8px;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid #fff;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        box-sizing: border-box;
        position: absolute;
        right: -7px;
        top: 10px;
      }
    }

    .page-item {
      width: auto;
      padding: 0 10px;
      border: 1px solid $--text-3
    }
  }

  .correct-bottom {
    background-color: $--white;
    border-radius: 8px;
    padding: 20px;
    text-align: right;
    margin-top: 10px;
  }

  #questions {
    height: 300px;
  }

  .question-analyze {
    background-color: $--white;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .question-analyze-no-data {
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
</style>
