<template>
    <div>
        <div class="course-title">
            {{ courseTitle }}
        </div>
        <el-row class="correct" type="flex">
            <el-col :span="17">
                <div class="correct-content">
                    <div class="correct-text">
                        <iframe v-if="correctFlag && suffix == 'pdf'" :src="iframeUrl.split('&')[0]" frameborder="0"></iframe>
                        <iframe v-if="correctFlag && suffix != 'pdf'" :src="`https://view.officeapps.live.com/op/view.aspx?src=${iframeUrl}`" frameborder="0"></iframe>
                    </div>
                    <div class="correct-opinion">
                        <div class="opinion-title">
                            批改意见
                        </div>
                        <div class="opinion-content">
                            <el-input
                            type="textarea"
                            :rows="6"
                            placeholder="请输入批改意见"
                            v-model="textarea">
                            </el-input>
                        </div>
                    </div>
                    <!-- <div class="bottom-button">
                        <el-button type="primary" @click="save">保存</el-button>
                        <el-button type="primary" plain @click="goBack">返回</el-button>
                    </div> -->
                </div>
            </el-col>
            <el-col class="corrext-score" :span="6">
                <div class="score-content">
                    <div class="opinion-title">
                        批改得分
                    </div>
                    <div v-if="currect_data.assignment">
                        <div class="score-content-item" v-for="(item, index) in currect_data.assignment.labels" :key="index">
                            <div class="score-item-title">{{ `${item}：` }}</div>
                            <el-input v-model="point[item]" class="input-short-1" placeholder="请输入分数" @change="changePoint"></el-input>
                        </div>
                    </div>
                    <div class="score-content-item">
                        <div class="score-item-title">总分</div>
                        <el-input v-model="points" class="input-short-1" placeholder="请输入分数"></el-input>
                    </div>
                </div>
                <div class="score-content">
                    <div class="opinion-title">
                        已上传文件
                    </div>
                    <div class="score-content-item">
                        <el-tag v-for="(item, index) in currect_data.attachments" :key="index" type="info" @click="changeFileUrl(item)">
                            <span :title="item.name" class="tag-name tag-name-upload-show">
                                {{ item.name }}
                            </span>
                        </el-tag>
                    </div>
                </div>
            </el-col>
        </el-row>
        <div class="question-bottom-tool">
            <div class="question-button-left"></div>
            <div class="question-button-right">
                <el-button type="primary" @click="save">保存</el-button>
                <el-button type="primary" plain @click="goBack">返回</el-button>
            </div>
        </div>
    </div>
</template>
<script>
import utils from '../../utils/index'
import Common from '../../mixins/common'
export default {
    mixins: [Common],
    data(){
        return {
            courseTitle: '高等数学第一章课后作业',
            iframeUrl: '',
            input: '',
            textarea: '',
            correct_id: '',
            currect_data: {},
            point: {},
            points: "",
            current: '',
            correctFlag: false,
            suffix: ''
        }
    },
    methods: {
        changeFileUrl(item){
            this.suffix = utils.getSuffix(item.url)
            this.iframeUrl = `${item.url}&embedded=true`
        },
        changePoint(){
            let point = 0
            for(let item in this.point){
                point = Number(this.point[item]) + Number(point)
            }
            this.points = point
        },
        init(){
            if(!this.correct_id){
                this.$message.error("缺少作业id")
                return
            }
            this.$api.Teacher.get_stuAssignment_details(this.correct_id).then(res => {
                if(res.code == 200){
                    this.currect_data = res.data
                    if(this.currect_data.attachments.length > 0){
                        this.correctFlag = true
                        this.suffix = utils.getSuffix(this.currect_data.attachments[0].url)
                        this.iframeUrl = `${this.currect_data.attachments[0].url}&embedded=true`
                    }
                    this.points = this.currect_data.score || ''
                    this.courseTitle = res.data.assignment.name
                    this.textarea = this.currect_data.comment || ''
                    res.data.assignment.labels.map(item => {
                        this.$set(this.point, item, 0)
                    })
                }
            })
        },
        goBack(){
            let course = this.currect_data.course
            let unit = this.currect_data.assignment.unit
            let assignment_id = this.currect_data.assignment._id
            let name = utils.formatStr(this.currect_data.assignment.name)
            this.$router.push({
                name: "AssignmentMark",
                query: {
                    course,
                    unit,
                    id: assignment_id,
                    name,
                    current: this.current
                }
            })
        },
        save(){
            if(!this.points || !this.textarea){
                this.$message.error("内容不全")
                return
            }
            const params = {
                labels: this.formatLabels(),
                score: this.points,
                comment: this.textarea
            }
            this.$api.Teacher.stuAssignment_updata(this.correct_id, params).then(res => {
                if(res.code == 200){
                    this.$message.success("提交成功")
                }else{
                    this.$message.error(res.error || "提交失败")
                }
            })
        },
        formatLabels(){
            let arr = []
            for(let item in this.point){
                arr.push({
                    label: item,
                    score: this.point[item]
                })
            }
            return arr
        }
    },
    created(){
        this.correct_id = utils.getQueryString("id")
        this.current = utils.getQueryString("current")
        this.init()
    },
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.correct{
    margin: 20px 0 100px 0;
    justify-content: space-between;
}
.correct-content{
    background-color: $--white;
    padding: 20px;
    border-radius: 8px;
    // min-width: 850px;
    .correct-text{
        // width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        min-height: 390px;
        padding: 15px;
        box-sizing: border-box;
        iframe{
            width: 100%;
            min-height: 390px;
            height: 390px;
            border-radius: 4px;
        }
    }
}
.corrext-score{
    min-width: 185px;
    .score-content{
        background-color: $--white;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    }
}
.correct-opinion{
    padding-top: 20px
}
.opinion-title{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 550;
}
.opinion-content{
    min-height: 144px;
}
.score-content-item{
    // display: flex;
    // align-items: center;
    margin-bottom: 20px;
    .score-item-title{
        font-size: 14px;
        font-weight: 550;
        padding-right: 10px;
        margin-bottom: 10px;
    }
}
.tag-name{
    color: $--default;
    text-decoration: underline;
    cursor: pointer;
}
.bottom-button{
    padding-top: 20px;
    text-align: right
}
</style>