<template>
  <div ref="examination" :style="{background: '#f5f6fa'}">
    <div class="course-title course-title-more">
      <span>{{ exam.name }}</span>
      <div class="course-title-inner">
        <p>
          <span>分数：</span>
          <span>{{ exam.point || '--' }}</span>
        </p>
        <p>
          <span>日期：</span>
          <span>{{ exam.startTime }}</span>
        </p>
        <p>
          <span>截至：</span>
          <span>{{ exam.endTime }}</span>
        </p>
      </div>
    </div>
    <div>
      <el-row class="examination" type="flex" οncοntextmenu="return false" onselectstart="return false">
        <el-col :span="17" class="preview-content">
          <div v-if="initFlag">
            <div v-for="(item, index) in currentPageList" :key="index">
              <component
                :is="changeComponent(item)"
                :item="item" :num="item.content.questionNo"
                :auto="true"
                :exam="true"
                :answer.sync="answers[`question-${item.content.questionNo}`]"
                @submitQuestion="submitQuestion"
                :status="result.status"></component>
            </div>
          </div>
          <div v-else>
            <div v-if="result.type == 'live'">
              <h3 :style="{'font-size': '20px', 'padding-bottom': '10px'}">翰林在线考试注意事项：</h3>
              <p style="padding-bottom: 20px">
                考生们请注意！考试期间，您将不被允许退出，切换考试答题页面；您的手机及其他电子产品将不被允许使用；手机扫码后，请不要退出翰林小程序页面，不要切换到其他手机程序，不要使用锁屏键（翰林小程序将自动保持手机亮屏状态），直到考试结束。本次考试，您将会有{{
                result.examClass ? result.examClass.alarmLimit : 0
                }}次警告次数，违反上述任何行为将会导致您收到警告，达上限后，考试将自动提交。请您做好考前准备，确保电脑及手机电量充足，确保身体状态调整至最佳。自信是智慧的凝聚；能力是平时的努力；心态是取胜的关键；考试将至，愿您旗开得胜，预祝您考试顺利！</p>
            </div>
            <h3 :style="{'font-size': '20px', 'padding-bottom':'10px'}">简介：</h3>
            <p style="padding-bottom: 20px" v-html="exam.introduction"></p>
            <h3 :style="{'font-size': '20px', 'padding-bottom':'10px', color: 'red'}">评语：</h3>
            <p style="padding-bottom: 20px" v-html="result.comments"></p>
            <div class="show-question-list">
              <p v-if="identity == 'teacher'">
                <el-button type="primary" @click="startExam">开始测试</el-button>
              </p>
              <p v-if="result.type == 'normal'">
                <el-button v-if="result.status == 'assigned'" type="primary" @click="startExam">开始测试</el-button>
              </p>
            </div>
          </div>
        </el-col>
        <el-col :span="6" class="examination-question">
          <div class="examination-question-time">
            <div>
              <div class="opinion-title">
                考试时间
              </div>
              <div class="examination-time">
                {{ examTime }}
              </div>
            </div>
            <div>
              <div class="opinion-title">
                剩余时间
              </div>
              <div class="examination-time">
                {{ countDown }}
              </div>
            </div>
          </div>
          <div v-if="initFlag">
            <div class="opinion-title">
              题目
            </div>
            <div class="question-list">
              <div class="question-item" v-for="(item, index) in answers" :key="index" :class="changeClass(item, index)"
                   @click="clickQuestionItem(index, item)">
                {{ showQuestionNo(index) }}
              </div>
            </div>
            <div class="opinion-title">
              页码
            </div>
            <div class="question-list">
              <div class="question-item page-item" v-for="(item, index) in pages" :key="index"
                   :class="currentPage == index ? 'active' : ''" @click="clickPageItem(index, item)">
                {{ item.name }}
              </div>
            </div>
          </div>
        </el-col>
      </el-row>
      <!-- <el-row>
          <el-col v-if="initFlag" class="correct-bottom" :span="17" >
              <el-button type="primary" @click="saveExam">提交考试</el-button>
              <el-button type="primary" plain  @click="back">退出</el-button>
          </el-col>
          <el-col v-else class="correct-bottom" :span="17" >
              <el-button type="primary" @click="back">返回</el-button>
              <el-button type="primary" plain @click="showMore">查看更多</el-button>
          </el-col>
      </el-row> -->
    </div>
    <div class="question-bottom-tool">
      <div class="question-button-left"></div>
      <div class="question-button-right" v-if="initFlag">
        <el-button type="primary" @click="prevPage" v-if="currentPage > 0">上一页</el-button>
        <el-button type="primary" @click="nextPage" v-if="currentPage != pages.length -1 ">下一页</el-button>
        <el-button type="primary" @click="saveExam" v-if="currentPage == pages.length -1 ">提交考试</el-button>
        <el-button type="primary" plain @click="back">退出</el-button>
      </div>
      <div class="question-button-right" v-else>
        <el-button type="primary" @click="back">返回</el-button>
        <el-button type="primary" :disabled="!show_answer" plain @click="showMore">显示答案</el-button>
      </div>
    </div>
    <el-dialog
      title="提示"
      :visible.sync="submitDialogVisible"
      width="30%"
      :append-to-body="true">
      <span>此操作将提交本次考试, 是否继续?</span>
      <span slot="footer" class="dialog-footer">
                <el-button @click="submitDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitExam">确 定</el-button>
            </span>
    </el-dialog>
    <el-dialog
      v-if="result.type != 'normal'"
      title="翰林在线考试注意事项"
      :visible.sync="studentExamStart"
      width="30%"
      top="50px"
      :center="true"
      :append-to-body="true"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :show-close="false">
      <div class="student-exam-start-alert">
        <span class="student-exam-start-alert-text">考生们请注意！考试期间，您将不被允许退出，切换考试答题页面；您的手机及其他电子产品将不被允许使用；手机扫码后，请不要退出翰林小程序页面，不要切换到其他手机程序，不要使用锁屏键（翰林小程序将自动保持手机亮屏状态），直到考试结束。本次考试，您将会有{{ result.examClass ? result.examClass.alarmLimit : 0 }}次警告次数，违反上述任何行为将会导致您收到警告，达上限后，考试将自动提交。请您做好考前准备，确保电脑及手机电量充足，确保身体状态调整至最佳。自信是智慧的凝聚；能力是平时的努力；心态是取胜的关键；考试将至，愿您旗开得胜，预祝您考试顺利！</span>
        <img style="width: 60%" :src="result.examClass ? result.examClass.qrcode : ''" alt="">
      </div>
      <span slot="footer" class="dialog-footer">
                <!-- <el-button @click="submitDialogVisible = false">取 消</el-button> -->
                <el-button type="primary" @click="back">返回</el-button>
            </span>
    </el-dialog>
  </div>
</template>
<script>
    import Create from '../../mixins/create'
    import utils from '../../utils/index'
    import Single from '../../components/subject/single'
    import Composition from '../../components/subject/Composition'
    import Upload from '../../components/subject/Upload'
    import Multiple from '../../components/subject/multiple'
    import Blanks from '../../components/subject/gap-fill'
    import Answer from '../../components/subject/answer'
    import {diff} from 'semver'
    import Cookie from 'js-cookie'
    import ExamSocket from '../../mixins/examSocket'

    export default {
        // mixins: [Create],
        components: {
            Single,
            Multiple,
            Blanks,
            Composition,
            Answer,
            Upload
        },
        mixins: [ExamSocket],
        data() {
            return {
                submitDialogVisible: false,
                studentExamStart: false,
                exam: {
                    exam: '',
                    point: '',
                    startTime: '',
                    endTime: '',
                    name: '',
                },
                questionList: {
                    single: [],
                    multiple: [],
                    Reading: [],
                    Composition: [],
                    Text: [],
                    Upload: []
                },
                radio: '',
                list: [],
                currentPageList: [],
                questionList: [],
                previewFlag: false,
                currentPreview: {},
                currentIndex: '',
                currentPage: 0,
                pageList: [],
                initFlag: false,
                countDown: "-- --",
                examTime: '-- --',
                pages: {},
                answers: {},
                startTime: "",
                result: {},
                identity: "",
                name: utils.getQueryString("name"),
                examinationStyle: '',
                id: '',
                show_answer: false
            }
        },
        methods: {
            fullScreen(element) {
                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.mozRequestFullScreen) {
                    element.mozRequestFullScreen();
                } else if (element.webkitRequestFullscreen) {
                    element.webkitRequestFullscreen();
                } else if (element.msRequestFullscreen) {
                    element.msRequestFullscreen();
                }
                if (document.all) {
                    document.click();
                } else {
                    let e = document.createEvent("MouseEvents");
                    e.initEvent("click", true, true);
                    document.dispatchEvent(e);
                }
            },
            prevPage() {
                this.currentPage -= 1
                this.currentPageList = this.pages[this.currentPage].list
            },
            nextPage() {
                this.currentPage = this.currentPage + 1
                this.currentPageList = this.pages[this.currentPage].list
            },
            saveExam() {
                this.submitDialogVisible = true
                // this.$confirm('此操作将提交本次考试, 是否继续?', '提示', {
                //     confirmButtonText: '确定',
                //     cancelButtonText: '取消',
                //     type: 'warning'
                // }).then(() => {
                //     this.submitExam()
                // }).catch(() => {})
            },
            submitExam() {
                if (!this.result._id) {
                    this.$message.error("缺少考试id")
                    return
                }
                const params = {
                    id: this.result._id,
                    startTime: this.startTime
                }
                this.$api.Exam.stu_submit_exam(this.result._id).then(res => {
                    if (res.code == 200) {
                        this.$message.success("提交成功")
                        this.back()
                    } else {
                        this.$message.error(res.error || "提交失败")
                    }
                })
            },
            submitQuestion(item) {
                console.log("55555",item)
                if (item && item.id && this.identity != "teacher") {
                    const params = {
                        answer: this.formatAnswer(item),
                        attachments:item.attachments,
                        id: item.id,
                        refresh: true
                    }
                    console.log("6666",params)
                    this.$api.Exam.stu_answer_question(item.id, params).then(res => {
                        if (res.code != 200) {
                            this.$message.error(res.error || "答题失败")
                        }
                    })
                }
            },
            formatAnswer(item) {
                if (item.type == "Multiple") {
                    return item.answer.sort().join()
                }
                return item.answer
            },
            showQuestionNo(index) {
                return index.split("-")[1]
            },
            changeComponent(item) {
                const typeList = {
                    Single: "Single",
                    Multiple: "Multiple",
                    Blanks: "Blanks",
                    Reading: "Answer",
                    Page: "Page",
                    Composition: "Composition",
                    Text: "Answer",
                    Upload: "Upload",
                }
                return typeList[item.content.type]
            },
            back() {
                this.$router.push({
                    name: "EditMode",
                    query: {
                        course_id: this.exam.course,
                        type: "view"
                    }
                })
            },
            showMore() {
                this.$router.push({
                    name: 'correctExam',
                    query: {
                        id: this.result._id,
                        current: this.result.classes
                    }
                })
            },
            formatList(list) {
                let data = {
                    single: [],
                    multiple: [],
                    Reading: [],
                    Composition: [],
                    Text: [],
                    Upload: []
                }
                if (list.length > 0) {
                    list.map(item => {
                        if (item.type.type == 'single') {
                            data.single.push(item)
                        }
                        if (item.type.type == 'multiple') {
                            data.multiple.push(item)
                        }
                        if (item.type.type == 'Reading') {
                            data.Reading.push(item)
                        }
                        if (item.type.type == 'Text') {
                            data.Text.push(item)
                        }
                        if (item.type.type == 'Composition') {
                            data.Composition.push(item)
                        }
                        if (item.type.type == 'Upload') {
                            data.Upload.push(item)
                        }
                    })
                }
                this.questionList = data
            },
            startExam() {
                if (this.identity == "teacher") {
                    this.initFlag = true
                    this.startTime = new Date().getTime()
                    this.countDownTime()
                } else {
                    this.$api.Exam.start_exam(this.result._id).then(res => {
                        if (res.code == 200) {
                            let startExamTime = null
                            if (res.data) {
                                startExamTime = new Date(res.data)
                            }
                            this.studentExamStart = false
                            this.$message.success(startExamTime ? "继续考试" : "开始考试")
                            this.initFlag = true
                            this.startTime = new Date().getTime()
                            this.countDownTime(startExamTime)
                            this.examinationStyle = '#fff'
                            if (this.result.type == 'live') {
                                this.fullScreen(this.$refs.examination)
                                this.studentMonitorAlarm()
                            }
                        } else {
                            this.$message.error(res.error || "开始考试失败")
                        }
                    })
                }
            },
            clickQuestionItem(index, item) {
                console.log(item)
                this.currentIndex = index
                let questionNo = index.split('-')[1]
                let currentIndex = 0
                for (let page = 0; page < this.pages.length; page++) {
                    for (let i = 0; i < this.pages[page].list.length; i++) {
                        let p = this.pages[page].list[i]
                        if (p.content.questionNo == questionNo) {
                            currentIndex = page
                            break
                        }
                    }
                }
                this.currentPage = currentIndex
                this.currentPageList = this.pages[currentIndex].list

                this.$nextTick(() => {
                    document.querySelector(`#questionNo-${questionNo}`).scrollIntoView()
                })

                if (item.content && (item.content.type == 'Text' || item.content.type == 'Reading')) {
                    this.previewFlag = true
                    this.currentPreview = item
                } else {
                    this.previewFlag = false
                    this.currentPreview = {}
                }
            },
            clickPageItem(index, item) {
                this.currentPage = index
                this.currentPageList = item.list
            },
            changeClass(item, index) {
                if (index == this.currentIndex) {
                    return 'active'
                }
                if (item instanceof Array) {
                    if (item.length > 0) {
                        return 'green'
                    } else {
                        return 'yellow'
                    }
                } else {
                    if (item) {
                        return 'green'
                    } else {
                        return 'yellow'
                    }
                }
            },
            countDownTime(startExamTime) {
                if (!this.initFlag) {
                    this.examTime = `${this.exam.time}min 0s`
                } else {
                    let difference = this.differenceMin(startExamTime)
                    let examTime = this.exam.time * 60 - difference
                    let second = 0
                    let min = this.exam.time
                    if (difference && difference != '0') {
                        let diff = this.getMinis(examTime)
                        second = diff.second
                        min = diff.min
                    }
                    this.timer = setInterval(() => {
                        if (min == 0) {
                            this.countDown = `0min 0s`
                            clearInterval(this.timer)
                            this.submitExam()
                        }
                        second--
                        if (second < 0) {
                            min -= 1
                            if (min < 0) {
                                this.$message.warning("考试时间已到，考试自动提交")
                                this.submitExam()
                                this.countDown = `00min 00s`
                            }
                            second = 59
                            this.countDown = `${min}min ${second}s`
                        }
                        this.countDown = `${min}min ${second}s`
                    }, 1000)
                }
            },
            differenceMin(startExamTime) {
                if (!startExamTime) {
                    return false
                }
                let nowTime = new Date().getTime()
                startExamTime = startExamTime.getTime()
                let difference = nowTime - startExamTime
                return Math.floor(difference / 1000)
            },
            getMinis(min) {
                return {
                    min: Math.floor(min / 60),
                    second: min % 60
                }
            },
            init() {
                if (!this.id) {
                    this.$message.error("缺少考试id")
                    return
                }
                if (this.identity == 'teacher') {
                    this.$api.Exam.get_exam_details(this.id).then(res => {
                        if (res.code == 200) {
                            this.result = res.data
                            this.exam = this.result
                            this.exam.startTime = utils.formatDate(new Date(this.result.startTime), "yyyy-MM-dd hh:mm")
                            this.exam.endTime = utils.formatDate(new Date(this.result.endTime), "yyyy-MM-dd hh:mm")
                            this.countDownTime()
                            this.formatQuestions(this.result.questions)
                        }
                    })
                } else {
                    this.$api.Exam.stu_exam_details(this.id).then(res => {
                        if (res.code == 200) {
                            this.result = res.data
                            this.exam = this.result.exam
                            if (this.result.type == 'live') {
                                this.studentExamStart = true
                            }
                            this.exam.startTime = utils.formatDate(new Date(this.result.startTime), "yyyy-MM-dd hh:mm")
                            this.exam.endTime = utils.formatDate(new Date(this.result.endTime), "yyyy-MM-dd hh:mm")
                            this.countDownTime()
                            this.formatQuestions(this.result.questions)
                            this.monitorExamStart()
                            this.show_answer = this.FnHandleAnswer()
                        }
                    })
                }
            },
            formatQuestions(data) {
                this.pages = [
                    {
                        name: "Pg1",
                        list: []
                    }
                ]
                this.answers = {}
                for (let i = 0; i < data.length; i++) {
                    let question = this.identity == 'student' ? data[i].question : data[i]
                    let answer = data[i].answer
                    if (question.type == 'Page') {
                        if (this.pages[0].list.length > 0) {
                            this.pages.push({
                                name: `Pg${Number(this.pages.length) + 1}`,
                                list: []
                            })
                        }
                    } else {
                        if (question.type == 'Multiple') {
                            if (answer) {
                                question.previewAnswer = answer.split(',')
                                this.answers[`question-${question.questionNo}`] = answer.split(',')
                            } else {
                                question.previewAnswer = []
                                this.answers[`question-${question.questionNo}`] = []
                            }
                        } else if (question.type != 'Reading') {
                            question.previewAnswer = answer || ""
                            this.answers[`question-${question.questionNo}`] = answer || ""
                        }
                        question.stuExamId = data[i]._id
                        this.$set(this.pages[this.pages.length - 1].list, this.pages[this.pages.length - 1].list.length, {
                            content: question
                        })
                    }
                }
                if (this.pages[this.pages.length - 1].list.length == 0) {
                    this.pages.pop()
                }
                this.currentPageList = this.pages[0] ? this.pages[0].list : []
            },
            checkFull() {
                var isFull = document.fullscreenEnabled || window.fullScreen || document.webkitIsFullScreen || document.msFullscreenEnabled;
                //to fix : false || undefined == undefined
                if (isFull === undefined) {
                    isFull = false;
                }
                return isFull;
            },
            monitorExamStart() {
                if (this.result.type == 'live') {
                    this.studentMonitorStartExam()
                }
            },
            studentSendAlarmFn() {
                if (this.identity == "student") {
                    if (this.result.type == 'live') {
                        this.studentSendAlarm()
                    }
                }
            },
            FnHandleAnswer() {
                let flag = false
                if (this.result.examClass.answerShow == '2') {
                    flag = new Date(this.result.endTime) < new Date()
                } else if (this.result.examClass.answerShow == '1') {
                    flag = true
                }
                if (this.result.T) {
                    flag = true
                }
                return flag
            }
        },
        created() {
            let self = this
            document.oncontextmenu = () => false
            document.onkeydown = function (event) {
                if (event.keyCode == 27) {
                    return
                }
            }
            // this.exam.exam = utils.getQueryString("id")
            this.id = utils.getQueryString("id")
            this.exam.course = utils.getQueryString("course")
            this.identity = Cookie.get('identity')
            let breadcrumb = window.sessionStorage.getItem("breadcrumb")
            if (breadcrumb) {
                breadcrumb = JSON.parse(breadcrumb)
                breadcrumb.push(this.name)
                this.$store.commit('setBreadcrumb', {
                    name: this.$route.name,
                    path: breadcrumb
                })
            }

            //监听不同浏览器的全屏事件，并件执行相应的代码
            document.addEventListener("webkitfullscreenchange", function () {//
                if (document.webkitIsFullScreen) {
                    //全屏后要执行的代码
                } else {
                    self.studentSendAlarmFn()
                }
            }, false);

            document.addEventListener("fullscreenchange", function () {
                if (document.fullscreen) {
                    //全屏后执行的代码
                } else {
                    self.studentSendAlarmFn()
                }
            }, false);

            document.addEventListener("mozfullscreenchange", function () {
                if (document.mozFullScreen) {
                    //全屏后要执行的代码
                } else {
                    self.studentSendAlarmFn()
                }
            }, false);

            document.addEventListener("msfullscreenchange", function () {
                if (document.msFullscreenElement) {
                    //全屏后要执行的代码
                } else {
                    self.studentSendAlarmFn()
                }
            }, false)
        },
        mounted() {
            this.init()
        },
        destroyed() {
            if (this.identity == "student") {
                this.socket && this.socket.disconnect()
            }
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';

  .examination {
    justify-content: space-between;
  }

  .course-title-more {
    display: flex;
    justify-content: space-between;

    .course-title-inner {
      font-size: 14px;
      display: flex;

      p {
        margin-right: 20px;
      }
    }
  }

  .show-question-list {
    padding: 20px;
    text-align: center;
  }

  .preview-content {
    margin-right: 20px;
    padding: 20px;
    min-width: 800px;
    background-color: $--white;
    border-radius: 8px;
    margin-bottom: 100px;
  }

  .examination-question {
    position: fixed;
    right: 20px;
    min-width: 135px;
    max-width: 285px;
    padding: 20px;
    border-radius: 8px;
    background-color: $--white;
    max-height: 60vh;
    overflow: auto;

    .examination-question-time {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
    }
  }

  .examination-time {
    color: $--default;
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 20px;
  }

  .question-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .question-item {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 4px;
      border: 1px dashed $--text-1;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: all .3s;
    }

    .green {
      background-color: $--background-1;
      border-color: transparent;
      color: $--white;
    }

    .yellow {
      background-color: $--background-2;
      border-color: transparent;
      color: $--white;
    }

    .active {
      background-color: $--default;
      border-color: transparent;
      color: $--white;
    }

    .question-details {
      position: absolute;
      left: -90px;
      background-color: $--white;
      padding: 10px;
      box-shadow: 0px 0px 6px 5px rgba(42, 51, 60, 0.12);
      border-radius: 8px;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid #fff;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        box-sizing: border-box;
        position: absolute;
        right: -7px;
        top: 10px;
      }
    }

    .page-item {
      width: auto;
      padding: 0 10px;
      border: 1px solid $--text-3
    }
  }

  .correct-bottom {
    background-color: $--white;
    border-radius: 8px;
    padding: 20px;
    text-align: right;
    margin-top: 10px;
  }

  .student-exam-start-alert {
    text-align: center;

    .student-exam-start-alert-text {
      text-align: left;
    }
  }
</style>
