<template>
    <div>
        <div class="preview-pdf">
            <el-row>
                <el-col :span="18">
                    <div id="pdf" :style="{height: '90vh'}"></div>
                </el-col>
                <el-col :span="6" class="correct-content-right">
                    <ul>
                        <li 
                            :class="activeData.index == index ? 'active' : ''" 
                            v-for="(item, index) in dataList" 
                            :key="index"
                            @click="changeDataList(item, index)">{{ item.name }}</li>
                    </ul>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
import PDFObject from 'pdfobject'
export default {
    data(){
        return {
            all_height: 0,
            dataList: [
                {
                    name: 'pdf_open_parameters',
                    urls: '/static/pdf_open_parameters.pdf'
                },
                {
                    name: 'sample-3pp',
                    urls: '/static/sample-3pp.pdf',
                }
            ],
            activeData: {
                index: '0',
                data: []
            },
        }
    },
    methods: {
        changeDataList(item, index){
            this.activeData.index = index
            this.activeData.data = item.urls
            this.getImage()
        },
        getImage(){
            if(PDFObject.supportsPDFs){
                // PDF嵌入到网页
                var options = {
                    pdfOpenParams: {
                        view: 'FitH', 
                        toolbar: '0', 
                        statusbar: '0', 
                        pagemode: "thumbs",
                        id: "iframePdfContent"
                    },
                    forcePDFJS:  true,
                    PDFJS_URL: "static/pdf/viewer_preview.html"
                };
                let pdf = PDFObject.embed(this.activeData.data, "#pdf", options);
            } else {
                alert("浏览器不支持");
            }
        },
        init(){
            this.getImage()
            let self = this
            window.getAll_data = function (height) {
                self.all_height = height
            }
        }
    },
    mounted(){
        this.activeData = {
            index: '0',
            data: this.dataList[0].urls
        }
        this.init()
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.correct-content-right{
    padding: 20px;
    ul>li{
        border-bottom: 1px solid #ccc;
        padding: 10px 5px;
        cursor: pointer;
        &:hover{
            background-color: #fff;
        }
    }
    .active{
        background-color: #fff;
        color: $--default;
    }
}
</style>