<template>
  <div>
    <div class="que-title">
      <div class="que-title-inner">
        <span class="title">{{ `${innerItem.content.questionNo}.` }}</span>
        <div v-if="editFlag" class="que-text-area-content">
          <el-input
            type="textarea"
            :autosize="{ minRows: 1, maxRows: 4}"
            class="input-long-1"
            v-model="innerItem.content.content"
            placeholder="请输入题目内容"
            clearable></el-input>
          <UploadFile :accept="accept" :layout="layout" :type="{key: 'content'}" @uploadFile="uploadFileCallBack" />
        </div>
        <span class="max-content-width" v-else>{{ innerItem.content.content }}</span>
      </div>
      <div class="que-edit">
        <div class="que-point">
          <span class="title">分数：</span>
          <el-input v-if="editFlag" class="input-short-3" v-model="innerItem.content.points" placeholder="分数" @change="checkPoints"></el-input>
          <span v-else>{{ `${innerItem.content.points}分` }}</span>
        </div>
        <div class="que-icon">
          <!-- <span :class="editFlag ? 'el-icon-circle-check' : 'el-icon-edit'" @click="clickEdit"></span> -->
          <span class="el-icon-delete" @click="deleteQuestion"></span>
        </div>
      </div>
    </div>
    <div class="que-item preview max-preview-width">
 <!--     <el-radio-group v-if="editFlag" v-model="innerItem.content.answer" text-color="#409EFF" fill="#409EFF" size="medium">
        <el-col :span="12" class="que-item-singe" style="min-width: 45%" v-for="(itemOption, index) in innerItem.content.options" :key="index">
          <div class="singe-item">{{ `${itemOption.key}：` }}</div>
          <div class="text-area-parent que-text-area-content">
            <el-input
              type="textarea"
              :autosize="{ minRows: 1, maxRows: 4}"
              class="input-long-2"
              v-model="itemOption.content"
              placeholder="选项内容"
              clearable
              style="width: 100%; min-width: 45%"></el-input>
            <UploadFile :accept="accept" :layout="layout" :type="{key: itemOption.key}" @uploadFile="uploadFileCallBack"/>
          </div>
          <el-radio style="margin-right: 5px" :label="itemOption.key">&nbsp;</el-radio>
          <span class="delete-question-option el-icon-delete" @click="deleteQuestionOption(index)"></span>
        </el-col>
      </el-radio-group>-->
     <!-- <el-radio-group v-else class="single-radio-group" v-model="innerItem.content.answer" text-color="#409EFF" fill="#409EFF" size="medium">
        <el-radio class="single-radio-item" :label="itemOption.key" v-for="(itemOption, i) in item.content.options" :key="i">
          <div class="singe-item">{{ `${itemOption.key}：` }}</div>
          <div class="option-content">{{ itemOption.content }}</div>
        </el-radio>
      </el-radio-group>-->
    </div>
    <div class="question-type-labels">
      <span>题型</span>
      <draggable class="question-type-content" :group="groupCover" @change="addLabelItem" v-model="labelList">
        <span v-if="!QuestionTypeColor" class="type-color-empty"></span>
        <span v-else class="type-color" :style="{'background-color': QuestionTypeColor}"></span>
      </draggable>
    </div>
    <div class="que-button-list">
      <div class="change-type">
        <span>选择题型：</span>
        <el-select v-model="newType" @change="changeType" placeholder="请选择">
          <el-option
            v-for="item in typeList"
            :key="item.type"
            :label="item.name"
            :value="item.type">
          </el-option>
        </el-select>
      </div>
      <div>
        <el-button type="primary" :disabled="!editFlag" plain @click="addAnalysis">考题解析</el-button>
        <!--<el-button type="primary" :disabled="!editFlag" plain @click="addOptions">添加选项</el-button>-->
      </div>
      <!-- <el-button type="primary" :disabled="!editFlag" plain>插入图片</el-button> -->
    </div>
  </div>
</template>
<script>
    import QuestionMinix from '../../mixins/question'
    import UploadFile from '../pubilc/upload-file'
    export default {
        props: ["item", "indexItem", "editIndex"],
        mixins: [QuestionMinix],
        components: {
            UploadFile
        },
        data(){
            return {
                innerItem: JSON.parse(JSON.stringify(this.item)),
                fileList: [],
            }
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';
  .que-item{
    padding-top: 10px;
    .que-item-singe{
      display: flex;
      align-items: center;
      padding: 10px 0;
      min-width: 45%;
      width: 50%;
      max-height: 100px !important;
      .singe-item{
        width: 30px;
        font-size: 14px;
      }
      .input-padding{
        margin-right: 20px;
      }
    }
  }
</style>
