<template>
  <div>
    <div class="que-title">
      <div class="que-title-inner">
        <!-- <span class="title">{{ `${innerItem.content.questionNo}.` }}</span> -->
        <span class="title"></span>
        <div v-if="editFlag" class="que-text-area-content">
          <Ueditor v-model="innerItem.content.content" v-if="isShow"></Ueditor>
          <!-- <VueUeditorWrap  v-model="innerItem.content.content"  :config="editorConfig" />-->
          <el-input
            v-if="!isShow"
            type="textarea"
            :autosize="{ minRows: 1, maxRows: 4}"
            class="input-long-1"
            v-model="innerItem.content.content"
            placeholder="请输入题目内容"
            clearable></el-input>
        </div>
        <span v-else>{{ innerItem.content.content }}</span>
      </div>
      <div class="que-edit">
        <!-- <div class="que-point">
            <span class="title">分数：</span>
            <el-input v-if="editFlag" class="input-short-3" v-model="innerItem.content.points" placeholder="分数"  @change="checkPoints"></el-input>
            <span v-else>{{ `${innerItem.content.points}分` }}</span>
        </div> -->
        <div class="que-icon" style="display: flex;flex-direction: row">
          <div>
            <span class="el-icon-picture-outline icon-color" @click="ShowUeditor" style="font-size: 26px"></span>
          </div>
          <div>
            <span class="el-icon-delete" @click="deleteQuestion"></span>
          </div>
          <!-- <span :class="editFlag ? 'el-icon-circle-check' : 'el-icon-edit'" @click="clickEdit"></span> -->

        </div>
      </div>
    </div>
    <div class="que-button-list">
      <div class="change-type">
        <span>选择题型：</span>
        <el-select v-model="newType" @change="changeType" placeholder="请选择">
          <el-option
            v-for="item in typeList"
            :key="item.type"
            :label="item.name"
            :value="item.type">
          </el-option>
        </el-select>
      </div>
      <!-- <el-button type="primary" :disabled="!editFlag" plain @click="addTrueAnswer">添加正确答案</el-button> -->
      <!-- <el-button type="primary" plain>插入图片</el-button> -->
    </div>
  </div>
</template>
<script>
    import QuestionMinix from '../../mixins/question'
    import Ueditor from '@/components/ueditor/Ueditor';
    export default {
        props: ["item", "indexItem", "editIndex"],
        mixins: [QuestionMinix],
        components: {
            Ueditor
        },
        data() {
            return {
                isShow: false,
                innerItem: JSON.parse(JSON.stringify(this.item)),
            }
        },
        watch: {
            innerItem: function (value) {
                if (value.content.content === "") {
                    this.isShow = false;
                } else {
                    var reg = /<[^>]+>/g;
                    if(reg.test(value.content.content)) {
                        this.isShow = false;
                    } else {
                        this.isShow = false;
                    }
                }
                return value;
            }
        },
        methods: {
            ShowUeditor() {
                this.isShow = !this.isShow;
            }
        }
    }
</script>
<style lang="scss" scoped>

</style>
