<template>
  <div>
    <div class="que-title">
      <div class="que-title-inner">
        <span class="title">{{ `${innerItem.content.questionNo}.` }}</span>
        <div v-if="editFlag" class="que-text-area-content">
          <el-input
            type="textarea"
            :autosize="{ minRows: 1, maxRows: 4}"
            class="input-long-1"
            v-model="innerItem.content.content"
            placeholder="请输入题目内容"
            clearable
          ></el-input>
          <UploadFile
            :accept="accept"
            :layout="layout"
            :type="{key: 'content'}"
            @uploadFile="uploadFileCallBack"
          />
        </div>
        <span v-else>{{ innerItem.content.content }}</span>
      </div>
      <div class="que-edit">
        <div class="que-point">
          <span class="title">分数：</span>
          <el-input
            v-if="editFlag"
            class="input-short-3"
            v-model="innerItem.content.points"
            placeholder="分数"
            @change="checkPoints"
          ></el-input>
          <span v-else>{{ `${innerItem.content.points}分` }}</span>
        </div>
        <div class="que-icon">
          <!-- <span :class="editFlag ? 'el-icon-circle-check' : 'el-icon-edit'" @click="clickEdit"></span> -->
          <span class="el-icon-delete" @click="deleteQuestion"></span>
        </div>
      </div>
    </div>
    <div class="que-item">
      <div class="gap-fill">
        <div v-if="editFlag" class="que-text-area-content que-text-area-content-center">
          <!-- <el-input 
                        type="textarea" 
                        :autosize="{ minRows: 1, maxRows: 4}"
                        class="input-long-1" 
                        v-model="innerItem.content.content" 
                        placeholder="请输入题目内容" 
                        clearable></el-input>
          <span class="el-icon-picture-outline icon-color"></span>-->
        </div>
        <!-- <el-input v-if="editFlag" class="input-long-1" v-model="innerItem.content.content" placeholder="请输入题目内容" clearable></el-input> -->
        <!-- <span v-else>{{ innerItem.content.content }}</span> -->
      </div>
    </div>
    <div class="question-type-labels">
      <span>题型</span>
      <draggable
        class="question-type-content"
        :group="groupCover"
        @change="addLabelItem"
        v-model="labelList"
      >
        <span v-if="!QuestionTypeColor" class="type-color-empty"></span>
        <span v-else class="type-color" :style="{'background-color': QuestionTypeColor}"></span>
      </draggable>
    </div>
    <div class="que-button-list">
      <div class="change-type">
        <span>选择题型：</span>
        <el-select v-model="newType" @change="changeType" placeholder="请选择">
          <el-option
            v-for="item in typeList"
            :key="item.type"
            :label="item.name"
            :value="item.type"
          ></el-option>
        </el-select>
      </div>
      <div>
        <el-button type="primary" :disabled="!editFlag" plain @click="addAnalysis">考题解析</el-button>
        <el-button type="primary" :disabled="!editFlag" plain @click="addTrueAnswer">添加正确答案</el-button>
      </div>
      <!-- <el-button type="primary" plain>插入图片</el-button> -->
    </div>
    <el-dialog
      class="correct-answer-dialog"
      title="添加正确答案"
      :visible.sync="dialogVisible"
      append-to-body
      width="700px"
      @close="closeDialog"
    >
      <el-input type="textarea" :rows="4" v-model="innerItem.content.answer" placeholder="请输入正确答案"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import QuestionMinix from '../../mixins/question'
import UploadFile from '../pubilc/upload-file'
import Dialog from '../pubilc/dialog'
export default {
  props: ['item', 'indexItem', 'editIndex'],
  mixins: [QuestionMinix],
  components: {
    UploadFile,
    Dialog,
  },
  data() {
    return {
      innerItem: JSON.parse(JSON.stringify(this.item)),
    }
  },
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.que-item {
  padding-top: 10px;
  .que-item-singe {
    display: flex;
    align-items: center;
    padding: 10px 0;
    max-height: 100px !important;
    .singe-item {
      font-size: 14px;
    }
    .input-padding {
      margin-right: 20px;
    }
  }
}
.gap-fill {
  padding-left: 25px;
}
.correct-answer-dialog {
  font-family: 'SF Pro Text', 'PingFang SC', 'Microsoft YaHei', sans-serif;

  /deep/ .el-dialog__title {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
  }
}
</style>
