import Dialog from '@/components/pubilc/dialog';
<template>
    <div>
        <div class="lib-top">
            <div>
                <span v-for="(item, index) in currentLab.labels" :key="index" class="lab-item-top-item">
                    <el-tag>{{ item }}</el-tag>
                    <!-- <span>{{ item }}</span>
                    <span class="el-icon-arrow-right" v-if="index !== currentLab.labels.length - 1"></span> -->
                </span>
            </div>
            <div>
                <!-- <el-input v-model="label" placeholder="请输入标签名称"></el-input> -->
                <el-button type="primary" plain @click="addLabels">添加标签</el-button>
            </div>
        </div>
        <el-row class="lib-content">
            <div class="lib-content-item">
                <el-col :span="22" class="lib-content-left">
                    <!-- <p class="lib-content-item-title">{{ currentLab.name || '' }}</p> -->
                    <p :title="currentLab.content" class="lib-content-item-content">{{ currentLab.content }}</p>
                    <div class="lib-content-options" v-if="currentLab.options && currentLab.options.length > 0">
                        <el-row :span="12" class="options-item" v-for="(item, index) in currentLab.options" :key="index">
                            <p>{{ item.key }}:</p>
                            <p>{{ item.content }}</p>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="2" class="lib-content-right" @click.native="analysisLab">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span>{{ likeNum }}</span>
                </el-col>
            </div>
            <div class="lib-content-item">
                <el-col :span="22" class="lib-content-left">
                    <p class="lib-content-item-title">解析</p>
                    <div class="analysis-content">
                        <div class="analysis-content-item" v-for="(item, index) in currentLab.analysis" :key="index">
                            <p><span class="lib-content-item-title">{{ index + 1 + '. ' }}</span>{{ item.content }}</p>
                        </div>
                    </div>
                </el-col>
            </div>
            <div class="lib-content-item">
                <el-col :span="22" class="lib-content-left">
                    <p class="lib-content-item-title">提供解析</p>
                    <el-input
                        type="textarea"
                        :rows="3"
                        placeholder="请输入内容"
                        v-model="analysis">
                    </el-input>
                </el-col>
                <el-button type="primary" plain @click="addAnalysis">添加解析</el-button>
            </div>
        </el-row>
        <el-row type="flex" justify="end">
            <el-button type="primary" plain @click="quoteLib">引用</el-button>
        </el-row>
        <!-- <Dialog :visible="visible" title="添加标签" width="600px" :close="closeAddLabels" @dialogSure="sureAddLabels">
            <div slot="dialog-content">
                <el-input v-model="label" placeholder="请输入标签名称"></el-input>
            </div>
        </Dialog> -->
        <el-dialog
            title="提示"
            :visible.sync="visibleDetail"
            width="80%"
            :modal="false">
                <QuoteLibCon :close="closeDetail" :libItem="currentLab"></QuoteLibCon>
                <!-- <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                </span> -->
        </el-dialog>
    </div>
</template>
<script>
import QuoteLibCon from './quote-lab-con'
export default {
    props: ["currentLabId"],
    components: {
        QuoteLibCon
    },
    data(){
        return {
            analysis: "",
            currentLab: {},
            likeNum: 0,
            visible: false,
            label: '',
            visibleDetail: false
        }
    },
    methods: {
        closeDetail(){
            this.visibleDetail = false
        },
        uploadQuestionCallback(){

        },
        quoteLib(){
            this.visibleDetail = true
        },
        addLabels(){
            this.$prompt('请输入标签名称', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                inputValidator(value){
                    if(!value){
                        return '请输入标签名称'
                    }
                },
                inputErrorMessage: '请输入标签名称',
                beforeClose: this.beforeClose
            }).then(({ value }) => {
                this.$message.success("添加成功")
            }).catch(() => {})
        },
        beforeClose(action, instance, done){
            if(action === 'confirm'){
                this.$api.Lab.questionBankLabel(this.currentLabId, {
                    label: instance.inputValue
                }).then(res => {
                    if(res.code == 200){
                        this.init()
                    }
                    done()
                })
            }else{
                done()
            }
        },
        closeAddLabels(){
            this.visible = false
        },
        sureAddLabels(){

        },
        addAnalysis(){
            if(!this.analysis){
                this.$message.error("请输入解析内容")
                return
            }
            const params = {
                analysis: this.analysis
            }
            this.$api.Lab.questionBankAnalysis(this.currentLabId, params).then(res => {
                if(res.code == 200){
                    this.$message.success("添加成功")
                    this.analysis = ''
                    this.init()
                }
            })
        },
        analysisLab(){
            this.$api.Lab.questionBankLike(this.currentLabId).then(res => {
                if(res.code == 200){
                    this.likeNum = res.data
                }
            })
        },
        init(){
            this.$api.Lab.questionBankDetails(this.currentLabId).then(res => {
                if(res.code == 200){
                    this.currentLab = res.data
                    this.likeNum = res.data.likeNum
                }
            })
        }
    },
    mounted () {
        this.init()
    }
}
</script>
<style lang="scss" scoped>
.lab-item-top-item{
    margin-right: 10px;
}
.lib-top{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.lib-content-item{
    padding: 10px 0;
    .lib-content-left{
        padding-bottom: 10px
    }
}
.lib-content-item-title{
    font-size: 14px;
    font-weight: 550;
    padding-bottom: 10px;
}
.lib-content-item-content{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.analysis-content{
    max-height: 200px;
    overflow: auto
}
.analysis-content-item{
    padding: 10px 0;
}
.lib-content-right{
    cursor: pointer;
}
.lib-top-label{
    margin-right: 10px;
}
.options-item{
    display: flex;
    justify-content: start;
    padding-left: 20px;
    p{
        margin-bottom: 10px;
    }
}
</style>