<template>
    <div class="paging-content">
        <div class="">
            {{ `【第${page.num}页/共${page.count}页】` }}
            <span class="paging-delete el-icon-close" @click="deleteQuestion"></span>
        </div>
    </div>
</template>
<script>
import QuestionMinix from '../../mixins/question'
export default {
    mixins: [QuestionMinix],
    props: ["item", "indexItem", "editIndex", "page"],
    data(){
        return {
            innerItem: JSON.parse(JSON.stringify(this.item)),
        }
    },
    watch: {
        page: {
            handler(newVal){
                this.item.content.content = `${newVal.num}/${newVal.count}`
            },
            immediate: true,
            deep: true
        }
    }
}
</script>
<style lang="scss" scoped>
.paging-content{
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    .paging-delete{
        cursor: pointer;
    }
}
</style>