<template>
  <div class="preview" style="padding-bottom: 100px;">
    <div class="changeShowType">
      <el-radio-group v-model="changeShowFlag">
        <el-radio-button :label="2">按照顺序展示</el-radio-button>
        <el-radio-button :label="1">按照题型展示</el-radio-button>
      </el-radio-group>
    </div>
    <div v-if="changeShowFlag == 2">
      <div v-for="(item, index) in list" :key="index">
        <component :is="changeComponent(item)" v-bind="{num: index + 1, item: item}"></component>
      </div>
    </div>
    <div v-else>
      <div class="preview-title">
        一、单选题
      </div>
      <div class="single-content">
        <Single v-for="(item, index) in questionList.single" :key="index" :item="item" :num="index + 1"/>
      </div>
      <div class="preview-title">
        二、多选题
      </div>
      <div class="single-content">
        <Multiple v-for="(item, index) in questionList.multiple" :key="index" :item="item" :num="index + 1"/>
      </div>
      <div class="preview-title">
        三、填空题
      </div>
      <div class="single-content">
        <Blanks v-for="(item, index) in questionList.Reading" :key="index" :item="item" :num="index + 1"/>
      </div>
      <div class="preview-title">
        四、简答题
      </div>
      <div class="single-content">
        <Answer v-for="(item, index) in questionList.Text" :key="index" :item="item" :num="index + 1"/>
      </div>
      <div class="preview-title">
        五、作文题
      </div>
      <div class="single-content">
        <Composition v-for="(item, index) in questionList.Composition" :key="index" :item="item" :num="index + 1"/>
      </div>
      <div class="preview-title">
        四、上传题
      </div>
      <div class="single-content">
        <Upload v-for="(item, index) in questionList.Upload" :key="index" :item="item" :num="index + 1"/>
      </div>
    </div>
  </div>
</template>
<script>
    import Single from '../subject/single'
    import Multiple from '../subject/multiple'
    import Blanks from '../subject/gap-fill'
    import Answer from '../subject/answer'
    import Page from '../subject/paging'
    import Composition from '../subject/Composition'
    import Upload from '../subject/Upload'

    export default {
        props: ["list"],
        components: {
            Single,
            Multiple,
            Blanks,
            Answer,
            Composition,
            Page,
            Upload
        },
        data() {
            return {
                questionList: {
                    single: [],
                    multiple: [],
                    Reading: [],
                    Composition: [],
                    Text: [],
                    Upload: [],
                },
                changeShowFlag: 2,
                radio: ''
            }
        },
        methods: {
            changeComponent(item) {
                const typeList = {
                    Single: "Single",
                    Multiple: "Multiple",
                    Blanks: "Blanks",
                    Reading: "Answer",
                    Page: "Page",
                    Composition: "Composition",
                    Text: "Answer",
                    Upload: "Upload",
                }
                return typeList[item.type.type]
            },
            formatList(list) {
                let data = {
                    single: [],
                    multiple: [],
                    Reading: [],
                    Composition: [],
                    Text: [],
                    Upload: [],
                }
                if (list.length > 0) {
                    list.map(item => {
                        if (item.type.type == 'Single') {
                            data.single.push(item)
                        }
                        if (item.type.type == 'Multiple') {
                            data.multiple.push(item)
                        }
                        if (item.type.type == 'Blanks') {
                            data.Reading.push(item)
                        }
                        if (item.type.type == 'Text') {
                            data.Text.push(item)
                        }
                        if (item.type.type == 'Composition') {
                            data.Composition.push(item)
                        }
                        if (item.type.type == 'Upload') {
                            data.Upload.push(item)
                        }
                    })
                }
                this.questionList = data
                console.log("questionList", this.questionList)
            }
        },
        watch: {
            list: {
                handler(newVal) {
                    this.formatList(newVal)
                },
                immediate: true,
                deep: true
            }
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';

  .preview {
    min-width: 800px;

    .que-title-inner {
      max-width: 80%;
    }
  }

  .changeShowType {
    padding-bottom: 20px
  }
</style>
