<template>
    <div class="quote-lab">
        <el-row type="flex" class="quote-lab-item">
            <span class="quote-lab-title">选择课程:</span>
            <el-col>
                <el-select v-model="courseId" placeholder="请选择" @change="changeCourse">
                    <el-option
                        v-for="item in courseList"
                        :key="item._id"
                        :label="item.name"
                        :value="item._id">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row type="flex" class="quote-lab-item">
            <span class="quote-lab-title">选择考试:</span>
            <el-col>
                <el-select v-model="exam_id" placeholder="请选择">
                    <el-option
                        v-for="item in exam"
                        :key="item._id"
                        :label="item.name"
                        :value="item._id">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row type="flex" justify="end">
            <el-button type="primary" @click="quote">引用</el-button>
        </el-row>
    </div>
</template>
<script>
export default {
    props: ["libItem", "close"],
    data(){
        return {
            courseList: [],
            courseId: '',
            exam: [],
            exam_id: ''
        }
    },
    methods: {
        getCourse(){
            const params = {
                current: 1,
                pageSize: 99999,
                // where: JSON.parse(JSON.stringify())
            }
            this.$api.Course.get_course_list(params).then(res => {
                if(res.code == 200){
                    this.courseList = res.data.list
                }
            })
        },
        changeCourse(val){
            this.exam_id = ''
            this.$api.Course.get_course_detail(val).then(res => {
                if(res.code == 200){
                    this.formatExam(res.data)
                }
            })
        },
        formatExam(data){
            data.map(item => {
                let submenu = item.submenu
                let exam = item.exams
                if(exam){
                    this.exam.push(...exam)
                }
                if(submenu){
                    submenu.map(i => {
                        let innerExams = i.exams
                        if(innerExams){
                            this.exam.push(...innerExams)
                        }
                    })
                }
            })
        },
        quote(){
            if(!this.exam_id){
                this.$message.error("请选择考试")
                return
            }
            let params = {
                exam: this.exam_id,
                content: this.libItem.content,
                type: this.libItem.type,
                options: this.libItem.options,
            }
            this.$api.Question.create_question_item(params).then(res => {
                if(res.code == 200){
                    this.$message.success("引用成功")
                    this.close()
                }else{
                    this.$message.error(res.data)
                }
            })
        }
    },
    created(){
        this.getCourse()
    }
}
</script>
<style lang="scss" scoped>
.quote-lab{
    .quote-lab-radio{
        display: flex;
        flex-wrap: wrap
    }
    .quote-lab-item{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }
    .quote-lab-title{
        min-width: 100px;
        text-align: right;
        padding-right: 20px
    }
}
</style>