<template>
    <div>
        <div class="upload-list">
            <el-tag class="upload-list-item" v-for="(item, index) in uploadData.attachments" :key="index" type="info" closable @close="handleClose(item, index)">
                <span class="tag-name">{{item.name}}</span>
            </el-tag>
        </div>
        <div class="upload-button">
            <UploadFile b="button" @uploadFile="uploadFileCallBack" :accept="accept" :layout="layout">
                <el-button type="primary">上传文件</el-button>
            </UploadFile>
        </div>
        <div class="upload-content">
            <div class="upload-content-item">
                <p>名称</p>
                <el-input
                    type="textarea"
                    :rows="3"
                    placeholder="请输入内容"
                    v-model="uploadData.name">
                </el-input>
            </div>
            <div class="upload-content-item">
                <p>来源</p>
                <el-input
                    type="textarea"
                    :rows="3"
                    placeholder="请输入内容"
                    v-model="uploadData.source">
                </el-input>
            </div>
        </div>
    </div>
</template>
<script>
import UploadFile from '../pubilc/upload-file'
import config from '../../utils/config'
export default {
    components: {
        UploadFile
    },
    props: {
        uploadData: {
            default: {},
            type: Object
        }
    },
    data(){
        return {
            accept: config.accept.office,
            layout: config.layout.word
        }
    },
    methods: {
        handleClose(item, index){
            this.uploadData.attachments.splice(index, 1)
        },
        uploadFileCallBack(data){
            this.uploadData.attachments.push(data)
        },

    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.upload-list{
    padding-bottom: 10px;
    .upload-list-item{
        margin-right: 10px;
    }
}
.upload-content{
    padding-top: 10px;
    .upload-content-item{
        padding: 10px 0;
        p{
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 550;
        }
    }
}
</style>