<template>
    <div v-if="disabled" class="add-course" @click="hiddenAddCourse">
        <div class="add-course-inner">
            <div class="add-course-title">
                添加课程
            </div>
            <div class="add-course-content">
                <div class="add-course-item">
                    <p class="add-course-item-title">课程名称</p>
                    <el-input class="input-short-2" v-model="add_course.name" placeholder="请输入内容"></el-input>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title">背景</p>
                    <div>
                        <span v-if="add_course.color.length == 7" :style="{'background-color': add_course.color, width: '60px', 'height': '60px', display: 'inline-block'}"></span>
                        <img :style="{width: '60px', 'height': '60px', display: 'inline-block'}" v-else :src="add_course.color" />
                        <!-- <el-select class="input-short-2" v-model="add_course.color" placeholder="请选择">
                            <el-option
                            v-for="(item, index) in labelColors"
                            :key="index"
                            :value="item">
                                <p style="display: flex; align-items: center;">
                                    <span :style="{'background-color': item, width: '24px', 'height': '24px', display: 'inline-block'}"></span>
                                    <span :style="{color: item, 'padding-left': '10px'}">{{ item }}</span>
                                </p>
                            </el-option>
                        </el-select> -->
                    </div>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title"></p>
                    <ul class="color-list">
                        <li v-for="(item, index) in labelColors" :key="index" @click="selectColor(item)">
                            <span :style="{'background-color': item, width: '24px', 'height': '24px', display: 'inline-block', 'cursor': 'pointer'}"></span>
                        </li>
                    </ul>
                </div>
                <div class="add-course-item">
                    <p class="add-course-item-title"></p>
                    <UploadFile b="button" @uploadFile="uploadFileCallBack" :accept="accept" :layout="layout">
                        <el-button style="width: 200px" type="primary">自定义</el-button>
                    </UploadFile>
                </div>
                <div class="add-course-button">
                    <el-button style="width: 100%" type="primary" @click="addCourse">添加</el-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import config from '../../utils/config'
import UploadFile from '../../components/pubilc/upload-file'
export default {
    props: ["disabled"],
    components: {
        UploadFile
    },
    data(){
        return {
            add_course: {
                name: '',
                // teacher_id: '',
                color: config.labelColors[0],
            },
            labelColors: config.labelColors,
            teacherList: [],
            loading: false,
            accept: config.accept.image,
            layout: config.layout.image
        }
    },
    methods: {
        uploadFileCallBack(file){
            this.add_course.color = file.url.split("?")[0]
        },
        addCourse(){
            const params = JSON.parse(JSON.stringify(this.add_course))
            if(!params.name){
                this.$message.error("请输入课程名称")
                return
            }
            this.$api.Course.add_course(params).then(res => {
                if(res.code == 200){
                    this.$emit('update:disabled', false)
                    this.$emit("addFinish", true)
                    this.add_course.name = ""
                    this.add_course.color = config.labelColors[0]
                    // this.$router.push({name: 'existingCourse'})
                }else{
                    this.$message.error(res.error || "添加失败")
                }
            })
        },
        selectColor(item){
            this.add_course.color = item
        },
        getTeacherList(query){
            const params = {
                current: '1',
                pageSize: '99999',
                where: JSON.stringify({
                    username: {
                        $regex: `^.*${query || ''}.*$`,
                        // $regex: '',
                    }
                })
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.teacherList = res.data.list
                }else{
                    this.$message.error(res.error || '失败')
                }
            })
        },
        hiddenAddCourse($event){
            if($event.target.className == 'add-course'){
                this.$emit('update:disabled', false)
            }
        }
    },
    mounted () {
        // this.getTeacherList()
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.add-course{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#000, .8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .add-course-inner{
        height: 379px;
        width: 406px;
    }
    .add-course-title{
        height: 68px;
        line-height: 68px;
        background-color: $--default;
        border-radius: 8px 8px 0 0;
        padding-left: 20px;
        box-sizing: border-box;
        color: $--white;
        font-size: 24px;
    }
    .add-course-content{
        height: 290px;
        background-color: $--white;
        border-radius: 0 0 8px 8px;
        padding: 20px;
        .add-course-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 550;
            .add-course-item-title{
                min-width: 55px;
                text-align: right;
                padding-right: 20px;
            }
            .color-list{
                display: flex;
                max-width: 210px;
                flex-wrap: wrap;
                li{
                    margin-right: 10px;
                }
            }
        }
        .add-course-top{
            align-items: flex-start
        }
        .add-course-button{
            margin-top: 20px
        }
    }
}
</style>