<template>
    <div>
        <div class="page-title">
            <p class="main-title">{{title}}</p>
        </div>
        <Panel :height="true">
            <Tabs :tabList="classes_list" slot="header" :current="class_id" @change-tab="change_class"></Tabs>
            <div class="assignment-content" slot="content">
                <div class="content-title">
                    <data-block v-for="(value, key) in total_num" :key="key" :title="value.title" 
                    :front="value.num" :back="'/'+value.total" class="item-num" color="label-1"></data-block>
                    <el-button type="primary" v-if="type=='exams'" @click="toPage('CorrectTest', 'finish', assignment_id)">手动批改</el-button>
                </div>
                <el-row :gutter="20" class="content-table">

                    <!-- <el-col :span="6" v-for="(item,i) in columns" :key="i"> -->
                        <el-table :data="table_data" stripe border>
                            <el-table-column label="姓名">
                                <template slot-scope="scope">
                                    <div @click="showUserDetail(scope.row)" class="router" :class="[scope.row.status!='finished'?'submit':'']">
                                        <span>{{scope.row.student.nickname}}</span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="批改">
                                <template slot-scope="scope">
                                    <div @click="toPage( type == 'exams' ? 'correctExam' : 'Correct', scope.row.status, type == 'exams' ? scope.row._id : scope.row._id, 'correct')" class="router">
                                        <span class="el-icon-edit-outline"></span>
                                        <!-- <span>{{scope.row.student.nickname}}</span> -->
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="状态">
                                <template slot-scope="scope">
                                    <div @mouseover="showEdit(scope.row._id)">
                                        <span :style="{color: formatStatus(scope.row).color}">{{`【${formatStatus(scope.row).txt}】`}}</span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="分数">
                                <template slot-scope="scope">
                                    <div @mouseover="showEdit(scope.row._id)">
                                        <span>{{scope.row.score ? scope.row.score : (scope.row.score == 0 ? 0 : '--') }}</span>
                                        <span v-show="default_id == scope.row._id && scope.row.status == 'checked'" class="text-right" @click="showDialog(scope.row.score, scope.row.labels)"><i class="el-icon-edit"></i></span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="评语">
                                <template slot-scope="scope">
                                    <div @mouseover.self="showCommentInput(scope.row._id, scope.row.comments)">
                                        <div v-if="default_comment_id == scope.row._id" class="comment-input">
                                            <el-input  v-model="default_comment_contect" ></el-input>
                                            <i class="el-icon-circle-check" @click="changeComment"></i>
                                        </div>
                                        <span v-else>{{ scope.row.comments || '--' }}</span>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                    <!-- </el-col> -->
                </el-row>
                
            </div>
        </Panel>
        <div class="question-bottom-tool">
            <el-pagination layout="prev, pager, next" :current-page="current_page" :page-size="page_size" :total="total_count"></el-pagination>
            <el-button type="primary" @click="generate_report">完成批改</el-button>
            <el-button type="primary" @click="toPageBack">返回</el-button>
        </div>
        <Dialog title="修改分数" :visible="dialog" :close="()=>{dialog = false}" @dialogSure="editScore()">
            <div slot="dialog-content" class="dialog-content">
                <p>当前总分：{{default_score}}</p>
                <el-row :gutter="10">
                    <el-col :span="8">
                        <el-select v-model="default_subject" value-key="id">
                            <el-option v-for="(item, index) in subject_list" :key="index" :label="item.label" :value="item"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="4" class="label">分数</el-col>
                    <el-col :span="8">
                        <el-input v-model="default_subject.score" @input="totalScore()"></el-input>
                    </el-col>
                </el-row>
            </div>
        </Dialog>
        <UserInfoModel :visible.sync="showVisibeFlag" :user="user" :userId="user._id"/>
    </div>
</template>

<script>
import Panel from '@/components/pubilc/panel'
import Tabs from '@/components/pubilc/class-header'
import dataBlock from '@/components/pubilc/data-block'
import Dialog from '@/components/pubilc/dialog'
import utils from '@/utils/index'
import Classes from '@/mixins/classes'
import UserInfoModel from '../../components/account/show-account'
import eventBus from '@/utils/eventVue'
export default {
    components: { Panel, Tabs, dataBlock, Dialog, UserInfoModel},
    data() {
        return {
            title: utils.getQueryString("name"),
            course_id: utils.getQueryString("course"),
            assignment_id: utils.getQueryString("id"),
            type: utils.getQueryString("type"),
            show_report: false,
            class_id: "",
            class_name: "",
            classes_list: [],
            total_num: {
                submit: {
                    title: "已提交人数",
                    num: 0,
                    total: 0
                },
                mark: {
                    title: "待批改人数",
                    num: 0,
                    total: 0
                }
            },
            columns: [],
            table_data: [],
            default_id: "",
            default_score: 100,
            labels: [],
            default_subject: "",
            subject_list: [],
            current_page: 1,
            page_size: 10,
            total_count: 1,
            dialog: false,
            current: utils.getQueryString("current"),
            user: {},
            showVisibeFlag: false,
            default_comment_id: "",
            default_comment_contect: ""
        }
    },
    mixins: [Classes],
    methods: {
        toPageBack(){
            this.$router.go(-1)
        },
        showUserDetail(row){
            this.user = row.student
            this.user.identity = "student"
            this.showVisibeFlag = true
        },
        get_classes(){
            this.get_course_classes(this.course_id).then(data => {
                this.classes_list = data
                this.class_id = this.current || data[0]._id
                data.map(element => {
                    if(element._id == this.class_id) {
                        this.class_name = element.name
                    }
                })
                this.get_student_assignment()
            })
        },
        change_class(item){
            this.class_id = item._id
            this.class_name = item.name
            this.get_student_assignment()
        },
        get_student_assignment(){
            let reqData = {
                current: 1,
                pageSize: 40,
                where: JSON.stringify({assignment: this.assignment_id, classes: this.class_id})
            }
            if(this.type == 'exams'){
                reqData.where = JSON.stringify({classes: this.class_id, exam: this.assignment_id})
                this.queryExam(reqData)
            }else{
                this.queryAssignment(reqData)
            }
        },
        queryAssignment(reqData){
            this.$api.Teacher.get_student_assignment(reqData).then(resData => {
                if(resData.code == 200){
                    this.table_data = resData.data.list
                    this.current_page = resData.data.pagination.current
                    this.total_count = resData.data.pagination.total
                    this.columns = new Array(Math.ceil(this.table_data.length/10))
                    this.show_report = resData.data.list.length> 0 && resData.data.list[0].assignment.calculated.indexOf(this.class_id) >= 0
                }
            })
            this.$api.Teacher.get_student_assignment_summary(reqData).then(resData => {
                if(resData.code == 200){
                    this.total_num.submit.num = resData.data.finished
                    this.total_num.submit.total = resData.data.total
                    this.total_num.mark.num = resData.data.finished - resData.data.checked
                    this.total_num.mark.total = resData.data.finished
                }
            })
        },
        queryExam(reqData){
            this.$api.Teacher.get_stuExam(reqData).then(resData => {
                if(resData.code == 200){
                    this.table_data = resData.data.list
                    this.current_page = resData.data.pagination.current
                    this.total_count = resData.data.pagination.total
                    this.columns = new Array(Math.ceil(this.table_data.length/10))
                    this.show_report = resData.data.list.length> 0 && resData.data.list[0].exam.calculated.indexOf(this.class_id) >= 0
                }
            })
            this.$api.Teacher.get_stuExam_summery(reqData).then(resData => {
                if(resData.code == 200){
                    this.total_num.submit.num = resData.data.finished
                    this.total_num.submit.total = resData.data.total
                    this.total_num.mark.num = resData.data.finished - resData.data.checked
                    this.total_num.mark.total = resData.data.finished
                }
            })
        },
        showEdit(id, show){
            this.default_id = id
        },
        showCommentInput(id, comment) {
            this.default_comment_id = id
            this.default_comment_contect = comment
        },
        changeComment() {
            let reqData = {
                id: this.default_comment_id,
                comments: this.default_comment_contect
            }
            let api = "update_stuAssignment"
            if(this.type == 'exams') api = "update_stuExam"
            this.$api.Teacher[api](this.default_comment_id, reqData).then(resData => {
                if(resData.code == 200){
                    this.get_student_assignment()
                    this.$message.success("修改评语成功！")
                    this.default_comment_id = ""
                    this.default_comment_contect = ""
                }
            })
            // this.$api.Exam.teacher_check_exam(this.default_comment_id, reqData).then(resData => {
            //     if(resData && resData.code == 200) {
            //         this.$message("修改评语成功！")
            //         this.default_comment_id = ""
            //         this.default_comment_contect = ""
            //     }
            // })
        },
        showDialog(score, labels){
            this.dialog = true
            this.default_score = score
            if(labels){
                this.labels = labels
                this.subject_list = labels
                this.default_subject = labels[0]
            }else{
                this.subject_list = [{label: "总分", score: score}]
                this.default_subject = this.subject_list[0]
            }
        },
        totalScore(){
            this.default_score = 0
            this.subject_list.forEach(element => {
                this.default_score+= Number(element.score)
            })
        },
        editScore(){
            let reqData = {
                id: this.default_id,
                score: this.default_score
            }
            if(this.labels.length>0){
                reqData.labels = this.default_subject
            }
            let api = "update_stuAssignment"
            if(this.type == 'exams') api = "update_stuExam"
            this.$api.Teacher[api](this.default_id, reqData).then(resData => {
                if(resData.code == 200){
                    this.get_student_assignment()
                    this.dialog = false
                }
            })
        },
        toPage(name, status, id, type){
            window.sessionStorage.setItem('query', JSON.stringify({
                course: this.course_id, 
                unit: utils.getQueryString("unit"), 
                id: utils.getQueryString("id"), 
                name: utils.formatStr(this.title), 
                type: utils.getQueryString("type"),
                current: this.class_id
            }))
            if(name == 'DataAnalysis'){
                this.$router.push({name: name, query: {class_id: this.class_id, id: this.assignment_id, type: this.type, 
                    name: utils.formatStr(this.title), class_name: utils.formatStr(this.class_name), course_id: this.course_id}})
                return
            }
            if(name == 'Correct'){
                let query = {assignment: this.assignment_id, current: this.class_id, student: id}
                this.$router.push({name: name, query: query})
                return
            }
            if(status != 'assigned' || this.type != 'exams'){
                let query = {id: id, current: this.class_id, class_name: utils.formatStr(this.class_name), from: "AssignmentMark"}
                if(type){
                    query.type = type
                }
                this.$router.push({name: name, query: query})
            }
            
        },
        generate_report(){
            this.$confirm(`未批改人数为【${this.total_num.mark.num}】，是否完成批改并且生成统计报告?`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                let reqData = {
                    id: this.class_id
                }
                let component = "generate_assignment_report"
                if(this.type == 'exams'){
                    component = "generate_exam_report"
                    reqData.exam = this.assignment_id
                }else{
                    reqData.assignment = this.assignment_id
                }
                this.$api.Report[component](this.class_id, reqData).then(resData => {
                    if(resData.code == 200){
                        this.$message.success("生成数据报告成功！")
                        // this.get_student_assignment()
                        this.$router.go(-1)
                        eventBus.$emit('taskTab', 'statistics')
                    }else{
                        this.$message.error(resData.error)
                    }
                })
            }).catch(() => {})
            
        },
        formatStatus(row){
            if(row.status == "checked"){
                return {
                    color: 'green',
                    txt: "已批改"
                }
            }else if(row.status == "finished"){
                return {
                    color: '#E98E1D',
                    txt: '待批改'
                }
            }else{
                return {
                    color: 'red',
                    txt: '未提交'
                }
            }
        }
    },
    created() {
        let breadcrumb = window.sessionStorage.getItem("breadcrumb")
        if(breadcrumb) {
            breadcrumb = JSON.parse(breadcrumb)
            breadcrumb.push(this.title)
            this.$store.commit('setBreadcrumb', {
                name: this.$route.name,
                path: breadcrumb
            })
        }
        this.current = utils.getQueryString('current')
        this.get_classes()
    }
}
</script>
<style lang="scss">
@import '@/assets/css/var.scss';

</style>
<style lang="scss" scoped>
@import "@/assets/css/var.scss";
.content-title{
    display: flex;
    padding: 16px 0;
    .item-num{
        padding-right: 30px;
    }
}
.text-right{
    position: absolute;
    margin-left: 30px;
    cursor: pointer;
}
.dialog-content{
    p{
        margin-bottom: 18px; 
    }
    .label{
        text-align: right;
        line-height: 36px;
    }
}
.el-pagination{
    float: right;
}
.router{
    cursor: pointer;
}
.submit{
    color: $--default;
}
.question-bottom-tool{
    justify-content: flex-end;
}
.assignment-content{
    padding-bottom: 60px;
}
.comment-input{
    display: flex;
    i{
        display: inline-block;
        padding-left: 8px;
        line-height: 30px;
        font-size: 16px;
        cursor: pointer;
    }
}
</style>