<template>
    <div class="page-content calendar">
        <div class="left-box">
            <div class="page-title">
                <p class="main-title">{{default_date.text}}</p>
                <div class="right-box">
                    <date-switch :date="default_date.date" @change-date="getDefaultDate" class="swith-btn"></date-switch>
                    <el-button type="primary" @click="getDefaultDate(new Date())">今天</el-button>
                    <el-button type="primary" @click="addDialog = true">添加事件</el-button>
                </div>
            </div>
            <div class="calendar">
                <Calendar @change-date="getDefaultDate" :date="default_date.date" :content="date_content"></Calendar>
            </div>
        </div>  
        <div class="course-list">
            <div class="title">我的课程</div>
            <el-checkbox-group v-model="checkList">
                <el-checkbox v-for="(value, key) in radio_list" :key="key" :label="key">
                    <span class="color-block" :style="{backgroundColor: getColor(key)}"></span>{{value}}
                </el-checkbox>
            </el-checkbox-group>
        </div>
        <Dialog title="添加事件" :visible="addDialog" width="744px" :close="closeDialog">
            <div slot="dialog-content" class="dialog-content">
                <el-row>
                    <el-col :span="3">名字</el-col>
                    <el-col :span="21"><el-input v-model="event.name"></el-input></el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">开始时间</el-col>
                    <el-col :span="21" class="picker-box">
                        <date-picker></date-picker>
                        <div class="start-time-picker">
                            <timePicker></timePicker>
                            <span class="label">结束时间</span>
                        </div>
                        <div class="end-time-picker">
                            <timePicker></timePicker>
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">星期</el-col>
                    <el-col :span="21">
                        <el-button type="primary" v-for="item in week" :key="item">{{item}}</el-button>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">备注</el-col>
                    <el-col :span="21"><el-input type="textarea" rows="4" v-model="event.remark"></el-input></el-col>
                </el-row>
            </div>
        </Dialog>
    </div>
</template>

<script>
import Calendar from '@/components/pubilc/calendar'
import dateSwitch from '@/components/pubilc/date-switch'
import utils from '@/utils/index'
import color_config from '@/utils/config'
import Dialog from '@/components/pubilc/dialog'
import datePicker from '@/components/pubilc/date-picker-range'
import timePicker from '@/components/pubilc/time-picker'
export default {
    components: {Calendar, dateSwitch, Dialog, datePicker, timePicker},
    data() {
        return {
            default_date: {
                date: "",
                text: ""
            },
            radio_list: {
                event: "事件",
                math: "高等数学",
                computer: "大学生计算机基础",
                electronic: "电工电子学B",
                mapping: "机械制图"
            },
            checkList: [],
            date_content: {
                "2019-11-11": {
                    event: "课后作业",
                    math: "课后测试"
                }
            },
            addDialog: false,
            event: {
                name: "",
                start_time: "",
                end_time: "",
                week: "",
                remark: ""
            },
            week: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
        }
    },
    methods: {
        getDefaultDate(date){
            this.default_date.date = date
            this.default_date.text = utils.formatDate(date, "yyyy年MM月dd日")
        },
        getColor(key){
            return color_config.course[key]
        },
        closeDialog(){
            this.addDialog = false
        }
    },
    created() {
        this.getDefaultDate(new Date())
        this.checkList = Object.keys(this.radio_list)
    }
}
</script>

<style lang="scss">
@import '@/assets/css/var.scss';
.calendar{
    .el-checkbox{
        margin-bottom: 4px;
        .el-checkbox__inner{
            vertical-align: middle;
        }
    }
    .el-checkbox__input.is-checked + .el-checkbox__label{
        color: $--text-2;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
        background-color: $--green;
        border-color: $--green;
    }
    .el-checkbox__inner{
        &:hover,&:focus{
            border-color: $--green;
        }
    }
    .el-checkbox__input.is-focus .el-checkbox__inner {
        border-color: $--green;
    }
    .el-input__inner {
        height: 32px;
        line-height: 32px;
    }
}
</style>
<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.page-title{
    display: flex;
    justify-content: space-between;
    .right-box{
        display: flex;
        .swith-btn {
            margin-right: 12px;
        }
    }
}
.page-content {
    display: flex;
    padding-top: 16px;
    .left-box{
        flex-grow: 1;
        .calendar {
            padding: 16px;
            background: $--white;
        }
    }
    .course-list {
        flex: 0 0 182px;
        margin-left: 16px;
        margin-top: 65px;
        padding: 16px;
        background: $--white;
        .title {
            font-size: 16px;
            padding-bottom: 20px;
        }
        .color-block{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }
}
.dialog-content {
    .el-row{
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 16px;
    }
    .picker-box{
        position: relative;
        .start-time-picker{
            position: absolute;
            display: flex;
            left: 154px;
            top: 0;
            .label {
                margin-left: 20px;
            }
        }
        .end-time-picker{
            position: absolute;
            top: 0;
            left: 490px;
        }
    }
}
</style>