<template>
    <div>
        <div class="course-title">
            {{ exam.name }}
        </div>
        <div class="is-edit-userinfo" v-if="editCurrent._id">
            <el-alert
                :title="formatNotice()"
                type="warning">
            </el-alert>
        </div>
        <div class="course-content">
            <div class="course-select-date">
                <div class="date-title">开始时间</div>
                <DatePickerRange :defaultVal="defaultVal" :disabled="disabled" @changeDateTime="changeDateTime"/>
                <div class="date-picker-inner">
                    <el-time-select
                        style="width: 80px"
                        class="input-short-3"
                        v-model="time.start"
                        :picker-options="{
                            start: '00:00',
                            step: '01:00',
                            end: '23:00'
                        }"
                        format="HH:mm"
                        value-format="HH:mm"
                        placeholder="不限时"
                        :disabled="disabled">
                    </el-time-select>
                    <!-- <TimePicker width="90" :defaultVal="time.start" :disabled="disabled" :time.sync="time.start"/> -->
                    <div class="date-title end-time">结束时间</div>
                </div>
                <div class="end-time-picker">
                    <el-time-select
                        style="width: 80px"
                        class="input-short-3"
                        v-model="time.end"
                        :picker-options="{
                            start: '00:00',
                            step: '01:00',
                            end: '23:00'
                        }"
                        format="HH:mm"
                        value-format="HH:mm"
                        placeholder="不限时"
                        :disabled="disabled">
                    </el-time-select>
                    <!-- <TimePicker width="90" :defaultVal="time.end" :disabled="disabled" :time.sync="time.end"/> -->
                </div>
                <div class="couser-item">
                    <div class="date-title end-time">总分</div>
                    <el-input class="input-short-3" :disabled="disabled" v-model="exam.point" placeholder=""></el-input>
                </div>
                <!-- <div class="couser-item course-item-end-padding">
                    <div class="date-title end-time">考试时长</div>
                    <TimePicker width="90" iconName="el-icon-alarm-clock" :disabled="disabled" :time.sync="time.timeLong"/>
                </div> -->
                <div class="couser-item course-item-end-padding">
                    <div class="date-title end-time">任务分类</div>
                    <el-select :disabled="disabled" class="input-short-2" v-model="exam.category" placeholder="请选择">
                        <el-option
                        v-for="item in taskClassification"
                        :key="item._id"
                        :label="item.name"
                        :value="item._id">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="job-description">
                <div class="date-title end-time">课件简介</div>
                <el-row class="description" type="flex">
                    <el-col :span="18">
                        <el-input
                            type="textarea"
                            :rows="12"
                            placeholder="请输入内容"
                            v-model="exam.introduction"
                            :style="{height: '260px'}"
                            :disabled="disabled">
                        </el-input>
                    </el-col>
                    <el-col :span="5">
                        <div class="upload-file">
                            <div class="top-upload">
                                <UploadFile b="button" @uploadFile="uploadFileCallBack" :accept="accept">
                                    <el-button type="primary" :disabled="disabled">
                                        上传附件
                                    </el-button>
                                </UploadFile>
                            </div>
                            <div class="upload-content">
                                <ul>
                                    <li class="upload-content-item" v-for="(item, index) in uploadList" :key="index">
                                        <el-tag
                                            closable
                                            type="info">
                                            <span :title="item.name" class="tag-name tag-name-upload-show">
                                                {{item.name}}
                                            </span>
                                        </el-tag>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-col>
                </el-row>
                <!-- <div class="job-content-label">
                    <div class="label-list">
                        <span  v-for="(item, index) in labelList" :key="index">
                            <JobLbael :item="item" :index="index" @deleteLabel="deleteLabel"/>
                        </span>
                    </div>
                    <div class="add-label couser-item">
                        <div class="date-title end-time">添加标签</div>
                        <InputGroup :val="addLabelVal" :disabled="disabled" @clickBack="clickBack"/>
                    </div>
                </div> -->
            </div>
        </div>
        <Dialog title="删除标签" :visible="labelFlag" :close="closeLabel" @dialogSure="labelDeleteSure">
            <div class="batch-delete-content">
                <p class="delete-desc log-out-desc">{{ `确定要删除标签【${deleteLabelItem.title}】吗？` }}</p>
            </div>
        </Dialog>
        <Dialog title="是否确认退出" :visible="logOutFlag" :close="closeLogOut" @dialogSure="logOutSure">
            <div class="batch-delete-content">
                <p class="delete-desc log-out-desc">点击确认立即退出</p>
            </div>
        </Dialog>
        <div class="question-bottom-tool">
            <div class="question-button-left"></div>
            <div class="question-button-right">
                <el-button plain @click="copyCourse">复制</el-button>
                <el-button :disabled="editFlag" type="primary" @click="openEdit">编辑</el-button>
                <el-button :disabled="disabled" plain @click="save">保存</el-button>
                <el-button :disabled="disabled" type="primary" @click="publish">发布</el-button>
                <el-button plain @click="logOutFn">退出</el-button>
            </div>
        </div>
    </div>
</template>
<script>
import DatePickerRange from '@/components/pubilc/date-picker-range'
import TimePicker from '../../components/pubilc/time-picker'
import JobLbael from '../../components/pubilc/job-label'
import InputGroup from '../../components/pubilc/input-group'
import Dialog from '../../components/pubilc/dialog'
import Label from '../../mixins/label'
import utils from '../../utils/index'
import UploadFile from '../../components/pubilc/upload-file'
import Create from '../../mixins/create'
import config from '../../utils/config'
import ScoketLeave from '../../mixins/socketLeave'
import category from '../../mixins/category'
export default {
    components: {
        TimePicker,
        DatePickerRange,
        JobLbael,
        InputGroup,
        Dialog,
        UploadFile
    },
    mixins: [Label, Create, ScoketLeave, category],
    data(){
        return {
            accept: config.accept.office,
            layout: [...config.layout.word, ...config.layout.excel, ...config.layout.powerPoint, ...config.layout.other],
            labelFlag: false,
            logOutFlag: false,
            deleteLabelItem: '',
            addLabelVal: '',
            uploadList: [],
            taskClassification: [],
            assignment_id: '',
            defaultVal: []
        }
    },
    methods: {
        uploadFileCallBack(val){
            this.uploadList.push({
                name: val.name,
                url: val.url.split('?')[0]
            })
        },
        formatUrl(url){
            return decodeURI(decodeURI(url.split("?")[0].split("http://hanlin12.oss-cn-beijing.aliyuncs.com/")[1]))
        },

        closeLabel(){
            this.labelFlag = false
        },
        closeLogOut(){
            this.logOutFlag = false
        },
        logOutSure(){
            this.logOutFlag = false
            this.$router.push({name: 'EditMode', query: {course_id: this.exam.course, type: 'edit'}})
        },
        logOutFn(){
            this.logOutFlag = true
        },
        labelDeleteSure(){
            this.labelFlag = false
            this.$message("点击了确定按钮")
        },
        save(){
            let params = JSON.parse(JSON.stringify(this.exam))
            let startTime = utils.changeTime(params.startTime, this.time.start)
            let endTime = utils.changeTime(params.endTime, this.time.end)
            if(startTime && endTime){
                params.startTime = startTime
                params.endTime = endTime
            }else{
                this.$message.error("请选择时间")
                return
            }
            params.time = utils.getMin(this.time.timeLong)
            params.attachments = this.uploadList
            // params.attachments = this.uploadList.map(item => {
            //     return item.url
            // })
            params.labels = this.labelList
            this.$api.Courseware.edit_courseware(this.exam.exam, params).then(res => {
                if(res.code == 200){
                    // this.assignment_id = res.data._id
                    this.$message.success("保存成功")
                }else{
                    this.$message.error(res.error || "保存失败")
                }
            })
        },
        publish(){
            if(!this.exam.exam){
                this.$message.error("缺少课件id")
                return
            }
            this.$api.Courseware.publish_courseware(this.exam.exam).then(res => {
                if(res.code == 200){
                    this.$message.success("发布成功")
                }else{
                    this.$message.error(res.error || "发布失败")
                }
            })
        },
        copyCourse(){
            this.$confirm('此操作会复制当前课件的所有内容, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                if(!this.exam.exam){
                    this.$message.error("缺少课件id")
                    return
                }
                this.$api.Courseware.copy_courseware(this.exam.exam).then(res => {
                    if(res.code == 200){
                        this.$confirm('课件复制成功, 是否编辑新课件?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'success'
                        }).then(() => {
                            let course = res.data.course
                            let unit = res.data.unit
                            let name = utils.formatStr(res.data.name)
                            let id = res.data._id
                            let origin = window.location.origin
                            let pathname = window.location.pathname
                            window.location.href = `${origin}${pathname}?course=${course}&unit=${unit}&name=${name}&id=${id}`
                        }).catch(() => {})
                    }else{
                        this.$message.error(res.error || "复制失败")
                    }
                })
            }).catch(() => {})
        },
        init(){
            this.$api.Courseware.courseware_details(this.exam.exam).then(res => {
                if(res.code == 200){
                    this.exam = Object.assign(this.exam, res.data)
                    this.formatInitData(res.data)
                }
            })
        },
        formatInitData(data){
            if(data){
                let startTime = data.startTime ? utils.formatDate(new Date(data.startTime), 'yyyy-MM-dd hh:mm').split(" ") : ["", ""]
                let endTime = data.endTime ? utils.formatDate(new Date(data.endTime), 'yyyy-MM-dd hh:mm').split(" ") : ["", ""]
                this.defaultVal = [startTime[0], endTime[0]]
                this.exam.startTime = startTime[0]
                this.exam.endTime = endTime[0]
                this.time.start = endTime[1]
                this.time.end = endTime[1]
                this.time.timeLong = utils.formatMin(data.time)
                this.exam.category = data.category ? data.category._id : ''
                this.labelList = data.labels
                this.formatfileList(data.attachments || [])
            }
        },
        formatfileList(list){
            this.uploadList = []
            list.map(item => {
                // let itemArr = item.split("/")
                this.uploadList.push({
                    name: item.name,
                    url: item.url
                })
            })
        }
    },
    mounted () {
        let params = {
            course: this.exam.course,
            type: 'courseware',
            type_id: this.exam.exam
        }
        this.socket(params)
        console.log(this.Io)
        this.init()
    },
    created(){
        let breadcrumb = window.sessionStorage.getItem("breadcrumb")
        if(breadcrumb) {
            breadcrumb = JSON.parse(breadcrumb)
            breadcrumb.push("课件")
            this.$store.commit('setBreadcrumb', {
                name: this.$route.name,
                path: breadcrumb
            })
        }
        this.get_task()
    },
    destroyed(){
        this.Io.disconnect()
    }
}
</script>
<style lang="scss">
.el-date-editor--time{
    .el-input__inner{
        padding: 0 10px !important;
    }
}
</style>
<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.date-title{
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
    min-width: 57px;
    line-height: 34px;
}
.course-select-date{
    display: flex;
    // height: 34px;
    // align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid $--border;
    position: relative;
    flex-wrap: wrap;
    .end-time{
        padding-left: 20px;
    }
    .date-picker-inner{
        display: flex;
        align-items: center;
        height: 34px;
        left: 230px;
        position: absolute;
        padding: 0 10px;
        z-index: 2;
    }
    .end-time-picker{
        padding-left: 10px;
    }
}
.couser-item{
    display: flex;
    align-items: center;
}
.course-item-end-padding{
    padding-right: 20px;
}
.job-description{
    padding: 20px 15px 0;
    border-bottom: 1px solid $--border;
    .description{
        padding: 10px 0;
        justify-content: space-between;
    }
    .upload-file{
        border: 1px solid $--el-border;
        border-radius: 4px;
        height: 260px;
        max-height: 260px;
        .top-upload{
            padding: 10px;
            border-bottom: 1px solid $--el-border
        }
        .upload-content-item{
            padding: 8px;
        }
    }
    .tag-name{
        color: $--default;
        text-decoration: underline;
        cursor: pointer;
    }
}
.job-content-label{
    padding: 10px 0 0;
}
.label-list{
    display: flex;
}

.button-list{
    padding: 20px 20px;
    text-align: right
}
</style>
