<template>
  <div class="question-esit" ref="questionContent">
    <div class="question-title-item">
      <div class="course-title">
        {{ exam.name }}
      </div>
    </div>
    <el-row type="flex" class="">
      <Preview :list="questionItem" v-if="PreviewFlag"/>
      <el-row v-else type="flex" class="question" style="width: 100%">
        <el-col :span="17" class="question-content" :style="{'max-height': contentHeight + 'px'}">
          <div class="question-none" v-if="questionItem.length == 0">
            拖动右侧题型添加考题
          </div>
          <draggable @change="changeAdd" :group="groupIn" element="div" v-model="questionItem"
                     class="draggable-content">
            <div :class="item.type.type == 'Page' ? '' : 'question-item'" v-for="(item, index) in questionItem"
                 :key="index">
              <component v-if="reFresh" :is="changeQuestionType(item.type.type)" v-bind="{
                                    item: item,
                                    indexItem: index + 1,
                                    editIndex: editIndex,
                                    page: changePage(index),
                                    labelDefaultIndex: initLabelColor(item.content.label),
                                }"
                         @deleteQuestion="deleteQuestion"
                         @clickEdit="clickEdit"
                         @changeData="changeData"
                         @changeQuestionItemType="changeQuestionItemType"
                         @analysisAddFn="analysisAddFn"
                         @changePoints="changePoints"
                         :labelListAll="labelList"></component>
            </div>
          </draggable>
        </el-col>
        <el-col :span="5" class="question-type">
          <div class="question-title-item-left">
            <UploadFile b="button" @uploadFile="uploadFileCallBack" :accept="accept" :layout="layout">
              <el-button type="primary">扫描本地</el-button>
            </UploadFile>
            <el-button class="quote-question" type="primary" @click="quoteQuestion">引用题库</el-button>
          </div>
          <div class="total-point">{{ `总分：${getTotalPoints()}` }}</div>
          <div>
            <draggable :group="groupOut" element="div" v-model="questionType" @end="endAddQuestion" class="">
              <div class="question-type-item" v-for="(item, index) in questionType" :key="index">
                <div>
                  <span :class="item.type.icon"></span>
                  <span class="question-type-title">{{ item.type.name }}</span>
                </div>
                <div
                  v-if="item.type.type !== 'Page' && item.type.type !== 'Reading'">
                  <span>{{ `${questionCount[item.type.type]}题` }}</span>
                  <span>{{ `${questionScore[item.type.type]}分` }}</span>
                </div>
              </div>

            </draggable>
          </div>
          <div class="question-type-color">
            <div class="question-type-color-title">
              题型
            </div>
            <div class="question-type-color-item">
              <draggable :group="groupCover" v-model="labelList" @clone="endDraggable">
                <!-- <span @click="addLabelColor(item, index)" v-for="(item, index) in labelList" :key="index"> -->
                <div class="label-item" v-for="(item, index) in labelList" :key="index">
                  <JobLbael :item="item" :index="index" @deleteLabel="deleteLabel"/>
                </div>
              </draggable>
            </div>
            <div class="add-label question-type-color-title">
              <div class="date-title-label">添加标签</div>
              <InputGroup :val="addLabelVal" @clickBack="clickBack"/>
            </div>
          </div>
        </el-col>
      </el-row>
    </el-row>
    <div class="question-bottom-tool" style="padding-left: 210px" v-if="callBack == 'viewAssignmentExam'">
      <div class="question-button-left"></div>
      <div class="question-button-right">
        <el-button type="primary" plain @click="goBackToViewAssignmentExam()">返回</el-button>
      </div>
    </div>
    <div class="question-bottom-tool" style="padding-left: 210px" v-else>
      <div class="question-button-left">
        <el-button type="primary" plain @click="batchAddFn">批量添加</el-button>
        <el-button type="primary" plain @click="batchDeleteFn">批量删除</el-button>
      </div>
      <div class="question-button-right">
        <el-button type="primary" plain @click="PreviewFn">{{ PreviewFlag ? '编辑' : '预览' }}</el-button>
        <el-button type="primary" :disabled="!this.questionItem.length > 0" plain @click="saveQuestion">保存</el-button>
        <!-- <el-button type="primary" :disabled="!this.questionItem.length > 0" @click="pubilsh">发布</el-button> -->
        <!-- <el-button type="primary" plain @click="logOut('logOut')">退出</el-button> -->
        <el-button type="primary" plain @click="goBackToViewAssignmentExam()">返回</el-button>
      </div>
    </div>
    <Dialog title="批量添加" :visible="batchAddFlag" :close="closeBatchAdd" @dialogSure="batchAddSure">
      <div slot="dialog-content" class="batch-add-content">
        <el-select class="input-short-4" v-model="batchAddValue" placeholder="请选择">
          <el-option
            v-for="(item, index) in questionType"
            :key="index"
            :label="item.type.name"
            :value="item.type.type">
          </el-option>
        </el-select>
        <div class="batch-add-count">
          <span class="title">数量</span>
          <el-input class="input-short-3" v-model="batchAddCount" placeholder=""></el-input>
        </div>
      </div>
    </Dialog>
    <Dialog title="考题解析" width="600px" :visible="analysisAddFlag" :close="closeanalysisAdd"
            @dialogSure="analysisAddSure">
      <div slot="dialog-content" class="batch-add-content">
        <el-input
          type="textarea"
          :rows="6"
          placeholder="请输入内容"
          v-model="analysis">
        </el-input>
      </div>
    </Dialog>
    <Dialog title="批量删除" :visible="batchDeleteFlag" :close="closeBatchDelete" @dialogSure="batchDeleteSure">
      <div slot="dialog-content" class="batch-delete-content">
        <p class="delete-desc">请输入要删除的题号，中间用逗号隔开</p>
        <el-input v-model="batchDeleteVal" placeholder="请输入题号"></el-input>
      </div>
    </Dialog>
    <Dialog :title="dialogTitle" :visible="logOutFlag" :close="closeLogOut" @dialogSure="logOutSure">
      <div slot="dialog-content" class="batch-delete-content">
        <p class="delete-desc log-out-desc">{{ dialogContent }}</p>
      </div>
    </Dialog>
  </div>
</template>
<script>
    import draggable from 'vuedraggable'
    import Single from '../../components/question/single'
    import Composition from '../../components/question/Composition'
    import Upload from '../../components/question/Upload'
    import Multiple from '../../components/question/multiple'
    import Blanks from '../../components/question/gap-fill'
    import Answer from '../../components/question/answer'
    import Dialog from '../../components/pubilc/dialog'
    import PublicTool from '../../utils/publicTool'
    import Preview from '../../components/question/preview'
    import JobLbael from '../../components/pubilc/job-label'
    import InputGroup from '../../components/pubilc/input-group'
    import Page from '../../components/question/paging'
    import Reading from '../../components/question/explain'
    import Label from '../../mixins/label'
    import socketLeave from '../../mixins/socketLeave'
    import utils from '../../utils/index'
    import EventBus from '../../utils/eventVue'
    import config from '../../utils/config'
    import UploadFile from '../../components/pubilc/upload-file'

    export default {
        components: {
            draggable,
            Single,
            Multiple,
            Blanks,
            Reading,
            Dialog,
            Preview,
            JobLbael,
            InputGroup,
            Page,
            Answer,
            UploadFile,
            Composition,
            Upload
        },
        mixins: [Label, socketLeave],
        data() {
            return {
                analysis: '',
                callBack: null,
                currentAnalysisIndex: '',
                analysisAddFlag: false,
                accept: config.accept.office,
                layout: config.layout.word,
                courseTitle: '高等数学期末考试',
                groupOut: {
                    name: 'inner',
                    pull: 'clone',
                    put: false
                },
                groupIn: {
                    name: 'inner'
                },
                groupCover: {
                    name: 'cover',
                    pull: 'clone',
                    put: false
                },
                questionType: [
                    {
                        type: {
                            type: 'Single',
                            name: '单选题',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Single',
                            points: 0,
                            answer: '',
                            previewAnswer: '',
                            label: '',
                            options: [
                                {
                                    key: "A",
                                    content: ''
                                },
                                {
                                    key: "B",
                                    content: ''
                                },
                                {
                                    key: "C",
                                    content: ''
                                },
                                {
                                    key: "D",
                                    content: ''
                                },
                            ],
                            attachments: [{name: '', url: ''}],
                            analysis: ''
                        }
                    },
                    {
                        type: {
                            type: 'Multiple',
                            name: '多选题',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Multiple',
                            points: 0,
                            answer: [],
                            previewAnswer: [],
                            label: '',
                            options: [
                                {
                                    key: "A",
                                    content: ''
                                },
                                {
                                    key: "B",
                                    content: ''
                                },
                                {
                                    key: "C",
                                    content: ''
                                },
                                {
                                    key: "D",
                                    content: ''
                                },
                            ],
                            attachments: [{name: '', url: ''}],
                            analysis: ''
                        }
                    },
                    {
                        type: {
                            type: 'Blanks',
                            name: '填空题',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Blanks',
                            points: 0,
                            label: '',
                            answer: '',
                            attachments: [{name: '', url: ''}],
                            analysis: ''
                        }
                    },
                    {
                        type: {
                            type: 'Text',
                            name: '简答题',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Text',
                            points: 0,
                            label: '',
                            answer: '',
                            attachments: [{name: '', url: ''}],
                            analysis: ''
                        }
                    },
                    {
                        type: {
                            type: 'Page',
                            name: '分页',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            label: '',
                            type: 'Page',
                            answer: '',
                            attachments: [{name: '', url: ''}],
                        }
                    },
                    {
                        type: {
                            type: 'Reading',
                            name: '段落说明',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Reading',
                            points: 0,
                            answer: '',
                            attachments: [{name: '', url: ''}],
                            label: ''
                        }
                    },
                    {
                        type: {
                            type: 'Composition',
                            name: '作文题',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Composition',
                            points: 0,
                            label: '',
                            answer: '',
                            attachments: [{name: '', url: ''}],
                            analysis: ''
                        }
                    },
                    {
                        type: {
                            type: 'Upload',
                            name: '上传题',
                            icon: 'el-icon-circle-plus'
                        },
                        content: {
                            content: '',
                            type: 'Upload',
                            points: 0,
                            label: '',
                            answer: '',
                            images: [],
                            analysis: ''
                        }
                    },
                ],
                questionItem: [],
                batchAddFlag: false,
                batchDeleteFlag: false,
                logOutFlag: false,
                batchAddValue: 'Single',
                batchAddCount: '',
                batchDeleteVal: '',
                PreviewFlag: false,
                editIndex: 'null',
                dialogTitle: '是否确认退出',
                dialogContent: '点击确认退出，未保存的内容将失去。是否继续？',
                addLabelVal: '',
                exam: {
                    exam: '',
                    unit: ''
                },
                reFresh: true,
                loading: null,
                contentHeight: 0,
                socketIo: {},
                questionCount: {
                    Single: 0,
                    Multiple: 0,
                    Blanks: 0,
                    Text: 0,
                    Page: 0,
                    Reading: 0,
                    Composition: 0,
                    Upload: 0,

                },
                questionScore: {
                    Single: 0,
                    Multiple: 0,
                    Blanks: 0,
                    Text: 0,
                    Page: 0,
                    Reading: 0,
                    Composition: 0,
                    Upload: 0,
                },
                timer: null
            }
        },
        computed: {
            // Io(){
            //     return this.$store.state.examIo
            // }
        },
        methods: {
            getTotalPoints() {
                let totalPoints = 0
                for (let item in this.questionScore) {
                    totalPoints += Number(this.questionScore[item])
                }
                return totalPoints
            },
            changePoints(flag) {
                if (flag) {
                    this.initTypeRight()
                    this.questionItem.map((item, index) => {
                        let type = item.content.type
                        this.questionCount[type]++
                        this.questionScore[type] += Number(item.content.points || 0)
                    })
                    console.log(this.questionScore)
                }
            },
            initTypeRight() {
                this.questionCount = {
                    Single: 0,
                    Multiple: 0,
                    Blanks: 0,
                    Text: 0,
                    Page: 0,
                    Reading: 0,
                    Composition: 0,
                    Upload: 0,
                }
                this.questionScore = {
                    Single: 0,
                    Multiple: 0,
                    Blanks: 0,
                    Text: 0,
                    Page: 0,
                    Reading: 0,
                    Composition: 0,
                    Upload: 0,
                }
            },
            endAddQuestion(e) {
                this.showModelFn(() => {
                })
            },
            closeanalysisAdd() {
                this.analysis = ''
                this.analysisAddFlag = false
            },
            analysisAddSure() {
                this.questionItem[this.currentAnalysisIndex].content.analysis = this.analysis
                this.analysisAddFlag = false
                this.analysis = ''
                this.update_questions_item(this.currentAnalysisIndex)
            },
            analysisAddFn(index) {
                this.currentAnalysisIndex = index
                this.analysis = this.questionItem[index].content.analysis
                this.analysisAddFlag = true
            },
            quoteQuestion() {
                this.$router.push({
                    name: "questionLib",
                    query: {
                        id: this.exam.exam
                    }
                })
            },
            uploadFileCallBack(file) {
                if (file.url) {
                    const params = {
                        url: file.url
                    }
                    this.$api.Question.scanningLocal(params).then(res => {
                        if (res.code == 200) {
                            this.$message.success("扫描成功")
                            this.formatScanningLoaclQuestion(res.data.questions)
                        } else {
                            this.$message.error(res.error || "扫描失败")
                        }
                    })
                }
            },
            formatScanningLoaclQuestion(data) {
                let scanningLocal = data.map((item, index) => {
                    item.points = ""
                    item.answer = item.type == "Multiple" ? [] : ""
                    item.images = []
                    // item.label = this.labelList ? this.labelList[0] : ''
                    item.exam = this.exam.exam
                    item.questionNo = this.questionItem.length + Number(index + 1)
                    return item
                })
                const params = {
                    questions: scanningLocal,
                    exam: this.exam.exam
                }
                this.$api.Question.create_question(params).then(res => {
                    if (res.code == 200) {
                        this.formatExamData(res.data)
                    } else {
                        this.$message.error(res.error || "扫描题目失败")
                    }
                })
            },
            changeQuestionItemType(data) {
                this.reFresh = false
                if (this.questionItem[data.index].content.options.length <= 0) {
                    this.$set(this.questionItem[data.index].content, "options", PublicTool.questionList[data.val].content.options)
                }
                this.$set(this.questionItem[data.index], "type", PublicTool.questionList[data.val].type)
                this.$set(this.questionItem[data.index].content, "type", PublicTool.questionList[data.val].type.type)
                if (data.val == 'Multiple') {
                    this.$set(this.questionItem[data.index].content, "answer", [])
                } else {
                    this.$set(this.questionItem[data.index].content, "answer", "")
                }
                console.log(1111)

                this.$nextTick(() => {
                    this.reFresh = true
                    this.changePoints(true)
                })
            },
            endDraggable(e) {
                EventBus.$emit("endDraggbale", e.oldIndex)
            },
            initLabelColor(label) {
                return this.labelList.indexOf(label) >= 0 ? this.labelList.indexOf(label) : ''
            },
            saveQuestion(fn, flag) {
                const params = this.formatQuestion()
                if (!this.exam.exam) {
                    this.$message.error("缺少考试ID")
                    return
                }
                this.$api.Question.update_questions({
                    questions: params,
                    exam: this.exam.exam,
                    refresh: flag || false
                }).then(res => {
                    if (res.code == 200) {
                        if (!flag) {
                            this.$message.success("保存成功")
                            this.init()
                            if (fn && typeof fn === "function") {
                                fn()
                            }
                        }
                    } else {
                        this.$message.error(res.error || "创建考试题目失败")
                    }
                })
            },
            formatQuestion() {
                let question = []
                let defaultData = JSON.parse(JSON.stringify(this.questionItem))
                let pageNum = 0
                defaultData.map((item, index) => {
                    if (item && item.content) {
                        let content = item.content
                        if (content.type != "Page") {
                            if (content.type != "Reading") {
                                content.questionNo = index + 1 - pageNum
                            }
                        } else {
                            pageNum += 1
                        }
                        // if(content.label){
                        //     if(content.label instanceof Object){
                        //         content.label = content.label.id || (this.labelList.length > 0 ? this.labelList[0]._id : '')
                        //     }
                        // }else{
                        //     content.label = this.labelList.length > 0 ? this.labelList[0]._id : ''
                        // }
                        if (content.type == 'Multiple') {
                            if (content.answer instanceof Array) {
                                content.answer = content.answer.sort().join()
                            }
                        }
                        question.push(content)
                    }
                })
                return question
            },
            changeAdd(e) {
                this.reFresh = false
                this.showModelFn(() => {
                })
                let index = null
                if (e.added) {
                    // e.added.element.content.label = this.labelList ? this.labelList[0] : ''
                    index = e.added.newIndex
                }
                this.initQuestionNo()
                this.$nextTick(() => {
                    if (index || index == 0) {
                        this.saveQusetionItem(index)
                    }
                })
                this.reFresh = true
            },
            saveQusetionItem(newIndex) {
                this.questionItem[newIndex].content.exam = this.exam.exam
                let params = JSON.parse(JSON.stringify(this.questionItem[newIndex].content))
                if (params.type == 'Multiple') {
                    params.answer = params.answer.join()
                }
                this.$api.Question.create_question_item(params).then(res => {
                    if (res.code == 200) {
                        this.questionItem[newIndex].content = res.data
                        let answer = this.questionItem[newIndex].content.answer
                        if (params.type == 'Multiple') {
                            this.questionItem[newIndex].content.answer = answer ? answer.split(',') : []
                        }
                    } else {
                        this.$message.error(res.error || "创建题目失败")
                        this.questionItem.splice(newIndex, 1)
                    }
                })
            },
            update_questions_item(newIndex) {
                this.questionItem[newIndex].content.exam = this.exam.exam
                let params = JSON.parse(JSON.stringify(this.questionItem[newIndex].content))
                if (params.type == 'Multiple') {
                    params.answer = params.answer.join()
                }
                this.$api.Question.update_question_item(params, params._id).then(res => {
                    if (res.code == 200) {
                    } else {
                        this.$message.error(res.error || "更新题目失败")
                        // this.questionItem.splice(newIndex, 1)
                    }
                })
            },
            initQuestionNo() {
                this.$nextTick(() => {
                    this.initTypeRight()
                    let pageNum = 0
                    this.questionItem.map((item, index) => {
                        let type = item.content.type
                        this.questionCount[type]++
                        this.questionScore[type] += Number(item.content.points || 0)
                        if (item.content.type != "Page" && item.content.type != "Reading") {
                            this.$set(item.content, "questionNo", index + 1 - pageNum)
                        } else {
                            pageNum += 1
                        }
                    })
                })
            },
            changeQuestionType(type) {
                const typeList = {
                    Single: "Single",
                    Multiple: "Multiple",
                    Blanks: "Blanks",
                    Reading: "Reading",
                    Composition: "Composition",
                    Upload: "Upload",
                    Page: "Page",
                    Text: "Answer"
                }
                return typeList[type]
            },
            changePage(i) {
                let count = 0
                let num = 0
                this.questionItem.map((item, index) => {
                    if (item.type.type == 'Page') {
                        count += 1
                    }
                    if (index == i) {
                        num = count
                    }
                })
                return {
                    count,
                    num
                }
            },
            batchAddFn() {
                this.batchAddFlag = true
            },
            batchDeleteFn() {
                this.batchDeleteFlag = true
            },
            logOut(type) {
                if (type == 'issue') {
                    this.dialogTitle = '是否确认发布'
                    this.dialogContent = '点击确认立即发布'
                } else if (type == 'logOut') {
                    this.dialogTitle = '是否确认退出'
                    this.dialogContent = '点击确认退出，未保存的内容将失去。是否继续？'
                }
                this.logOutFlag = true
            },
            closeBatchAdd() {
                this.batchAddFlag = false
                this.batchAddCount = ''
                this.batchAddValue = 'Single'
            },
            closeBatchDelete() {
                this.batchDeleteFlag = false
                this.batchDeleteVal = ''
            },
            closeLogOut() {
                this.logOutFlag = false
            },
            deleteQuestion(index) {
                this.reFresh = false
                this.questionItem.splice(index, 1)
                // this.$message.success("删除成功")
                this.initQuestionNo()
                this.reFresh = true
            },
            logOutSure() {
                this.logOutFlag = false
                this.$router.push({
                    name: "EditMode",
                    query: {
                        course_id: this.exam.course,
                        type: "edit"
                    }
                })
            },
            batchAddSure() {
                if (!this.batchAddCount) {
                    this.$message("请输入要添加的数量")
                    return
                }
                const newList = PublicTool.selectQuestionType(this.batchAddValue, this.batchAddCount)
                if (newList) {
                    let list = JSON.parse(JSON.stringify(this.questionItem))
                    list.push(...newList)
                    // this.questionItem.push(...newList)
                    this.$nextTick(() => {
                        this.questionItem = list
                        this.initQuestionNo()
                        this.batchAddCount = ''
                        this.batchAddValue = 'Single'
                        this.$nextTick(() => {
                            this.saveBatchAdd(newList.length)
                        })
                        this.closeBatchAdd()
                    })
                } else {
                    this.$message("输入有误，请重试")
                }
            },
            saveBatchAdd(count) {
                let all = this.questionItem.length
                let spliceList = this.questionItem.splice(all - count, count)
                let addList = spliceList.map(item => {
                    item.content.exam = this.exam.exam
                    // item.content.label = this.labelList ? this.labelList[0] : ''
                    return item.content
                })
                const params = {
                    questions: addList,
                    exam: this.exam.exam
                }
                this.$api.Question.create_question(params).then(res => {
                    if (res.code == 200) {
                        let list = JSON.parse(JSON.stringify(this.questionItem))
                        list.push(...spliceList.map((item, index) => {
                            item.content = res.data[index]
                            return item
                        }))
                        this.reFresh = false
                        this.questionItem = list
                        this.reFresh = true
                    } else {
                        this.$message.error(res.error || "批量添加失败")
                    }
                })
            },
            batchDeleteSure() {
                if (!this.batchDeleteVal) {
                    this.$message("请输入要删除的题号")
                    return
                }
                this.reFresh = false
                let batchDeleteVal = Array.from(new Set(this.batchDeleteVal.replace(/，/g, ',').split(',').sort((a, b) => {
                    return b - a
                })))
                let deleteQuestionList = []
                batchDeleteVal.map(item => {
                    if (this.questionItem[Number(item) - 1]) {
                        deleteQuestionList.push(...this.questionItem.splice(Number(item) - 1, 1))
                    }
                })
                this.deleteQuestionListFn(deleteQuestionList)
                // this.$message.success("删除成功")
                this.batchDeleteFlag = false
                this.batchDeleteVal = ''
                this.initQuestionNo()
                this.reFresh = true
            },
            deleteQuestionListFn(list, fn) {
                this.showModelFn(() => {
                    let flag = true
                    list.map(item => {
                        const id = item.content._id
                        this.$api.Question.delete_question_no_model(id).then(res => {
                            if (res.code != 200) {
                                flag = false
                            }
                        })
                    })
                    if (flag) {
                        this.$message.success("删除成功")
                    } else {
                        this.$message.error("删除失败")
                    }
                })
            },
            PreviewFn() {
                if (this.PreviewFlag) {
                    this.showModelFn(() => {
                        this.PreviewFlag = !this.PreviewFlag
                    })
                } else {
                    this.PreviewFlag = !this.PreviewFlag
                }
            },
            showModelFn(fn) {
                this.loading = this.$loading({
                    lock: true,
                    text: '请稍后，正在处理中.....',
                    spinner: "el-icon-loading",
                    background: 'rgba(0, 0, 0, 0.3)',
                    customClass: "loading-model"
                })
                this.$nextTick(() => {
                    setTimeout(() => {
                        fn && fn()
                        this.loading.close()
                    }, 100)
                })
            },
            clickEdit(index) {
                if (this.editIndex == index) {
                    this.editIndex = 'null'
                    return
                }
                this.editIndex = index
            },
            changeData(data, index) {
                this.questionItem[index] = data
                // this.initQuestionNo()
                this.changePoints()
            },
            addLabelColor(item, index) {
                if (this.questionItem[this.editIndex]) {
                    this.questionItem[this.editIndex].content.label = {
                        index: index,
                        id: item._id
                    }
                }
            },
            getQueryData() {
                this.exam.unit = utils.getQueryString("unit")
                this.exam.exam = utils.getQueryString("exam")
                this.exam.name = utils.getQueryString("name")
                this.exam.course = utils.getQueryString("course")
            },
            init() {
                if (!this.exam.exam) {
                    this.$message.error("缺少考试id")
                    return
                }
                this.$api.Exam.get_exam_details(this.exam.exam).then(res => {
                    if (res.code == 200) {
                        this.questionItem = []
                        this.labelList = res.data.labels
                        this.formatExamData(res.data.questions)
                        this.initQuestionNo()
                    }
                })
            },
            formatExamData(data) {
                data.map(item => {
                    if (item.type === "Single") {
                        this.questionItem.push({
                            type: {
                                "type": "Single",
                                "name": "单选题",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Multiple") {
                        item.answer = item.answer.split(',')
                        this.questionItem.push({
                            type: {
                                "type": "Multiple",
                                "name": "多选题",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Blanks") {
                        this.questionItem.push({
                            type: {
                                "type": "Blanks",
                                "name": "填空题",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Text") {
                        this.questionItem.push({
                            type: {
                                "type": "Text",
                                "name": "简答题",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Page") {
                        this.questionItem.push({
                            type: {
                                "type": "Page",
                                "name": "分页",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Reading") {
                        this.questionItem.push({
                            type: {
                                "type": "Reading",
                                "name": "段落说明",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Composition") {
                        this.questionItem.push({
                            type: {
                                "type": "Composition",
                                "name": "作文题",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    } else if (item.type === "Upload") {
                        this.questionItem.push({
                            type: {
                                "type": "Upload",
                                "name": "上传题",
                                "icon": "el-icon-circle-plus"
                            },
                            content: item
                        })
                    }
                })
            },
            clickBack(val) {
                this.addLabelVal = val
                if (!val) {
                    return
                }
                if (this.labelList.length >= 12) {
                    this.$message("标签最多能创建12个")
                    return
                }
                this.labelList.push(val)
                const params = {
                    labels: this.labelList
                }
                this.$api.Exam.edit_exam(this.exam.exam, params).then(res => {
                    if (res.code == 200) {
                        this.$message.success("添加标签成功")
                        // this.getQuestionLabel()
                    } else {
                        this.$message.error("添加失败")
                        this.labelList.pop()
                    }
                })

                this.$nextTick(() => {
                    this.addLabelVal = ''
                })
            },
            pubilsh() {
                this.saveQuestion(() => {
                    this.$api.Exam.exam_pubilsh(this.exam.exam).then(res => {
                        if (res.code == 200) {
                            this.$message.success("发布成功")
                            this.$router.push({
                                name: 'EditMode',
                                query: {
                                    course_id: this.exam.course,
                                    type: "edit"
                                }
                            })
                        } else {
                            this.$message.error(res.error || "发布失败")
                        }
                    })
                })
            },
            deleteLabelSuccess(deleteItem) {
                this.reFresh = false
                this.questionItem.map(item => {
                    if (item.content.label == deleteItem) {
                        item.content.label = ""
                    }
                })
                this.$nextTick(() => {
                    this.reFresh = true
                })
            },
            goBackToViewAssignmentExam() {
                this.$router.back(-1)
            },
            autoSaveQuestion() {
                this.timer = setInterval(() => {
                    this.saveQuestion(null, true)
                }, 10000)
            }
        },
        created() {
            let breadcrumb = window.sessionStorage.getItem("breadcrumb")
            if (breadcrumb) {
                breadcrumb = JSON.parse(breadcrumb)
                breadcrumb.push("测试")
                breadcrumb.push("编辑题目")
                this.$store.commit('setBreadcrumb', {
                    name: this.$route.name,
                    path: breadcrumb
                })
            }
            this.getQueryData()
            this.socketIo.course = utils.getQueryString("course")
            this.socketIo.exam = utils.getQueryString("id") || ''
            this.PreviewFlag = utils.getQueryString("PreviewFlag") == "preview"
            this.callBack = utils.getQueryString("callBack")
        },
        mounted() {
            // this.getQuestionLabel()
            // if(!this.Io){
            //     let params = {
            //         course: this.socketIo.course,
            //         type: 'exam',
            //         type_id: this.socketIo.exam
            //     }
            //     this.socket()
            // }
            this.init()
            this.contentHeight = window.screen.availHeight - 300
            this.autoSaveQuestion()
        },
        beforeRouteLeave(to, from, next) {
            if (to.name) {
                this.saveQuestion(() => {
                    next()
                })
            }
        },
        destroyed() {
            if (this.timer) {
                clearInterval(this.timer)
            }
            // this.Io.disconnect()
        }
    }
</script>
<style lang="scss" scoped>
  @import '../../assets/css/var.scss';

  .question {
    justify-content: space-between;
    overflow: auto;
    padding-bottom: 60px;
  }

  .question-content {
    // max-height: 80vh;
    min-width: 750px;
    max-height: 65vh;
    overflow: auto;
  }

  .question-item {
    background-color: $--white;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 10px 0;
  }

  .question-type {
    min-width: 200px;
    padding: 0 20px;
    box-sizing: content-box;
    position: fixed;
    right: 10px;
    top: 75px;
    overflow: auto;
    max-height: 60%;
    padding-bottom: 60px;
  }

  .question-type-item {
    height: 48px;
    background-color: $--white;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .question-type-title {
      padding-left: 10px;
      font-weight: 600;
    }
  }

  .question-none {
    display: flex;
    font-size: 24px;
    justify-content: center;
    font-weight: 700;
    min-width: 750px;
  }

  .batch-add-content {
    display: flex;

    .batch-add-count {
      display: flex;
      padding-left: 40px;
      align-items: center;

      .title {
        font-size: 14px;
        font-weight: 600;
        padding-right: 15px;
      }
    }
  }

  .log-out-desc {
    color: $--text-3
  }

  .question-type-color {
    background-color: $--white;
    padding: 20px;
    border-radius: 4px;

    .question-type-color-title {
      font-size: 14px;
      font-weight: 550;
      padding-bottom: 20px;
    }

    .question-type-color-item {
      display: flex;
      flex-wrap: wrap
    }
  }

  .date-title-label {
    font-size: 14px;
    font-weight: 550;
    padding-bottom: 10px;
  }

  .label-item {
    display: inline-block;
  }

  .question-title-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question-title-item-left {
    display: flex;

    .quote-question {
      margin-left: 20px;
    }
  }

  .draggable-content {
    min-height: 65vh;
  }

  .total-point {
    padding: 20px 0 10px 0;
  }
</style>
