<template>
    <div class="report" ref="report">
        <div ref="capture" class="clearfix">
            <div class="page-title">
                <p class="main-title">{{title}}数据分析报告</p>
                <p class="sub-title">
                    <span class="label">时间：</span>
                    <span class="message">{{date}}</span>
                    <span class="label">班级：</span>
                    <span class="message">{{class_name}}</span>
                </p>
            </div>
            <div class="total-num">
                <ratio-bar :step="count_people.ratio.num + count_people.ratio.unit" background="light-1"></ratio-bar>
                <div class="data-block">
                    <data-block v-for="(value, key) in count_people" :key="key" class="item-num"
                        :title="value.name" :front="value.num" :back="value.unit"></data-block>
                </div>
            </div>
            <div class="charts clearfix">
                <el-row :gutter="16">
                    <Panel :span="12" title="基础分析" :height="true">
                        <el-row slot="content" class="bar-chart" :gutter="10">
                            <el-col :span="8" class="data-box">
                                <data-block v-for="(value, key) in basis_option.data" :key="key" class="item-num"
                                    :title="value.text" :front="value.score" color="label-1"></data-block>
                            </el-col>
                            <el-col :span="16">
                                <Chart id="basis" :option="basis_option" class="chart-item"></Chart>
                            </el-col>
                        </el-row>
                    </Panel>
                    <Panel :span="12" title="比例分析" :height="true" more="自定义分组" @more="toDetail">
                        <div slot="content" class="pie-chart">
                            <Chart id="proportion" :option="proportion_option" class="chart-item"></Chart>
                            <div class="data-box">
                                <div v-for="(value, key) in proportion_option.data" :key="key" class="item-box">
                                    <data-block class="item-num"
                                        :title="value.text" :front="value.value" :back="value.unit" color="label-1"></data-block>
                                    <small>({{value.num}}人)</small>
                                </div>
                            </div>
                            <Slider :score="slider_score" :totalScore="total_score" @change-slider="changeSlider"></Slider>
                        </div>
                    </Panel>
                </el-row>
                <el-row :gutter="8" class="deviation-box">
                    <Panel :span="12" title="离差分析" :height="true">
                        <el-row slot="content" class="bar-chart" :gutter="10">
                            <el-col :span="8" class="data-box">
                                <data-block v-for="(value, key) in deviation_option.data" :key="key" class="item-num"
                                    :title="value.text" :front="value.score" color="label-1"></data-block>
                            </el-col>
                            <el-col :span="16">
                                <Chart id="deviation" :option="deviation_option" class="chart-item"></Chart>
                            </el-col>
                        </el-row>
                    </Panel>
                </el-row>
                <Panel :span="24" title="题型分析" :height="true" class="question-type">
                    <el-row slot="content" class="box-chart">
                        <el-col :span="2" class="list-box">
                            <li v-for="(value, key) in question_type.tab_list" :key="key" :class="[key==question_type.default_tab?'active':'']" 
                            @click="changelabel(key)">{{value.text}}</li>
                        </el-col>
                        <el-col :span="22">
                            <Chart id="question" :option="question_type" class="chart-item"></Chart>
                            <div class="question-detail-box">
                                <div v-for="item in total_data" :key="item._id" class="question-detail-item">
                                    <div>题型占比：{{item.pointsPro*100+'%'}}</div>
                                    <div>题目数量：{{item.count}}</div>
                                    <div>错误率：{{(item.errorRate*100).toFixed(2)+'%'}}</div>
                                </div>
                            </div>
                        </el-col>
                    </el-row>
                </Panel>
            </div>
            <Panel :span="24" title="报告总结" :height="true">
                <div slot="content" class="report-content" v-html="report_summary">
                </div>
            </Panel>
        </div>
        <div ref="clone"></div>
        <div class="print-btn">
            <el-button type="primary" @click="doPrint()">导出图片</el-button>
        </div>
    </div>
</template>

<script>
import ratioBar from '@/components/pubilc/ratio-bar'
import dataBlock from '@/components/pubilc/data-block'
import Panel from '@/components/pubilc/panel'
import Chart from '@/components/pubilc/chart'
import Slider from '@/components/pubilc/slider'
import utils from '@/utils/index'
import Common from '../../mixins/common'
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
export default {
    components: {ratioBar, dataBlock, Panel, Chart, Slider},
    mixins: [Common],
    data() {
        return {
            title: utils.getQueryString("name"),
            class_id: utils.getQueryString("class_id"),
            course_id: utils.getQueryString("course_id"),
            class_name: utils.getQueryString("class_name"),
            id: utils.getQueryString("id"),
            type: utils.getQueryString("type"),
            date: "",
            total_score: 100,
            slider_score: {
                first: "",
                second: "",
                third: "",
            },
            count_people: {
                total: {
                    name: "考试预期",
                    num: 100,
                    unit: "人"
                },
                real: {
                    name: "实际参考",
                    num: 88,
                    unit: "人"
                },
                ratio: {
                    name: "样本比例",
                    num: 88,
                    unit: "%"
                },
            },
            basis_option: {
                data: {
                    average: {
                        text: "<span class='circle circle-blue'></span>平均分",
                        score: 80
                    },
                    min: {
                        text: "<span class='circle circle-yellow'></span>最低分",
                        score: 60
                    },
                    max: {
                        text: "<span class='circle circle-green'></span>最高分",
                        score: 100
                    },
                },
                xAxis: {
                    data: [],
                },
                yAxis: {
                    name: "(人)",
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                series: [{
                    type: "bar",
                    data: [],
                    tooltip : {
                        trigger: 'item',
                        formatter: function (params) {
                            return `${Number(params.name)+100/5}-${params.name}分:${params.value}人`
                        },
                    },
                }],
                resize: 0
            },
            proportion_option: {
                data: {
                    failed: {
                        text: "<span class='circle circle-yellow'></span>不及格率",
                        num: 0,
                        value: 0,
                        unit: "%"
                    },
                    pass: {
                        text: "<span class='circle circle-green'></span>及格率",
                        num: 0,
                        value: 0,
                        unit: "%"
                    },
                    good: {
                        text: "<span class='circle circle-red'></span>良好率",
                        num: 0,
                        value: 0,
                        unit: "%"
                    },
                    excellent: {
                        text: "<span class='circle circle-blue'></span>优秀率",
                        num: 0,
                        value: 0,
                        unit: "%"
                    },
                },
                series: [{
                    type: "pie",
                    color: ['#E98E1D', '#23AC8A', '#A21832',  '#3471BA', '#E98E1D'],
                    data: [
                        {value: 0, name: "不合格人数"},
                        {value: 0, name: "合格人数"},
                        {value: 0, name: "良好人数"},
                        {value: 0, name: "优秀人数"}
                    ],
                }],
                resize: 0
            },
            deviation_option: {
                data: {
                    average: {
                        text: "标准差",
                        score: 0
                    },
                },
                xAxis: {
                    type: "value"
                },
                yAxis: {
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                series: [
                {
                    type: "line",
                    smooth: true,
                    data: [],
                }],
                resize: 0
            },
            question_type: {
                default_tab: "total",
                data_list: [],
                total_data: [],
                tab_list: {
                    total: {text: "总人数"},
                    excellent: {text: "优秀"},
                    good: {text: "良好"},
                    pass: {text: "合格"},
                    faild: {text: "不合格"}
                },
                xAxis: {
                    data: [],
                },
                series: [{
                    type: 'boxplot',
                    data: []
                }],
                resize: 0
            },
            report_summary: "",
            qustLabelErrorRate: {}
        }
    },
    methods: {
        get_report(){
            let reqData = {
                id: this.class_id
            }
            let component = "get_assignment_report"
            if(this.type == 'exams'){
                component = "get_exam_report"
                reqData.exam = this.id
            }else{
                reqData.assignment = this.id
            }
            this.$api.Report[component](this.class_id, reqData).then(resData => {
                if(resData.code == 200){
                    this.date = this.changeTime(resData.data.createdAt)
                    this.count_people.total.num = resData.data.total
                    this.count_people.real.num = resData.data.finished
                    this.count_people.ratio.num = resData.data.finished/resData.data.total * 100
                    this.basis_option.data.average.score = resData.data.avg
                    this.basis_option.data.min.score = resData.data.min
                    this.basis_option.data.max.score = resData.data.max
                    this.basis_option.xAxis.data = []
                    let series_data = []
                    resData.data.scoreNum.forEach(element => {
                        this.basis_option.xAxis.data.push(element.score)
                        series_data.push(element.value)
                    })
                    this.$set(this.basis_option.series[0], "data", series_data)
                    this.basis_option.resize++
                    resData.data.scoreRatio.forEach((element, index) => {
                        if(index == 3){
                            this.proportion_option.data.failed.value = element.value * 100
                            this.proportion_option.data.failed.num = element.number 
                            this.$set(this.proportion_option.series[0].data[0], "value", element.number)
                        }
                        else if(index == 2){
                            this.proportion_option.data.pass.value = element.value * 100
                            this.proportion_option.data.pass.num = element.number
                            this.$set(this.proportion_option.series[0].data[1], "value", element.number)
                        }
                        else if(index == 1){
                            this.proportion_option.data.good.value = element.value * 100
                            this.proportion_option.data.good.num = element.number
                            this.$set(this.proportion_option.series[0].data[2], "value", element.number)
                        }
                        else if(index == 0){
                            this.proportion_option.data.excellent.value = element.value * 100
                            this.proportion_option.data.excellent.num = element.number
                            this.$set(this.proportion_option.series[0].data[3], "value", element.number)
                        }
                    })
                    this.proportion_option.resize++
                    this.deviation_option.data.average.score = resData.data.S
                    this.question_type.series[0].data = []
                    this.slider_score.third = resData.data.ratio[0]
                    this.slider_score.second = resData.data.ratio[1]
                    this.slider_score.first = resData.data.ratio[2]
                    this.total_score = resData.data.point
                    this.basis_option.series[0].tooltip.formatter = function (params) {
                        return `${Number(params.name)+resData.data.point/5}-${params.name}分:${params.value}人`
                    }
                    this.handle_data(resData.data.labelScore)
                    this.data_list = resData.data.labelScoreRatio
                    this.total_data = resData.data.labelScore
                    let text = resData.data.avgTLast>0?"提高":"降低"
                    let css_text = `<span class="message-text" style="font-size: 18px; color: #A21832">`
                    this.report_summary = `本次的平均分为${css_text}${resData.data.avg}分</span>；相比上次${text}${css_text}${Math.abs(resData.data.avgTLast?resData.data.avgTLast:0)}分</span>；最高${css_text}${resData.data.max}分</span>，
                        最低${css_text}${resData.data.min}分</span>；合格率${css_text}${resData.data.pass*100}%</span>，离散程度${css_text}${resData.data.S}分</span>。`
                    if(resData.data.S > 10) {
                        this.report_summary+= "班级整体差距较大。"
                    }
                    if(resData.data.qustLabelErrorRate){
                        resData.data.qustLabelErrorRate.forEach(element => {
                            // if(element.value > 0.3){
                            //     this.report_summary+= element.label+"整体难度偏高。"
                            // }else{
                            //     this.report_summary+= element.label+"整体难度偏低。"
                            // }
                            if(element.value > 0.6){
                                this.report_summary+= `${element.label}错误率${css_text}${element.value*100}%</span>，`
                            }
                            this.qustLabelErrorRate[element._id] = element.value
                        })
                        resData.data.questionErrorRate.forEach(element => {
                            if(element.value > 0.6){
                                this.report_summary+= `${element.question.label}${element.question.questionNo}题错误率${css_text}${element.value*100}%</span>，`
                            }
                        })
                        this.report_summary+= "建议重点复习。"
                    }
                }
            })
        },
        get_dispersion(){
            let reqData = {
                id: this.class_id
            }
            let component = "get_assignment_dispersion"
            if(this.type == 'exams'){
                component = "get_exam_dispersion"
                reqData.exam = this.id
            }else{
                reqData.assignment = this.id
            }
            this.$api.Report[component](this.class_id, reqData).then(resData => {
                if(resData.code == 200){
                    this.deviation_option.series[0].data = []
                    resData.data.forEach((element, index) => {
                        this.$set(this.deviation_option.series[0].data, index, [element.Z, element.Y])
                    })
                    this.deviation_option.resize++
                }
            })
        },
        changelabel(key){
            this.question_type.default_tab = key
            let data = []
            if(key == 'total'){
                data = this.total_data
            }
            else if(key == 'excellent'){
                data = this.data_list[0].value
            }
            else if(key == "good"){
                data = this.data_list[1].value
            }
            else if(key == "pass"){
                data = this.data_list[2].value
            }else{
                data = this.data_list[3].value
            }
            this.handle_data(data)
        },
        handle_data(data){
            this.question_type.xAxis.data = []
            this.question_type.series[0].data = []
            data.forEach((element, index) => {
                this.question_type.xAxis.data.push(element.label)
                this.question_type.series[0].data[index] = []
                this.$set(this.question_type.series[0].data[index], 0, element.minT)
                this.$set(this.question_type.series[0].data[index], 1, element.percent25T)
                this.$set(this.question_type.series[0].data[index], 2, element.midT)
                this.$set(this.question_type.series[0].data[index], 3, element.percent75T)
                this.$set(this.question_type.series[0].data[index], 4, element.maxT)
            })
            this.question_type.resize++
        },
        changeSlider(data){
            if(this.slider_score.first == data[2] && this.slider_score.second == data[1] && this.slider_score.third == data[0]){
                return
            }
            let reqData = {
                id: this.class_id,
                ratio: data
            }
            let component = "update_assignment_ratio"
            if(this.type == 'exams'){
                component = "update_exam_ratio"
                reqData.exam = this.id
            }else{
                reqData.assignment = this.id
            }
            this.$api.Report[component](this.class_id, reqData).then(resData => {
                if(resData.code == 200){
                    this.get_report()
                }
            })
        },
        doPrint(){
            html2canvas(this.$refs.capture).then(canvas => { 
                // let link = document.createElement('a');
                // link.href = canvas.toDataURL();
                // link.setAttribute('download', '数据报告.png');
                // link.style.display = 'none';
                // document.body.appendChild(link);
                // link.click();

                let doc = new jsPDF("", "pt", "a4");
                doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 210, 297);
                doc.save(this.title + '数据分析报告.pdf');
            })
        },
        toDetail() {
            this.$router.push({name: "DataAnalysisInner", query: {class_id: this.class_id, type: this.type, id: this.id, ratio: JSON.stringify(this.slider_score), course_id: this.course_id}})
        }
    },
    created(){
        this.get_report()
        this.get_dispersion()
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.report{
    width: 1100px;
    margin: 0 auto;
}
.page-title{
    text-align: center;
}
.total-num{
    width: 320px;
    margin: 0 auto;
    .data-block{
        display: flex;
        justify-content: center;
        .item-num{
            padding: 0 20px;
        }
    }
}
.charts{
    position: relative;
    padding: 20px 0;
    .bar-chart{
        height: 279px;
        padding: 32px 0 16px;
        .chart-item{
            height: 224px;
        }
        .data-box{
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-right: 1px solid $--border;
            height: 224px;
            .item-num{
                padding: 0;
                padding-left: 10px;
            }
        }
    }
    .pie-chart{
        height: 637px;
        .chart-item{
            height: 324px;
            border-bottom: 1px solid $--border;
        }
        .data-box{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 60px auto 80px;
            .item-box{
                padding-right: 30px;
                .item-num{
                    display: inline-block;
                    padding: 0 0 0 30px;
                }
            }
        }
    }
    .deviation-box{
        position: absolute;
        width: 100%;
        top: 378px;
    }
    .box-chart{
        width: 100%;
        font-size: 12px;
        .list-box {
            height: 300px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            li{
                width: 80px;
                height: 48px;
                line-height: 48px;
                margin-top: -1px;
                text-align: center;
                border: 1px solid $--border-1;
                cursor: pointer;
                &:hover{
                    background: $--default;
                    color: $--white;
                }
            }
            .active{
                background: $--default;
                color: $--white;
            }
        }
        .chart-item{
            height: 300px;
        }
    }
}
.report{
    .report-content{
        height: 100px;
        padding: 10px 0;
        .message-text{
            font-size: 16px;
            font-weight: bold;
            color: $--default;
        }
    }
}
.print-btn{
    padding-bottom: 10px;
    text-align: center;
}
.question-detail-box{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: -20px auto 0;
    padding-bottom: 20px;
    
}
</style>