<template>
    <div>
        <div class="page-title">
            <p class="main-title">数据对比</p>
        </div>
        <div>
            <el-row :gutter="16">
                <Panel :span="8" title="选择班级">
                    <div slot="content" class="panel-content">
                        <div v-for="item in class_list" :key="item._id">
                            <el-button type="primary" v-if="select_class.indexOf(item._id)>=0" @click="selectClass(item._id, 0, select_class.indexOf(item._id))">{{item.name}}</el-button>
                            <el-button v-else @click="selectClass(item._id, 1)">{{item.name}}</el-button>
                        </div>
                    </div>
                </Panel>
                <Panel :span="8" title="任务类别">
                    <div slot="content" class="panel-content">
                        <div v-for="(item, index) in course_category" :key="item.id" class="category"  @click="get_course_category(index, item.id)">
                            <el-button type="primary" v-if="active_category==item.id">{{item.name}}<i class=""></i></el-button>
                            <el-button v-else>{{item.name}}<i class=""></i></el-button>
                            <el-cascader :options="item.options" :props="{multiple: true}" v-model="default_id" @change="get_chart()"></el-cascader>
                        </div>
                    </div>
                </Panel>
                <Panel :span="8" title="选择分析方式">
                    <div slot="content" class="panel-content">
                        <div v-for="item in chart_type" :key="item.type">
                            <el-button type="primary" v-if="default_chart == item.type">{{item.name}}</el-button>
                            <el-button v-else @click="changeType(item.type)">{{item.name}}</el-button>
                        </div>
                    </div>
                </Panel>
            </el-row>
            <Panel :span="24" title="数据对比" :height="true">
                <Chart slot="content" class="chart-content" id="data-line" :option="default_option"></Chart>
            </Panel>
        </div>
    </div>
</template>

<script>
import Panel from '@/components/pubilc/panel'
import Chart from '@/components/pubilc/chart'
import utils from '@/utils/index'
import Classes from '@/mixins/classes'
import Common from '@/mixins/common'
export default {
    components: {Panel, Chart},
    mixins: [Classes, Common],
    data() {
        return {
            course_id: utils.getQueryString("course_id"),
            class_list: [],
            class_relation: {},
            select_class: [],
            taskClassification: [
                {
                    name: '平时作业',
                    id: 1
                },
                {
                    name: '平时测试',
                    id: 2
                },
                {
                    name: '阶段考试',
                    id: 3
                },
                {
                    name: '学期考试',
                    id: 4
                }
            ],
            chart_type: [
                {name: "基础分析", type: "line"},
                {name: "比例分析", type: "bar"},
                {name: "分布分析", type: "boxplot"}
            ],
            active_category: "",
            default_id: [],
            course_category: [],
            // course_category: [
            //     {
            //         name: '平时作业',
            //         id: 1,
            //         options: []
            //     },
            //     {
            //         name: '平时测试',
            //         id: 2,
            //         options: []
            //     },
            //     {
            //         name: '阶段考试',
            //         id: 3,
            //         options: []
            //     },
            //     {
            //         name: '学期考试',
            //         id: 4,
            //         options: []
            //     }
            // ],
            default_chart: "line",
            default_option: {},
            line_option: {
                legend: {
                    data: []
                },
                xAxis: {
                    data: []
                },
                series: [{
                        data: [],
                        type: 'line',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'line',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'line',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'line',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'line',
                        name: ''
                }],
                resize: 'line'
            },
            bar_option: {
                legend: {
                    data: []
                },
                xAxis: {
                    data: ['不合格率', '合格率', '良好率', '优秀率']
                },
                yAxis: {
                    axisLabel: {
                        formatter: '{value}%',
                    },
                },
                series: [{
                        data: [],
                        type: 'bar',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'bar',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'bar',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'bar',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'bar',
                        name: ''
                }],
                resize: 'bar'
            },
            boxplot_option: {
                legend: {
                    data: []
                },
                xAxis: {
                    data: []
                },
                series: [{
                        data: [],
                        type: 'boxplot',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'boxplot',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'boxplot',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'boxplot',
                        name: ''
                    },
                    {
                        data: [],
                        type: 'boxplot',
                        name: ''
                }],
                resize: 'boxplot'
            }
        }
    },
    methods: {
        get_course_list(){
            this.get_course_classes(this.course_id).then(data => {
                this.class_list = data
                data.forEach(element => {
                    this.class_relation[element._id] = element.name
                })
            })
        },
        selectClass(id, add, index){
            if(add) {
                if(this.select_class.length>5){
                    this.$message.warning("最多选择五个班级！")
                    return
                }
                this.select_class.push(id)
            }else {
                this.select_class.splice(index, 1)
            }
            this.get_chart()
        },
        changeType(type){
            this.default_chart = type
        },
        async getLabelList(){
            let res = await this.$api.Common.taskCategory(this.course_id)
            if(res.code == 200){
                this.course_category = res.data.list.map(item => {
                    item.id = item._id
                    item.options = []
                    return item
                })
            }
            this.get_course_category(0, this.course_category[0].id)
        },
        get_course_category(index, id){
            this.active_category = id
            let reqData = {
                category: id
            }
            this.$api.Course.get_course_category(this.course_id, reqData).then(resData => {
                if(resData.code == 200){
                    let data = resData.data.map(element => {
                        let children = element.exams?element.exams:element.assignments
                        element.children = children.map(item => {
                            return {
                                value: item._id,
                                label: item.name
                            }
                        })
                        return {
                            children: element.children,
                            value: element._id,
                            label: element.name
                        }
                    })
                    this.$set(this.course_category[index], "options", data) 
                }
            })
        },
        get_chart(){
            let component = ""
            let data = this.default_id.map((element, index) => {
                if(index >= 6){
                    this.$message.warning("最多显示五次作业或者考试！")
                }else{
                    return element[1]
                }
            })
            if(this.select_class.length == 0){
                this.$message.warning("请选择班级！")
                return
            }
            let reqData = {
                classes: this.select_class,
            }
            if(this.active_category == 1){
                component = "Assignment"
                reqData.assignments = data
            }else{
                component = "Exam"
                reqData.exams = data
            }
            this.$api[component].get_multiClassChart(reqData).then(resData => {
                if(resData.code == 200){
                    this.line_option.xAxis.data = []
                    this.line_option.legend.data = []
                    this.bar_option.legend.data = []
                    this.boxplot_option.legend.data = []
                    let index = 0
                    for(let key in resData.data){
                        this.line_option.series[index].data = []
                        this.line_option.series[index].name = this.class_relation[key]
                        this.bar_option.series[index].name = this.class_relation[key]
                        this.boxplot_option.series[index].name = this.class_relation[key]
                        this.boxplot_option.xAxis.data = []
                        this.line_option.legend.data.push(this.class_relation[key])
                        this.bar_option.legend.data.push(this.class_relation[key])
                        this.boxplot_option.legend.data.push(this.class_relation[key])
                        resData.data[key].forEach((element, i) => {
                            this.line_option.series[index].data.push(element.avgT)
                            let name = element.exam?element.exam.name:element.assignment.name
                            this.line_option.xAxis.data.push(name)
                            this.boxplot_option.xAxis.data.push(name)
                            this.$set(this.bar_option.series[index].data, 0, element.scoreRatio[3].value*100)  
                            this.$set(this.bar_option.series[index].data, 1, element.scoreRatio[2].value*100)  
                            this.$set(this.bar_option.series[index].data, 2, element.scoreRatio[1].value*100)  
                            this.$set(this.bar_option.series[index].data, 3, element.scoreRatio[0].value*100)
                            this.boxplot_option.series[index].data[i] = []
                            this.$set(this.boxplot_option.series[index].data[i], 0, element.minT)
                            this.$set(this.boxplot_option.series[index].data[i], 1, element.percent25T)
                            this.$set(this.boxplot_option.series[index].data[i], 2, element.midT)
                            this.$set(this.boxplot_option.series[index].data[i], 3, element.percent75T)
                            this.$set(this.boxplot_option.series[index].data[i], 4, element.maxT)   
                        })
                        index++
                    }
                    this.line_option.resize+= 'line'
                    this.bar_option.resize+= 'bar'
                    this.boxplot_option.resize+= 'boxplot'
                }
            })
        }
    },
    created(){
        this.default_option = this.line_option
        this.get_course_list()
        this.getLabelList()
    },
    mounted(){
        let name = window.sessionStorage.getItem('name')
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["课程", name, "数据对比"]
        })
    },
    watch: {
        default_chart(newVal){
            if(newVal == 'line'){
                this.default_option = this.line_option
            }
            else if(newVal == 'bar'){
                this.default_option = this.bar_option
            }
            else if(newVal == 'boxplot'){
                this.default_option = this.boxplot_option
            }
            this.default_option.resize+= newVal
        }
    }
}
</script>

<style lang="scss">
.category{
    position: relative;
    .el-button{
        position: relative;
    }
    .el-cascader{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}
</style>
<style lang="scss" scoped>
.panel-content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    div{
        padding: 10px 4px;
    }
}
.chart-content{
    width: 100%;
    height: 300px;
}
</style>