<template>
    <div>
        <StudentHeader name="学生数据" :subjects="subjects" :search="false" @change="changeTab">
            <div>
                <el-button type="primary" @click="create_dialog=true;temp_class_name=''">设置分组</el-button>
            </div>
        </StudentHeader>
        <div class="data-analysis">
            <el-row :span="24" class="student-score-title">
                <el-col class="student-score-title-item">排名</el-col>
                <el-col class="student-score-title-item">学生姓名</el-col>
                <el-col class="student-score-title-item">状态</el-col>
                <el-col class="student-score-title-item">成绩</el-col>
                <el-col class="student-score-title-item"> &nbsp;&nbsp; </el-col>
            </el-row>
                <el-row class="score-item-details" v-for="(score, index) in scoreData" :key="index">
                <el-col class="score-item-detail">{{ index*current_page+1 }}</el-col>
                <el-col class="score-item-detail">{{ score.student?score.student.nickname: "" }}</el-col>
                <el-col class="score-item-detail">{{ JudgeScore(score.score) }}</el-col>
                <el-col class="score-item-detail">{{ score.score }}</el-col>
                <el-col class="score-item-detail">{{ score.other }}</el-col>
            </el-row>
            <div class="bottom-button">
                <el-pagination layout="prev, pager, next" :current-page="current_page" :page-size="page_size" :total="total_count" @current-change="get_grade"></el-pagination>
                <el-button type="primary">生成Excel</el-button>
            </div>
        </div>
        <Dialog title="创建分组" :visible="create_dialog"  width="620px" :close="()=>{create_dialog=false}" @dialogSure="creatClassTemp">
            <div slot="dialog-content" class="dialog-content">
                <el-row>
                    <el-col :span="3">名称</el-col>
                    <el-col :span="21"><el-input v-model="temp_class_name"></el-input></el-col>
                </el-row>
            </div>
        </Dialog>
    </div>
</template>
<script>
import StudentHeader from '../../components/pubilc/student-header'
import utils from '@/utils/index'
import Dialog from '@/components/pubilc/dialog'
export default {
    components: {
        StudentHeader, Dialog
    },
    data(){
        return {
            id: utils.getQueryString("id"),
            class_id: utils.getQueryString("class_id"),
            type: utils.getQueryString("type"),
            course_id: utils.getQueryString("course_id"),
            ratio: {},
            subjects: [
                {
                    name: '总人数',
                    id: "total"
                },
                {
                    name: '优秀',
                    id: "excellent"
                },
                {
                    name: '良好',
                    id: "good"
                },
                {
                    name: '合格',
                    id: "pass"
                },
                {
                    name: '不合格',
                    id: "faild"
                },
            ],
            scoreData: [],
            current_page: 1,
            page_size: 20,
            total_count: 0,
            create_dialog: false,
            temp_class_name: ""
        }
    },
    methods: {
        get_grade(page, score) {
            let reqData = {
                sorter: "score|DESC",
                current: page?page:this.current_page,
                pageSize: this.page_size
            }
            let where = {
                classes: this.class_id,
            }
            if(score) where.score = score
            let component = "get_student_assignment"
            if(this.type == 'exams'){
                component = "get_stuExam"
                where.exam = this.id 
                reqData.where = JSON.stringify(where)
            }else{
                where.assignment = this.id 
                reqData.where = JSON.stringify(where)
            }
            this.$api.Teacher[component](reqData).then(resData => {
                if(resData.code == 200) {
                    this.scoreData = resData.data.list
                    this.current_page = resData.data.pagination.current,
                    this.total_count = resData.data.pagination.total
                }
            })
        },
        changeTab(val) {
            let score = {}
            if(val == "excellent") {
                score = {$gte: this.ratio.third}
            }else if(val == "good") {
                score = {$lt: this.ratio.third, $gte: this.ratio.second}
            }else if(val == "pass") {
                score = {$lt: this.ratio.second, $gte: this.ratio.first}
            }else if(val == "faild") {
                score = {$lt: this.ratio.first}
            }else{
                score = null
            }
            this.get_grade(1, score)
        },
        JudgeScore(score) {
            if(score < this.ratio.first) {
                return "不合格"
            }else if(score >= this.ratio.first && score < this.ratio.second) {
                return "合格"
            }else if(score >= this.ratio.second && score < this.ratio.third) {
                return "良好"
            }else if(score >= this.ratio.third) {
                return "优秀"
            }
        },
        creatClassTemp() {
            let reqData = {
                name: this.temp_class_name,
                course: this.course_id,
                students: this.scoreData.map(element => {
                    return element.student._id
                })
            }
            this.create_dialog = false
            this.$api.Course.create_courseClass_temp(reqData).then(resData => {
                if(resData.code == 200) {
                    this.$message.success("创建分组成功！")
                }
            })
        }
    },
    created() {
        this.ratio = JSON.parse(utils.getQueryString("ratio"))
        // for(let key in JSON.parse(utils.getQueryString("ratio"))){
        //     this.ratio.push(JSON.parse(utils.getQueryString("ratio"))[key])
        // }
        this.get_grade(1)
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
@import '../../assets/css/dataTable.scss';
.data-analysis{
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: $--white
}
.bottom-button{
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.el-row{
    line-height: 32px;
}
</style>