<template>
    <div>
        <div class="edit-model-add-course" v-if="mode=='edit'">
            <!-- <el-button type="primary" @click="postUnit()">预览</el-button> -->
            <el-button type="primary" @click="addUnit()">添加新单元</el-button>
        </div>
        <div v-for="(unit, i) in unit_list" :key="i" class="first-level">
            <Unit :title="formatName(unit.name, unit.editUser)" :level="1" :mode="mode" type="unit" :build="unit.build"
                @add-unit="addUnit(1, i)" @delete-unit="delUnit(unit._id, $event, 1, i)" 
                @hide-unit="showUnit(1, 'hide', i)" @show-unit="showUnit(1, 'show', i)"
                @save-unit="saveUnit(unit._id, $event, 1, i)"></Unit>

                <div v-for="(second_value, second_key) in unit.second_level" :key="second_key">
                    <div v-for="(second, j) in second_value" :key="j" v-show="unit.show_second">
                        <Unit :title="formatName(second.name, second.editUser)" :level="2" :type="second_key" :status="second.status"
                            :mode="mode" :typeList="typeList.second_level" :build="second.build" :time="second.endTime" :mark="second.summary"
                            @add-unit="addUnit(2, i, second_key, j)" @visible-range="visibleRange(second.visible, second.freezed, second._id, second.status, 2, i, unit._id, second_key, j)" @delete-unit="delUnit(second._id, $event, 2, i, unit._id, second_key, j)" 
                            @hide-unit="showUnit(2, 'hide', i, second_key, j)" @show-unit="showUnit(2, 'show', i, second_key, j)" 
                            @save-unit="saveUnit(second._id, $event, 2, i, unit._id, second_key, j)" @to-page="toPage(second._id, unit._id, second.name, $event, second.status, second.editUser)"></Unit>
                        
                        <div v-for="(third_value, third_key) in second.third_level" :key="third_key" v-show="second.show_third">
                            <div v-for="(third, z) in third_value" :key="z">
                                <Unit :title="formatName(third.name, third.editUser)" :level="3" :type="third_key" :status="third.status"
                                    :mode="mode" :build="third.build" :time="third.endTime" :mark="third.summary" 
                                    :typeList="typeList.third_level"
                                    @visible-range="visibleRange(third.visible, third.freezed, third._id, third.status, 3, i, second._id, second_key, j, third_key, z)" @delete-unit="delUnit(third._id, $event, 3, i, second._id, second_key, j, third_key, z)" 
                                    @save-unit="saveUnit(third._id, $event, 3, i, second._id, second_key, j, third_key, z)" @to-page="toPage(third._id, unit._id, third.name, $event, third.status, third.editUser)"></Unit>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- <div style="width:400px;height:300px;">
            <Chart id="custom_boxplot" :option="chart_option" style="width:400px;height:300px;"></Chart>
        </div> -->
        <!-- <div class="question-bottom-tool" v-if="mode=='edit'"> -->
            <!-- <el-button type="primary" @click="postUnit()">预览</el-button> -->
            <!-- <el-button type="primary" plain @click="addUnit()">添加新单元</el-button>
        </div> -->
        <Dialog title="可见范围" :visible="delDialog" width="40%" :close="() => {delDialog = false}" @dialogSure="saveRange">
            <div slot="dialog-content" class="dialog-content">
                <div v-for="(item, index) in default_classes" :key="item._id">
                    <el-button type="primary" v-if="item.visible && !item.freezed" @click="showSelect(index)">{{item.name}}</el-button>
                    <el-button type="info" v-if="item.freezed" @click="addClass(index)">{{item.name}}</el-button>
                    <el-button v-if="!item.visible && !item.freezed" @click="addClass(index)">{{item.name}}</el-button>
                </div>
            </div>
        </Dialog>
        <Dialog title="可见范围" :visible="selectDialog" :close="() => {selectDialog = false}" @dialogSure="actionClass">
            <div slot="dialog-content" class="dialog-content">
                <el-radio v-model="visible_type" label="del">取消可见</el-radio>
                <el-radio v-model="visible_type" label="freezed">禁止查看</el-radio>
            </div>
        </Dialog>
    </div>
</template>

<script>
import Unit from '@/components/mode/unit'
import Dialog from '@/components/pubilc/dialog'
import Chart from '@/components/pubilc/chart'
import utils from '@/utils/index'
import Classes from '@/mixins/classes'
import Io from '../../http/socketIo'
import editModeScoket from '../../mixins/editModeScoket'
import Cookie from 'js-cookie'
export default {
    components: { Unit, Dialog, Chart },
    mixins: [Classes, editModeScoket],
    data() {
        return {
            identity: 'student',
            mode: utils.getQueryString("type"),
            course: utils.getQueryString("course_id"),
            name: utils.getQueryString("name"),
            source: utils.getQueryString("source"),
            default_id: "",
            default_type: "",
            default_item: {},
            class_list: [],
            default_classes: [],
            default_class_item: "",
            unit_list: [],
            delDialog: false,
            selectDialog: false,
            visible_type: "del",
            typeList: {
                second_level: {
                    chapters: {
                        name: "小节"
                    },
                    coursewares: {
                        name: "课件"
                    },
                    exams: {
                        name: "测试"
                    },
                    assignments: {
                        name: "作业"
                    }
                },
                third_level: {
                    assignments: {
                        name: "作业"
                    },
                    exams: {
                        name: "测试"
                    },
                    coursewares: {
                        name: "课件"
                    },
                }
            },
            chart_option: {
                xAxis: {
                    data: ['几何'],
                },
                series: [
                    {
                        type: 'boxplot',
                        data: [
                            [20, 30, 60, 50, 30, 66, 45, 89],
                        ]
                    },
                    {
                        type: "customLine",
                        data: [80]
                    }
                ]
            }
        }
    },
    methods: {
        addUnit(level, i, second_key, j) {
            if(!level){
                this.unit_list.push({
                    name: "",
                    id: "",
                    visible: [],
                    show_second: true,
                    second_level: {
                        chapters: [],
                        assignments: [],
                        build: [],
                        coursewares: [],
                        exams: []
                    },
                    build: true
                })
            }
            else if(level == 1){
                this.unit_list[i].second_level.build.push({
                    name: "",
                    id: "",
                    type: "",
                    visible: [],
                    third_second: true,
                    third_level: {
                        assignments: [],
                        build: [],
                        coursewares: [],
                        exams: []
                    },
                    build: true
                })
            }
            else if(level == 2){
                this.unit_list[i].second_level[second_key][j].third_level.build.push({
                    name: "",
                    id: "",
                    type: "",
                    visible: [],
                    build: true
                })
            }
            this.showUnit(level, "show", i, second_key, j)
        },
        saveUnit(id, params, level, i, unit, second_key, j, third_key, z) {
            let item = this.getLevel(level, i, second_key, j, third_key, z)
            let type = ""
            if(!id) {
                let create_unit = {
                    unit: "create_unit",
                    chapters: "create_unit",
                    assignments: "create_assignment",
                    exams: "create_exam",
                    coursewares: "create_courseware"
                }
                let flag = this.unit_handle(params.type, unit)
                if(!flag){
                    return
                }
                this.createUnit(params.title, unit, create_unit[params.type]).then(data => {
                    item._id = data._id
                    item.name = data.name
                })
            }else{
                let edit_unit = {
                    unit: "edit_unit",
                    chapters: "edit_unit",
                    assignments: "edit_assignment",
                    exams: "edit_exam",
                    coursewares: "edit_courseware"
                }
                this.editUnit(id, params.title, edit_unit[params.type]).then(data => {
                    item.name = params.title
                })
            }
        },
        delUnit(id, type, level, i, unit, second_key, j, third_key, z) {
            this.$confirm('该栏目下的子集项目将被一并删除', '是否确认删除', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                if(level == 1){
                    this.unit_list.splice(i, 1)
                }
                else if(level == 2){
                    this.unit_list[i].second_level[second_key].splice(j, 1)
                }
                else if(level == 3){
                    this.unit_list[i].second_level[second_key][j].third_level[third_key].splice(z, 1)
                }
                let del_unit = {
                    unit: "del_unit",
                    chapters: "del_unit",
                    assignments: "del_assignment",
                    exams: "del_exam",
                    coursewares: "del_courseware"
                }
                this.deleteUnit(id, del_unit[type])

            }).catch(() => {});
        },
        visibleRange(visible, freezed, id, status, level, i, unit, second_key, j, third_key, z) {
            this.default_item = this.getLevel(level, i, second_key, j, third_key, z)
            this.default_id = id
            let flag = this.unit_handle(this.default_type, unit)
            if(!flag){
                return
            }
            if(status != 'release'){
                this.$message.warning("请先发布！")
                return
            }
            this.delDialog = true
            this.default_classes = JSON.parse(JSON.stringify(this.class_list))
            // this.default_classes.forEach(element => {
            //     range.forEach(item => {
            //         if(item.classes == element._id){
            //             element[item.status] = true
            //         }
            //     })
            // })
            this.default_classes.forEach(element => {
                if(visible.indexOf(element._id) >= 0){
                    element["visible"] = true
                }
                if(freezed.indexOf(element._id) >= 0){
                    element["freezed"] = true
                }
            })
        },
        addClass(index) {
            this.default_classes[index].visible = true
            this.default_classes[index].freezed = false
            this.$set(this.default_classes, index, this.default_classes[index])
        },
        showSelect(index) {
            this.default_class_item = index
            this.selectDialog = true
        },
        actionClass() {
            let index = this.default_class_item
            if(this.visible_type == 'del'){
                this.default_classes[index].visible = false
                this.$set(this.default_classes, index, this.default_classes[index])
            }else if(this.visible_type == 'freezed'){
                this.default_classes[index].visible = false
                this.default_classes[index].freezed = true
                this.$set(this.default_classes, index, this.default_classes[index])
            }
            this.selectDialog = false
        },
        saveRange() {
            let classes = []
            let forzen_classes = []
            let deleted = []
            // let release = []
            this.default_classes.forEach(element => {
                if(element.visible){
                    classes.push(element._id)
                    // release.push({status: 'visible', classes: element._id})
                }
                if(element.freezed){
                    forzen_classes.push(element._id)
                    // release.push({status: 'freezed', classes: element._id})
                }
                if(!element.freezed && !element.visible){
                    deleted.push(element._id)
                }
            })
            let edit_unit_visible = {
                unit: "edit_unit",
                chapters: "edit_unit",
                assignments: "edit_assignment_visible",
                exams: "edit_exam_visible",
                coursewares: "edit_courseware_visible"
            }
            this.editUnit(this.default_id, this.default_item.title, edit_unit_visible[this.default_type], classes, forzen_classes, deleted).then(data => {
                this.default_item.visible = classes
                this.default_item.freezed = forzen_classes
                this.delDialog = false
            })
        },
        showUnit(level, type, i, second_key, j) {
            if(level == 1){
                this.unit_list[i].show_second = type=='show'?true:false
            }
            else if(level == 2){
                this.unit_list[i].second_level[second_key][j].show_third = type=='show'?true:false
            }
        },
        getLevel(level, i, second_key, j, third_key, z){
            if(level == 1){
                this.default_type = "unit"
                return this.unit_list[i]
            }
            else if(level == 2){
                this.default_type = second_key
                return this.unit_list[i].second_level[second_key][j]
            }
            else if(level == 3){
                this.default_type = third_key
                return this.unit_list[i].second_level[second_key][j].third_level[third_key][z]
            }
        },
        unit_handle(type, unit){
            if(!unit && type != 'unit' && type != 'chapters'){
                this.$message.warning("请先保存上一层目录！")
                return false
            }
            return true
        },
        init() {
            let id = this.course
            let component = ""
            let api = ""
            if(this.identity == 'teacher'){
                if(this.mode == 'mark'){
                    component = this.$api.Course
                    api = "get_course_mark_detail"
                }else{
                    component = this.$api.Course
                    api = "get_course_detail"
                }
                // if(this.source == "class") {
                //     component = this.$api.Classes
                //     api = "get_class_course_detail"
                // }
            }else{
                component = this.$api.Student
                api = "get_student_course_detail"
            }
            component[api](id).then(resData => {
                if(resData.code == 200){
                    let child = []
                    resData.data.forEach(item => {
                        if(!item.unit){
                            item.show_second = true
                            item.second_level = {}
                            if(this.identity == 'teacher'){
                                item.second_level.assignments = item.assignments
                                item.second_level.coursewares = item.coursewares
                                item.second_level.exams = item.exams
                            }else{
                                item.second_level.assignments = this.handle_student_data(item.assignments)
                                item.second_level.coursewares = this.handle_student_data(item.coursewares)
                                item.second_level.exams = this.handle_student_data(item.exams)
                            }
                            item.second_level.chapters = []
                            item.second_level.build = []
                            if(item.submenu){
                                item.submenu.forEach(element => {
                                    element.show_third = true
                                    element.third_level = {}
                                    if(this.identity == 'teacher'){
                                        element.third_level.assignments = element.assignments
                                        element.third_level.coursewares = element.coursewares
                                        element.third_level.exams = element.exams
                                    }else{
                                        element.third_level.assignments = this.handle_student_data(element.assignments)
                                        element.third_level.coursewares = this.handle_student_data(element.coursewares)
                                        element.third_level.exams = this.handle_student_data(element.exams)
                                    }
                                    element.third_level.build = []
                                    item.second_level.chapters.push(element)
                                })
                            }
                            this.unit_list.push(item)
                        }else{
                            child.push(item)
                        }
                        if(this.identity == 'teacher'){
                            this.socket()
                        }
                    })
                }
            })
        },

        get_classes(){
            this.get_course_classes(this.course).then(data => {
                this.class_list = data
            })
        },
        createUnit(name, unit, type) {
            let reqData = {
                name: name,
                course: this.course,
            }
            if(unit) reqData.unit = unit
            let api = {
                create_unit: this.$api.Course,
                create_exam: this.$api.Exam,
                create_assignment: this.$api.Assignment,
                create_courseware: this.$api.Courseware
            }
            return new Promise((resolve, reject) => {
                api[type][type](reqData).then(resData => {
                    if(resData.code == 200){
                        this.$message.success("创建成功！")
                        resolve(resData.data)
                    }
                })
            })
        },
        editUnit(id, name, type, visible, freezed, deleted) {
            let reqData = {
                id: id,
                name: name,
            }
            if(visible){
                reqData.visible = visible
            }
            if(freezed){
                reqData.freezed = freezed
            }
            if(deleted){
                reqData.deleted = deleted
            }
            let api = {
                edit_unit: this.$api.Course,
                edit_exam: this.$api.Exam,
                edit_exam_visible: this.$api.Exam,
                edit_assignment: this.$api.Assignment,
                edit_assignment_visible: this.$api.Assignment,
                edit_courseware: this.$api.Courseware,
                edit_courseware_visible: this.$api.Courseware,
            }
            return new Promise((resolve, reject) => {
                api[type][type](id, reqData).then(resData => {
                    if(resData.code == 200){
                        this.$message.success("修改成功！")
                        resolve()
                    }
                })
            })
        },
        deleteUnit(id, type) {
            let reqData = {
                id: id
            }
            let api = {
                del_unit: this.$api.Course,
                del_exam: this.$api.Exam,
                del_assignment: this.$api.Assignment,
                del_courseware: this.$api.Courseware
            }
            api[type][type](id, reqData).then(resData => {
                if(resData.code == 200){
                    this.$message.success("删除成功！")
                }
            })
        },
        toPage(_id, unit, name, type, status, editUser = null) {
            if(editUser && editUser._id){
                return
            }
            if(!_id){
                this.$message.warning("请先保存该层目录！")
                return
            }
            let component_name = {}
            if(status == 'freezed'){
                return
            }
            if(this.mode == 'edit'){
                component_name = {
                    assignments: "CreateCourse",
                    exams: "CreateExamine",
                    coursewares: "Courseware"
                }
            }
            else if(this.mode == 'mark'){
                component_name = {
                    assignments: "AssignmentMark",
                    exams: "AssignmentMark"
                }
            }
            else if(this.mode == 'view'){
                if(this.identity == 'student'){
                    component_name = {
                        assignments: "studentAssignment",
                        exams: "Examination",
                        coursewares: "studentCourseware"
                    }
                }else{
                    component_name = {
                        assignments: "viewAssignmentExam",
                        exams: "viewAssignmentExam",
                        coursewares: "studentCourseware"
                    }
                }
            }
            this.$router.push({name: component_name[type], query: {course: this.course, unit: unit, id: _id, name: utils.formatStr(name), type: type}})
        },
        handle_student_data(data){
            let new_data = []
            data.map(element => {
                let item = ""
                if(element.assignment){
                    item = element.assignment
                }else if(element.exam){
                    item = element.exam
                }else if(element.courseware){
                    item = element.courseware
                }else{
                    item = element
                }
                new_data.push({
                    _id: element._id,
                    name: item.name,
                    status: element.status,
                    endTime: element.endTime?utils.formatDate(new Date(element.endTime), 'yyyy-MM-dd hh:mm:ss'):""
                })
            })
            return new_data
        },
        formatMode(){
            let modeList = {
                edit: "编辑模式",
                mark: "批改模式",
                view: "查看模式"
            }
            return modeList[this.mode]
        }
    },
    created(){
        this.identity = Cookie.get('identity')
        this.init()
        this.get_classes()
        let courseName = window.sessionStorage.getItem('name')
        let pathName = ["课程", courseName, this.formatMode()]
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: pathName
        })
        window.sessionStorage.setItem("breadcrumb", JSON.stringify(pathName))
    },
    destroyed(){
        if(this.identity == 'teacher'){
            this.Io && this.Io.disconnect()
        }
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/css/var.scss";
.first-level{
    padding-bottom: 32px;
}
.edit-model-add-course{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.dialog-content{
    display: flex;
    flex-wrap: wrap;
    .el-button{
        margin: 8px;
    }
}
</style>