<template>
  <div>
    <div v-if="identity == 'teacher'" class="edit-model-add-course">
      <el-button type="primary" @click="addUnit()">添加新单元</el-button>
    </div>
    <div v-for="(unit, i) in unit_list" :key="i" class="first-level">
      <Unit
        :title="formatName(unit.name, unit.editUser)"
        :level="1"
        type="unit"
        :build="unit.build"
        @add-unit="addUnit(1, i)"
        @delete-unit="delUnit(unit._id, $event, 1, i)"
        @hide-unit="showUnit(1, 'hide', i)"
        @show-unit="showUnit(1, 'show', i)"
        @save-unit="saveUnit(unit._id, $event, 1, i)"
      ></Unit>

      <div v-for="(second_value, second_key) in unit.second_level" :key="second_key">
        <div v-for="(second, j) in second_value" :key="j" v-show="unit.show_second">
          <Unit
            :title="formatName(second.name, second.editUser)"
            :level="2"
            :type="second_key"
            :status="second.status"
            :typeList="typeList.second_level"
            :build="second.build"
            :time="second.endTime"
            :mark="second.summary"
            :config="second.config"
            :showChart.sync="showChart"
            :getcurrentLabelScore="getcurrentLabelScore"
            @add-unit="addUnit(2, i, second_key, j)"
            @visible-range="visibleRange(second.visible, second.freezed, second._id, second.status, 2, i, unit._id, second_key, j)"
            @delete-unit="delUnit(second._id, $event, 2, i, unit._id, second_key, j)"
            @hide-unit="showUnit(2, 'hide', i, second_key, j)"
            @show-unit="showUnit(2, 'show', i, second_key, j)"
            @save-unit="saveUnit(second._id, $event, 2, i, unit._id, second_key, j)"
            @to-page="toPage(second._id, unit._id, second.name, $event, second.status, second.editUser)"
          ></Unit>

          <div
            v-for="(third_value, third_key) in second.third_level"
            :key="third_key"
            v-show="second.show_third"
          >
            <div v-for="(third, z) in third_value" :key="z">
              <Unit
                :title="formatName(third.name, third.editUser)"
                :level="3"
                :type="third_key"
                :status="third.status"
                :build="third.build"
                :time="third.endTime"
                :mark="third.summary"
                :config="third.config"
                :typeList="typeList.third_level"
                :showChart.sync="showChart"
                :getcurrentLabelScore="getcurrentLabelScore"
                @visible-range="visibleRange(third.visible, third.freezed, third._id, third.status, 3, i, second._id, second_key, j, third_key, z)"
                @delete-unit="delUnit(third._id, $event, 3, i, second._id, second_key, j, third_key, z)"
                @save-unit="saveUnit(third._id, $event, 3, i, second._id, second_key, j, third_key, z)"
                @to-page="toPage(third._id, unit._id, third.name, $event, third.status, third.editUser)"
              ></Unit>
            </div>
          </div>
        </div>
      </div>
    </div>
    <UnitChart :showChart.sync="showChart" :labelScore="currentLabelScore"/>
  </div>
</template>

<script>
import Unit from '@/components/mode/unit'
import Dialog from '@/components/pubilc/dialog'
import Chart from '@/components/pubilc/chart'
import utils from '@/utils/index'
import Classes from '@/mixins/classes'
import Io from '../../http/socketIo'
import editModeScoket from '../../mixins/editModeScoket'
import UnitChart from '@/components/mode/unit-Chart'
import Cookie from 'js-cookie'
export default {
  components: { Unit, Dialog, Chart, UnitChart },
  mixins: [Classes, editModeScoket],
  data() {
    return {
      identity: 'student',
      course: utils.getQueryString('course_id'),
      name: utils.getQueryString('name'),
      source: utils.getQueryString('source'),
      default_id: '',
      default_type: '',
      default_item: {},
      class_list: [],
      default_classes: [],
      default_class_item: '',
      unit_list: [],
      delDialog: false,
      selectDialog: false,
      visible_type: 'del',
      typeList: {
        second_level: {
          chapters: {
            name: '课堂',
          },
          coursewares: {
            name: '课件',
          },
          exams: {
            name: '测试',
          },
          assignments: {
            name: '作业',
          },
          tests: {
            name: '随堂测试',
          },
        },
        third_level: {
          assignments: {
            name: '作业',
          },
          exams: {
            name: '测试',
          },
          coursewares: {
            name: '课件',
          },
          tests: {
            name: '随堂测试',
          },
        },
      },
      showChart: false,
      currentLabelScore: {},
      chartLocal: {}
    }
  },
  methods: {
    getcurrentLabelScore(labelScore){
      this.currentLabelScore = labelScore
    },
    addUnit(level, i, second_key, j) {
      if (!level) {
        this.unit_list.push({
          name: '',
          id: '',
          build: true,
          visible: [],
          show_second: true,
          second_level: {
            build: [],
            chapters: [],
            assignments: [],
            coursewares: [],
            exams: [],
            tests: [],
          },
        })
      } else if (level == 1) {
        let data = {
          name: '',
          id: '',
          type: '',
          visible: [],
          third_second: true,
          third_level: {
            build: [],
            assignments: [],
            coursewares: [],
            exams: [],
            tests: [],
          },
          build: true,
        }
        this.unit_list[i].second_level.build.push(data)
      } else if (level == 2) {
        let data = {
          name: '',
          id: '',
          type: '',
          visible: [],
          build: true,
        }
        this.unit_list[i].second_level[second_key][j].third_level.build.push(data)
      }
      this.showUnit(level, 'show', i, second_key, j)
    },
    saveUnit(id, params, level, i, unit, second_key, j, third_key, z) {
      let item = this.getLevel(level, i, second_key, j, third_key, z)
      let type = ''
      if (!id) {
        let create_unit = {
          unit: 'create_unit',
          chapters: 'create_unit',
          assignments: 'create_assignment',
          exams: 'create_exam',
          coursewares: 'create_courseware',
          tests: 'create_test',
        }
        let flag = this.unit_handle(params.type, unit)
        if (!flag) {
          return
        }

        this.createUnit(params.title, unit, create_unit[params.type]).then(
          (data) => {
            item._id = data._id
            item.id = data._id
            item.name = data.name
          },
        )
      } else {
        let edit_unit = {
          unit: 'edit_unit',
          chapters: 'edit_unit',
          assignments: 'edit_assignment',
          exams: 'edit_exam',
          coursewares: 'edit_courseware',
          tests: 'edit_test',
        }
        this.editUnit(id, params.title, edit_unit[params.type]).then((data) => {
          item.name = params.title
        })
      }
    },
    delUnit(id, type, level, i, unit, second_key, j, third_key, z) {
      this.$confirm('该栏目下的子集项目将被一并删除', '是否确认删除', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          if (level == 1) {
            this.unit_list.splice(i, 1)
          } else if (level == 2) {
            this.unit_list[i].second_level[second_key].splice(j, 1)
          } else if (level == 3) {
            this.unit_list[i].second_level[second_key][j].third_level[
              third_key
            ].splice(z, 1)
          }
          let del_unit = {
            unit: 'del_unit',
            chapters: 'del_unit',
            assignments: 'del_assignment',
            exams: 'del_exam',
            coursewares: 'del_courseware',
            tests: 'del_test',
          }
          this.deleteUnit(id, del_unit[type])
        })
        .catch(() => {})
    },
    addClass(index) {
      this.default_classes[index].visible = true
      this.default_classes[index].freezed = false
      this.$set(this.default_classes, index, this.default_classes[index])
    },
    showSelect(index) {
      this.default_class_item = index
      this.selectDialog = true
    },
    showUnit(level, type, i, second_key, j) {
      if (level == 1) {
        this.unit_list[i].show_second = type == 'show' ? true : false
      } else if (level == 2) {
        this.unit_list[i].second_level[second_key][j].show_third =
          type == 'show' ? true : false
      }
    },
    getLevel(level, i, second_key, j, third_key, z) {
      if (level == 1) {
        this.default_type = 'unit'
        return this.unit_list[i]
      } else if (level == 2) {
        this.default_type = second_key
        return this.unit_list[i].second_level[second_key][j]
      } else if (level == 3) {
        this.default_type = third_key
        return this.unit_list[i].second_level[second_key][j].third_level[
          third_key
        ][z]
      }
    },
    unit_handle(type, unit) {
      if (!unit && type != 'unit' && type != 'chapters') {
        this.$message.warning('请先保存上一层目录！')
        return false
      }
      return true
    },
    init() {
      let id = this.course
      let component = ''
      let api = ''
      if (this.identity == 'teacher') {
        component = this.$api.Course
        api = 'get_course_mark_detail'

        // component = this.$api.Course
        // api = 'get_course_detail'
      } else {
        component = this.$api.Student
        api = 'get_student_course_detail'
      }
      component[api](id).then((resData) => {
        if (resData.code == 200) {
          let child = []
          resData.data.forEach((item) => {
            if (!item.unit) {
              item.show_second = true
              item.second_level = {}
              item.second_level.build = []
              if (this.identity == 'teacher') {
                item.second_level.assignments = item.assignments
                item.second_level.coursewares = item.coursewares
                item.second_level.exams = item.exams
                item.second_level.tests = item.tests
              } else {
                item.second_level.assignments = this.handle_student_data(
                  item.assignments,
                )
                item.second_level.coursewares = this.handle_student_data(
                  item.coursewares,
                )
                item.second_level.exams = this.handle_student_data(item.exams)
              }
              item.second_level.chapters = []
              if (item.submenu) {
                item.submenu.forEach((element) => {
                  element.show_third = true
                  element.third_level = {}
                  element.third_level.build = []
                  if (this.identity == 'teacher') {
                    element.third_level.assignments = element.assignments
                    element.third_level.coursewares = element.coursewares
                    element.third_level.exams = element.exams
                    element.third_level.tests = element.tests
                  } else {
                    element.third_level.assignments = this.handle_student_data(
                      element.assignments,
                    )
                    element.third_level.coursewares = this.handle_student_data(
                      element.coursewares,
                    )
                    element.third_level.exams = this.handle_student_data(
                      element.exams,
                    )
                  }
                  item.second_level.chapters.push(element)
                })
              }
              this.unit_list.push(item)
            } else {
              child.push(item)
            }
            if (this.identity == 'teacher') {
              this.socket()
            }
          })
        }
      })
    },

    get_classes() {
      this.get_course_classes(this.course).then((data) => {
        this.class_list = data
      })
    },
    createUnit(name, unit, type) {
      let reqData = {
        name: name,
        course: this.course,
      }
      if (unit) reqData.unit = unit
      let api = {
        create_unit: this.$api.Course,
        create_exam: this.$api.Exam,
        create_assignment: this.$api.Assignment,
        create_courseware: this.$api.Courseware,
        create_test: this.$api.Test,
      }
      return new Promise((resolve, reject) => {
        api[type][type](reqData).then((resData) => {
          if (resData.code == 200) {
            this.$message.success('创建成功！')
            resolve(resData.data)
          }
        })
      })
    },
    editUnit(id, name, type, visible, freezed, deleted) {
      let reqData = {
        id: id,
        name: name,
      }
      if (visible) {
        reqData.visible = visible
      }
      if (freezed) {
        reqData.freezed = freezed
      }
      if (deleted) {
        reqData.deleted = deleted
      }
      let api = {
        edit_unit: this.$api.Course,
        edit_exam: this.$api.Exam,
        edit_exam_visible: this.$api.Exam,
        edit_assignment: this.$api.Assignment,
        edit_assignment_visible: this.$api.Assignment,
        edit_courseware: this.$api.Courseware,
        edit_courseware_visible: this.$api.Courseware,
        edit_test: this.$api.Test,
      }
      return new Promise((resolve, reject) => {
        api[type][type](id, reqData).then((resData) => {
          if (resData.code == 200) {
            this.$message.success('修改成功！')
            resolve()
          }
        })
      })
    },
    deleteUnit(id, type) {
      let reqData = {
        id: id,
      }
      let api = {
        del_unit: this.$api.Course,
        del_exam: this.$api.Exam,
        del_assignment: this.$api.Assignment,
        del_courseware: this.$api.Courseware,
        del_test: this.$api.Test,
      }
      api[type][type](id, reqData).then((resData) => {
        if (resData.code == 200) {
          this.$message.success('删除成功！')
        }
      })
    },
    toPage(_id, unit, name, type, status, editUser = null) {
      if (editUser && editUser._id) {
        return
      }
      if (!_id) {
        this.$message.warning('请先保存该层目录！')
        return
      }
      let component_name = {}
      if (status == 'freezed') {
        return
      }
      if (this.identity == 'student') {
        component_name = {
          assignments: 'studentAssignment',
          exams: 'Examination',
          coursewares: 'studentCourseware',
        }
      } else {
        component_name = {
          assignments: 'viewAssignmentExam',
          exams: 'viewAssignmentExam',
          coursewares: 'viewAssignmentExam',
          tests: 'quiz',
        }
      }
      this.$router.push({
        name: component_name[type],
        query: {
          course: this.course,
          unit: unit,
          id: _id,
          name: utils.formatStr(name),
          type: type,
        },
      })
    },
    handle_student_data(data) {
      let new_data = []
      data.map((element) => {
        let item = ''
        if (element.assignment) {
          item = element.assignment
        } else if (element.exam) {
          item = element.exam
        } else if (element.courseware) {
          item = element.courseware
        } else {
          item = element
        }
        new_data.push({
          _id: element._id,
          name: item.name,
          status: element.status,
          endTime: element.endTime
            ? utils.formatDate(new Date(element.endTime), 'yyyy-MM-dd hh:mm:ss')
            : '',
          config: {
            _id: element._id,
            score: element.score,
            T: element.T
          }
        })
      })
      return new_data
    },
  },
  created() {
    this.identity = Cookie.get('identity')
    this.init()
    this.get_classes()
    let courseName = window.sessionStorage.getItem('name')
    let pathName = ['课程', courseName, '任务管理']
    this.$store.commit('setBreadcrumb', {
      name: this.$route.name,
      path: pathName,
    })
    window.sessionStorage.setItem('breadcrumb', JSON.stringify(pathName))
  },
  destroyed() {
    if (this.identity == 'teacher') {
      this.Io && this.Io.disconnect()
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.first-level {
  padding-bottom: 32px;
}
.edit-model-add-course {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.dialog-content {
  display: flex;
  flex-wrap: wrap;
  .el-button {
    margin: 8px;
  }
}
</style>
