<template>
    <div>
        <StudentHeader name="教务管理" :subjects="subjects" @change="changeTab" @clickSearchButton="FnSearch" />
        <div class="teacher-content" :style="{padding: tabComponents == 'Performance' ? '0' : '20px'}">
            <transition name="fade" mode="out-in" appear>
                <component :is="tabComponents" v-bind="{tabType: this.tabType}" :search="query" />
            </transition>
        </div>
    </div>
</template>
<script>
import StudentHeader from '../../components/pubilc/student-header'
import DataTable from '../../components/course/dataTable'
import EducationalTeacher from '../../components/course/educational-teacher'
import EducationalClass from '../../components/course/educational-class'
import TeachingAssistant from '../../components/course/teaching-assistant'
import Students from '../../components/course/students'
import Performance from '../../components/course/performance'
export default {
    components: {
        StudentHeader,
        DataTable,
        EducationalTeacher,
        EducationalClass,
        TeachingAssistant,
        Students,
        Performance
    },
    data(){
        return {
            subjects: [
                {
                    name: '教师',
                    id: 1
                },
                {
                    name: '班级',
                    id: 2
                },
                {
                    name: '助教',
                    id: 3
                },
                {
                    name: '学生',
                    id: 4
                },
                {
                    name: '成绩',
                    id: 5
                },
            ],
            tabComponents: 'EducationalTeacher',
            tabs: {
                1: 'EducationalTeacher',
                2: 'EducationalClass',
                3: 'EducationalTeacher',
                4: 'Students',
                5: 'Performance'
            },
            tabType: 1,
            query: ""
        }
    },
    methods: {
        changeTab(val){
            this.tabType = val
            this.tabComponents =  val ? this.tabs[val] : 'EducationalTeacher'
            this.query = ""
        },
        FnSearch(query){
            this.query = query
        }
    },
    created(){
        let name = window.sessionStorage.getItem('name')
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["课程", name, "教务管理"]
        })
    }
}
</script>
<style lang="scss">
@import '../../assets/css/var.scss';
.teacher-content{
    background-color: $--white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 60px;
}
</style>