<template>
    <div>
        <div class="existing-top">
            <div class="existing-title">
                课程管理
            </div>
            <el-button type="primary" @click="addCourseFn" v-if="user_role == 'Admin' || identity == 'student'">添加课程</el-button>
        </div>
        <div class="existing-item">
            <ExistingItem class="existing-item-inner" v-for="(item, index) in persionList" :key="index" :item="item" @deleteItem="deleteItem"/>
        </div>
        <!-- <AddCourse :disabled.sync="disabled" @addFinish="addFinish"/> -->
        <component :is="add_component" :disabled.sync="disabled" @addFinish="addFinish" @joinCourse="joinCourse" :close="() => {disabled = false}"></component>
    </div>
</template>
<script>
import ExistingItem from '../../components/course/existingItem'
import InviteCourse from '../../components/course/invite-course'
import AddCourse from './add-course'
import utils from '@/utils/index'
import Cookie from 'js-cookie';
export default {
    components: {
        ExistingItem,
        AddCourse,
        InviteCourse
    },
    data(){
        return {
            identity: 'student',
            class_id: utils.getQueryString('id'),
            add_component: "AddCourse",
            disabled: false,
            persionList: [],
            labelColors: ['#A21832', '#E98E1D', '#FFCB00', '#A1C618', '#23AC8A', '#269DC2', '#3E96FF', '#3471BA', '#2929DD', '#C529DD', '#DD2987', '#DD2952']
        }
    },
    methods: {
        getCourseList(){
            const params = {
                current: 1,
                pageSize: 99999,
                // where: JSON.parse(JSON.stringify())
            }
            let component = ""
            let api = ""
            if(this.identity == 'teacher'){
                if(!this.class_id){
                    component = this.$api.Course
                    api = "get_course_list"
                }else{
                    component = this.$api.Classes
                    api = "get_class_course"
                    this.add_component = "InviteCourse"
                    params.where = JSON.stringify({
                        classes: this.class_id
                    })
                }
            }else{
                component = this.$api.Student
                api = "get_student_course"
                this.add_component = "InviteCourse"
            }
            component[api](params).then(res => {
                if(res.code == 200){
                    // this.persionList = res.data.list.filter(item => {
                    this.persionList = res.data.list.filter((item) => {
                        if(!item.name){
                            item.name = item.course.name
                            item.color = item.course.color
                            item._id = item.course._id
                            item.source = "class"
                        }
                        return item
                    })
                }else{
                    this.$message.error(res.error || "获取列表失败")
                }
            })
        },
        addFinish(flag){
            if(flag){
                this.getCourseList()
            }
        },
        addCourseFn(){
            this.disabled = true
        },
        joinCourse(invite_code){
            let component = ""
            let api = ""
            let reqData = {}
            if(this.identity == 'teacher'){
                component = this.$api.Classes
                api = 'create_class_course'
                reqData = {
                    cno: invite_code,
                    classes: this.class_id
                }
            }else{
                reqData = {
                    inviteCode: invite_code,
                }
                component = this.$api.Student
                api = 'student_join_course'
            }
            component[api](reqData).then(resData => {
                if(resData.code == 200){
                    this.disabled = false
                    this.getCourseList()
                    this.$message.success("添加课程成功！")
                }else{
                    this.disabled = false
                    this.$message.error(resData.error?resData.error:'添加课程失败！')
                }
            })
        },
        deleteItem(id){
            this.$confirm('此操作将永久删除该课程, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$api.Course.delete_course(id).then(res => {
                    console.log(res)
                    if(res.code == 200){
                        this.$message.success("删除成功")
                        this.getCourseList()
                    }else{
                        this.$message.error(res.error || "删除失败")
                    }
                })
            }).catch(() => {})
        }
    },
    mounted () {
        this.getCourseList()
    },
    created(){
        this.identity = Cookie.get('identity')
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["课程", "已有课程"]
        })
    },
    computed: {
        user_role(){
            return this.$store.state.user.role
        }
    },
}
</script>
<style lang="scss" scoped>
.existing-title{
    font-size: 26px;
    font-weight: 550;
}
.existing-item{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    .existing-item-inner{
        margin: 0 20px 20px 0;
    }
}
.existing-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>