<template>
    <div class="couser-index">
        <el-row class="page-title clearfix">
            <el-col :span="16">
                <el-button type="primary" plain @click="toPage('educationalManagement')"><i class="el-icon-tickets"></i>教务管理</el-button>
                <!-- <el-button type="primary" plain @click="toPage('EditMode', 'view')"><i class="el-icon-view"></i>任务管理</el-button>
                <el-button type="primary" plain @click="toPage('EditMode', 'mark')"><i class="el-icon-finished"></i>批改模式</el-button> -->
                <el-button type="primary" plain @click="toPage('EditMode', 'edit')"><i class="el-icon-edit"></i>任务管理</el-button>
                <el-button type="primary" plain @click="toPage('DataComparison')"><i class="el-icon-edit"></i>班级数据对比</el-button>
            </el-col>
            <el-col :span="8" class="el-search-button-common">
                <!-- <el-input placeholder="请输入搜索内容" prefix-icon="el-icon-search">
                    <el-button slot="append" type="primary">搜索</el-button>
                </el-input> -->
                <!-- <input-group prefix-icon="el-icon-search"></input-group> -->
                <div v-if="cno">
                    <b>课程码：</b>{{ cno }}
                    <el-button type="text" v-clipboard:copy="cno" v-clipboard:success="onCopy" v-clipboard:error="onError">
                        <i class="el-icon-document-copy"></i>
                    </el-button>
                </div>
            </el-col>
        </el-row>
        <div class="page-content">
            <el-row :gutter="16">
                <Panel :span="8" title="待办事项">
                    <div slot="content">
                        <p class="backlog-item" v-for="(value, key) in backlog" :key="key" @click="toPage(value.component, value.type)">
                            <span>{{ value.title }}</span>
                            <span class="backlog-tag">{{ value.count }}</span>
                        </p>
                    </div>
                </Panel>
                <Panel :span="8" title="公告" more="查看" @more="toPage('Message', 'ClassProclamation')">
                    <div slot="content" class="notice">
                        <div class="notice-left">
                            <div class="curtain" :style="{position: curtain_position}">
                                <div class="class-title">接收消息班级</div>   
                                <div class="class-list" :style="{height: curtain_height}">
                                    <p class="class-item" v-for="(value, id) in notice.classes" :key="id">
                                        <span :title="value" class="notice-class-name">{{value}}</span>
                                        <span class="del-btn" @click="del_classes(id)"><i class="el-icon-close"></i></span>
                                    </p>
                                </div>
                                <p v-show="Object.keys(notice.classes).length>=5" class="more-button" @click="showMore()" v-html="show_more_html"></p>
                            </div>
                        </div>
                        <div class="notice-right">
                            <el-input type="textarea" :rows="8" placeholder="请输入公告内容" v-model="notice.content"></el-input>
                            <div class="edit-btn">
                                <el-button type="primary" plain @click="notice.edit_class_dialog=true">选择班级</el-button>
                                <el-button type="primary" @click="create_notice">发 布</el-button>
                            </div>
                        </div>
                    </div>
                </Panel>
                <Panel :span="8" title="班级学习情况">
                    <div slot="content">
                        <div class="classes" v-for="(item, index) in condition" :key="index">
                            <ratio-bar :title="`${condition_common_title}${item.unit}/${item.task}`" :step="item.progress" :label="item.classes.name">
                            </ratio-bar>
                        </div>
                    </div>
                </Panel>
            </el-row>
            <Panel :span="24" :title="''+general_situation.default_class_name" class="general-situation" :height="true">
                <div slot="header">
                    <el-dropdown @command="handleCommand">
                        <span class="el-dropdown-link">
                            {{general_situation.default_class_name}}<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="item in course_classes" :key="item._id" :command="item">{{item.name}}</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <!-- <span class="more-btn" @click="toPage('DataComparison')">班级数据对比</span> -->
                </div>
                <div slot="content">
                    <div class="total-num total-num-content">
                        <div class="total-num-content-item">
                            <data-block v-for="(value, key) in general_situation.count_people" :key="key" class="item-num"
                                :title="value.name" :front="value.num" :back="value.total?'/'+ value.total:''"></data-block>
                        </div>
                        <div>
                            <el-button type="primary" plain @click="showTurnOut">查看出勤情况</el-button>
                        </div>
                    </div>
                    <el-row :gutter="20" class="chart">
                        <el-col :span="8">
                            <div class="chart-header">
                                <div>截止日期未完成任务</div>
                                <div>
                                    <el-radio-group v-model="undone_task_type" size="small" @change="get_unfinished_student(undone_task_type)">
                                        <el-radio-button label="assignment">作业</el-radio-button>
                                        <el-radio-button label="exam">测试</el-radio-button>
                                    </el-radio-group>
                                </div>
                            </div>
                            <div class="student-content">
                                <div class="chart-item">
                                    <div v-for="(value, key) in unfinished_option[undone_task_type]" :key="key">
                                        <div>{{value[0][undone_task_type].name}} {{formatDate(value[0].endTime)}}</div>
                                        <div class="student-list">
                                            <div class="student-box" v-for="item in value" :key="item._id">
                                                <div class="performance-student-image">
                                                    <img :src="item.student.avatarUrl" v-if="item.student.avatarUrl">
                                                    <i class="student-image-size el-icon-user-solid" v-else></i>
                                                </div>
                                                <p class="student-name">{{ item.student.nickname }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <el-button type="primary" @click="toPage('Message', 'SendMessage')">发消息</el-button>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="8"><Chart id="work" :option="work_option" class="chart-item"></Chart></el-col>
                        <el-col :span="8"><Chart id="exam" :option="exam_option" class="chart-item"></Chart></el-col>
                    </el-row>
                </div>
            </Panel>
        </div>
        <Dialog title="修改接受消息班级" :visible="notice.edit_class_dialog" :close="()=>{notice.edit_class_dialog=false}" @dialogSure="save_notice_classes" width="600px">
            <div slot="dialog-content" class="dialog-content">
                <div v-for="item in course_classes" :key="item._id" class="item">
                    <el-button v-if="notice.classes_copy[item._id]" type="primary">{{item.name}}</el-button>
                    <el-button v-else @click="add_classes(item._id, item.name)">{{item.name}}</el-button>
                </div>
            </div>
        </Dialog>
        <Dialog title="出勤情况" 
            :visible="turnOut.flag" 
            :close="()=>{turnOut.flag=false}" 
            @dialogSure="() => {}" 
            width="900px"
            :footer="false"
            :close-on-click-modal="true">
            <div slot="dialog-content" class="dialog-content">
                <el-table
                    :data="turnOut.tableData"
                    style="width: 100%"
                    height="300"
                    stripe>
                    <el-table-column
                        prop="name"
                        label="学生姓名">
                        <template slot-scope="scope">
                            {{ scope.row.student ? scope.row.student.nickname : '' }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="absent"
                        align="center">
                        <template slot="header">
                            <span class="performance-icon performance-icon-3"></span>
                            缺勤
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="present"
                        align="center">
                        <template slot="header">
                            <span class="performance-icon performance-icon-2"></span>
                            出勤
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="poor"
                        align="center">
                        <template slot="header">
                            <span class="performance-icon performance-icon-1"></span>
                            不良
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="pass"
                        align="center">
                        <template slot="header">
                            <span class="performance-icon performance-icon-5"></span>
                            一般
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="excellent"
                        align="center">
                        <template slot="header">
                            <span class="performance-icon performance-icon-6"></span>
                            优秀
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="turnOut"
                        label="出勤情况">
                        <template slot-scope="scope">
                            <el-dropdown @command="(command) => {handleCommandParticipationPresent(command, scope)}">
                                <span class="el-dropdown-link">
                                    {{ scope.row.select.present ? present[scope.row.select.present].name : '请选择' }}
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="(item, index) in present" :key="index" :command="index">{{ item.name }}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="课堂参与度">
                        <template slot-scope="scope">
                            <!-- <el-dropdown >
                                {{ participation[scope.row.participation] }}
                                <i class="el-icon-arrow-down el-icon--right"></i>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="(item, index) in participation" 
                                        :key="index" :command="index">{{ item }}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown> -->
                            <el-dropdown @command="(command) => {handleCommandParticipation(command, scope)}">
                                <span class="el-dropdown-link">
                                    {{ scope.row.select.participation ? participation[scope.row.select.participation].name : '请选择' }}
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="(item, index) in participation" :key="index" :command="index">{{ item.name }}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div slot="footer">
                <el-button type="primary" plain @click="presentAll">标记为全部出勤</el-button>
                <el-button type="primary" @click="savePresent">保存</el-button>
                <el-button type="primary" @click="turnOut.flag=false">关闭</el-button>
            </div>
        </Dialog>
    </div>
</template>

<script>
import Panel from '@/components/pubilc/panel'
import Chart from '@/components/pubilc/chart'
import ratioBar from '@/components/pubilc/ratio-bar' 
import dataBlock from '@/components/pubilc/data-block'
import inputGroup from '@/components/pubilc/input-group'
import Dialog from '@/components/pubilc/dialog'
import utils from '@/utils/index'
import Classes from '@/mixins/classes'
import Common from '@/mixins/common'
export default {
    components: {
        Panel, Chart, ratioBar, dataBlock, inputGroup, Dialog
    },
    mixins: [Classes, Common],
    data() {
        return {
            course_id: utils.getQueryString("course_id"),
            name: utils.getQueryString("name"),
            cno: utils.getQueryString("cno"),
            course_classes: [],
            backlog: {
                work: {
                    title: '待批改的作业',
                    count: 0,
                    component: 'EditMode',
                    type: 'mark'
                },
                message: {
                    title: '待查看的信息',
                    count: 0,
                    component: 'Message',
                    type: 'Inform'
                },
                task: {
                    title: '待编辑的任务',
                    count: 0,
                    component: 'EditMode',
                    type: 'edit'
                },
                data: {
                    title: '待查看的数据',
                    count: 0,
                    component: 'EditMode',
                    type: 'mark'
                },
            },
            notice: {
                content: "",
                edit_class_dialog: false,
                classes: {},
                classes_copy: {}
            },
            condition: [],
            general_situation: {
                default_class_name: "",
                default_class_id: "",
                count_people: {
                    total: {
                        name: "班级总人数",
                        num: 0
                    },
                    exam: {},
                    assignment: {}
                }
            },
            curtain_position: "static",
            curtain_height: "142px",
            show_more_html: "查看更多<i class='el-icon-arrow-down'></i>",
            condition_common_title: "当前任务：",
            undone_task_type: "assignment",
            work_option:{
                title: {
                    text: '历史测验平均分',
                },
                xAxis: {
                    data: []
                },
                yAxis: {
                    axisLabel: {
                        formatter: '{value}',
                    },
                },
                series: [{
                    data: [],
                    type: 'line',
                }],
                resize: 0
            },
            exam_option:{
                title: {
                    text: '近期测验合格率',
                },
                xAxis: {
                    data: ['不合格率', '合格率', '良好率', '优秀率']
                },
                yAxis: {
                    axisLabel: {
                        formatter: '{value}%',
                    },
                },
                series: [{
                    data: [],
                    type: 'bar',
                }],
                resize: 0
            },
            unfinished_option:{
                exam: [],
                assignment: []
            },
            turnOut: {
                flag: false,
                tableData: []
            },
            participation: [
                {
                    code: "",
                    name: "请选择"
                },
                {
                    code: "poor",
                    name: "不良"
                },
                {
                    code: "pass",
                    name: "一般"
                },
                {
                    code: "excellent",
                    name: "优秀"
                },
            ],
            present: [
                {
                    code: "",
                    name: "请选择"
                },
                {
                    code: "present",
                    name: "出勤"
                },
                {
                    code: "absent",
                    name: "缺勤"
                },
            ]
        }
    },
    methods: {
        showTurnOut(){
            if(!this.general_situation.default_class_id){
                this.$message.error("缺少班级id")
                return
            }
            this.turnOut.flag = true
            this.$api.Course.get_course_present(this.general_situation.default_class_id).then(res => {
                if(res.code == 200){
                    this.turnOut.tableData = res.data.map(item => {
                        item.select = {
                            participation: 0,
                            present: 0,
                        }
                        return item
                    })
                }
            })
        },
        presentAll(){
            this.turnOut.tableData.map(item => {
                item.select.present = 1
            })
        },
        handleCommandParticipationPresent(command, scope){
            let index = scope.$index
            this.turnOut.tableData[index].select.present = command
        },
        handleCommandParticipation(command, scope){
            let index = scope.$index
            this.turnOut.tableData[index].select.participation = command
        },
        savePresent(){
            let data = this.turnOut.tableData.map(item => {
                let d = {
                    _id: item._id,
                    present: 0,
                    absent: 0,
                    poor: 0,
                    pass: 0,
                    excellent: 0
                }
                let participation = this.participation[item.select.participation].code
                let present = this.present[item.select.present].code
                if(participation){
                    d[participation] = 1
                }
                if(present){
                    d[present] = 1
                }
                return d
            })
            let params = {
                students: data
            }
            this.$api.Course.set_course_present(this.general_situation.default_class_id, params).then(res => {
                if(res.code == 200){
                    this.$message.success("保存成功")
                }
            })
        },
        get_classes(){
            this.get_course_classes(this.course_id).then(data => {
                this.course_classes = data
                this.general_situation.default_class_name = data[0]?data[0].name:""
                this.general_situation.default_class_id = data[0]?data[0]._id:""
                this.get_courseClass_summary()
            })
        },
        get_course_tode(){
            this.$api.Course.course_todo(this.course_id).then(resData => {
                if(resData.code == 200){
                    this.backlog.work.count = resData.data.check
                    this.backlog.message.count = resData.data.message
                    this.backlog.task.count = resData.data.edit
                    this.backlog.data.count = resData.data.data
                }
            })
        },
        get_course_speed(){
            this.$api.Course.course_speed(this.course_id).then(resData => {
                if(resData.code == 200){
                    this.condition = resData.data
                }
            })
        },
        toPage(name, type){
            let query = {
                course_id: this.course_id,
                name: utils.formatStr(this.name)
            }
            let params = {
                identity: "student"
            }
            if(type) query.type = type
            if(name == 'Message'){
                query.current = type
                let ids = []
                for(let key in this.unfinished_option[this.undone_task_type]) {
                    this.unfinished_option[this.undone_task_type][key].map(element => {
                        ids.push(element.student._id)
                    })
                }
                params.ids = ids
            }
            this.$router.push({name: name, query: query, params: params})
        },
        showMore() {
            if(this.curtain_position == "absolute"){
                this.curtain_position = "relative"
                this.curtain_height = "142px"
                this.show_more_html = `查看更多<i class='el-icon-arrow-down'></i>`
            }else{
                console.log(this.notice.classes, Object.keys(this.notice.classes).length)
                this.curtain_position = "absolute"
                this.curtain_height = 30 * Object.keys(this.notice.classes).length + "px"
                this.show_more_html = `隐藏<i class='el-icon-arrow-up'></i>`
            }
        },
        add_classes(id, name){
            this.$set(this.notice.classes_copy, id, name)
        },
        del_classes(id){
            this.$delete(this.notice.classes, id)
        },
        save_notice_classes(){
            this.notice.classes = JSON.parse(JSON.stringify(this.notice.classes_copy))
            this.notice.edit_class_dialog = false
        },
        create_notice(){
            if(!this.notice.content){
                this.$message.warning("请输入公告内容！")
                return
            }

            let reqData = {
                course: this.course_id,
                content: this.notice.content,
                classes: Object.keys(this.notice.classes)
            }
            this.$api.Message.create_courseNotice(reqData).then(resData => {
                if(resData.code == 200){
                    this.$message.success("公告发布成功！")
                    this.notice.content = ''
                }
            })
        },
        handleCommand(command) {
            this.general_situation.default_class_name = command.name
            this.general_situation.default_class_id = command._id
            this.get_courseClass_summary()
        },
        get_courseClass_summary(){
            this.$api.Course.get_courseClass_summary(this.general_situation.default_class_id).then(resData => {
                if(resData.code == 200){
                    this.general_situation.count_people.total.num = resData.data.total
                    this.general_situation.count_people.exam.name = resData.data.exam.exam?resData.data.exam.exam.name: ''
                    this.general_situation.count_people.exam.num = resData.data.exam.finished
                    this.general_situation.count_people.exam.total = resData.data.exam.total
                    this.general_situation.count_people.assignment.name = resData.data.assignment.assignment?resData.data.assignment.assignment.name:''
                    this.general_situation.count_people.assignment.num = resData.data.assignment.finished
                    this.general_situation.count_people.assignment.total = resData.data.assignment.total
                }
            })
            this.get_unfinished_student('assignment')
            this.get_exam_data()
        },
        get_unfinished_student(type){
            let reqData = {
                id: this.general_situation.default_class_id,
                current: 1,
                pageSize: 9999
            }
            let component = 'Assignment'
            if (type == 'exam') {
                component = 'Exam'
            }
            this.$api[component].get_unfinished_student(this.general_situation.default_class_id, reqData).then(resData => {
                if(resData.code == 200){
                    if(type=='assignment'){
                        this.unfinished_option.assignment = resData.data.list
                    }else{
                        this.unfinished_option.exam = resData.data.list
                    }
                    console.log("unfinished_option", this.unfinished_option)
                }
            })
        },
        get_exam_data(){
            this.$api.Exam.get_classLatestChart(this.general_situation.default_class_id).then(resData => {
                if(resData.code == 200){
                    this.work_option.xAxis.data = []
                    this.work_option.series[0].data = []
                    this.exam_option.series[0].data = []
                    resData.data.forEach((element, index) => {
                        if(index == 0){
                            this.$set(this.exam_option.series[0].data, 0, element.scoreRatio[3].value*100)
                            this.$set(this.exam_option.series[0].data, 1, element.scoreRatio[2].value*100)
                            this.$set(this.exam_option.series[0].data, 2, element.scoreRatio[1].value*100)
                            this.$set(this.exam_option.series[0].data, 3, element.scoreRatio[0].value*100)
                        }
                        this.work_option.xAxis.data.push(element.exam.name)
                        this.work_option.series[0].data.push(element.avgT)
                    })
                    this.exam_option.resize++
                    this.work_option.resize++
                }
            })
        },
        get_courseClass() {
            let params = {
                current: 1,
                pageSize: 999999,
                where: JSON.stringify({
                    course: this.course_id
                })
            }
            this.$api.Course.get_courseClass_list(params).then(res => {
                if(res.data == 200){
                    res.data.list.map(item => {
                    this.notice.classes[item._id] = item.name
                })
                }
            })
        },
        formatDate(time) {
            return utils.formatDate(new Date(time), 'yyyy-MM-dd hh:mm:ss')
        },
        onCopy(e){
            this.$message.success("复制成功！")
        },
        onError(e){
            this.$message.error("复制失败！")
        }
    },
    created() {
        this.get_classes()
        this.get_course_tode()
        this.get_course_speed()
        this.get_courseClass()
        let name = window.sessionStorage.getItem('name')
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["课程", name, "主页"]
        })
    },
    watch: {
        "notice.edit_class_dialog"(newVal){
            if(newVal){
                this.notice.classes_copy = JSON.parse(JSON.stringify(this.notice.classes))
            }
        }
    }
}
</script>

<style lang="scss">
@import '../../assets/css/var.scss';
.couser-index{
    .page-title{
        // display: flex;
        // justify-content: space-between;
        .el-button{
            padding: 12px 24px;
        }
    }
    .edit-btn{
        .el-button{
            min-width: 88px;
            padding: 8px 15px;
        }
    }
    .el-search-button-common{
        height: 40px;
        line-height: 40px;
        text-align: right;
        .el-input__inner{
            height: 40px;
            line-height: 40px;
            border: none;
            border-radius: 20px 0 0 20px;
        }
        .el-input-group__append{
            color: $--white;
            background-color: $--default;
            border: none;
            border-radius: 0 20px 20px 0;
            &:hover{
                background-color: $--default-light-8;
            }
        }
    }
    .el-textarea__inner{
        padding: 12px 15px;
        font-size: 12px;
    }
}
</style>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.notice-class-name{
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}
.backlog-item{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 0;
    border-bottom: 1px solid $--border;
    &:hover{
        color: $--default;
    }
    .backlog-tag{
        display: inline-block;
        width: 31px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        background-color: $--default;
        color: $--white;
        border-radius: 10px;
        cursor: pointer;
    }
}
.notice{
    display: flex;
    height: 100%;
    overflow: hidden;
    .notice-left{
        width: 82px;
        .class-title{
            height: 40px;
            line-height: 40px;
            font-size: 12px;
        }
        .class-list{
            position: relative;
            height: 142px;
            transition: height 0.6s;
            overflow: hidden;
            // z-index: 100;
            .class-item{
                position: relative;
                width: 67px;
                height: 20px;
                line-height: 20px;
                margin-bottom: 8px;
                font-size: 12px;
                text-indent: 6px;
                color: $--text-2;
                background: $--light;
                border: 1px solid $--border-1;
                border-radius: 4px;
                .del-btn{
                    position: absolute;
                    right: 2px;
                    cursor: pointer;
                }
            }
        }
        .more-button{
            margin-left: 4px;
            margin-top: 16px;
            font-size: 12px;
            cursor: pointer;
            color: $--default
        }
    }
    .notice-right{
        flex: 1 1 auto;
        padding-top: 12px;
        .edit-btn{
            margin-top: 10px;
            text-align: right;
        }
    }

}
.classes{
    font-size: 12px;
    padding-top: 12px;
}
.general-situation{
    .more-btn{
        margin-left: 16px;
        font-size: 12px;
        color: $--default;
    }
    .total-num{
        display: flex;
        padding: 24px 16px;
        height: 57px;
        border-bottom: 1px solid $--border;
        .item-num{
            padding: 0 20px;
        }
    }
    .total-num-content{
        display: flex;
        justify-content: space-between;
        .total-num-content-item{
            display: flex
        }
    }
}
.chart{
    padding: 20px;
    .chart-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }
    .chart-item{
        height: 280px;
    }
    .student-content{
        .chart-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;
        }
        .chart-item{
            padding-top: 8px;
            height: 176px;
            overflow: auto;
            .student-list{
                display: flex;
                flex-wrap: wrap;
                .student-box{
                    padding: 6px 8px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 12px;
                    .performance-student-image{
                        width: 40px;
                        height: 40px;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                        }
                        .student-image-size{
                            width: 40px;
                            height: 40px;
                            line-height: 46px;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    .btn-group{
        text-align: right;
    }
}
.page-nav {
    i{
        margin-right: 4px;
    }
    .right{
        width: 30%;
        min-width: 340px;
    }
}
.dialog-content{
    display: flex;
    flex-wrap: wrap;
    .item{
        margin: 4px;
    }
}
</style>