<template>
  <div>
    <div class="page-title">
      <div class="main-title">
        <div>{{name}}</div>
        <el-radio-group v-model="default_tab" @change="changeTab">
          <el-radio-button v-for="(value, key) in tab_list" :key="key" :label="key">{{ value }}</el-radio-button>
        </el-radio-group>
      </div>
      <div class="right-message">
        <span class="label">状态：</span>
        <span>{{info.status == 'draft' ? '编辑' : '已发布'}}</span>
        <span class="label" v-if="type == 'exmas'">总分：</span>
        <span v-if="type == 'exmas'">{{info.point}}</span>
        <!-- <span class="label">日期：</span>
        <span>{{info.startTime}}</span> -->
        <span class="label">创建日期：</span>
        <span>{{info.endTime}}</span>
      </div>
    </div>

    <div v-show="default_tab == 'task'">
      <div class="page-content-space">
        <div class="page-content-card left" v-show="type == 'assignments'">
          <div class="card-content-top">
            <div class="card-top-upload">
              <UploadFile class="card-top-upload" b="button" @uploadFile="uploadFileCallBack" :accept="accept">
                <el-button type="primary">
                  上传附件
                </el-button>
              </UploadFile>
              <el-tag type="info" v-for="(item, index) in info.attachments" :key="index">
                <span class="tag-name tag-name-upload-show" @click="download(item.url)"
                      :title="item.name">{{item.name}}</span>
              </el-tag>
            </div>
            <div v-show="editFlag">
              <Ueditor v-model="Assignmentsintroduction"></Ueditor>
              <!--<VueUeditorWrap :config="editorConfig" v-model="Assignmentsintroduction"/>-->
              <!-- <div class="editer-content" ref="editerAssignments"></div>-->

            </div>
            <div v-show="!editFlag" class="editer-content-style" v-html="info.introduction"></div>
          </div>
          <!-- <div class="card-content-bottom">
              <div class="title">作业评论</div>
              <div>{{info.comment}}</div>
          </div> -->
        </div>
        <div class="page-content-card left" v-show="type == 'exams'">
          <div class="card-content-top">
            <div class="title">简介：</div>
            <div v-show="editFlag">
              <Ueditor v-model="Examsintroduction"></Ueditor>
              <!-- <VueUeditorWrap :config="editorConfig" v-model="Examsintroduction"/>-->
              <!--<div class="editer-content" ref="editerExam"></div>-->
            </div>
            <div v-show="!editFlag" class="editer-content-style" v-html="info.introduction"></div>
          </div>
          <div class="bottome-button">
            <el-button type="primary" plain @click="PreviewFlag">预览</el-button>
            <el-button type="primary" plain @click="editQuestion">编辑考题</el-button>
          </div>
        </div>
        <div class="page-content-card left" v-show="type == 'coursewares'">
          <div class="card-content-top">
            <div v-if="msgFormSon==='上传中'" style="text-align: center">
              <img src="../../assets/images/loading.gif" alt="" >
            </div>
            <div class="card-top-upload">
              <UploadFile class="card-top-upload" b="button" @func="getMsgFormSon" @uploadFile="uploadFileCallBack" :accept="accept">
                <el-button type="primary">
                  上传附件
                </el-button>
              </UploadFile>
              <el-tag type="info" v-for="(item, index) in info.attachments" :key="index">
                <span class="tag-name tag-name-upload-show" @click="download(item.url)"
                      :title="item.name">{{item.name}}</span>
              </el-tag>
            </div>
            <div v-show="editFlag">
              <Ueditor v-model="Coursewaresintroduction"></Ueditor>
              <!--<VueUeditorWrap :config="editorConfig" v-model="Coursewaresintroduction"/>-->
              <!-- <div class="editer-content" ref="editerCoursewares"></div>-->
            </div>
            <div v-show="!editFlag" class="editer-content-style" v-html="info.introduction"></div>
          </div>
          <div class="card-content-bottom">
            <div class="title">课件评论</div>
            <div>{{info.comment}}</div>
          </div>
        </div>
        <div class="right">
          <Panel :span="24" :title="info.title" :more="panelTitle" :height="true" @more="clickEdit">
            <div slot="content">
              <!-- <div class="panel-row"><span class="label">状态：</span>{{info.status}}</div> -->
              <div v-if="type != 'coursewares'" class="panel-row panel-row-flex">
                <span class="label">类别：</span>
                <el-select class="input-short-2" v-model="info.category" placeholder="请选择" @change="saveExam">
                  <el-option
                    v-for="item in taskClassification"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id">
                  </el-option>
                </el-select>
              </div>
              <div v-if="type == 'assignments'" class="panel-row panel-row-flex">
                <span class="label">分数：</span>
                <el-input v-model="info.point" class="input-short-2" placeholder="请输入分数" @change="saveExam"></el-input>
              </div>
              <div class="panel-row panel-row-flex" v-if="type == 'exams'">
                <span class="label">时长：</span>
                <TimePicker width="150" :defaultVal="time.timeLong" iconName="el-icon-alarm-clock"
                            :time.sync="time.timeLong"/>
              </div>
              <div class="panel-row panel-row-flex">
                <span class="label">属性：</span>
                <div class="panel-row-flex-radio">
                  <el-radio v-model="isPublic" @change="saveExam" :label="false">个人</el-radio>
                  <el-radio v-model="isPublic" @change="saveExam" :label="true">公开</el-radio>
                </div>
                <!-- <el-radio-group class="input-short-2" v-model="info.isPublic">
                    <el-radio :label="false">个人</el-radio>
                    <el-radio :label="true">公开</el-radio>
                </el-radio-group> -->
              </div>
            </div>
          </Panel>
          <Panel v-if="type == 'assignments'" :span="24" title="题型" :height="true">
            <div slot="content">
              <div class="job-content-label">
                <div class="label-list">
                                    <span v-for="(item, index) in info.labels" :key="index">
                                        <JobLbael :item="item" :index="index" @deleteLabel="deleteLabel"/>
                                    </span>
                </div>
                <div class="add-label couser-item">
                  <div class="date-title end-time">添加标签</div>
                  <InputGroup :val="addLabelVal" :disabled="disabled" @clickBack="clickBack"/>
                </div>
              </div>
            </div>
          </Panel>
          <Panel :span="24" title="批阅" :more="type == 'coursewares' ? '' : '批改'" :height="true"
                 @more="toPage('AssignmentMark')">
            <div slot="content">
              <div class="panel-row-flex-button">
                <el-button type="primary" @click="addClass">添加班级</el-button>
                <el-button v-if="type == 'exams'" type="primary" @click="addClassUnified">统考</el-button>
              </div>
              <div>
                <!-- <span>{{mark_info.checked}}/{{mark_info.finished}}</span> -->
                <el-collapse v-model="activeName" accordion>
                  <el-collapse-item v-for="(item, index) in classDataList" :key="index"
                                    :title="item.classes ? item.classes.name+ ' ' + (item.checked || 0) + '/' + (item.finished || 0) :''"
                                    :name="item._id">
                    <div class="panel-row-flex">
                      <span style="width: 80px">开始时间：</span>
                      <el-date-picker
                        v-model="item.startTime"
                        class="input-short-1"
                        type="datetime"
                        placeholder="选择日期时间"
                        :picker-options="pickerOptions"
                        align="right" @change="(val) => {changeClassesDetail(val, 'startTime', item)}">
                      </el-date-picker>
                    </div>
                    <div class="panel-row-flex">
                      <span style="width: 80px">截至时间：</span>
                      <el-date-picker
                        v-model="item.endTime"
                        class="input-short-1"
                        type="datetime"
                        placeholder="选择日期时间"
                        :picker-options="pickerOptions"
                        align="right" @change="(val) => {changeClassesDetail(val, 'endTime', item)}">
                      </el-date-picker>
                    </div>
                    <div class="panel-row-flex">
                      <span style="width: 80px">答案显示：</span>
                      <div class="panel-row-flex-radio-padding">
                        <el-radio class="panel-row-flex-radio-p" v-model="item.answerShow" label="1"
                                  @change="(val) => {changeClassesDetail(val, 'answerShow', item)}">直接显示
                        </el-radio>
                        <el-radio class="panel-row-flex-radio-p" v-model="item.answerShow" label="2"
                                  @change="(val) => {changeClassesDetail(val, 'answerShow', item)}">截至日期显示
                        </el-radio>
                      </div>
                    </div>
                    <div class="panel-row-flex">
                      <span style="width: 80px">操  作：</span>
                      <div class="panel-row-flex-radio-padding">
                        <el-button type="primary" plain @click="todoExamClass(item, 'delete')">删除</el-button>
                        <el-button type="primary" plain @click="todoExamClass(item, 'freeze')">冻结</el-button>
                      </div>
                    </div>
                    <div class="panel-row-flex" v-if="type == 'exams' && item.type == 'live'">
                      <span style="width: 80px">考试操作：</span>
                      <div class="panel-row-flex-radio-padding">
                        <el-button type="primary" plain @click="startExam(item)">推送考试</el-button>
                      </div>
                    </div>
                  </el-collapse-item>
                </el-collapse>
              </div>
              <!-- <div class="panel-row"><span class="label">状态：</span>{{mark_info.status}}</div>
              <div class="panel-row"><span class="label">批改人数：</span>{{mark_info.checked}}</div> -->
            </div>
          </Panel>
        </div>
      </div>
    </div>

    <div v-if="default_tab == 'score'">
      <Panel :height="true">
        <Tabs :tabList="classes_list" slot="header" :current="class_id" @change-tab="change_class"></Tabs>
        <div class="assignment-content" slot="content">
          <el-table :data="score_list">
            <el-table-column prop="student.nickname" label="学生姓名"></el-table-column>
            <el-table-column label="查看作业">
              <template slot-scope="scope">
                                <span v-if="scope.row.status != 'checked' && scope.row.status != 'finished'">
                                    <el-button disabled type="text"><i class="el-icon-tickets"></i></el-button>
                                </span>
                <el-button v-else type="text" @click="toPage('correct', scope.row._id)"><i class="el-icon-tickets"></i>
                </el-button>
              </template>
            </el-table-column>
            <el-table-column prop="" label="完成时间">
              <template slot-scope="scope">
                {{getCompleteTime(scope.row.endExamTime, scope.row.submitTime)}}
              </template>
            </el-table-column>
            <el-table-column prop="score" label="得分">
              <template slot-scope="scope">
                {{scope.row.score?scope.row.score:(scope.row.status == 'finished'?'--':0)}}
              </template>
            </el-table-column>
            <el-table-column prop="" label="等级">
              <template slot-scope="scope">
                {{scope.row.grade?grade_relation[scope.row.grade]:'--'}}
              </template>
            </el-table-column>
            <el-table-column prop="teacher_remark" label="老师评语">
              <template slot-scope="scope">
                {{scope.row.teacher_remark?scope.row.teacher_remark:'--'}}
              </template>
            </el-table-column>
          </el-table>
        </div>
      </Panel>
    </div>
    <div v-if="default_tab == 'statistics'">
      <Panel :height="true">
        <Tabs :tabList="classes_list" slot="header" :current="class_id_statistics"
              @change-tab="change_class_statistics"></Tabs>
        <div class="assignment-content" slot="content">
          <dataAnalysisStatistics :class_id="class_id_statistics" :type="type" :class_name="class_id_statistics_name"/>
        </div>
      </Panel>
    </div>

    <div class="question-bottom-tool">
      <div class="question-button-left"></div>
      <div class="question-button-right">
        <el-button type="primary" v-if="info.status == 'draft'" @click="issueTask()">发 布</el-button>
        <el-button type="primary" @click="copyTask()">复 制</el-button>
        <el-button type="primary" plain @click="toPage()">返 回</el-button>
        <!-- <el-button type="primary" @click="toPage()">更多数据</el-button> -->
      </div>
    </div>
    <el-dialog
      title="添加班级"
      :visible.sync="dialogVisible"
      width="600px"
      :modal="false"
      :before-close="handleClose">
      <div class="add-class-inner">
        <div class="panel-row-flex">
          <span class="title">选择班级：</span>
          <el-select class="input-short-1" v-model="addData.classes" placeholder="请选择">
            <el-option
              v-for="item in classesList"
              :key="item._id"
              :label="item.name"
              :value="item._id">
              {{ item.name }}
            </el-option>
          </el-select>
        </div>
        <div class="panel-row-flex">
          <span class="title">开始时间：</span>
          <el-date-picker
            v-model="addData.startTime"
            class="input-short-1"
            type="datetime"
            placeholder="选择日期时间"
            align="right"
            :picker-options="pickerOptions">
          </el-date-picker>
        </div>
        <div class="panel-row-flex">
          <span class="title">截至时间：</span>
          <el-date-picker
            v-model="addData.endTime"
            class="input-short-1"
            type="datetime"
            placeholder="选择日期时间"
            align="right"
            :picker-options="pickerOptions">
          </el-date-picker>
        </div>
        <div class="panel-row-flex" v-if="type == 'exams' && addUnified">
          <span class="title">考试告警次数：</span>
          <el-input class="input-short-1" v-model="addData.alarmLimit" placeholder="请输入考试告警次数"></el-input>
          <!-- <el-select v-model="addData.classes" placeholder="请选择">
              <el-option
                  v-for="item in classesList"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id">
                  {{ item.name }}
              </el-option>
          </el-select> -->
        </div>
        <div class="panel-row-flex">
          <span class="title">答案显示：</span>
          <div class="panel-row-flex-radio-padding">
            <el-radio class="panel-row-flex-radio-p" v-model="addData.answerShow" label="1">直接显示</el-radio>
            <el-radio class="panel-row-flex-radio-p" v-model="addData.answerShow" label="2">截至日期显示</el-radio>
          </div>
        </div>
        <!-- <div class="panel-row-flex"  v-if="type == 'exams'">
            <span class="title">考试二维码：</span>
            <qrcode v-if="type == 'exams'" :value="id" :options="{ width: 200 }"></qrcode>
        </div> -->

      </div>
      <span slot="footer" class="dialog-footer">
                <el-button @click="handleClose">取 消</el-button>
                <el-button type="primary" @click="addClassFn">确 定</el-button>
            </span>
    </el-dialog>
    <el-dialog
      title="考试详情"
      :visible.sync="dialogVisibleUnified"
      width="600px"
      :modal="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :show-close="false">
      <div class="add-class-inner">
        <div class="panel-row-flex" v-if="type == 'exams'">
          <span class="title">考试二维码：</span>
          <img class="exam-qrcode" :src="examQrcode" alt="">
        </div>
        <div class="panel-row-flex" v-if="type == 'exams'">
          <span class="title">学生考试：</span>
          <div style="width: 100%">
            开始人数/提交人数/总人数：{{ `${studentProgress.started || '--'}/${studentProgress.finished ||
            '--'}/${studentProgress.total || '--'}` }}
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="teacherStart">考试开始</el-button>
                <el-button type="primary" @click="dialogVisibleUnified = false">确 定</el-button>
            </span>
    </el-dialog>
  </div>
</template>

<script>
    import E from 'wangeditor'
    import utils from '@/utils/index'
    import UploadFile from '@/components/pubilc/upload-file'
    import Ueditor from '@/components/ueditor/Ueditor';
    import Common from '../../mixins/common'
    import config from '../../utils/config'
    import Panel from '@/components/pubilc/panel'
    import Tabs from '@/components/pubilc/class-header'
    import Classes from '@/mixins/classes'
    import TimePicker from '../../components/pubilc/time-picker'
    import category from '../../mixins/category'
    import dataAnalysisStatistics from './data-analysis-statistics'
    import InputGroup from '../../components/pubilc/input-group'
    import JobLbael from '../../components/pubilc/job-label'
    import ExamSocket from '../../mixins/examSocket'
    import eventBus from '@/utils/eventVue'
    import VueUeditorWrap from 'vue-ueditor-wrap'
    /*    import VueUeditorWrap from 'vue-ueditor-wrap' // ES6 Module
        import '../../../static/UEditor/ueditor.config.js'
        import '../../../static/UEditor/ueditor.all.min.js'
        import '../../../static/Ueditor/kityformula-plugin/defaultFilterFix.js'
        import '../../../static/Ueditor/kityformula-plugin/addKityFormulaDialog.js'
        import '../../../static/Ueditor/kityformula-plugin/getKfContent.js'
        import '../../../static/Ueditor/kityformula-plugin/defaultFilterFix.js'*/

    export default {
        components: {
            Ueditor,
            UploadFile,
            Panel,
            Tabs,
            TimePicker,
            dataAnalysisStatistics,
            InputGroup,
            JobLbael,
            VueUeditorWrap
        },
        mixins: [Common, Classes, category, ExamSocket],
        data() {
            return {
                editorConfig: {
                    // 编辑器不自动被内容撑高
                    autoHeightEnabled: false,
                    // 初始容器高度
                    initialFrameHeight: 300,
                    // 初始容器宽度
                    initialFrameWidth: '100%',
                    // 上传文件接口, 报错属于正常，若需要验证可使用(也是盗大神的)http://35.201.165.105:8000/controller.php
                    // 调试完毕打包上线则切换回/static/UEditor/php/controller.php即可，不用做其他处理
                    serverUrl: 'https://www.hanlinsys.com/proxys',
                },
                addData: {
                    startTime: '',
                    endTime: '',
                    answerShow: '1',
                    classes: '',
                },
                msgFormSon: "",
                accept: "video/mp4,audio/m4a,image/gif, image/jpeg, image/x-png,audio/mp3,application/msexcel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf",
                name: utils.getQueryString("name"),
                id: utils.getQueryString("id"),
                course_id: utils.getQueryString("course"),
                exam: {course: utils.getQueryString("course")},
                type: utils.getQueryString("type"),
                unit: utils.getQueryString("unit"),
                panelTitle: '编辑',
                Examsintroduction: '',
                Coursewaresintroduction: '',
                Assignmentsintroduction: '',
                tab_list: {
                    task: "任务",
                    score: "成绩",
                    statistics: '统计'
                },
                taskClassification: [],
                default_tab: "",
                info: {
                    title: "",
                    score: "",
                    point: "",
                    startTime: "",
                    endTime: "",
                    attachments: [],
                    introduction: "",
                    comment: "",
                    status: "",
                    questions: []
                },
                mark_info: {
                    checked: 0,
                    status: "未批改",
                    compontent: ""
                },
                classes_list: [],
                class_id: "",
                score_list: [],
                class_name_relation: {},
                grade_relation: {
                    0: "优秀",
                    1: "良好",
                    2: "及格",
                    3: "不及格"
                },
                editFlag: false,
                editer: null,
                editerContent: '',
                time: {
                    timeLong: ''
                },
                isPublic: true,
                selectCategory: '',
                activeName: '1',
                startTime: '',
                endTime: '',
                class_id_statistics: '',
                classDataList: [
                    {
                        startTime: '',
                        endTime: '',
                        answerShow: '1',
                        exam: ''
                    },
                ],
                dialogVisible: false,
                classesList: [],
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < Date.now();
                    }
                },
                timer: null,
                addLabelVal: '',
                disabled: false,
                addUnified: false,
                dialogVisibleUnified: false,
                examQrcode: '',
                studentProgress: {},
                currentExam: {}
            }
        },
        computed: {
            user() {
                return this.$store.state.user
            }
        },
        methods: {
            getMsgFormSon(val) {
                this.msgFormSon = val
            },
            addClassUnified() {
                this.addUnified = true
                this.dialogVisible = true
                const params = {
                    current: 1,
                    pageSize: 99999,
                    where: JSON.stringify({course: this.course_id, isTemp: {$ne: true},})
                }
                this.$api.Course.get_courseClass(params).then(res => {
                    if (res.code == 200) {
                        this.classesList = res.data.list
                    } else {
                        this.$message.error('获取班级列表失败')
                    }
                })
            },
            startExam(item) {
                this.examQrcode = item.qrcode
                this.dialogVisibleUnified = true
                this.currentExam = item
                this.teacherStartExam(item._id)
                // this.$api.Exam.start_exams(item._id).then(res => {
                // if(res.code == 200){
                //     this.$message.success('考试推送成功')
                // }else{
                //     this.$message.error(res.msg || '考试推送失败')
                // }
                // })
            },
            teacherStart() {
                const params = {
                    start_exams_flag: 1
                }
                this.$api.Exam.start_exams(this.currentExam._id, params).then((res) => {
                    console.log(res, '推送考试')
                    if (res.code == 200) {
                        this.$message.success('考试开始成功')
                        this.teacherStartSocket()
                    } else {
                        this.$message.error(res.msg || '考试推送失败')
                    }
                })
            },
            deleteLabel(index) {
                let deleteItem = this.info.labels.splice(index, 1)
                this.saveExam()
            },
            clickBack(val) {
                this.addLabelVal = val
                if (!val) {
                    return
                }
                if (this.info.labels.length >= 12) {
                    this.$message("标签最多能创建12个")
                    return
                }
                this.info.labels.push(val)
                this.saveExam()
                this.$nextTick(() => {
                    this.addLabelVal = ''
                })
            },
            issueTask() {
                if (this.type == 'exams') {
                    if (this.info.questions.length == 0) {
                        this.$message.error('请添加题目后再发布')
                        return
                    } else {
                        if (this.checkQuestions()) {
                            this.$api.Exam.exam_pubilsh(this.id).then(res => {
                                this.pubilsh(res)
                            })
                        } else {
                            this.$message.error('选择题缺少答案，请完善后再发布')
                            return
                        }
                    }
                } else if (this.type == 'assignments') {
                    this.$api.Course.publish_assignment(this.id).then(res => {
                        this.pubilsh(res)
                    })
                } else {
                    this.$api.Courseware.publish_courseware(this.id).then(res => {
                        this.pubilsh(res)
                    })
                }
            },
            checkQuestions() {
                const newQuestions = this.info.questions.filter((item) => {
                    return !item.answer && (item.type == 'Single' || item.type == 'Multiple')
                })
                return newQuestions.length == 0
            },
            copyTask() {
                if (this.type == 'exams') {
                    this.$api.Exam.copy_exam(this.id).then(res => {
                        this.pubilshCopy(res, this.type)
                    })
                } else if (this.type == 'assignments') {
                    this.$api.Course.copy_assignment(this.id).then(res => {
                        this.pubilshCopy(res, this.type)
                    })
                } else {
                    this.$api.Courseware.copy_courseware(this.id).then(res => {
                        this.pubilshCopy(res, this.type)
                    })
                }
            },
            pubilshCopy(res, type) {
                if (res.code == 200) {
                    this.$confirm('复制成功, 是否跳转?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'success'
                    }).then(() => {
                        let course = res.data.course
                        let unit = res.data.unit
                        let name = utils.formatStr(res.data.name)
                        let id = res.data._id
                        let origin = window.location.origin
                        let pathname = window.location.pathname
                        window.location.href = `${origin}${pathname}?course=${course}&unit=${unit}&name=${name}&id=${id}&type=${type}`
                    }).catch(() => {
                    })
                } else {
                    this.$message.error(res.error || "复制失败")
                }
            },
            pubilsh(res, type) {
                if (res.code == 200) {
                    this.$message.success("发布成功")
                    this.toPage()
                } else {
                    this.$message.error(res.error || "发布失败")
                }
            },
            changeClassesDetail(val, type, item) {
                if (type == 'startTime' || type == 'endTime') {
                    val = utils.formatDate(val)
                }
                const params = {}
                params[type] = val
                if (this.checkTime(item.startTime, item.endTime)) {
                    this.$message.error("截止时间不能小于开始时间")
                    return
                }
                if (this.type == 'assignments') {
                    this.$api.ExamClass.updateAssignmentsClass(item._id, params).then(res => {
                        this.updateCallBack(res)
                    })
                } else if (this.type == 'exams') {
                    this.$api.ExamClass.updateExamClass(item._id, params).then(res => {
                        this.updateCallBack(res)
                    })
                } else {
                    this.$api.ExamClass.updateCoursewaresClass(item._id, params).then(res => {
                        this.updateCallBack(res)
                    })
                }
            },
            updateCallBack(res) {
                if (res.code == 200) {
                    this.$message.success('保存成功')
                } else {
                    this.$message.error('保存失败')
                }
            },
            todoExamClass(item, type) {
                if (type == 'delete') {
                    if (this.type == 'assignments') {
                        this.$api.ExamClass.deleteAssignmentsClass(item._id).then(res => {
                            this.todoCallBack(res, '删除', 'getAssignmentsClass')
                        })
                    } else if (this.type == 'exams') {
                        this.$api.ExamClass.deleteExamClass(item._id).then(res => {
                            this.todoCallBack(res, '删除', 'getExamClass')
                        })
                    } else {
                        this.$api.ExamClass.deleteCoursewaresClass(item._id).then(res => {
                            this.todoCallBack(res, '删除', 'getCoursewaresClass')
                        })
                    }
                } else {
                    if (this.type == 'assignments') {
                        this.$api.ExamClass.unfreezeAssignmentsClass(item._id).then(res => {
                            this.todoCallBack(res, '冻结')
                        })
                    } else if (this.type == 'exams') {
                        this.$api.ExamClass.unfreezeExamClass(item._id).then(res => {
                            this.todoCallBack(res, '冻结')
                        })
                    } else {
                        this.$api.ExamClass.unfreezeCoursewaresClass(item._id).then(res => {
                            this.todoCallBack(res, '冻结')
                        })
                    }
                }
            },
            todoCallBack(res, msg, fn) {
                if (res.code == 200) {
                    this.$message.success(`${msg}成功`)
                    if (fn) {
                        this[fn]()
                    }
                } else {
                    this.$message.error(`${msg}失败`)
                }
            },
            addClass() {
                this.addUnified = false
                this.dialogVisible = true
                const params = {
                    current: 1,
                    pageSize: 99999,
                    where: JSON.stringify({course: this.course_id, isTemp: {$ne: true},})
                }
                this.$api.Course.get_courseClass(params).then(res => {
                    if (res.code == 200) {
                        this.classesList = res.data.list
                    } else {
                        this.$message.error('获取班级列表失败')
                    }
                })

            },
            addClassFn() {
                if (!this.addData.startTime || !this.addData.endTime) {
                    this.$message.error('请选择时间')
                    return
                }
                if (!this.addData.classes) {
                    this.$message.error('请选择班级')
                    return
                }
                if (this.checkTime(this.addData.startTime, this.addData.endTime)) {
                    this.$message.error("截止时间不能小于开始时间")
                    this.addData.endTime = ""
                    return
                }
                const params = JSON.parse(JSON.stringify(this.addData))
                if (this.type == 'assignments') {
                    params.assignment = this.id
                    this.$api.ExamClass.assignmentsClassCreate(params).then(res => {
                        if (res.code == 200) {
                            this.$message.success('添加成功')
                            this.handleClose()
                            this.getAssignmentsClass()
                        } else {
                            this.$message.error(res.error || "失败")
                        }
                    })
                } else if (this.type == 'exams') {
                    params.exam = this.id
                    params.type = this.addUnified ? 'live' : 'normal'
                    this.$api.ExamClass.examClassCreate(params).then(res => {
                        if (res.code == 200) {
                            this.$message.success('添加成功')
                            this.handleClose()
                            this.getExamClass()
                        } else {
                            this.$message.error(res.error || "失败")
                        }
                    })
                } else {
                    params.courseware = this.id
                    this.$api.ExamClass.coursewaresClassCreate(params).then(res => {
                        if (res.code == 200) {
                            this.$message.success('添加成功')
                            this.handleClose()
                            this.getCoursewaresClass()
                        } else {
                            this.$message.error(res.error || "失败")
                        }
                    })
                }
            },
            checkTime(startTime, endTime) {
                startTime = new Date(startTime).getTime()
                endTime = new Date(endTime).getTime()
                if (startTime > endTime) {
                    return true
                }
                return false
            },
            handleClose() {
                this.addData = {
                    startTime: '',
                    endTime: '',
                    answerShow: '1',
                    classes: '',
                    exam: utils.getQueryString("id")
                }
                this.dialogVisible = false
            },
            clickEdit() {
                this.editFlag = !this.editFlag
                if (this.editFlag) {
                    this.panelTitle = '保存'
                } else {
                    this.saveExam()
                    this.panelTitle = '编辑'
                }
            },
            saveExam(val, flag) {
                if (this.type == 'exams') {
                    let params = {
                        time: utils.getMin(this.time.timeLong),
                        category: this.info.category,
                        unit: this.unit,
                        course: this.course_id,
                        introduction: this.Examsintroduction,
                        isPublic: this.isPublic,
                        refresh: flag || false
                    }
                    this.$api.Exam.edit_exam(this.id, params).then(res => {
                        if (!flag) {
                            if (res.code == 200) {
                                this.$message.success("保存成功")
                                this.init()
                            } else {
                                this.$message.error("保存失败")
                            }
                        }
                    })
                } else if (this.type == 'assignments') {
                    let params = {
                        time: utils.getMin(this.time.timeLong),
                        category: this.info.category,
                        unit: this.unit,
                        course: this.course_id,
                        introduction: this.Assignmentsintroduction,
                        isPublic: this.isPublic,
                        point: this.info.point,
                        attachments: this.info.attachments,
                        refresh: flag || false,
                        labels: this.info.labels
                    }
                    this.$api.Assignment.edit_assignment(this.id, params).then(res => {
                        if (!flag) {
                            if (res.code == 200) {
                                this.$message.success("保存成功")
                                this.init()
                            } else {
                                this.$message.error("保存失败")
                            }
                        }
                    })
                } else {
                    let params = {
                        time: utils.getMin(this.time.timeLong),
                        category: this.info.category,
                        unit: this.unit,
                        course: this.course_id,
                        introduction: this.Coursewaresintroduction,
                        isPublic: this.isPublic,
                        point: this.info.point,
                        attachments: this.info.attachments,
                        refresh: flag || false
                    }
                    this.$api.Courseware.edit_courseware(this.id, params).then(res => {
                        if (!flag) {
                            if (res.code == 200) {
                                this.$message.success("保存成功")
                                this.init()
                            } else {
                                this.$message.error("保存失败")
                            }
                        }
                    })
                }
            },
            uploadFileCallBack(val) {
                this.info.attachments.push({
                    name: val.name,
                    url: val.url.split('?')[0]
                })
                this.saveExam();
                this.msgFormSon = ""
            },
            editQuestion() {
                this.$router.push({
                    name: 'createQuestions',
                    query: {course: this.course_id, exam: this.id, unit: this.unit, name: utils.formatStr(this.name)}
                })
            },
            PreviewFlag() {
                this.$router.push({
                    name: 'createQuestions',
                    query: {
                        course: this.course_id,
                        exam: this.id,
                        unit: this.unit,
                        name: utils.formatStr(this.name),
                        PreviewFlag: 'preview',
                        callBack: 'viewAssignmentExam'
                    }
                })
            },
            get_student_assignment() {
                this.$api.Course.assignment_details(this.id).then(resData => {
                    if (resData.code == 200) {
                        let data = resData.data
                        this.info.labels = data.labels || []
                        this.info.score = data.score || 0
                        this.info.point = data.point || 100
                        this.info.startTime = this.changeTime(data.startTime)
                        this.info.endTime = this.changeTime(data.createdAt)
                        this.info.introduction = data.introduction
                        this.info.comment = data.comment
                        this.info.attachments = data.attachments || []
                        this.info.status = data.status
                        this.info.category = data.category ? data.category._id : ''
                        this.info.visible = data.visible
                        this.time.timeLong = utils.formatMin(data.time)
                        this.isPublic = data.isPublic
                        this.Assignmentsintroduction = data.introduction
                        /*this.initEditer('editerAssignments', () => {
                            this.editer.txt.html(data.introduction)
                        })*/
                        // this.selectCategory = data.category ? data.category.id : ''
                    }
                })
                let reqData = {
                    where: JSON.stringify({assignment: this.id})
                }
                this.$api.Teacher.get_student_assignment_summary(reqData).then(resData => {
                    if (resData.code == 200) {
                        this.mark_info.checked = resData.data.checked
                        this.handleMarkStatus(resData.data)
                    }
                })
            },
            get_student_exam() {
                this.$api.Exam.get_exam_details(this.id).then(resData => {
                    if (resData.code == 200) {
                        let data = resData.data
                        this.info.score = data.score || 0
                        this.info.point = data.point || 100
                        this.info.startTime = this.changeTime(data.startTime)
                        this.info.endTime = this.changeTime(data.createdAt)
                        this.info.introduction = data.introduction
                        this.info.status = data.status
                        this.info.category = data.category
                        this.info.visible = data.visible
                        this.time.timeLong = utils.formatMin(data.time)
                        this.isPublic = data.isPublic
                        this.info.questions = data.questions
                        this.Examsintroduction = data.introduction
                        /* this.initEditer('editerExam', () => {
                             this.editer.txt.html(data.introduction)
                         })*/
                        // this.selectCategory = data.category ? data.category.id : ''
                    }
                })
                let reqData = {
                    where: JSON.stringify({exam: this.id})
                }
                this.$api.Teacher.get_stuExam_summery(reqData).then(resData => {
                    if (resData.code == 200) {
                        this.mark_info.checked = resData.data.checked
                        this.mark_info.finished = resData.data.finished
                        this.handleMarkStatus(resData.data)
                    }
                })
            },
            get_student_coursewares() {
                this.$api.Courseware.courseware_details(this.id).then(resData => {
                    if (resData.code == 200) {
                        console.log(resData)
                        let data = resData.data
                        this.info.score = data.score || 0
                        this.info.point = data.point || 100
                        this.info.startTime = this.changeTime(data.startTime)
                        this.info.endTime = this.changeTime(data.createdAt)
                        this.info.introduction = data.introduction
                        this.info.comment = data.comment
                        this.info.attachments = data.attachments || []
                        this.info.status = data.status
                        this.info.category = data.category
                        this.info.visible = data.visible
                        this.time.timeLong = utils.formatMin(data.time)
                        this.isPublic = data.isPublic;
                        this.Coursewaresintroduction = data.introduction;
                        /* this.initEditer('editerCoursewares', () => {
                             this.editer.txt.html(data.introduction)
                         })*/

                        // this.exam = Object.assign(this.exam, res.data)
                        // this.formatInitData(res.data)
                    }
                })
                // this.$api.Exam.get_exam_details(this.id).then(resData => {
                //     console.log(this.editer)
                //     if(resData.code == 200){
                //         console.log(resData)
                // let data = resData.data
                // this.info.score = data.score || 0
                // this.info.point = data.point || 100
                // this.info.startTime = this.changeTime(data.startTime)
                // this.info.endTime = this.changeTime(data.endTime)
                // this.info.introduction = data.introduction
                // this.info.status = data.status
                // this.info.category = data.category
                // this.info.visible = data.visible
                // this.time.timeLong = utils.formatMin(data.time)
                // this.isPublic = data.isPublic
                // this.initEditer('editerExam', () => {
                //     this.editer.txt.html(data.introduction)
                // })
                // this.selectCategory = data.category ? data.category.id : ''
                //     }
                // })
                let reqData = {
                    where: JSON.stringify({exam: this.id})
                }
                // this.$api.Teacher.get_stuExam_summery(reqData).then(resData => {
                //     if(resData.code == 200) {
                //         this.mark_info.checked = resData.data.checked
                //         this.mark_info.finished = resData.data.finished
                //         this.handleMarkStatus(resData.data)
                //     }
                // })
            },
            handleMarkStatus(data) {
                if (data.checked == 0) {
                    this.mark_info.status = "未批改"
                } else if (data.checked < data.total) {
                    this.mark_info.status = "批改中"
                } else if (data.checked = data.total) {
                    this.mark_info.status = "已完成"
                }
            },
            download(url) {
                window.location.href = url
            },
            toPage(name, id) {
                if (name && name != 'correct') {
                    this.$router.push({
                        name: name,
                        query: {
                            course: this.course_id,
                            unit: utils.getQueryString("unit"),
                            id: this.id,
                            name: utils.formatStr(this.name),
                            type: this.type
                        }
                    })
                } else if (name && name == 'correct') {
                    name = this.type == 'assignments' ? 'Correct' : 'correctExam'
                    this.$router.push({
                        name: name,
                        query: {id: id, current: this.class_id, type: 'correct', 'assignment': this.id}
                    })
                } else {
                    this.$router.push({
                        name: "EditMode",
                        query: {course_id: utils.getQueryString("course"), type: "view"}
                    })
                }
            },
            changeTab() {
                if (this.default_tab == "score") {
                    this.get_student_score()
                } else if (this.default_tab == "task") {
                    this.init()
                }
            },
            get_classes() {
                this.get_course_classes(this.course_id).then(data => {
                    this.classes_list = data
                    this.class_id = data.length > 0 ? data[0]._id : ''
                    this.class_id_statistics = data.length > 0 ? data[0]._id : ''
                    this.class_id_statistics_name = data.length > 0 ? data[0].name : ''
                    this.classes_list.map(element => {
                        this.class_name_relation[element._id] = element.name
                        this.$set(this.class_name_relation)
                    })
                })
            },
            change_class(val) {
                this.class_id = val._id
                this.get_student_score()
            },
            change_class_statistics(val) {
                this.class_id_statistics = val._id
                this.class_id_statistics_name = val.name
            },
            get_student_score() {
                if (this.type == "assignments") {
                    this.get_student_assignment_score()
                } else {
                    this.get_student_exam_score()
                }
            },
            get_student_assignment_score() {
                let reqData = {
                    current: 1,
                    pageSize: 40,
                    where: JSON.stringify({assignment: this.id, classes: this.class_id})
                }
                this.$api.Teacher.get_student_assignment(reqData).then(resData => {
                    if (resData.code == 200) {
                        this.score_list = resData.data.list
                        // this.current_page = resData.data.pagination.current
                        // this.total_count = resData.data.pagination.total
                        // this.columns = new Array(Math.ceil(this.table_data.length/10))
                        // this.show_report = resData.data.list.length> 0 && resData.data.list[0].assignment.calculated.indexOf(this.class_id) >= 0
                    }
                })
            },
            get_student_exam_score() {
                let reqData = {
                    current: 1,
                    pageSize: 40,
                    where: JSON.stringify({exam: this.id, classes: this.class_id})
                }
                this.$api.Teacher.get_stuExam(reqData).then(resData => {
                    if (resData.code == 200) {
                        this.score_list = resData.data.list
                        // this.current_page = resData.data.pagination.current
                        // this.total_count = resData.data.pagination.total
                        // this.columns = new Array(Math.ceil(this.table_data.length/10))
                        // this.show_report = resData.data.list.length> 0 && resData.data.list[0].assignment.calculated.indexOf(this.class_id) >= 0
                    }
                })
            },
            getCompleteTime(endExamTime, submitTime) {
                if (endExamTime) {
                    return this.changeTime(endExamTime)
                } else if (submitTime) {
                    return this.changeTime(submitTime)
                } else {
                    return '--'
                }
            },
            initEditer(obj, fn) {
                let editerDom = this.$refs[obj]
                this.editer = new E(editerDom)
                this.editer.customConfig.onchange = html => {
                    this.info.introduction = html
                }
                this.editer.customConfig.onblur = html => {
                    this.saveExam(null, true)
                }
                this.editer.customConfig.zIndex = 1
                this.editer.create()
                if (fn) {
                    fn()
                }
            },
            getExamClass() {
                this.$api.ExamClass.getExamClass(this.id).then(res => {
                    if (res.code == 200) {
                        this.classDataList = res.data
                    }
                })
            },
            getAssignmentsClass() {
                this.$api.ExamClass.getAssignmentsClass(this.id).then(res => {
                    if (res.code == 200) {
                        this.classDataList = res.data
                    }
                })
            },
            getCoursewaresClass() {
                this.$api.ExamClass.getCoursewaresClass(this.id).then(res => {
                    if (res.code == 200) {
                        this.classDataList = res.data
                    }
                })
            },
            init() {
                let breadcrumb = window.sessionStorage.getItem("breadcrumb")
                if (breadcrumb) {
                    breadcrumb = JSON.parse(breadcrumb)
                    breadcrumb.push(this.name)
                    this.$store.commit('setBreadcrumb', {
                        name: this.$route.name,
                        path: breadcrumb
                    })
                }
                if (utils.getQueryString("type") == 'assignments') {
                    this.tab_list = {
                        task: "任务",
                        score: "成绩",
                        statistics: '统计'
                    }
                    this.get_student_assignment()
                    this.info.title = "作业"
                    this.mark_info.compontent = "CreateCourse"
                    this.getAssignmentsClass()
                } else if (utils.getQueryString("type") == 'exams') {
                    this.tab_list = {
                        task: "任务",
                        score: "成绩",
                        statistics: '统计'
                    }
                    this.get_student_exam()
                    this.info.title = "测试"
                    this.mark_info.compontent = "CreateExamine"
                    this.getExamClass()
                } else {
                    this.tab_list = {
                        // task: "任务",
                    }
                    this.get_student_coursewares()
                    this.info.title = "课件"
                    this.mark_info.compontent = "CreateExamine"
                    this.getCoursewaresClass()
                }
                this.get_classes()
                this.get_task()
            }
        },
        beforeCreate() {
            this.name = this.$route.query.name
        },
        created() {
            eventBus.$on("taskTab", () => {
                this.default_tab = "statistics"
                console.log("default_tab", this.default_tab)
            })
            console.log("default_tab@@@@@@@@", this.default_tab)
            if (!this.default_tab) {
                this.default_tab = "task"
            }
            this.init()
        },
        mounted() {
            // this.timer = setInterval(() => {
            //     this.saveExam(true)
            // }, 10000)
        },
        watch: {
            'time.timeLong'(newVal, oldVal) {
                if (newVal !== oldVal) {
                    this.saveExam()
                }
            }
        },
        destroyed() {
            // if(this.timer){
            //     clearInterval(this.timer)
            // }
        }
    }
</script>
<style lang="scss">
  .editer-content, .editer-content-style {
    ol, ul {
      list-style: decimal;

      li {
        list-style-type: unset;
      }
    }

    ul {
      list-style: unset;

      li {
        list-style-type: unset;
      }
    }
  }
</style>
<style lang="scss" scoped>
  @import '@/assets/css/var.scss';

  .page-title {
    display: flex;
    justify-content: space-between;

    .main-title {
      display: flex;

      div:first-child {
        flex: none;
        margin-right: 16px;
      }
    }

    .right-message {
      line-height: 36px;
    }

    .label {
      margin-left: 10px;
    }
  }

  .page-content-space {
    padding-bottom: 80px;

    .left {
      .card-content-top {
        .title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      .card-content-bottom {
        padding-top: 20px;

        .title {
          font-size: 16px;
          margin-top: 10px;
          padding-bottom: 10px;
          font-weight: 550;
        }
      }
    }

    .right {
      width: 310px;
      min-width: 310px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      .panel-row {
        line-height: 36px;
      }

      .el-tag {
        margin-bottom: 30px;
      }

      .message {
        margin-top: 6px;
        font-size: 12px;
        color: $--text-2;
      }
    }
  }

  .el-tag {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .tag-name {
    font-size: 12px;
    color: $--default;
    text-decoration: underline;
    cursor: pointer;
  }

  .assignment-content {
    max-height: 600px;
    overflow: auto;
  }

  .bottome-button {
    padding-top: 50px;
    text-align: center;
  }

  .panel-row-flex {
    display: flex;
    padding: 10px 0;
    align-items: center;

    .title {
      width: 100px;
    }
  }

  .panel-row-flex-radio {
    display: flex;
  }

  .panel-row-flex-radio-padding {
    padding-left: 20px;

    .panel-row-flex-radio-p {
      margin-bottom: 10px;
    }
  }

  .panel-row-flex-button {
    text-align: center;
    padding: 10px 0;
  }

  .card-top-upload {
    padding-bottom: 10px;
  }

  .add-class-inner {
    margin: 0 auto;
    width: 300px;
  }

  .editer-content-style {
    padding: 0 30px;
  }

  .disabled-correct-icon {
    color: $--text-2;
  }

  .job-content-label {
    padding: 10px 0 0;
  }

  .label-list {
    display: flex;
    flex-wrap: wrap;
  }

  .couser-item {
    display: flex;
    align-items: center;

    .date-title {
      min-width: 70px;
      font-weight: 550;
    }
  }

  .exam-qrcode {
    width: 200px;
    height: 200px;
  }
</style>
