<template>
    <div>
        <div class="page-title">
            <div class="left-box">
                <div class="main-title">{{class_name}}</div>
                <div class="btn-group">
                    <el-button type="primary" plain @click="toPage('ClassStudent')">管理学生</el-button>
                    <el-button type="primary" plain @click="toPage('ClassScore')">管理成绩</el-button>
                    <el-button type="primary" plain @click="toPage('ClassCourse')">管理课程</el-button>
                </div>
            </div>
            <div class="right-box">
                <!-- <el-button type="primary" plain @click="edit_dialog=true; edit_name=class_name">修改</el-button>
                <el-button type="primary" plain @click="del_class">删除</el-button> -->
                <div v-if="cno">
                    <span class="label">班级码：</span>{{ cno }}
                    <el-button type="text" v-clipboard:copy="cno" v-clipboard:success="onCopy" v-clipboard:error="onError">
                        <i class="el-icon-document-copy"></i>
                    </el-button>
                </div>
                <div v-if="qrcode">
                    <span class="label">班级二维码：</span><img :src="qrcode">
                    <el-button type="text" v-clipboard:copy="qrcode" v-clipboard:success="onCopy" v-clipboard:error="onError">
                        <i class="el-icon-document-copy"></i>
                    </el-button>
                </div>
            </div>
        </div>
        <div class="page-content">
            <el-row :gutter="16">
                <Panel :span="8" title="公告">
                    <div slot="content" class="notice-content">
                        <el-input type="textarea" :rows="7" placeholder="请输入公告内容" v-model="notice_content"></el-input>
                        <div class="edit-btn">
                            <el-button type="primary" @click="create_notice()">发 布</el-button>
                        </div>
                    </div>
                </Panel>
                <Panel :span="8" title="截止日期未完成任务">
                    <div slot="header">
                        <el-radio-group v-model="undone_task_type" size="small">
                            <el-radio-button label="assignment">作业</el-radio-button>
                            <el-radio-button label="exam">测试</el-radio-button>
                        </el-radio-group>
                    </div>
                    <div class="student-content" slot="content">
                        <div class="chart-item">
                            <div v-for="(value, key) in unfinished_option[undone_task_type]" :key="key">
                                <div>{{value[0][undone_task_type].name}} {{formatDate(value[0].endTime)}}</div>
                                <div class="student-list">
                                    <div class="student-box" v-for="item in value" :key="item._id">
                                        <div class="performance-student-image">
                                            <img :src="item.student.avatarUrl" v-if="item.student.avatarUrl">
                                            <i class="student-image-size el-icon-user-solid" v-else></i>
                                        </div>
                                        <p class="student-name">{{ item.student.nickname }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <el-button type="primary" @click="toPage('Message', 'SendMessage')">发消息</el-button>
                        </div>
                    </div>
                </Panel>
                <Panel :span="8" title="课程进度">
                    <div slot="content" class="notice-content">
                        <div class="classes" v-for="(item, index) in condition" :key="index">
                            <ratio-bar :title="condition_common_title+item.text" :step="item.step" :label="item.classe">
                            </ratio-bar>
                        </div>
                    </div>
                </Panel>
            </el-row>
            
            <Panel :span="24" :nonetitle="true" :height="true">
                <el-row slot="content" class="chart-content">
                    <el-col :span="8">
                        <p class="content-title">
                            <span class="main">近期测验/作业</span>
                            <Chart id="radar" :option="radar_option" class="chart-item"></Chart>
                        </p>
                    </el-col>
                    <el-col :span="8">
                        <p class="content-title">
                            <span class="main">近期测验</span>
                            <Chart id="test_bar" :option="exam_option" class="chart-item"></Chart>
                        </p>
                    </el-col>
                    <el-col :span="8">
                        <p class="content-title">
                            <span class="main">近期作业</span>
                            <Chart id="work_bar" :option="assignment_option" class="chart-item"></Chart>
                        </p>
                    </el-col>
                </el-row>
            </Panel>
        </div>

        <!-- <Dialog title="修改班级" :visible="edit_dialog" :close="()=>{edit_dialog=false}" @dialogSure="edit">
            <div slot="dialog-content" class="dialog-content">
                <div class="label">班级名称</div>
                <div class="input-short-1">
                    <el-input v-model="edit_name"></el-input>
                </div>
            </div>
        </Dialog> -->
    </div>
</template>

<script>
import Panel from '@/components/pubilc/panel'
import ratioBar from '@/components/pubilc/ratio-bar'
import Chart from '@/components/pubilc/chart'
import Dialog from '@/components/pubilc/dialog'
import utils from '@/utils/index'
export default {
    components: { Panel, ratioBar, Chart, Dialog },
    data() {
        return {
            class_id: utils.getQueryString("class_id"),
            class_name: utils.getQueryString("name"),
            cno: "",
            qrcode: "",
            edit_name: "",
            edit_dialog: false,
            notice_content: "",
            student_list: [],
            undone_task_type: "assignment",
            unfinished_option: {
                title: "",
                end_time: "",
                assignment: {},
                exam: {}
            },
            condition_common_title: "当前任务：",
            condition: [],
            radar_option: {
                legend: {
                    left: 0,
                    top: 10,
                    orient: 'vertical',
                    align: 'right',
                    itemHeight: 6,
                    textStyle: {
                        color: "#262626"
                    },
                    data: ['测验', '作业']
                },
                radar: {
                    // shape: 'circle',
                    name: {
                        textStyle: {
                            color: '#262626',
                    }
                    },
                    indicator: [{name: "", max: 500}]
                },
                series: [{
                    type: "radar",
                    data: [
                        {
                            value: [],
                            name: '测验'
                        },
                        {
                            value: [],
                            name: '作业'
                        }
                    ]
                }],
                resize: 0
            },
            bar_option: {
                xAxis:  {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: [],
                },
                legend: {
                    data: ["优秀", "良好", "合格", "不合格"]
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                color: ["#2e71ff", "#6c98f5", "#97b8ff", "#c1d4ff"],
                series: [{
                    name: '优秀',
                    type: 'bar',
                    stack: '成绩',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: []
                },
                {   
                    name: '良好',
                    type: 'bar',
                    stack: '成绩',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: []
                },
                {   
                    name: '合格',
                    type: 'bar',
                    stack: '成绩',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: []
                },
                {   
                    name: '不合格',
                    type: 'bar',
                    stack: '成绩',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: []
                }],
                resize: 0
            },
            exam_option: {resize: 0},
            assignment_option: {resize: 0},
            course_indicator: []
        }
    },
    methods: {
        get_class_report() {
            this.exam_option = JSON.parse(JSON.stringify(this.bar_option))
            this.assignment_option = JSON.parse(JSON.stringify(this.bar_option))
            this.$api.Classes.get_class_lates_report(this.class_id).then(resData => {
                if(resData.code == 200) {
                    this.course_indicator = []
                    this.radar_option.radar.indicator = []
                    this.radar_option.series[0].data[0].value = []
                    this.radar_option.series[0].data[1].value = []
                    if(Object.keys(resData.data.exams).length >=0) this.handleChartData(resData.data.exams, 'exam')
                    if(Object.keys(resData.data.assignments).length >=0) this.handleChartData(resData.data.assignments, 'assignment')
                    this.course_indicator.map(element => {
                        this.radar_option.radar.indicator.push({name: element.name, max: 1})
                        this.radar_option.series[0].data[0].value.push(element.exam)
                        this.radar_option.series[0].data[1].value.push(element.assignment)
                    })
                    this.radar_option.resize++
                }
            })
        },
        handleChartData(data, type) {
            if(type == 'exam') {        
                this.exam_option.yAxis.data = []
                data.map((item, index) => {
                    this.exam_option.yAxis.data.push(item.course.name)
                    item.scoreRatio.map((score, i) => {
                        this.exam_option.series[i].data.push(score.number)
                    })
                    this.course_indicator.push({
                        name: item.course.name,
                        id: item.course._id,
                        exam: item.scoreRatio[0].value,
                        assignment: 0
                    })
                })
                this.exam_option.resize++
            }else{
                this.assignment_option.yAxis.data = []
                this.radar_option.series[0].data[1].value = new Array(this.radar_option.series[0].data[0].value.length)
                data.map((item, index) => {
                    this.assignment_option.yAxis.data.push(item.course.name)
                    item.scoreRatio.map((score, i) => {
                        this.assignment_option.series[i].data.push(score.number)
                    })
                    this.course_indicator.map(element => {
                        if(element.id == item.course._id) {
                            element.assignment = item.scoreRatio[0].value
                        }else{
                            this.course_indicator.push({
                                name: item.course.name,
                                id: item.course._id,
                                assignment: item.scoreRatio[0].value,
                                exam: 0
                            })
                            
                        }
                    })
                })
                this.assignment_option.resize++
            }
            
        },
        toPage(name){
            this.$router.push({name: name, query: {id: this.class_id, name: utils.formatStr(this.class_name)}})
        },
        create_notice() {
            let reqData = {
                classes: this.class_id,
                content: this.notice_content
            }
            this.$api.Message.create_class_notice(reqData).then(resData => {
                if(resData.code == 200){
                    this.$message.success("发布成功！")
                    this.notice_content = ""
                }
            })
        },
        get_unfinished_student() {
            this.$api.Classes.get_class_unfinished_assignment(this.class_id).then(resData => {
                if(resData.code == 200) {
                    this.unfinished_option.assignment = resData.data.list
                }
            })
            this.$api.Classes.get_class_unfinished_exam(this.class_id).then(resData => {
                if(resData.code == 200) {
                    this.unfinished_option.exam = resData.data.list
                }
            })
        },
        get_class_progress() {
            this.$api.Classes.get_class_progress(this.class_id).then(resData => {
                if(resData.code == 200) {
                    this.condition = resData.data.map(element => {
                        return {
                            classe: element.course,
                            step: element.progress,
                            text: element.unit + '/' + element.task
                        }
                    })
                }
            })
        },
        formatDate(time) {
            return utils.formatDate(new Date(time), 'yyyy-MM-dd hh:mm:ss')
        },
        onCopy(e){
            this.$message.success("复制成功！")
        },
        onError(e){
            this.$message.error("复制失败！")
        }
    },
    created(){
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["班级", utils.getQueryString("name"), "主页"]
        })
        this.cno = window.sessionStorage.getItem('cno') || ""
        this.qrcode = window.sessionStorage.getItem('qrcode') || ""
        this.get_class_report()
        this.get_unfinished_student()
        this.get_class_progress()
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.page-title{
    display: flex;
    justify-content: space-between;
    .left-box{
        display: flex;
    }
    .btn-group{
        margin-left: 16px;
    }
    .right-box{
        display: flex;
        line-height: 36px;
        div{
            margin-left: 10px;
            .label{
                font-weight: bold;
            }
            img{
                width: 30px;
                vertical-align: middle;
                width: 30px;
            }
        }
    }
}
.page-content{
    .content-title{
        .main{
            font-size: 16px;
            font-weight: bold;
        }
        .sub{
            font-size: 12px;
            margin-left: 8px;
        }
    }
    .notice-content{
        padding-top: 10px;
        .edit-btn{
            padding-top: 14px;
            text-align: right;
        }
        .classes{
            font-size: 12px;
            padding-top: 12px;
        }
    }
    .student-content{
        .chart-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;
        }
        .chart-item{
            padding-top: 8px;
            height: 176px;
            overflow: auto;
            .student-list{
                display: flex;
                flex-wrap: wrap;
                overflow: auto;
                .student-box{
                    padding: 6px 8px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 12px;
                    .performance-student-image{
                        width: 40px;
                        height: 40px;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                        }
                        .student-image-size{
                            width: 40px;
                            height: 40px;
                            line-height: 46px;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        .btn-group{
            text-align: right;
        }
    }
    .chart-content{
        padding-top: 10px;
        .chart-item {
            width: 100%;
            height: 400px;
        }
    }
}
.dialog-content{
    display: flex;
    .label{
        line-height: 34px;
        margin-right: 16px;
    }
}
</style>