<template>
    <div>
        <div class="existing-top">
            <div class="existing-title">
                班级管理
            </div>
            <el-button type="primary" @click="showAddClass" v-if="user_role == 'Admin'">添加班级</el-button>
        </div>
        <div class="existing-item">
            <ExistingItem class="existing-item-inner" v-for="(item, index) in classes_list" :key="index" :item="item" @deleteItem="del_class"/>
        </div>
        <div class="add-course" v-show="show_add_classes">
            <div class="add-course-inner">
                <div class="add-course-title">
                    <div>添加班级</div>
                    <div class="clear-btn" @click="hideAddClass"><i class="el-icon-close"></i></div>
                </div>
                <div class="add-course-content">
                    <div class="add-course-item">
                        <p class="add-course-item-title">班级名称</p>
                        <el-input class="input-long-2" v-model="add_class.name" placeholder="请输入内容"></el-input>
                    </div>
                    <select-background @change-color="changeColor"></select-background>
                    <div class="add-course-item">
                        <p class="add-course-item-title">班主任</p>
                        <el-select class="input-long-2" v-model="add_class.tearch" filterable remote placeholder="请输入班主任姓名"
                            :remote-method="getTeacherList"
                            :loading="loading">
                            <el-option
                                v-for="item in tearch_list" :key="item._id"
                                :label="item.nickname" :value="item._id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="add-course-item">
                        <p class="add-course-item-title">学生上限</p>
                        <el-input-number v-model="add_class.number" :min="0" :max="100"></el-input-number>
                    </div>
                    <div class="add-course-button">
                        <el-button style="width: 100%" type="primary" @click="addClass">添加</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>
<script>
import ExistingItem from '@/components/classes/existingItem'
import SelectBackground from '@/components/pubilc/select-background'
export default {
    components: { ExistingItem, SelectBackground },
    data(){
        return {
            add_class: {
                name: "",
                color: "",
                tearch: "",
                number: 0
            },
            tearch_list: [],
            classes_list: [],
            show_add_classes: false,
            loading: false
        }
    },
    methods: {
        getClasss() {
            this.$api.Classes.get_class().then(resData => {
                if(resData.code == 200){
                    if(resData.data.list.length>0){
                        this.classes_list = resData.data.list
                        this.$store.commit('setClasses', resData.data.list)
                    }
                }
            })
        },
        showAddClass() {
            this.show_add_classes = true
        },
        hideAddClass() {
            this.show_add_classes = false
        },
        changeColor(color) {
            this.add_class.color = color
        },
        getTeacherList(query){
            if(!query){
                return
            }
            const params = {
                current: '1',
                pageSize: '99999',
                where: JSON.stringify({
                    nickname: {
                        $regex: `^.*${query || ''}.*$`,
                    }
                })
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.tearch_list = res.data.list
                }
            })
        },
        addClass() {
            if(!this.add_class.name){
                this.$message.warning("课程名称不能为空！")
                return
            }
            let reqData = {
                name: this.add_class.name,
                headTeacher: this.add_class.tearch,
                color: this.add_class.color,
                studentLimit: this.add_class.number
            }
            this.$api.Classes.create_class(reqData).then(resData => {
                if(resData.code == 200){
                    this.show_add_classes = false
                    this.getClasss()
                    this.$store.commit('setClasses', [resData.data])
                    // this.$router.push({name: 'ClassManagement'})
                }
            })
        },
        del_class(id){
            this.$confirm('是否删除班级', '删除班级', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                let reqData = {
                    id: id
                }
                this.$api.Classes.del_class(id, reqData).then(resData => {
                    if(resData.code == 200){
                        this.getClasss()
                    }
                })
            }).catch(() => {});
        },
    },
    created() {
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["班级", "已有班级"]
        })
        this.getClasss()
    },
    computed: {
        user_role(){
            return this.$store.state.user.role
        }
    },
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.existing-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .existing-title{
        font-size: 26px;
        font-weight: 550;
    }
}
.existing-item{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    .existing-item-inner{
        margin: 0 20px 20px 0;
    }
}

.add-course{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#000, .8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .add-course-inner{
        width: 406px;
        margin-top: -20px;
    }
    .add-course-title{
        display: flex;
        justify-content: space-between;
        height: 68px;
        line-height: 68px;
        background-color: $--default;
        border-radius: 8px 8px 0 0;
        padding-left: 20px;
        box-sizing: border-box;
        color: $--white;
        font-size: 24px;
        .clear-btn {
            padding-right: 20px;
            cursor: pointer;
        }
    }
    .add-course-content{
        background-color: $--white;
        border-radius: 0 0 8px 8px;
        padding: 20px;
        .add-course-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 550;
            .add-course-item-title{
                min-width: 55px;
                text-align: right;
                padding-right: 20px;
            }
        }
        .add-course-button{
            margin-top: 20px
        }
    }
}
</style>