<template>
    <div class="entry-grade">
        <div class="page-title">
            <div class="main-title">{{name}}</div>
            <el-button type="primary" @click="standard_score=!standard_score">
                {{standard_score?"转化为正常分":"转化为标准分"}}
            </el-button>
        </div>
        <div class="page-content-card">
           <el-table :data="table_data" stripe border>
               <el-table-column label="排名" prop="index"></el-table-column>
                <el-table-column label="姓名" prop="nickname"></el-table-column>  
                <el-table-column label="邮箱" prop="email"></el-table-column>
                <el-table-column v-for="(item, index) in course_list" :key="index">
                    <template slot="header">
                        {{item.course.name}}
                        <i class="el-icon-circle-plus-outline edit-icon" @click="showDialog(item.courseClass)"></i>
                    </template>
                    <template slot-scope="scope">
                        <span v-if="scope.row.tasks[item.course._id]">{{scope.row.tasks[item.course._id].name?scope.row.tasks[item.course._id].name+": ":""}}{{standard_score?scope.row.tasks[item.course._id].T:scope.row.tasks[item.course._id].score}}</span>
                    </template>
                </el-table-column>
           </el-table>

           <div class="chart-content">
               <div class="chart-box">
                   <Chart id="boxlpot" :option="boxlpot_option" class="chart-item"></Chart>
               </div>
               <div class="chart-box">
                   <Chart id="bar" :option="bar_option" class="chart-item"></Chart>
               </div>
           </div>
        </div>

        <Dialog title="录入成绩" :visible="entry_dialog"  width="620px" :close="()=>{entry_dialog=false}" @dialogSure="entryGrade">
            <div slot="dialog-content" class="dialog-content">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <el-select v-model="default_type">
                            <el-option v-for="(value, key) in type" :key="key" :label="value" :value="key"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="18">
                        <el-select v-model="default_report[default_type]">
                            <el-option v-for="(item, index) in report_list[default_type]" :key="index" :label="item[default_type].name" :value="item._id"></el-option>
                        </el-select>
                    </el-col>
                </el-row>
            </div>
        </Dialog>
    </div>
</template>

<script>
import Dialog from '@/components/pubilc/dialog'
import utils from '@/utils/index'
import Chart from '@/components/pubilc/chart'
export default {
    components: { Dialog, Chart },
    data() {
        return {
            id: utils.getQueryString("id"),
            class_id: utils.getQueryString("class_id"),
            name: utils.getQueryString("name"),
            course_list: [],
            table_data: [],
            entry_dialog: false,
            standard_score: false,
            type: {
                exam: "考试",
                assignment: "作业"
            },
            default_type: "exam",
            report_list: {
                exam: [],
                assignment: []
            },
            default_report: {
                exam: [],
                assignment: []
            },
            boxlpot_option: {
                xAxis: {
                    data: [],
                },
                series: [{
                    type: 'boxplot',
                    data: []
                }],
                resize: 0
            },
            bar_option: {
                legend: {
                    data: ["优秀", "良好", "合格", "不合格"]
                },
                xAxis: {
                    data: [],
                },
                color: ["#2e71ff", "#6c98f5", "#97b8ff", "#c1d4ff"],
                series: [{
                    name: '优秀',
                    type: 'bar',
                    data: []
                },
                {   
                    name: '良好',
                    type: 'bar',
                    data: []
                },
                {   
                    name: '合格',
                    type: 'bar',
                    data: []
                },
                {   
                    name: '不合格',
                    type: 'bar',
                    data: []
                }],
                resize: 0
            }
        }
    },
    methods: {
        get_class_report_detail() {
            this.$api.Classes.get_class_report_detail(this.id).then(resData => {
                if(resData.code == 200) {
                    this.table_data = resData.data.students.map((element, index) => {
                        index++
                        let tasks = {}
                        if(element.tasks) {
                            element.tasks.map(item => {
                                tasks[item.course] = {
                                    name: item.name,
                                    score: item.score,
                                    T: item.T
                                }
                            })
                        }
                        return {
                            _id: element._id,
                            index: index,
                            nickname: element.nickname,
                            email: element.email,
                            tasks: tasks
                        }
                    })
                    let avg = {}
                    this.course_list = resData.data.courses
                    let course_relation = {}
                    resData.data.courses.map(element => {
                        course_relation[element.course._id] = element.course.name
                    })
                    resData.data.reports.map((item, index) => {
                        avg[item.course] = {
                            name: "",
                            score: item.avg,
                            T: item.avgT
                        }
                        this.boxlpot_option.xAxis.data.push(course_relation[item.course])
                        this.boxlpot_option.series[0].data[index] = []
                        this.$set(this.boxlpot_option.series[0].data[index], 0, item.minT)
                        this.$set(this.boxlpot_option.series[0].data[index], 1, item.percent25T)
                        this.$set(this.boxlpot_option.series[0].data[index], 2, item.midT)
                        this.$set(this.boxlpot_option.series[0].data[index], 3, item.percent75T)
                        this.$set(this.boxlpot_option.series[0].data[index], 4, item.maxT)

                        this.bar_option.xAxis.data.push(course_relation[item.course])
                        item.scoreRatio.map((score, i) => {
                            this.bar_option.series[i].data.push(score.number)
                        })
                    })
                    this.table_data.push({
                        _id: "",
                        index: "",
                        nickname: "平均分",
                        email: "",
                        tasks: avg
                    })
                    this.boxlpot_option.resize++
                    this.bar_option.resize++
                }
            })
        },
        showDialog(id) {
            this.entry_dialog = true
            let reqData = {
                current: 1,
                pageSize: 9999
            }
            this.default_report = {
                exam: [],
                assignment: []
            }
            this.$api.Report.get_assignment_report_list(id, reqData).then(resData => {
                if(resData.code == 200) {
                    this.report_list.assignment = resData.data.list
                }
            })
            this.$api.Report.get_exam_report_list(id, reqData).then(resData => {
                if(resData.code == 200) {
                    this.report_list.exam = resData.data.list
                }
            })
        },
        entryGrade() {
            let reqData = {}
            if(this.default_type == "exam") {
                reqData.exams = [this.default_report.exam]
            }else{
                reqData.assignments = [this.default_report.assignment]
            }
            this.$api.Classes.update_class_report(this.id, reqData).then(resData => {
                if(resData.code == 200) {
                    this.get_class_report_detail()
                    this.entry_dialog = false
                }
            })
        },
        // tranStandard() {
        //     this.standard_score = true
        // }
    },
    created() {
        this.get_class_report_detail()
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.page-title{
    display: flex;
    justify-content: space-between;
}
.edit-icon{
    font-size: 16px;
    color: $--default;
    vertical-align: text-bottom;
    cursor: pointer;
}
.el-select{
    width: 100%;
}
.chart-content{
    display: flex;
    justify-content: space-around;
    .chart-box{
        .chart-item{
            width: 500px;
            height: 300px;
        }
    }
}
</style>
<style lang="scss">
.entry-grade{
    .el-table--striped .el-table__body tr:last-child.el-table__row--striped td{
        background-color: #e3e7eb;
    }
}
</style>

