<template>
    <div>
        <div class="page-title">
            <div class="main-title">成绩管理</div>
        </div>
        <div class="page-content-card">
            <el-table :data="table_data" stripe border>
                <el-table-column label="测试" prop="name">
                    <template slot-scope="scope">
                        <el-button type="text" @click="toPage(scope.row._id, scope.row.name)">{{scope.row.name}}</el-button>
                    </template>
                </el-table-column>
                <el-table-column label="时间" prop="createdAt">
                    <template slot-scope="scope">
                        <span>{{ changeTime(scope.row.createdAt) }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="移除">
                    <template slot-scope="scope">
                        <el-button type="text"><i class="el-icon-delete" @click="remove_report(scope.row._id)"></i></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="page-content-card-bottom">
                <el-pagination layout="prev, pager, next" 
                :current-page="current_page" :page-size="page_size" :total="total_count" :current-change="get_class_report"></el-pagination>
                <el-button type="primary">生成Excel</el-button>
                <el-button type="primary" @click="showCreateDialog">创建成绩单</el-button>
            </div>
        </div>

        <Dialog title="创建成绩单" :visible="create_dialog"  width="620px" :close="()=>{create_dialog=false}" @dialogSure="creatReport">
            <div slot="dialog-content" class="dialog-content">
                <el-row>
                    <el-col :span="3">名称</el-col>
                    <el-col :span="21"><el-input v-model="create_report.name"></el-input></el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">科目</el-col>
                    <el-col :span="21">
                        <span v-for="(item, index) in course_list" :key="index" class="margin">
                            <el-button type="primary"  @click="selectCourse(item._id)" v-if="create_report.courses.indexOf(item._id) >= 0">{{item.course.name}}</el-button>
                            <el-button @click="selectCourse(item._id)" v-else>{{item.course.name}}</el-button>
                        </span>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">可见范围</el-col>
                    <el-col :span="21">
                        <el-select v-model="create_report.students" multiple clearable>
                            <el-option v-for="item in student_list" :key="item._id" :value="item.student._id" :label="item.student.nickname"></el-option>
                        </el-select>
                    </el-col>
                </el-row>
            </div>
        </Dialog>
    </div>
</template>

<script>
import utils from '@/utils/index'
import Dialog from '@/components/pubilc/dialog'
import Common from '@/mixins/common'
export default {
    components: { Dialog },
    mixins: [Common],
    data() {
        return {
            table_data: [],
            class_id: utils.getQueryString("id"),
            current_page: 1,
            page_size: 20,
            total_count: 100,
            create_dialog: false,
            course_list: [],
            student_list: [],
            create_report: {
                name: "",
                courses: [],
                students: [],
                isAll: false
            }
        }
    },
    methods: {
        get_class_exams() {
            let reqData = {
                current: this.current_page,
                pageSize: this.page_size,
                where: JSON.stringify({
                    classes: utils.getQueryString("id")
                })
            }
            this.$api.Classes.get_class_exams(reqData).then(resDAta => {

            })
        },
        toPage(id, name) {
            this.$router.push({name: "ClassScoreEntry", query: {id: id, class_id: this.class_id, name: utils.formatStr(name)}})
        },
        get_class_report(page) {
            let reqData = {
                current: page?page:this.current_page,
                pageSize: this.page_size,
                where: JSON.stringify({
                    classes: this.class_id
                }) 
            }
            this.$api.Classes.get_class_report(reqData).then(resData => {
                if(resData.code == 200) {
                    this.table_data = resData.data.list
                    this.total_count = resData.data.pagination.total
                }
            })
        },
        showCreateDialog() {
            this.create_dialog = true
            this.get_class_course()
            this.get_class_student()
        },
        get_class_course() {
            let reqData = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({
                    classes: this.class_id
                }) 
            }
            this.$api.Classes.get_class_course(reqData).then(resData => {
                if(resData.code == 200) {
                    this.course_list = resData.data.list
                }
            })
        },
        get_class_student() {
            let reqData = {
                current: 1,
                pageSize: 99999,
                where: JSON.stringify({
                    classes: this.class_id
                }) 
            }
            this.student_list = [{student: {_id: "all", nickname: "所有人"}}]
            this.$api.Classes.get_class_student(reqData).then(resData => {
                if(resData.code == 200) {
                    this.student_list.push.apply(this.student_list, resData.data.list )
                }
            })
        },
        selectCourse(id) {
            let _start = this.create_report.courses.indexOf(id)
            if(_start >= 0){
                this.create_report.courses.splice(_start, 1)
            }else{
                this.create_report.courses.push(id)
            }
        },
        creatReport() {
            if(!this.create_report.name) {
                this.$message.warning("请输入名称")
                return
            }
            let reqData = {
                name: this.create_report.name,
                classes: this.class_id,
                courses: this.create_report.courses,
                students: []
            }
            this.create_report.students.map(element => {
                if(element == "all") {
                    reqData.isAll = true
                }else{
                    reqData.students.push(element)
                }
            })
            this.$api.Classes.create_class_report(reqData).then(resData => {
                if(resData.code == 200) {
                    this.$message.success("创建成绩单成功！")
                    this.create_dialog = false
                    this.get_class_report(1)
                }
            })
        },
        remove_report(id) {
            this.$confirm('是否移除成绩单', '移除成绩单', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                let reqData = {
                    id: id
                }
                this.$api.Classes.remove_class_report(id, reqData).then(resData => {
                    if(resData.code == 200){
                        this.get_class_report(1)
                        this.$message.success("移除成功！")
                    }
                })
            }).catch(() => {});
        }
    },
    created() {
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["班级", utils.getQueryString("name"), "成绩管理"]
        })
        this.get_class_report()
    }
}
</script>

<style lang="scss" scoped>
.dialog-content {
    .el-row{
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 16px;
    }
    .margin{
        float: left;
        display: block;
        margin-right: 14px;
        margin-bottom: 14px;
    }
}
</style>