<template>
    <div>
        <div class="page-title">
            <div class="main-title">管理学生</div>
        </div>
        <div class="page-content-card">
            <el-table :data="table_data" stripe border>
                <el-table-column label="学生姓名" prop="student.nickname"></el-table-column>
                <el-table-column label="学号" prop="student.email"></el-table-column>
                <el-table-column label="邮箱" prop="student.email"></el-table-column>
                <el-table-column label="进入方式" prop="student.entry">
                    <template slot-scope="scope">
                        <span>{{scope.row.inviteType==0?"邀请":"添加"}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="身份">
                    <template><span>学生</span></template>
                </el-table-column>
                <!-- <el-table-column label="编辑">
                    <template slot-scope="scope">
                        <i class="el-icon-edit" @click="edit(scope.row.id)"></i>
                    </template>
                </el-table-column> -->
                <el-table-column label="移除">
                    <template slot-scope="scope">
                        <el-button type="text"><i class="el-icon-delete" @click="remove_student(scope.row._id)"></i></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="page-content-card-bottom">
                <el-pagination layout="prev, pager, next"  @current-change="init"
                    :current-page="current_page" :page-size="page_size" :total="total_count"></el-pagination>
                <el-button type="primary">生成Excel</el-button>
                <el-button type="primary" @click="add_dialog=true">添加</el-button>
            </div>
        </div>
        <add-dialog :dialog="add_dialog" @add="add_student" :close="() => {add_dialog = false}"></add-dialog>
    </div>
</template>

<script>
import addDialog from '@/components/student/add-dialog'
import utils from '@/utils/index'
export default {
    components: { addDialog },
    data() {
        return {
            class_id: utils.getQueryString("id"),
            table_data: [],
            current_page: 1,
            page_size: 20,
            total_count: 100,
            add_dialog: false
        }
    },
    methods: {
        init(page) {
            let reqData = {
                current: page?page:this.current_page,
                pageSize: this.page_size,
                where: JSON.stringify({
                    classes: this.class_id
                })
            }
            this.$api.Classes.get_class_student(reqData).then(resData => {
                if(resData.code == 200){
                    this.table_data = resData.data.list
                    this.total_count = resData.data.pagination.total
                }
            })
        },
        add_student(id) {
            let reqData = {
                classes: this.class_id,
                student: id
            }
            this.$api.Classes.add_class_student(reqData).then(resData => {
                if(resData.code == 200){
                    this.add_dialog = false
                    this.init(1)
                }
            })
        },
        remove_student(id) {
            this.$confirm('是否移除学生', '移除学生', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                let reqData = {
                id: id
            }
            this.$api.Classes.remove_class_student(id, reqData).then(resData => {
                if(resData.code == 200){
                    this.init(1)
                    this.$message.success("移除成功！")
                }
            })
            }).catch(() => {});
        }
    },
    created() {
        this.$store.commit('setBreadcrumb', {
            name: this.$route.name,
            path: ["班级", utils.getQueryString("name"), "学生管理"]
        })
        this.init(1)
    }
}
</script>