<template>
	<div id="app">
		<el-container v-if="!token">
			<router-view/>
		</el-container>
		<el-container v-else>
			<el-aside style="width: 192px;">
				<left-menu></left-menu>
			</el-aside>
			<el-container>
				<el-header style="height: 48px;">
					<page-header></page-header>
				</el-header>
				<el-main>
					<router-view/>
				</el-main>
			</el-container>
		</el-container>
	</div>
</template>

<script>
import Icon from './components/pubilc/icon'
import leftMenu from './components/pubilc/left-menu'
import pageHeader from './components/pubilc/page-header'
import Cookie from 'js-cookie'
export default {
	name: 'App',
	components: {
		Icon,
		leftMenu,
		pageHeader
	},
	data(){
		return {
			tokenFlag: false,
			token: ''
		}
	},
	methods: {
		
	},
	updated(){
		this.token = Cookie.get('edu_token') || ''
	},
	mounted () {
		this.token = Cookie.get('edu_token') || '';
	},
	watch: {
		$route(to, from){
			this.token = Cookie.get('edu_token') || '';
		}
	}
}
</script>

<style lang="scss">
#app{
	overflow-x: hidden;
	transform: translateZ(0)
}
.el-container {
	height: 100%;
}
.el-aside {
	width: 192px;
	height: 100%;
	box-shadow: 0 2px 6px 0 rgba(99,115,129,0.49);
}
.el-header {
	padding: 0 16px;
	background: #FFFFFF;
	box-shadow: 0 1px 4px 0 rgba(42,51,60,0.12);
}
.el-main {
	height: 100%;
}
</style>
