<template>
    <div class="calendar">
        <ul>
            <li class="thead">
                <span v-for="item in thead" :key="item" class="td">{{item}}</span>
            </li>
            <li v-for="(item, index) in tbody" :key="index" class="tbody">
                <div v-for="(v,i) in item" :key="i" :class="[{'text-2': !v.default}, getDateTime(v.date)==getDateTime(default_date)?'active': '']" 
                    @click="selectDate(v.date)" class="td">
                    <span class="date-text">{{v.text}}</span>
                    <span v-if="v.content">
                        <span v-for="(value, key) in v.content" :key="key">
                            <div class="content-list" v-for="(item, index) in value" :key="index" :style="{background: item.color}" @click="toPgae(item.id, item.name, item.course_id, item.unit, item.type)">
                                <el-tooltip class="item" effect="light" placement="top">
                                    <div slot="content">
                                        <div class="tooltip-content-header">{{item.name}}</div>
                                        <div class="tooltip-content-class">
                                            <span v-for="i in item.visible" :key="i._id">{{i.name}} </span>
                                        </div>
                                        <div class="tooltip-content-time">截止日期：{{item.endTime}}</div>
                                        <div class="tooltip-content-intro" v-html="item.introduction">
                                        </div>
                                    </div>
                                    <span class="name-box">
                                        {{item.name}}
                                    </span>
                                </el-tooltip>
                            </div>
                        </span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    
</template>

<script>
import color_config from '@/utils/config'
import utils from '@/utils/index'
import Cookie from 'js-cookie'
export default {
    props: ['date', 'content'],
    data() {
        return {
            thead: [
                'SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'
            ],
            tbody: [
                [], [], [], [], [], []
            ],
            default_date: '',
        }
    },
    methods: {
        getCalendar(now){
            this.default_date = now
            let _year = now.getFullYear()
            let _month = now.getMonth()
            let _start = new Date(_year, _month, 1)
            let _end = this.monthEnd(_year, _month)
            let _start_day = this.redefineDay(_start)
            let last_month_end = this.monthEnd(_year, _month-1)
            let index = 0;
            _start_day = _start_day?_start_day:7
            for(let i = 0; i < _start_day; i++){
                let last_month_date = new Date(_year, _month-1, last_month_end.getDate() - i)
                let _day = this.redefineDay(last_month_date)
                this.tbody[0][_day] = {
                    text: `${last_month_date.getDate()}`,
                    date: last_month_date
                }
                index++
            }
            for(let i = _start.getDate(); i <= _end.getDate(); i++){
                let _date = new Date(_year, _month, i)
                let _day = this.redefineDay(_date)
                this.tbody[Math.floor(index/7)][_day] = {
                    text: `${i}`,
                    date: _date,
                    default: true
                }
                index++
            }
            let last_length = 6*7 - index
            for(let i = 1; i <= last_length ; i++){
                let next_Month_day = new Date(_year, _month+1, i)
                let _day = this.redefineDay(next_Month_day)
                this.$set(this.tbody[Math.floor(index/7)], _day, {
                    text: `${i}`,
                    date: next_Month_day
                })
                index++
            }
            for(let key in this.content){
                this.tbody.map(element => {
                    element.map(date => {
                        if(date.date.getFullYear() == new Date(key).getFullYear() && date.date.getMonth() == new Date(key).getMonth() && date.date.getDate() == new Date(key).getDate()){
                            date['content'] = this.content[key]
                        }
                    })
                })
            }
        },
        selectDate(date){
            this.getCalendar(date)
            this.$emit("change-date", date)
        },
        monthEnd(year, month){
            return new Date(year, month+1, 0)
        },
        redefineDay(date){
            // return date.getDay()?date.getDay()-1:6    //周一在第一列
            return date.getDay()    //周日在第一列
        },
        getDateTime(date){
            return new Date(date.getFullYear(), date.getMonth(), date.getDate()).getTime()
        },
        getColor(key){
            return color_config.course[key]
        },
        toPgae(id, name, course_id, unit, type){
            if(Cookie.get('identity') == 'teacher') {
                this.$router.push({
                    name: "viewAssignmentExam",
                    query: {
                        course: course_id,
                        unit: unit._id,
                        id: id,
                        name: utils.formatStr(name),
                        type: type,
                    },
                })
            }else{
                console.log(id, name, course_id, unit, type)
                if(type == 'exams') {
                    this.$router.push({
                        name: "Examination",
                        query: {
                            course: course_id,
                            unit: unit?unit._id:'',
                            id: id,
                            name: utils.formatStr(name),
                            type: type,
                        },
                    })
                }
                if(type == 'assignments') {
                    this.$router.push({
                        name: "studentAssignment",
                        query: {
                            course: course_id,
                            unit: unit?unit._id:'',
                            id: id,
                            name: utils.formatStr(name),
                            type: type,
                        },
                    })
                }
                if(type == 'coursewares') {
                    this.$router.push({
                        name: "studentCourseware",
                        query: {
                            course: course_id,
                            unit: unit?unit._id:'',
                            id: id,
                            name: utils.formatStr(name),
                            type: type,
                        },
                    })
                }
            }
        }
    },
    created(){
    },
    mounted(){
        document.querySelectorAll(".tbody .td").forEach(element => {
            element.style.height = document.querySelector(".td").clientWidth + 'px'
        })
    },
    watch: {
        'date'(newVal, oldVal){
            this.default_date = this.date
            this.getCalendar(this.default_date)
        },
        'content'(newVal){
            this.getCalendar(this.date)
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.calendar {
    li {
        list-style-type: none;
        display: flex;
        .td {
            display: inline-block;
            box-sizing: border-box;
            width: 14.285%;
            height: 100px;
            margin-left: -1px;
            margin-top: -1px;
            border: 1px solid $--border-3;
        }
    }
    .thead {
        .td {
            height: 40px;
            border: none;
            text-align: center;
            font-size: 18px;
        }
    }
    .tbody {
        .td {
            text-indent: 8px;
            cursor: pointer;
            overflow: auto;
            &:hover {
                background: $--default-light-1;
            }
            .date-text{
                text-indent: 8px;
                font-weight: bold;
            }
            .content-list {
                display: inline-block;
                width: 100%;
                padding: 4px 0;
                margin-bottom: 4px;
                font-size: 12px;
                .name-box{
                    float: left;
                    display: block;
                    width: 100%;
                    white-space: nowrap;  
                    text-overflow: ellipsis; 
                    overflow: hidden;
                }
            }
        }
        .active {
            background: $--default-light-1;
        }
        .text-2 {
            color: $--text-3;
        }
    }
}
</style>

<style lang="scss">
@import '@/assets/css/var.scss';
.el-tooltip__popper {
    padding: 20px;
    .tooltip-content-header{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .tooltip-content-class{
        font-size: 12px;
        color: $--default;
        margin-bottom: 10px;
    }
    .tooltip-content-time{
        font-size: 12px;
        color: $--text-3;
        margin-bottom: 20px;
    }
}
</style>