<template>
    <div :id="id">
    </div>
</template>

<script>
// 引入基本模板
let echarts = require('echarts/lib/echarts')
let dataTool = require('echarts/dist/extension/dataTool')
// 引入折线图、柱状图、饼图组件
require('echarts/lib/chart/line')
require('echarts/lib/chart/bar')
require('echarts/lib/chart/pie')
require('echarts/lib/chart/boxplot')
require('echarts/lib/chart/scatter')
require('echarts/lib/chart/radar')
// 引入提示框和title组件
require('echarts/lib/component/tooltip')
require('echarts/lib/component/title')
require('echarts/lib/component/markPoint')
require('echarts/lib/component/markLine')
export default {
    props: ["id", "option"],
    data() {
        return {
            default_type: "line",
            option_data: {
                line: {
                    series: {
                        data: [],
                        type: 'line',
                        symbol: "circle",
                        symbolSize: "10",
                        itemStyle: {
                            normal: {
                                lineStyle:{
                                    width: 1
                                },
                            }
                        }
                    }
                },
                bar: {
                    series: {
                        type: 'bar',
                        // markPoint: {
                        //     data: [
                        //         {type : 'max', name: '最大值'},
                        //         {type : 'min', name: '最小值'}
                        //     ]
                        // },
                        // markLine: {
                        //     data: [
                        //         {type : 'average', name: '平均值'}
                        //     ]
                        // },
                        barWidth: 30,
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        itemStyle: {
                            normal: {

                            }
                        }
                    }
                },
                pie: {
                    series: {
                        type: 'pie',
                        radius: ['50%', '70%'],
                        label: {
                            normal: {
                                show: false,
                                position: 'center',
                                // formatter: '100人',
                                // textStyle: {
                                //     fontSize: '30',
                                //     fontWeight: 'bold',
                                //     color: '#262626'
                                // }
                            },
                            emphasis: {
                                show: true,
                                formatter: '{c}人',
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    }
                },
                boxplot: {
                    series: {
                        type: 'boxplot',
                        tooltip: {
                            formatter: function (param) {
                                let seriesName = param.seriesName=='series0'?param.seriesName + '- ':''
                                return [
                                    seriesName + param.name,
                                    '最高分: ' + param.data[5],
                                    '75%: ' + param.data[4],
                                    '中位数: ' + param.data[3],
                                    '25%: ' + param.data[2],
                                    '最低分: ' + param.data[1]
                                ].join('<br/>');
                            }
                        },
                        itemStyle: {
                            borderWidth: 4,
                        },
                        z: 10,
                    },
                },
                radar: {
                    series: {
                        type: "radar"
                    }
                },
                customLine: {
                    series: [
                        {
                            type: 'bar',
                            stack:  '总量',
                            itemStyle: {
                                normal: {
                                    barBorderColor: 'rgba(0,0,0,0)',
                                    color: 'rgba(0,0,0,0)'
                                },
                                emphasis: {
                                    barBorderColor: 'rgba(0,0,0,0)',
                                    color: 'rgba(0,0,0,0)'
                                }
                            },
                            barWidth: 80,
                            data: [],
                            z: 100,
                            tooltip: {
                                show: false
                            },
                        },
                        {
                            type: 'bar',
                            stack: '总量',
                            data: [],
                            itemStyle: {
                                normal: {
                                    color: "#E98E1D"
                                }
                            },
                            barWidth: 80,
                            z: 100,
                            tooltip: {
                                show: false,
                            },
                            markPoint: {
                                symbolSize: 1,
                                symbolOffset: [0, '50%'],
                                label: {
                                    formatter: '{b|{b} }{c|{c}}分',
                                    backgroundColor: 'rgb(242,242,242)',
                                    borderColor: '#aaa',
                                    borderWidth: 1,
                                    borderRadius: 4,
                                    padding: [4, 10],
                                    lineHeight: 26,
                                    position: 'top',
                                    distance: 40,
                                    rich: {
                                        a: {
                                            align: 'center',
                                            color: '#fff',
                                            fontSize: 18,
                                            textShadowBlur: 2,
                                            textShadowColor: '#000',
                                            textShadowOffsetX: 0,
                                            textShadowOffsetY: 1,
                                            textBorderColor: '#333',
                                            textBorderWidth: 2
                                        },
                                        b: {
                                            color: '#333'
                                        },
                                        c: {
                                            color: '#ff8811',
                                            textBorderColor: '#000',
                                            textBorderWidth: 1,
                                            fontSize: 22
                                        }
                                    }
                                },
                                data: [
                                    {name: '你的成绩: ', value: 45, xAxis: 45, yAxis: 0},
                                ]
                            }
                        }
                    ]
                }
            },
            default_option: {
                title: {
                    text: [],
                    textStyle: {
                        rich: {
                            title: {
                                color: "#262626",
                                fontSize: "14",
                                verticalAlign: 'bottom',
                            },
                            subTitle: {
                                color: "#595959",
                                fontSize: "12",
                                verticalAlign: 'bottom',
                            }
                        }
                    }
                },
                color: ['#A21832', '#23AC8A', '#7D3486', '#3471BA', '#E98E1D'],
                legend: {
                    show: true,
                    orient: "vertical",
                    right: 0,
                },
                tooltip: {
                    trigger: 'item',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    type: 'category',
                    axisLabel: {
                        textStyle: {
                            color: '#262626'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: "#D9D9D9"
                        } 
                    },
                    data: []
                },
                yAxis: {
                    type: 'value',
                    nameTextStyle: {
                        align: 'right',
                    },
                    axisLabel: {
                        interval: 'auto',
                        formatter: '{value}',
                        textStyle: {
                            color: '#262626'
                        }
                    },
                    axisLine: {
                        "show": false
                    },
                    axisTick: {
                        "show": false
                    },
                    splitLine: {
                        lineStyle: {
                            type: "dashed"
                        },
                    },
                },
                series: []
            },
            copy_option: {}
        }
    },
    methods: {
        drawChart() {
            let defaultChart = echarts.init(document.getElementById(this.id))
            defaultChart.clear()
            defaultChart.setOption(this.default_option)
            defaultChart.resize()
        },
        init_data(){
            this.default_option = JSON.parse(JSON.stringify(this.copy_option))
            // title处理
            if(this.option.title){
                if(this.option.title.text){
                    this.default_option.title.text.push(`{title|${this.option.title.text}}`)
                }
                if(this.option.title.subTitle){
                    this.default_option.title.text.push(`{subTitle|${this.option.title.subTitle}}`)
                }
                this.default_option.title.text = this.default_option.title.text.join('  ')
            }
            this.default_option.legend.data = this.option.legend?this.option.legend.data: []
            this.default_option.radar = this.option.radar?this.option.radar:""
            if(this.option.color) this.default_option.color = this.option.color
            //xAxis.data
            if(this.option.xAxis) Object.assign(this.default_option.xAxis, this.option.xAxis)
            //yAxis处理
            if(this.option.yAxis) {
                Object.assign(this.default_option.yAxis, this.option.yAxis)
                if(this.option.yAxis.axisLabel){
                    Object.assign(this.default_option.yAxis.axisLabel, this.option.yAxis.axisLabel)
                }
            }
            if(this.option.grid) {this.default_option.grid = this.option.grid}
            this.option.series.forEach((e, index) => {
                this.default_type = e.type
                if(e.tooltip){
                    this.option_data[this.default_type].series.tooltip = e.tooltip
                }
                if(this.option_data[this.default_type].series.tooltip){
                    this.default_option.tooltip = this.option_data[this.default_type].series.tooltip
                }
                if(this.default_type == "boxplot"){
                    // let data = dataTool.prepareBoxplotData(e.data)
                    this.default_option.xAxis.data = this.option.xAxis.data
                    this.option_data[this.default_type].series.data = e.data
                    this.option_data[this.default_type].series.name = e.name
                }
                else if(this.default_type == "customLine"){
                    this.option_data[this.default_type].series[0].data = e.data
                    this.option_data[this.default_type].series[1].data = e.data.map(item => {
                        return 1
                    })
                    this.option_data[this.default_type].series[1].markPoint.data = e.markPoint.data
                }
                else{
                    Object.assign(this.option_data[this.default_type].series, e)
                    if(this.default_type == "pie"){
                        delete this.default_option.xAxis
                        delete this.default_option.yAxis
                    }
                }

                if(e.color && this.default_type == 'line'){   //指定线的颜色
                    this.option_data[this.default_type].series.itemStyle.normal.color = e.color
                }
                if(Array.isArray(this.option_data[this.default_type].series)){
                    Array.prototype.push.apply(this.default_option.series, JSON.parse(JSON.stringify(this.option_data[this.default_type].series)))
                }else{
                    this.default_option.series.push(JSON.parse(JSON.stringify(this.option_data[this.default_type].series)))
                }
            })
            this.drawChart()
        }
    },
    mounted(){
        this.copy_option = JSON.parse(JSON.stringify(this.default_option))
        this.init_data()
    },
    watch: {
        'option.resize'(newVal){
            this.init_data()
        }
    }
}
</script>

<style lang="scss" scoped>


</style>