<template>
    <div class="class-header-content" ref="classContent">
        <ul class="class-header" ref="ulContent" :style="{left: `${classLeft}px`}">
            <li v-for="(item, index) in tabList" :key="index" :class="initClass(index, item)" @click="changeClass($event, index, item)">
                <span>{{ item.name }}</span>
                <el-badge v-if="item.count" :value="item.count" :max="99" class="item"></el-badge>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: ["tabList", "current"],
    data(){
        return {
            currentId: "",
            classLeft: 0 
        }
    },
    methods: {
        initClass(index, item){
            if(item.disabled){
                return 'disabled'
            }
            if(this.currentId == item._id){
                return 'active'
            }
        },
        changeClass(event, index, item){
            if(item.disabled){
                return
            }
            let targetX = event.target.offsetLeft
            this.moveClass(targetX, index)
            this.currentId = item._id
            this.$emit("change-tab", item)
        },
        moveClass(targetX, index){
            let count = this.getLeftWidth()
            let half = this.getContentWidth(count.page)
            if(half >= targetX){
                this.classLeft = 0
            }else if(half < targetX){
                this.classLeft = -((targetX - this.$refs.classContent.clientWidth / 2)  > 0 ? targetX - this.$refs.classContent.clientWidth / 2 : 0)
            }
        },
        getLeftWidth(){
            let countWidth = this.getContentWidth()
            let clientWidth = this.$refs.classContent.clientWidth
            let count = (countWidth / clientWidth).toFixed(1)
            let onePage = Math.floor(this.tabList.length / count)
            return {
                onePageCount: onePage,
                page: Math.floor(onePage / 2)
            }
        },
        getContentWidth(count){
            let width = 0
            let length = this.$refs.ulContent.children.length
            if(length > 0){
                count = count || this.$refs.ulContent.children.length
                for(let i = 0; i < count; i++){
                    let item = this.$refs.ulContent.children[i]
                    if(item && item.clientWidth){
                        width += item.clientWidth + 40
                    }
                }
            }
            return width
        },
        mouseMove($event){
            // let downClientX = $event.clientX
            // document.onmousemove = (e)=>{
            //     let moveClientX = e.clientX
            //     let move = -(Math.abs(this.classLeft) - (downClientX - moveClientX))
            //     if(move >= 0){
            //         this.classLeft = 0
            //         return
            //     }else if(move <= -(this.changeWidth() - 300)){
            //         this.classLeft = -(this.changeWidth() - 300)
            //         return
            //     }
            //     this.classLeft = move
            // };
            // document.onmouseup = (e) => {
            //     document.onmousemove = null;
            //     document.onmouseup = null;
            // };
        },
        changeWidth(){
            return this.tabList.length * 100
        }
    },
    mounted(){
        if(this.current || this.current == 0){
            this.currentId = this.current
        }else{
            for(let item in this.tabList){
                if(!this.tabList[item].disabled){
                    this.currentId = item._id
                    return
                }
            }
        }
    },
    watch: {
        current: {
            handler(newVal){
                this.currentId = newVal
            },
            immediate: true
        },
        tabList: {
            handler(newVal){
                this.$nextTick(() => {
                    // this.$emit("change-tab", newVal.length > 0 ? newVal[0] : {})
                })
            },
            deep: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.class-header-content{
    width: 100%;
    overflow: hidden;
}
.class-header{
    height: 46px;
    display: flex;
    width: 100%;
    position: relative;
    transition: all .3s;
    width: 10000000px;
    li{
        margin: 0 20px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .3s;
        font-size: 16px;
        font-weight: normal;
        display: flex;
        align-items: center;
        &:hover{
            border-color: $--default;
            color: $--default
        }
    }
    .active{
        border-color: $--default;
        color: $--default
    }
    .disabled{
        cursor: not-allowed;
        color: $--text-3;
        &:hover{
            border-color: transparent;
            color: $--text-3
        }
    }
}
.new-message-notice{
    padding: 3px;
    box-sizing: border-box;
    margin-left: 5px;
    min-width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    background-color: #FF0000;
    color: $--white;
    border-radius: 10px;
    font-size: 12px;
}
</style>