<template>
    <div class="item-num">
        <p :class="[color]" v-html="title"></p>
        <p :class="[color]"><span class="mole-num">{{front}}</span><span class="deno-num" v-if="back">{{back}}</span></p>
    </div>
</template>

<script>
export default {
    props: ['title', 'front', 'color', 'back']
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.item-num{
    font-size: 12px;
    .mole-num{
        font-size: 32px;
        font-weight: bold;
        color: $--default;
    }
    .deno-num{
        font-size: 20px;
        font-weight: bold;
        color: $--text-3;
    }
    .text-1{
        .mole-num{
            color: $--text-1;
        }
        .deno-num{
            font-size: 16px;
        }
    }
    .label-1{
        display: inline-block;
    }
    .label-1:nth-child(1){
        min-width: 60px;
        margin-right: 6px;
    }
}
</style>