<template>
    <div class="box">
        <span class="left-btn" @click="changeMonth(-1)"><i class="el-icon-caret-left"></i></span>
        <span class="middle-content">{{default_date.text}}</span>
        <span class="right-btn" @click="changeMonth(1)"><i class="el-icon-caret-right"></i></span>
    </div>
</template>

<script>
import utils from '@/utils/index'
export default {
    props: ['date'],
    data() {
        return {
            default_date: {
                date: "",
                text: ""
            },
        }
    },
    methods: {
        changeMonth(num){
            let date = this.default_date.date
            this.default_date.date = new Date(date.getFullYear(), date.getMonth() + num, 1)
            this.default_date.text = this.formatDate(this.default_date.date)
            this.$emit('change-date', this.default_date.date)
        },
        formatDate(date){
            return utils.formatDate(date, "yyyy年MM月")
        }
    },
    created() {
        
    },
    watch: {
        'date'(newVal, oldVal){
            console.log('date', this.date)
            this.default_date.date = this.date
            this.default_date.text = this.formatDate(this.date)
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.box{
    display: flex;
    background: $--white;
    span{
        display: inline-block;
        padding: 0 10px;
        height: 34px;
        line-height: 34px;
        margin-left: -1px;
        font-size: 12px;
        font-weight: bold;
        color: $--default;
        border: 1px solid $--default;
    }
    .left-btn{
        font-size: 20px;
        border-radius: 4px 0 0 4px;
        cursor: pointer;
    }
    .right-btn{
        font-size: 20px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }
}
</style>