<template>
    <div class="date-picker-range-custom">
        <el-date-picker
            v-model="value1"
            type="daterange"
            range-separator=""
            start-placeholder="不限时"
            end-placeholder="不限时"
            clearable
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            :disabled="disabledPicker"
            @change="changeDate">
        </el-date-picker>
        <span class="el-icon-date date-picker-custom-icon icon-1"></span>
        <span class="el-icon-date date-picker-custom-icon icon-2"></span>
        <span class="el-icon-circle-close date-picker-custom-icon icon-3" @click="clearValue"></span>
        <span class="el-icon-circle-close date-picker-custom-icon icon-4" @click="clearValue"></span>
    </div>
</template>
<script>
export default {
    props: {
        disabled: {
            default: false,
            type: Boolean
        },
        defaultVal:{
            default: [],
            type: Array
        }
    },
    data(){
        return {
            value1: '',
            disabledPicker: false
        }
    },
    methods: {
        clearValue(){
            this.value1 = []
            this.$emit('changeDateTime', this.value1)
        },
        changeDate(val){
            this.$emit('changeDateTime', this.value1)
        }
    },
    watch: {
        disabled: {
            handler(newVal){
                this.disabledPicker = newVal
            },
            immediate: true
        },
        "defaultVal.length": {
            handler(newVal){
                this.value1 = this.defaultVal
            },
            deep: true,
            immediate: true
        }
    }
}
</script>
<style lang="scss">
@import '@/assets/css/var.scss';
.date-picker-range-custom{
    position: relative;
    display: inline-block;
    transition: all .2s;
    height: 34px;
    min-width: 485px;
    
    .el-range__icon{
        display: none !important;
    }
    .el-range__close-icon{
        display: none !important
    }
    .el-range-separator{
        display: none !important;
    }
    .el-date-editor--daterange{
        display: flex !important;
        justify-content: space-between !important;
        width: 485px !important;
        background-color: transparent !important;
        border: none;
        padding: 3px 0 !important;
        &:focus-within{
            input{
                border-color: $--default
            }
        }
        input{
            width: 150px;
            height: 34px;
            border: 1px solid rgb(230, 228, 228);
            border-radius: 4px;
            padding: 0 15px;
            text-align: left;
            box-sizing: border-box;
        }
    }

    .date-picker-custom-icon{
        position: absolute;
        top: 7px;
        font-size: 18px;
    }
    .icon-1{
        left: 120px;
    }
    .icon-2{
        right: 10px;
    }
    .icon-3{
        display: none;
        left: 100px;
        top: 10px;
        font-size: 14px;
        color: $--disabled;
    }
    .icon-4{
        display: none;
        right: 30px;
        top: 10px;
        font-size: 14px;
        color: $--disabled
    }
    &:hover{
        .icon-3{
            display: inline;
        }
        .icon-4{
            display: inline;
        }
    }
}
</style>