<template>
    <div class="date-picker-custom">
        <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
        </el-date-picker>
        <span class="el-icon-date date-picker-custom-icon"></span>
    </div>
</template>
<script>
export default {
    data(){
        return {
            value1: ''
        }
    }
}
</script>
<style lang="scss">
@import '@/assets/css/var.scss';
.date-picker-custom{
    .el-input__prefix{
        display: none
    }
    .el-input__suffix{
        right: 25px;
    }
    .el-input__inner{
        padding-left: 15px !important;
        padding-right: 40px !important;
    }
    position: relative;
    display: inline-block;
    height: 34px;
    transition: all .2s;
    &:focus-within{
        color: $--default
    }
    .date-picker-custom-icon{
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 18px;
        // color: $--border
    }
}
</style>