<template>
  <transition name="fade">
    <div class="public-dialog" v-if="visibleFlag" @click="hiddenDialog">
      <transition name="slide-fade">
        <div class="dialog-content" :style="{width: width}">
          <div class="content">
            <div class="dialog-title">
              <slot name="title">{{ title }}</slot>
            </div>
            <div class="dialog-content-slot">
              <slot name="dialog-content" />
            </div>
          </div>

          <div class="dialog-footer">
            <div v-if="footer">
              <el-button plain @click="close">取消</el-button>
              <el-button type="primary" @click="sure">确认</el-button>
            </div>
            <slot name="footer" />
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: '批量添加',
    },
    visible: {
      type: Boolean,
      default: false,
    },
    width: {
      type: String,
      default: '410px',
    },
    close: Function,
    footer: {
      default: true,
      type: Boolean,
    },
    'close-on-click-modal': {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      visibleFlag: false,
    }
  },
  methods: {
    hiddenDialog(e) {
      if (!this['close-on-click-modal']) {
        // if(this['close-on-click-modal']){
        e.stopPropagation()
        e.cancelBubble = true
        let target = e.target.className
        if (target == 'public-dialog') {
          this.visibleFlag = false
          this.close()
        }
      }
    },
    sure() {
      this.$emit('dialogSure')
    },
  },
  watch: {
    visible: {
      handler(newVal) {
        this.visibleFlag = newVal
      },
      immediate: true,
    },
  },
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.public-dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  .dialog-content {
    width: 410px;
    background-color: $--white;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    .content {
      padding: 20px 40px;
      border-bottom: 1px solid $--border;
    }
  }
  .dialog-footer {
    padding: 20px 40px;
    text-align: right;
  }
  .dialog-title {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
  }
}
</style>
