<template>
    <span class="icon-count">
        <span :class="icon"></span>
        <span>{{ count }}</span>
    </span>
</template>
<script>
export default {
    props: {
        icon: {
            default: 'el-icon-star-off',
            type: String
        },
        count: {
            default: 0,
            type: Number
        }
    }
}
</script>
<style lang="scss" scoped>
.icon-count{
    cursor: pointer;
    font-size: 14px;
    padding-right: 10px;
}
</style>