<template>
    <div class="input-group">
        <input :disabled="disabled" v-model="inputVal" type="text" :style="{'padding-left': `${leftName ? '30px' : '15px'}`, ...changeRadius()}" :placeholder="placeholder" @mouseenter="showClear" @mouseleave="showClearIcon = false">
        <button :disabled="disabled" type="button" @click="clickBack" :style="changeColor()">
            <span class="button-icon" v-if="iconName" :class="iconName"></span>
            <span v-else>{{ name }}</span>
        </button>
        <span v-if="leftName" :class="`header-icon ${leftName || ''}`"></span>
        <span v-if="clearable && showClearIcon" @mouseenter="showClear" @click="clear" class="clear-val el-icon-circle-close"></span>
    </div>
</template>
<script>
export default {
    props: {
        name: {
            default: "添加",
            type: String
        },
        placeholder: {
            default: '请输入内容',
            type: String
        },
        iconName: {
            type: String
        },
        leftName: {
            type: String
        },
        clearable: {
            type: Boolean,
            default: true
        },
        buttonColor: {
            type: String
        },
        radius: {
            default: '4',
        },
        disabled: {
            default: false,
            type: Boolean
        },
        val: {
            default: ''
        }
    },
    data(){
        return {
            inputVal: '',
            showClearIcon: false
        }
    },
    methods: {
        clickBack(){
            this.$emit("clickBack", this.inputVal)
        },
        showClear(){
            if(this.inputVal && this.inputVal !== ''){
                this.showClearIcon = true
                return
            }
            this.showClearIcon = false
        },
        clear(){
            this.inputVal = ""
        },
        changeColor(){
            let style = {}
            if(this.buttonColor){
                style['background-color'] = this.buttonColor
                style.color = "#fff"
            }
            if(this.radius){
                style['border-radius'] = `0 ${this.radius}px ${this.radius}px 0`
            }
            return style
        },
        changeRadius(){
            let style = {}
            if(this.radius){
                style['border-radius'] = `${this.radius}px 0 0 ${this.radius}px`
            }
            return style
        }
    },
    watch:{
        val: {
            handler(newVal){
                this.inputVal = newVal
            },
            immediate: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.input-group{
    position: relative;
    height: 32px;
    display: flex;
    // width: 190px;
    input{
        height: 32px;
        width: 65%;
        border-radius: 4px 0 0 4px;
        border: 1px solid $--el-border;
        background-color: $--white;
        outline: none;
        border-right: none;
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 13px;
        transition: all .3s;
        &:focus{
            border-color: $--default
        }
    }
    button{
        height: 32px;
        width: 35%;
        border-radius: 0 4px 4px 0;
        background-color: $--white;
        outline: none;
        border: 1px solid $--default;
        font-size: 12px;
        cursor: pointer;
        color: $--default;
        transition: all .2s;
        &:active{
            background-color: $--default-light-1
        }
    }
    .header-icon{
        position: absolute;
        left: 8px;
        top: 8px;
    }
    .button-icon{
        font-size: 16px;
    }
    .clear-val{
        position: absolute;
        top: 8px;
        right: 37%;
    }
}
</style>