<template>
    <span class="label-list" :style="{'background-color': getLabelColor(), 'justify-content': `${showClose ? 'space-between': 'center'}`}">
        <span class="label-title">
            {{ item }}
        </span>
        <span v-if="showClose" class="el-icon-close close-label" @click="deleteLabel"></span>
    </span>
</template>
<script>
import config from '../../utils/config'
export default {
    props: {
        item: {
            default: Object
        },
        showClose: {
            default: true,
            type: Boolean
        },
        index: Number
    },
    data(){
        return {
            labelColor: config.labelColors
        }
    },
    methods: {
        getLabelColor(){
            return this.labelColor[this.index]
        },
        deleteLabel(){
            this.$emit('deleteLabel', this.index)
        }
    }
}
</script>
<style lang="scss" scoped>
.label-list{
    color: #fff;
    display: flex;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 10px 10px 10px 0;
    font-weight: 100;
    cursor: pointer;
    .close-label{
        cursor: pointer;
    }
}
</style>