<template>
    <div class="left-menu">
        <div class="top-menu">
            <div class="logo">
                <img src="../..//assets/images/logo-white.png" alt />
            </div>
            <div class="top-menu-list">
                <el-menu :default-openeds="default_openeds" :router="true" :unique-opened="true" :default-active="active_index" class="menu-list-content" @open="handleOpen" @close="handleClose">
                    <div v-for="(value, key) in menu_item" :key="key">
                        <el-submenu :index="key" v-if="value.child && Object.keys(value.child).length>0">
                            <template slot="title">
                                <span>{{value.name}}</span>
                            </template>
                            <el-menu-item-group v-if="value.child">
                                <el-menu-item v-for="(child, i) in value.child" :key="i" :index="i" @click="toPage(i)">{{child.name}}</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                        <el-menu-item :index="key" v-else @click="toPage(key)">
                            <span slot="title">{{value.name}}</span>
                        </el-menu-item>
                    </div>
                </el-menu>
            </div>
        </div>
        <!-- <div class="footer">
            <div class="footer-image">
                <img src="../../assets/images/log.png">
            </div>
            <p><small>Plowered by hallim</small></p>
            <p><small>联系我们</small></p>
        </div> -->
    </div>
</template>

<script>
import Cookie from 'js-cookie'
export default {
    data() {
        return {
            default_openeds: [],
            active_index: "",
            menu_item: {
                Account: {
                    name: "个人主页",
                },
                existingCourse: {
                    name: "课程",
                },
                performance: {
                    name: "成绩",
                },
                Calendar: {
                    name: "课程表",
                },
                // correctDraw: {
                //     name: "批改"
                // },
                // previewPDF: {
                //     name: "预览"
                // },
                // questionLib: {
                //     name: "题库",
                // },
                // allMenu: {
                //     name: "所有页面",
                //     component: "",
                //     child: {
                //         Account: {name: "个人信息"},
                //         assist: {name: "svg图标列表"},
                //         addCourse: {name: "添加课程"},
                //         existingCourse: {name: "已有课程"},
                //         CourseIndex: {name: "主页"},
                //         CreateCourse: {name: "添加课程任务"},
                //         DataAnalysis: {name: "数据分析"},
                //         createQuestions: {name: "编辑题目"},
                //         WorkMark: {name: "作业批改"},
                //         // EditMode: {name: "编辑模式"},
                //         educationalManagement: {name: "教务管理"},
                //         // Calendar: {name: "日历"},
                //         DataComparison: {name: "数据对比"},
                //         ClassManagement: {name: "班级管理"},
                //         StudentManagement: {name: "学生管理"},
                //         ScoreManagement: {name: "成绩管理"},
                //         performance: {name: "学生数据"},
                //         StudentPerformance: {name: "学生数据-单人"},
                //         DataAnalysisInner: {name: "数据分析内页"},
                //         Correct: {name: '批改模式'},
                //         CorrectTest: {name: '批改模式-测试'},
                //         Examination: {name: '学生考试'},
                //     }
                // },
                // assist: {
                //     name: "开发辅助",
                //     component: "",
                //     child: {
                //         assist: {name: "svg图标列表"},
                //     }
                // }
            }
        }
    },
    methods: {
        handleOpen() {

        },
        handleClose() {

        },
        toPage(name){
            this.$router.push({name: name})
        }
    },
    computed: {
        routerName(){
            return this.$store.state.router
        },
        classes(){
            return this.$store.state.classes.length
        },
    },
    created() {
        if(Cookie.get('identity') == 'teacher'){
            this.menu_item.ClassManagement = {
                name: "班级"
            }
            this.menu_item.questionLib = {
                name: "题库"
            }
        }else{
            delete this.menu_item.performance
            this.menu_item['StudentPerformance'] = {
                name: "成绩"
            }
            this.menu_item.studentManagement = {
                name: "公告"
            }
        }
    },
    watch: {
        routerName(newVal){
            this.active_index = newVal
        },
        $route(newVal){
            if(newVal.name){
                let name = newVal.name
                if(this.menu_item[name]){
                    this.default_openeds = [name]
                    this.active_index = name
                }else{
                    for(let key in this.menu_item){
                        if(this.menu_item[key].child && this.menu_item[key].child[name]){
                            this.default_openeds = [key]
                            this.active_index = name
                        }
                    }
                }
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "@/assets/css/var.scss";
.left-menu {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $--white;
    flex-shrink: 0;
    z-index: 9;
}
.top-menu{
    overflow: auto;
    flex-shrink: 0;
    .top-menu-list{
        overflow-y: auto;
        // height: 100vh;
        overflow-x: hidden;
    }
}
.logo {
    height: 90px;
    text-align: center;
    color: #ffffff;
    background: $--purple;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 70%;
    }
}
.menu-list-content{
    min-height: 60vh;
}
.footer {
    // position: absolute;
    // bottom: 0;
    box-sizing: border-box;
    height: 100px;
    padding: 0 10px 0 17px;
    // position: absolute;
    // bottom: 0;
    .footer-image{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        img{
            height: 100%;
            width: 100%;
        }
    }
}
.footer div {
    width: 164px;
    border-top: 1px solid $--border;
}
.footer p {
    height: 28px;
    line-height: 28px;
    text-indent: 18px;
    color: $--text-3;
}
</style>