<template>
    <div>
        <div class="header">
            <div class="left">
                <div v-if="showIcon" class="go-home" @click="goHome">
                    <i class="fa fa-home"></i>
                </div>
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="false" v-for="(item, index) in pathName.path" :key="index">{{ item }}</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="right">
                <span class="current-user-header" @click="goAccount">
                    <img v-if="user.avatarUrl" :src="user.avatarUrl"/>
                    <span v-else class="el-icon-user-solid user-icon"></span>
                </span>
                <!-- <span v-for="item in head_portrait" :key="item.id">{{item.url}}</span> -->
                <i class="el-icon-bell message-icon" :class="hasMessage" @click="showMessage"></i>
            </div>
        </div>
        <UserInfo :user="user" :visible.sync="showUser"/>
    </div>
</template>

<script>
import UserInfo from '../account/show-account'
import Common from '../../mixins/common'
import utils from '../../utils/index'
import Cookie from 'js-cookie'
export default {
    mixins: [Common],
    components: {
        UserInfo
    },
    data() {
        return {
            head_portrait: [
                {url: "url", id: 1}
            ],
            breadcrumb: [],
            showUser: false,
            showIcon: false,
            hasMessage: ''
        }
    },
    computed: {
        user(){
            return this.$store.state.user
        },
        pathName(){
            return this.$store.state.breadcrumb
        }
    },
    methods: {
        goAccount(){
            this.$router.push({name: "Account"})
        },
        showMessage(){
            this.$router.push('/message')
        },
        goHome(){
            let identity = Cookie.get('identity')
            let course_id = window.sessionStorage.getItem('course_id')
            let name = utils.formatStr(window.sessionStorage.getItem('name'))
            if(identity == 'teacher'){
                this.$router.push({name: "CourseIndex", query: {course_id: course_id || '', name: name}})
            }else{
                this.$router.push({name: "EditMode", query: {course_id: course_id || '', type: 'view', name: name}})
            }
        },
        messageUnread(){
            this.$api.Common.message_unread().then(res => {
                if(res.code == 200){
                    this.hasMessage = res.data > 0 ? 'has-new-message' : ''
                }
            })
        }
    },
    mounted() {
        this.getCurrentData()
    },
    watch: {
        $route(to, from){
            let meta = to.meta
            let showHomeIcon = meta.showHomeIcon
            this.showIcon = showHomeIcon == 'home' ? true : false
            this.messageUnread()
            // this.breadcrumb = []
            // if(JSON.stringify(meta) !== '{}'){
            //     let pathName = meta.pathName.split('/')
            //     let path = meta.path
            //     path.map((item, index) => {
            //         this.breadcrumb.push({
            //             path: item,
            //             pathName: pathName[index]
            //         })
            //     })
            // }
        },
        // pathName(newVal){
        //     console.log(newVal)
        // }
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.go-home{
    height: 100%;
    width: 30px;
    padding-right: 10px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}
.header {
    height: 48px;
    line-height: 48px;
}
.left {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
}
.right {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
    .current-user-header{
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $--background-color-1;
        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}
.message-icon{
    cursor: pointer;
    font-size: 18px;
}
.has-new-message{
    position: relative;
    &:after{
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
    }
}
.user-icon{
    font-size: 24px;
    color: $--white
}
</style>