<template>
    <el-col :span="span">
        <div class="card">
            <div class="card-title" v-if="!nonetitle">
                <span v-if="title">{{ title }}</span>
                <span class="card-more" v-if="more" @click="clickMore">{{ more }}</span>
                <slot name="header"/>
            </div>
            <div class="card-content" :style="content || {}" :class="{'card-height': height}">
                <slot name="content"/>
            </div>
        </div>
    </el-col>
</template>
<script>
export default {
    props: ['span', 'title', 'more', 'height', 'nonetitle', 'content'],
    methods: {
        clickMore(){
            this.$emit("more")
        }
    }
}
</script>
<style lang="scss">
@import '../../assets/css/var.scss';
.card {
	background: $--white;
	border-radius: 8px;
	margin-bottom: 16px;
}
.card-title {
    display: flex;
    justify-content: space-between;
    height: 46px;
    line-height: 46px;
    padding: 0 16px;
	font-size: 16px;
	font-weight: 500;
	color: $--text-1;
    border-bottom: 1px solid $--border;
    font-weight: bolder;
    .card-more{
        font-size: 12px;
        cursor: pointer;
        color: $--default
    }
}
.card-content {
    padding: 0 16px 16px;
    height: 224px;
    max-height: 224px;
    overflow: auto;
}
.card-height{
    height: auto;
    max-height: 800px;
}
</style>