<template>
    <div>
        <p class="classes-label" v-if="label">{{label}}</p>
        <span class="step" :class="{'background-2': background}">
            <el-tooltip effect="dark" :content="title" placement="right" v-if="title">
                <span :style="{width: step*100 + '%'}" class="doing"></span>
            </el-tooltip>
            <span :style="{width: step}" class="doing" v-else></span>
        </span>
    </div>
</template>

<script>
export default {
    props: ['title', 'step', 'background', 'label']
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.classes-label{
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}
.step{
    width: 100%;
    height: 16px;
    background-color: $--light;
    display: inline-block;
    margin-top: 6px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    &:hover{
        .doing{
            background-color: $--default;     
        }
    }
    .doing{
        transition: all .3s;
        height: 16px;
        display: inline-block;
        border-radius: 10px;
        background-color: $--default-light-5;
        width: 30%;
        position: absolute;
        left: 0;
    }
}
.background-2{
    background-color: $--light-1;
    .doing{
        background-color: $--default;
    }
}
</style>