<template>
    <div>
        <div class="add-item">
            <p class="add-item-title">背景</p>
            <div>
                <span v-if="add_item_color.length == 7" :style="{'background-color': add_item_color, width: '60px', 'height': '60px', display: 'inline-block'}"></span>
                <img :style="{width: '60px', 'height': '60px', display: 'inline-block'}" v-else :src="add_item_color" />
            </div>
        </div>
        <div class="add-item">
            <p class="add-item-title"></p>
            <ul class="color-list">
                <li v-for="(item, index) in labelColors" :key="index" @click="selectColor(item)">
                    <span :style="{'background-color': item, width: '24px', 'height': '24px', display: 'inline-block', 'cursor': 'pointer'}"></span>
                </li>
            </ul>
        </div>
        <div class="add-item">
            <p class="add-item-title"></p>
            <UploadFile b="button" @uploadFile="uploadFileCallBack" :accept="accept" :layout="layout">
                <el-button style="width: 200px" type="primary">自定义</el-button>
            </UploadFile>
        </div>
    </div>
</template>

<script>
import config from '@/utils/config'
import UploadFile from '@/components/pubilc/upload-file'
export default {
    components: { UploadFile },
    data() {
        return {
            add_item_color: config.labelColors[0],
            labelColors: config.labelColors,
            teacherList: [],
            loading: false,
            accept: config.accept.image,
            layout: config.layout.image
        }
    },
    methods: {
        uploadFileCallBack(file){
            this.add_item_color = file.url.split("?")[0]
        },
        selectColor(item){
            this.add_item_color = item
        },
    },
    watch: {
        'add_item_color'(newVal) {
            if(newVal) {
                this.$emit("change-color", this.add_item_color)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.add-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 550;
    .add-item-title{
        min-width: 55px;
        text-align: right;
        padding-right: 20px;
    }
    .color-list{
        display: flex;
        max-width: 210px;
        flex-wrap: wrap;
        li{
            margin-right: 10px;
        }
    }
}
</style>