<template>
    <div>
        <transition name="fade">
            <div class="user-info-model" @click="hidden" v-if="visibleFlag">
                <img class="inner-image" :src="url" />
            </div>
        </transition>
    </div>
</template>
<script>
export default {
    props: ["url", "visible"],
    data(){
        return {
            visibleFlag: false
        }
    },
    methods: {
        hidden($event){
            if($event.target.className == 'user-info-model'){
                this.$emit('update:visible', false)
            }
        }
    },
    watch: {
        visible: {
            handler(newVal){
                this.visibleFlag = newVal
            },
            immediate: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.user-info-model{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    .inner-image{
        height: 80%;
    }
}
</style>