<template>
    <div>
        <span class="slider-box" ref="slider_box">
            <span v-for="(value, key) in slider_item" :key="key" class="slider-item" :class="[key]" :ref="key" :style="{width: score[key]/totalScore *100+'%'}"> 
                <span class="slider-btn" @mousedown="mouseDown(key, $event)">
                    <el-tooltip class="item" effect="dark" :content="slider_item[key].score" placement="top-start">
                        <i class="el-icon-video-pause"></i>
                    </el-tooltip>
                </span>
            </span>
        </span>
    </div>
</template>

<script>
export default {
    props: ["score", "totalScore"],
    data() {
        return {
            default_key: "first",
            default_width: 0,
            begin_x: 0,
            max_width: 500,
            slider_item: {
                first: {
                    mouse: false,
                    score: "",
                },
                second: {
                    mouse: false,
                    score: "",
                },
                third: {
                    mouse: false,
                    score: "",
                },
            }
        }
    },
    methods: {
        mouseDown(key, event){
            this.default_key = key
            this.slider_item[key].mouse = true
            this.default_width = document.querySelector(`.${this.default_key}`).offsetWidth
            this.begin_x = event.clientX
            // this.$nextTick(() => {
            //     this.max_width = this.$refs.slider_box.style.width
            //     console.log(this.$refs.slider_box.style.width)
            // })
        },
        changeScore(score){
            if(score.first) this.slider_item.first.score = score.first + '分'
            if(score.second) this.slider_item.second.score = score.second + '分'
            if(score.third) this.slider_item.third.score = score.third + '分'
        }
    },
    mounted(){
        this.changeScore(this.score)
        document.querySelector("body").addEventListener("mousemove", (event) => {
            if(this.slider_item[this.default_key].mouse){
                if(document.querySelector('.first').clientWidth > document.querySelector('.second').clientWidth-30){
                    document.querySelector('.first').style.width = document.querySelector('.second').clientWidth-31 + 'px'
                    return
                }
                if(document.querySelector('.second').clientWidth > document.querySelector('.third').clientWidth-30){
                    document.querySelector('.second').style.width = document.querySelector('.third').clientWidth-31 + 'px'
                    return
                }
                if(document.querySelector('.first').clientWidth < 0){
                    document.querySelector('.first').style.width = "20px"
                    return
                }
                if(document.querySelector('.third').clientWidth > this.max_width){
                    document.querySelector('.third').style.width = this.max_width-31 + 'px'
                    return
                }
                let width = event.clientX - this.begin_x
                if(width <= this.max_width){
                    width = this.default_width + width
                    document.querySelector(`.${this.default_key}`).style.width = Math.abs(width) + 'px'
                }
                let data = {}
                data[this.default_key] = Math.floor(document.querySelector(`.${this.default_key}`).clientWidth/this.max_width * this.totalScore)
                this.changeScore(data)
            }
        })
        document.querySelector("body").addEventListener("mouseup", (event) => {
            this.slider_item[this.default_key].mouse = false
            if(document.querySelector('.first') && document.querySelector('.second') && document.querySelector('.third')){
                document.querySelector('.first').style.width = Math.floor(document.querySelector('.first').clientWidth)
                document.querySelector('.second').style.width = Math.floor(document.querySelector('.second').clientWidth)
                document.querySelector('.third').style.width = Math.floor(document.querySelector('.third').clientWidth)
                let data = [
                    Math.floor(document.querySelector('.third').clientWidth/this.max_width * this.totalScore),
                    Math.floor(document.querySelector('.second').clientWidth/this.max_width * this.totalScore),
                    Math.floor(document.querySelector('.first').clientWidth/this.max_width * this.totalScore)
                ]
                // this.changeScore({
                //     first: data[2],
                //     second: data[1],
                //     third: data[0]
                // })
                this.$emit('change-slider', data)
            }
        })
    },
    watch: {
        'score.first'(newVal){
            this.changeScore(this.score)
        }
    }
}
</script>
<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.slider-box{
    position: relative;
    display: inline-block;
    width: 500px;
    height: 16px;
    background: $--blue-1;
    border-radius: 10px;
    .slider-item{
        position: absolute;
        left: 0;
        width: 20%;
        height: 16px;
        border-radius: 10px;
        .slider-btn{
            position: absolute;
            right: 0;
            top: -4px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            background: $--white;
            border: 1px solid $--border;
            border-radius: 18px;
            cursor: pointer;
            i{
                width: 20px;
                height: 20px;
            }
        }
    }
    .first{
        width: 20%;
        background: $--yellow;
        z-index: 10000;
    }
    .second{
        width: 50%;
        background: $--green;
        z-index: 1000;
    }
    .third{
        width: 90%;
        background: $--red-1;
        z-index: 100;
    }
}
</style>