<template>
    <div class="performance-title">
        <div class="performance-title-left">
            <p class="performance-title-name">
                {{ name }}
            </p>
            <div class="radio-box">
                <el-radio-group v-model="tabSelect" @change="changeTab">
                    <el-radio-button v-for="(item, index) in subjects" :key="index" :label="item.id">{{ item.name }}</el-radio-button>
                </el-radio-group>
            </div>
        </div>
        <div >
            <el-input v-if="search && tabSelect!='5'" v-model="searchData" placeholder="请输入搜索内容" prefix-icon="el-icon-search">
                <el-button slot="append" type="primary" @click="clickSearchButton">搜索</el-button>
            </el-input>
            <slot v-if="$slots.default"/>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        name: String,
        subjects: Array,
        search: {
            default: true,
            type: Boolean
        },
        defaultTab: String,
    },
    data(){
        return {
            tabSelect: '',
            searchData: ''
        }
    },
    methods: {
        changeTab(val){
            this.searchData = ""
            this.$emit("change", val)
        },
        clickSearchButton(){
            this.$emit("clickSearchButton", this.searchData)
        }
    },
    watch: {
        subjects: {
            handler(newVal){
                if(this.subjects.length > 0){
                    this.tabSelect = this.defaultTab?this.defaultTab:this.subjects[0].id
                }
            },
            immediate: true,
            deep: true
        }
    }
}
</script>
<style lang="scss">
@import '../../assets/css/var.scss';
.performance-title{
    width: 100%;
    .el-input__inner{
        height: 40px;
        line-height: 40px;
        border: 1px solid transparent;
        border-radius: 19px 0 0 19px;
        transition: all .3s;
        &:focus, &:active{
            border-color: 1px solid $--default;
        }
        &:hover{
            border: 1px solid $--default
        }
    }
    .el-input-group__append{
        color: $--white;
        background-color: $--default;
        border: none;
        border-radius: 0 19px 19px 0;
        &:hover{
            background-color: $--default-light-8;
        }
    }
    .el-textarea__inner{
        padding: 12px 15px;
        font-size: 12px;
    }
    .radio-box{
        max-width: 700px;
        overflow-x: auto;
        .el-radio-group{
            width: auto !important;
            white-space: nowrap;
        }
    }
}
</style>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.performance-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .performance-title-left{
        display: flex;
        align-items: center;
        .performance-title-name{
            font-size: 26px;
            font-weight: 550;
            padding-right: 20px;
            white-space: nowrap;
        }
    }
}
</style>