<template>
    <div class="tab-box">
        <ul class="tab-list">
            <li v-for="(item, index) in tabList" :key="index">
                <span :class="[item.id == defalut_id?'is-active':'', item.disabled?'is-disabled':'']" @click="changeTab(item.id, index, item.disabled)">{{item.text}}</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: [ 'tabList' ],
    data() {
        return {
            defalut_id: '1'
        }
    },
    methods: {
        changeTab(tab_id, index, disabled){
            if(disabled){
                return
            }
            this.defalut_id = tab_id
            this.$emit('change-tab', tab_id)
            let total_index = this.tabList.length - 1
            let several = document.querySelector(".tab-box").offsetWidth/100
            let start_index = Math.abs(document.querySelector(".tab-list").offsetLeft)/100
            let default_total = total_index - start_index < several?total_index - start_index: several
            let middle_index = Math.floor(default_total/2 + start_index)
            console.log(index, middle_index, several)
            if(index > middle_index && total_index - start_index>=several){
                document.querySelector(".tab-list").style.left = -100 * middle_index + 'px'
            }
            else if(index <= middle_index){
                let left_index = 0
                if( index+1 >= several){
                    left_index = index+1-several
                }
                document.querySelector(".tab-list").style.left = -left_index * 100 + 'px'
            }
        }
    },
    created(){
        this.defalut_id = this.tabList[0].id
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/var.scss';
.tab-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    font-weight: normal;
    .tab-list{
        display: flex;
        position: absolute;
        left: 0;
        transform: left 0.6;
        width: max-content;
        li{
            width: 100px;
            span{
                display: inline-block;
                height: 42px;
                cursor: pointer;
                &:hover{
                    color: $--default;
                }
            }
            .is-active{
                color: $--default;
                border-bottom: 4px solid $--default; 
                border-radius: 2px;
            }
            .is-disabled{
                color: $--text-3;
                cursor: not-allowed;
            }
        }
    }
}

</style>