<template>
    <div class="time-picker-select" :style="{width: `${width}px`}">
        <el-time-picker
            :style="{width: `${width}px`}"
            v-model="value1"
            format="HH:mm"
            value-format="H:m"
            placeholder="不限时"
            :disabled="disabledPicker"
            @change="changeTime">
        </el-time-picker>
        <span :class="`icon-down ${iconName}`"></span>
    </div>
</template>
<script>
export default {
    props: {
        width: {
            default: 90
        },
        iconName: {
            default: "el-icon-arrow-down",
            type: String
        },
        disabled: {
            default: false,
            type: Boolean
        },
        defaultVal: String,
        time: ''
    },
    data(){
        return {
            value1: '',
            disabledPicker: false
        }
    },
    methods: {
        changeTime(val){
            this.$emit('update:time', val)
        }
    },
    watch: {
        disabled: {
            handler(newVal){
                this.disabledPicker = newVal
            },
            immediate: true
        },
        defaultVal: {
            handler(newVal){
                this.value1 = newVal
            },
            immediate: true
        }
    }
}
</script>
<style lang="scss">
.el-input__inner{
    padding: 0 10px;
}
</style>
<style lang="scss" scoped>
.time-picker-select{
    position: relative;
    .icon-down{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
</style>