<template>
  <div class="upload-file-content">
    <span v-if="b == 'icon'" class="el-icon-picture-outline icon-color" @click="clickIcon"></span>
    <span v-else @click="clickIcon">
            <slot/>
        </span>
    <input ref="fileElem" class="input-upload-file" type="file" name="file" :accept="accept"
           @change="changeFile($event)"/>
  </div>
</template>
<script>
    import OSS from 'ali-oss'
    import StaticApi from '../../http/api/static'
    import utils from '@/utils/index';

    export default {
        props: {
            accept: {
                default: 'image/png,image/gif,image/jpeg',
                type: String
            },
            type: Object,
            b: {
                default: 'icon',
                type: String
            },
            layout: {
                default: () => {
                    return []
                },
                type: Array
            }
        },
        data() {
            return {
                file: ''
            }
        },

        methods: {
            clickIcon() {
                this.$refs.fileElem.click()
            },
            changeFile(val) {
                let file = this.$refs.fileElem.files[0]
                console.log(file.size)
                if (file.size > 25165824) {
                    this.$message.error("文件大小不能超过24M");
                } else {
                    if (file) {
                        let callbackData = {
                            name: file.name.trim() || 'object',
                            file: file
                        };
                        let suffix = callbackData.name.substr(callbackData.name.lastIndexOf('.') + 1).toLowerCase()
                        if (this.layout.length > 0) {
                            if (!this.layout.includes(suffix)) {
                                this.$message.error(`上传文件格式错误，请上传正确的格式${this.layout.join('/')}`)
                                return
                            }
                        }
                        this.uploadFile(callbackData, suffix)
                        this.$refs.fileElem.value = ''
                    }
                }
            },
            uploadFile(params, suffix) {
                this.$emit('func', "上传中")
                let StaticApiFn = new StaticApi()
                StaticApiFn.getUploadToken({}).then(result => {
                    const token = result.data.token
                    let client = new OSS({
                        region: 'oss-cn-beijing',
                        accessKeyId: token.AccessKeyId,
                        accessKeySecret: token.AccessKeySecret,
                        stsToken: token.SecurityToken,
                        bucket: token.Bucket
                    });
                    let fileName = `${utils.randomString(32)}.${suffix}`
                    client.multipartUpload(fileName, params.file).then((res) => {
                        if (res.res.requestUrls) {
                            let url = res.res.requestUrls[0].split('?')[0]
                            this.$emit('uploadFile', {
                                key: this.type ? this.type.key : '',
                                url: url,
                                name: params.name
                            })
                        }
                    }).catch((err) => {
                        console.log(err)
                    })
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
  .upload-file-content {
    width: auto;
    height: auto;

    input {
      display: none
    }
  }
</style>
