<template>
    <div>
        <div class="button-list">
            <el-button type="primary" plain @click="deleteMessage">删除</el-button>
            <el-button type="primary" plain @click="stampRead">标记已读</el-button>
            <el-button type="primary" plain @click="stampReadAll">全部已读</el-button>
        </div>
        <el-table :data="table_data" stripe border @selection-change="handleSelectionChange"
            cell-class-name="table-cell-left" header-cell-class-name="table-cell-left">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="消息内容" prop="content">
                <template slot-scope="scope" style="text-aling: left">
                    <span class="meassage-content-parent">
                        <span v-if="!scope.row.readed" class="new-message"></span>
                        <span>{{ scope.row.content }}</span>
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="时间" width="200" prop="createdAt">
                <template slot-scope="scope">
                    <span>{{ changeTime(scope.row.createdAt) }}</span>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-pagination">
            <el-pagination
                background
                layout="total, prev, pager, next"
                :page-size="10"
                :total="page.total"
                @current-change="getMessage">
            </el-pagination>
        </div>
    </div>
</template>
<script>
import Common from '../../mixins/common'
export default {
    data(){
        return {
            table_data: [],
            multipleSelection: [],
            page: {}
        }
    },
    mixins: [Common],
    methods: {
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        deleteMessage(){
            const params = this.multipleSelection.map(item => item._id)
            this.$api.Message.delete_teacher_notice({
                ids: params
            }).then(res => {
                if(res.code == 200){
                    this.$message.success("删除成功")
                    this.getMessage()
                }else{
                    this.$message.error(res.error || "删除失败")
                }
            })
        },
        stampRead(){
            const params = this.multipleSelection.map(item => item._id)
            this.$api.Message.readMulti_teacher_notice({
                ids: params
            }).then(res => {
                if(res.code == 200){
                    this.$message.success("成功")
                    this.getMessage()
                }else{
                    this.$message.error(res.error || "失败")
                }
            })
        },
        stampReadAll(){
            this.$api.Message.readAll_teacher_notice().then(res => {
                if(res.code == 200){
                    this.$message.success("成功")
                    this.getMessage()
                }else{
                    this.$message.error(res.error || "失败")
                }
            })
        },
        getMessage(page){
            const params = {
                current: page || 1,
                pageSize: '10'
            }
            this.$api.Message.get_teacher_notice(params).then(res => {
                if(res.code == 200){
                    this.table_data = res.data.list
                    this.page = res.data.pagination
                    this.sendNewMessage(this.table_data)
                }
            })
        },
        sendNewMessage(data){
            let count = 0
            data.map(item => {
                if(!item.readed){
                    count += 1
                }
            })
            this.$emit("newMessage", {"inform": count})
        },
        changeNoticeStatus(row){
            if(!row.readed){
                this.$api.Message.updata_notice(row._id).then(res => {
                    if(res.code == 200){
                        this.getMessage()
                    }else{
                        this.$message.error(res.error || "读取失败")
                    }
                })
            }
        }
    },
    mounted(){
        this.getMessage()
    }
}
</script>
<style lang="scss" scoped>
.button-list{
    padding-bottom: 20px;
}
.page-pagination{
    padding-top: 20px;
    text-align: right
}
</style>