<template>
    <div>
        <div class="button-list">
            <el-button type="primary" plain @click="deleteMessage">删除</el-button>
            <el-button type="primary" plain @click="stampRead">标记已读</el-button>
            <el-button type="primary" plain @click="stampReadAll">全部已读</el-button>
        </div>
        <el-table :data="table_data" stripe border @selection-change="handleSelectionChange"
            cell-class-name="table-cell-left" header-cell-class-name="table-cell-left">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="消息内容" prop="content">
                <template slot-scope="scope">
                    <span class="meassage-content-parent">
                        <span v-if="!scope.row.readed" class="new-message"></span>
                        <span>{{ scope.row.content }}</span>
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="发件人" width="150" prop="name">
                <template slot-scope="scope">
                    <span>{{ `${scope.row.from.nickname}` }}</span>
                </template>
            </el-table-column>
            <el-table-column label="收件人" width="100" prop="content">
                <template slot-scope="scope">
                    <el-button type="text" @click="reply(scope.row)">回复</el-button>
                </template>
            </el-table-column>
            <el-table-column label="时间" width="180" prop="student_id">
                <template slot-scope="scope">
                    <span>{{ formatTime(scope.row.createdAt) }}</span>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-pagination">
            <el-pagination
                background
                layout="total, prev, pager, next"
                :page-size="10"
                :total="page.total"
                @current-change="init">
            </el-pagination>
        </div>
        <Dialog title="回复消息" :visible="reSend" :close="closeReply" @dialogSure="send" width="600px">
            <div slot="dialog-content" class="dialog-content">
                <div class="send-item">
                    <p>
                        <span>发送给：</span>
                        <span>{{ sendUser && sendUser.from ? sendUser.from.nickname : '' }}</span>
                    </p>
                </div>
                <div class="send-item">
                    <p>消息内容：</p>
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入内容"
                        v-model="resendData">
                    </el-input>
                </div>
                <el-divider></el-divider>
                <div class="receiver-item">
                    <p>
                        <span>发件人：</span><span>{{sendUser && sendUser.from ? sendUser.from.nickname : '' }}</span>
                    </p>
                    <p>
                        <span>收件人：</span><span>{{sendUser && sendUser.to ? sendUser.to.nickname : '' }}</span>
                    </p>
                    <p>
                        <span>消息内容：</span><span>{{sendUser ? sendUser.content : '' }}</span>
                    </p>
                </div>
            </div>
        </Dialog>
    </div>
</template>
<script>
import Dialog from '../pubilc/dialog'
import utils from '../../utils/index'
export default {
    components: {
        Dialog
    },
    data(){
        return {
            table_data: [],
            multipleSelection: [],
            page: {},
            reSend: false,
            resendData: "",
            sendUser: {}
        }
    },
    methods: {
        formatTime(time){
            return utils.formatDate(new Date(time))
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        deleteMessage(){
            const params = this.multipleSelection.map(item => item._id)
            this.$api.Message.delete_message({
                ids: params
            }).then(res => {
                if(res.code == 200){
                    this.$message.success("删除成功")
                    this.init()
                }else{
                    this.$message.error(res.error || "删除失败")
                }
            })
        },
        stampRead(){
            const params = this.multipleSelection.map(item => item._id)
            this.$api.Message.readMulti_message({
                ids: params
            }).then(res => {
                if(res.code == 200){
                    this.$message.success("成功")
                    this.init()
                }else{
                    this.$message.error(res.error || "失败")
                }
            })
        },
        stampReadAll(){
            this.$api.Message.readAll_message().then(res => {
                if(res.code == 200){
                    this.$message.success("成功")
                    this.init()
                }else{
                    this.$message.error(res.error || "失败")
                }
            })
        },
        reply(row){
            this.reSend = true
            this.sendUser = row
        },
        closeReply(){
            this.reSend = false
        },
        send(){
            if(!this.resendData){
                this.$message.error("信息不全")
                return
            }
            const params = {
                to: [this.sendUser.from._id],
                content: this.resendData,
                toModel: this.sendUser.fromModel
            }
            this.$api.Message.send_to_message(params).then(res => {
                if(res.code == 200){
                    this.$message.success("回复成功")
                    this.reSend = false
                }
            })
        },
        init(page){
            const params = {
                current: page || 1,
                pageSize: '10'
            }
            this.$api.Message.get_PrivateLetter(params).then(res => {
                if(res.code == 200){
                    this.table_data = res.data.list
                    this.page = res.data.pagination
                    this.sendNewMessage(this.table_data)
                }
            })
        },
        sendNewMessage(data){
            let count = 0
            data.map(item => {
                if(!item.readed){
                    count += 1
                }
            })
            this.$emit("newMessage", {"private": count})
        },
    },
    mounted () {
        this.init()
    }
}
</script>
<style lang="scss" scoped>
.button-list{
    padding-bottom: 20px;
}
.page-pagination{
    padding-top: 20px;
    text-align: right
}
.dialog-content{
    line-height: 24px;
}
</style>