<template>
    <div>
        <div class="button-list">
            <el-button type="primary" plain @click="deleteMessage">删除</el-button>
            <el-button v-if="identify == 'student'" type="primary" plain @click="stampRead">标记已读</el-button>
            <el-button v-if="identify == 'student'" type="primary" plain @click="stampReadAll">全部已读</el-button>
        </div>
        <el-table :data="table_data" stripe border @selection-change="handleSelectionChange"
            cell-class-name="table-cell-left" header-cell-class-name="table-cell-left">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="消息内容" prop="content">
                <template slot-scope="scope" style="text-aling: left">
                    <span class="meassage-content-parent" @click="changeNoticeStatus(scope.row)">
                        <span v-if="!scope.row.readed" class="new-message"></span>
                        <span>{{ scope.row.content }}</span>
                    </span>
                </template>
            </el-table-column>
            <el-table-column width="200" label="可见班级" prop="classes">
                <template slot-scope="scope">
                    {{ changeClassName(scope.row.classes) }}
                </template>
            </el-table-column>
            <el-table-column label="时间" width="200" prop="createdAt">
                <template slot-scope="scope">
                    <span>{{ changeTime(scope.row.createdAt) }}</span>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-pagination">
            <el-pagination
                background
                layout="total, prev, pager, next"
                :page-size="10"
                :total="page.total"
                @current-change="getMessage">
            </el-pagination>
        </div>
    </div>
</template>
<script>
import Common from '../../mixins/common'
import Cookie from 'js-cookie'
export default {
    mixins: [Common],
    data(){
        return {
            identify: "student",
            table_data: [],
            multipleSelection: [],
            page: {}
        }
    },
    methods: {
        changeNoticeStatus(){},
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        deleteMessage(){
            let params = this.formatParams()
            this.$api.Message.delete_course_notice_multi(params).then(res => {
                if(res.code == 200){
                    this.$message.success("删除成功")
                    this.getMessage()
                }else{
                    this.$message.error(res.error || "删除失败")
                }
            })
        },
        changeClassName(classes){
            return classes.map(item => {
                return item.name
            }).join("/")
        },
        stampRead(){
            let params = this.formatParams()
            this.$api.Message.ready_course_notice_multi(params).then(res => {
                if(res.code == 200){
                    this.$message.success("读取成功")
                    this.getMessage()
                }else{
                    this.$message.error(res.error || "读取失败")
                }
            })
        },
        formatParams(){
            let deleteArr = this.multipleSelection.map(item => {
                return item._id
            })
            return {
                ids: deleteArr
            }
        },
        stampReadAll(){
            this.$api.Message.ready_course_notice_all().then(res => {
                if(res.code == 200){
                    this.$message.success("读取成功")
                    this.getMessage()
                }else{
                    this.$message.error(res.error || "读取失败")
                }
            })
        },
        getMessage(page){
            const params = {
                current: page || 1,
                pageSize: 10
            }
            let component = "get_courseNotice"
            if(Cookie.get('identity') == 'teacher') {
                component = "sender_courseNotice"
            }
            this.$api.Message[component](params).then(res => {
                if(res.code == 200){
                    this.table_data = res.data.list
                    this.page = res.data.pagination
                    this.sendNewMessage(this.table_data)
                }
                console.log(res)
            })
        },
        sendNewMessage(data){
            let count = 0
            data.map(item => {
                if(!item.readed){
                    count += 1
                }
            })
            this.$emit("newMessage", {"course": count})
        },
    },
    mounted(){
        this.getMessage()
        this.identify = Cookie.get('identity')
    }
}
</script>
<style lang="scss" scoped>
.button-list{
    padding-bottom: 20px;
}
.page-pagination{
    padding-top: 20px;
    text-align: right
}
</style>