<template>
    <div>
        <el-row class="send-item">
            <el-col class="send-item-title" :span="2">发送给</el-col>
            <el-col :span="18">
                <el-radio-group v-model="currentSend" @change="changeSendType">
                    <el-radio-button :label="1">老师</el-radio-button>
                    <el-radio-button :label="2">学生</el-radio-button>
                </el-radio-group>
            </el-col>
        </el-row>
        <el-row class="send-item">
            <el-col class="send-item-title" :span="2">收件人</el-col>
            <el-col :span="18">
                <el-select v-model="value" filterable multiple placeholder="请选择">
                    <el-option
                    v-for="item in students"
                    :key="item._id"
                    :label="item.nickname"
                    :value="item._id">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row class="send-item">
            <el-col class="send-item-title" :span="2">内容</el-col>
            <el-col :span="18">
                <el-input
                    type="textarea"
                    :rows="6"
                    placeholder="请输入内容"
                    v-model="textarea">
                </el-input>
            </el-col>
        </el-row>
        <el-row class="send-item">
            <el-button type="primary" @click="sendMessage">发送</el-button>
        </el-row>
        <div>
            <div class="button-list">
                <el-button type="primary" plain @click="deleteMessage">删除</el-button>
                <!-- <el-button type="primary" plain @click="stampRead">标记已读</el-button>
                <el-button type="primary" plain @click="stampReadAll">全部已读</el-button> -->
            </div>
            <el-table :data="table_data" stripe border @selection-change="handleSelectionChange"
                cell-class-name="table-cell-left" header-cell-class-name="table-cell-left">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column label="消息内容" prop="content">
                    <!-- <template slot-scope="scope">
                        <span class="message-content-inner">
                            <span v-if="!scope.row.readed" class="new-message"></span>
                            <span>{{ scope.row.content }}</span>
                        </span>
                    </template> -->
                </el-table-column>
                <el-table-column label="发送给" width="100" prop="nickname">
                    <template slot-scope="scope">
                        {{ scope.row.to ? scope.row.to.nickname : "" }}
                    </template>
                </el-table-column>
                <el-table-column label="时间" width="200" prop="createdAt">
                    <template slot-scope="scope">
                        <span>{{ changeTime(scope.row.createdAt) }}</span>
                    </template>
                </el-table-column>
            </el-table>
            <div class="page-pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :page-size="10"
                    :total="page.total"
                    @current-change="init">
                </el-pagination>
            </div>
        </div>
    </div>
</template>
<script>
import Common from '../../mixins/common'
export default {
    mixins: [Common],
    data(){
        return {
            persion: [],
            textarea: '',
            value: [],
            table_data: [],
            page: {},
            multipleSelection: [],
            students: [],
            currentSend: 1
        }
    },
    methods: {
        deleteMessage(){
            const params = this.multipleSelection.map(item => item._id)
            this.$api.Message.delete_message({
                ids: params
            }).then(res => {
                if(res.code == 200){
                    this.$message.success("删除成功")
                    this.init()
                }else{
                    this.$message.error(res.error || "删除失败")
                }
            })
        },
        stampRead(){},
        stampReadAll(){},
        getMessage(){},
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        sendMessage(){
            if(this.value.length == 0 || !this.textarea){
                this.$message.error("缺少信息")
                return
            }
            const params = {
                to: this.value,
                content: this.textarea,
                toModel: "Teacher"
            }
            if(this.currentSend == 2){
                params.toModel = "Student"
            }
            this.$api.Message.send_to_message(params).then(res => {
                if(res.code == 200){
                    this.$message.success("发送成功")
                    this.textarea = ''
                    this.value = ''
                    this.init()
                }else{
                    this.$message.error(res.error || "发送失败")
                }
            })
        },
        init(page){
            const params = {
                current: page || 1,
                pageSize: 10
            }
            this.$api.Message.get_message(params).then(res => {
                if(res.code == 200){
                    this.table_data = res.data.list
                    this.page = res.data.pagination
                }
            })
        },
        changeSendType(val){
            this.value = ""
            if(val == 1){
                this.getMessageTo()
            }else{
                this.getMessageToStudent()
            }
        },
        getMessageToStudent(){
            const params = {
                current: 1,
                pageSize: 9999999
            }
            this.$api.Common.get_student_list(params).then(res => {
                if(res.code == 200){
                    this.students = res.data.list
                }
            })
        },
        getMessageTo(){
            const params = {
                current: 1,
                pageSize: 9999999
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.students = res.data.list
                }
            })
        }
    },
    mounted () {
        this.init()
        let params = this.$route.params
        this.value = params.ids || []
        if(params.identity == 'student'){
            this.currentSend = 2
            this.getMessageToStudent()
        }else{
            this.currentSend = 1
            this.getMessageTo()
        }
    }
}
</script>
<style lang="scss" scoped>
.send-item{
    padding-bottom: 20px;
    .send-item-title{
        padding-right: 20px;
        text-align: right;
        height: 34px;
        line-height: 34px;
    }
}
.button-list{
    padding-bottom: 20px;
}
.page-pagination{
    padding-top: 20px;
    text-align: right
}
</style>