<template>
    <div class="course-box-shadow">
        <div class="top-color-content">
            <div v-if="item.color && item.color.length == 7" class="top-color" :style="{'background-color': item.color}" @click="goToIndex"></div>
            <div v-else class="top-color">
                <img class="top-color-image top-color" @click="goToIndex" :src="item.color"/>
            </div>
            <div class="delete-classes">
                <el-dropdown>
                    <span class="drop-color el-dropdown-link">
                        操作<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>复制</el-dropdown-item>
                        <el-dropdown-item>移交</el-dropdown-item>
                        <el-dropdown-item @click.native="deleteItem">删除</el-dropdown-item>
                        <el-dropdown-item class="drop-gray">归档</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <div class="existing-content">
            <div>
                <p class="content-title">
                    <span v-if="!edit" :title="item.name">{{ item.name }}</span>
                    <el-input v-else v-model="editData.name" placeholder=""></el-input>
                </p>
                <p class="">
                    <span v-if="!edit">班主任：</span>
                    <span v-if="!edit" :title="item.name">{{ item.headTeacher.nickname }}</span>
                    <el-select v-else v-model="editData.headTeacher._id" filterable remote placeholder="请输入班主任姓名"
                        :remote-method="getTeacherList"
                        :loading="loading">
                        <el-option
                            v-for="item in tearch_list" :key="item._id"
                            :label="item.nickname" :value="item._id">
                        </el-option>
                    </el-select>
                </p>
                <p class="">
                    <span v-if="!edit">学生上限：</span>
                    <span v-if="!edit" :title="item.studentLimit">{{ item.studentLimit }}</span>
                    <el-input-number v-else v-model="editData.studentLimit" :min="0" :max="100" placeholder="学生上限"></el-input-number>
                </p>
            </div>
            <p class="setting-btn">
                <span :class="changeClass()" @click="confirmChange"></span>
            </p>
        </div>
    </div>
</template>
<script>
import utils from '@/utils/index'
export default {
    props: {
        item: Object
    },
    data(){
        return {
            edit: false,
            tearch_list: [],
            loading: false
        }
    },
    computed: {
        current_id(){
            return this.$store.state.user._id
        }
    },
    methods: {
        confirmChange(){
            const user_id = this.item.createdBy._id
            // if(user_id == this.current_id){
            //     if(this.edit){
            //         this.sendData()
            //     }
            //     this.edit = !this.edit
            // }
            if(this.edit){
                this.sendData()
            }else{
                this.getTeacherList(this.item.headTeacher.nickname)
            }
            this.edit = !this.edit
        },
        goToIndex(){
            window.sessionStorage.setItem('class_id', this.item._id)
            window.sessionStorage.setItem('name', this.item.name)
            window.sessionStorage.setItem('cno', this.item.cno)
            window.sessionStorage.setItem('qrcode', this.item.qrcode)
            this.$router.push({name: 'ClassIndex', query: {class_id: this.item._id, name: utils.formatStr(this.item.name)}})
        },
        getTeacherList(query){
            if(!query){
                return
            }
            const params = {
                current: '1',
                pageSize: '99999',
                where: JSON.stringify({
                    nickname: {
                        $regex: `^.*${query || ''}.*$`,
                    }
                })
            }
            this.$api.Common.get_teacher_list(params).then(res => {
                if(res.code == 200){
                    this.tearch_list = res.data.list

                }
            })
        },
        sendData(){
            if(!this.editData.name){
                this.$message.warning("课程名称不能为空！")
                return
            }
            let reqData = {
                id: this.item._id,
                name: this.editData.name,
                headTeacher: this.editData.headTeacher._id,
                studentLimit: this.editData.studentLimit
            }
            this.$api.Classes.edit_class(this.item._id, reqData).then(resData => {
                if(resData.code == 200){
                    
                }
            })
        },
        changeClass(){
            return 'el-icon-setting existing-icon'
            // if(this.current_id == this.item.createdBy._id){
            //     return 'el-icon-setting existing-icon'
            // }
            // return 'el-icon-setting existing-icon disabled-icon'
        },
        deleteItem(){
            this.$emit("deleteItem", this.item._id)
        }
    },
    watch: {
        item: {
            handler(newVal){
                this.editData = newVal
            },
            immediate: true,
            deep: true
        }
    }
}
</script>
<style lang="scss" scoped>
@import '../../assets/css/var.scss';
.top-color-content{
    position: relative;
    .delete-classes{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: $--text-1;
        cursor: pointer;
    }
    .drop-color{
        color: #000;
        padding: 3px 5px;
        background-color: rgba($--white, .5);
        border-radius: 3px;
    }
}
.drop-gray{
    color: $--default-light-5
}
.top-color{
    width: 242px;
    height: 160px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}
.existing-content{
    width: 242px;
    height: 166px;
    background-color: $--white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        margin-bottom: 10px;
    }
    .content-title{
        font-size: 22px;
        font-weight: 550;
        span{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            display: inline-block;
        }
    }
    .content-name{
        font-size: 16px;
    }
    .content-time{
        font-size: 12px;
        color: $--text-3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}
.setting-btn{
    text-align: right;
    .existing-icon{
        font-size: 16px;
        color: $--default;
        font-weight: bolder;
        margin-left: 10px;
        cursor: pointer;
    }
    .disabled-icon{
        color: $--default-light-5;
        cursor: not-allowed;
    }

}
.top-color-image{
    width: 100%;
    height: 100%
}
.course-box-shadow{
    border-radius: 8px 8px 4px 4px;
    box-shadow: 5px 5px 20px -6px grey
}
</style>